﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Newsletter_subscription;
@model NewsletterSubscriptionModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_NewsletterSubscription_1" data-toggle="tab"> @T("Admin.NewsletterSubscription.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_NewsletterSubscription_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("NewsletterSubscription.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Newsletter_subscription_guid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Newsletter_subscription_guid, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faNewsletter_subscription_guid"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Newsletter_subscription_guid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Newsletter_subscription_guid))"></i>
                                        @Html.TextBoxFor(x => x.Newsletter_subscription_guid, new { @class = "form-control", @placeholder = T("NewsletterSubscriptionModel.Newsletter_subscription_guid.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Newsletter_subscription_guid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("NewsletterSubscriptionModel.Newsletter_subscription_guid.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Email) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Email, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faEmail"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Email) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Email))"></i>
                                        @Html.TextAreaFor(x => x.Email, new { @class = "form-control", @placeholder = T("NewsletterSubscriptionModel.Email.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("NewsletterSubscriptionModel.Email.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("NewsletterSubscriptionModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Created_on_utc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Created_on_utc, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCreated_on_utc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Created_on_utc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Created_on_utc))"></i>
                                        @Html.EditorFor(x => x.Created_on_utc, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Created_on_utc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("NewsletterSubscriptionModel.Created_on_utc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





