﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Topic;
@model TopicModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_Topic_1" data-toggle="tab"> @T("Admin.Topic.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_Topic_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("Topic.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.System_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.System_name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faSystem_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.System_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.System_name))"></i>
                                        @Html.TextAreaFor(x => x.System_name, new { @class = "form-control", @placeholder = T("TopicModel.System_name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.System_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.System_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Include_in_sitemap) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Include_in_sitemap, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faInclude_in_sitemap"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Include_in_sitemap) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Include_in_sitemap))"></i>
                                        @Html.CheckBoxFor(x => x.Include_in_sitemap, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Include_in_sitemap, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Include_in_sitemap.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Is_password_protected) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Is_password_protected, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faIs_password_protected"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Is_password_protected) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Is_password_protected))"></i>
                                        @Html.CheckBoxFor(x => x.Is_password_protected, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Is_password_protected, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Is_password_protected.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Password) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Password, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faPassword"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Password) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Password))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Password.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Title) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Title, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faTitle"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Title) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Title))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Title.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Body) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Body, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faBody"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Body) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Body))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Body, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Body.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Meta_keywords) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Meta_keywords, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faMeta_keywords"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Meta_keywords) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Meta_keywords))"></i>
                                        @Html.TextAreaFor(x => x.Meta_keywords, new { @class = "form-control", @placeholder = T("TopicModel.Meta_keywords.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Meta_keywords, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Meta_keywords.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Meta_description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Meta_description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faMeta_description"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Meta_description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Meta_description))"></i>
                                        @Html.TextAreaFor(x => x.Meta_description, new { @class = "form-control", @placeholder = T("TopicModel.Meta_description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Meta_description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Meta_description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Meta_title) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Meta_title, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faMeta_title"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Meta_title) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Meta_title))"></i>
                                        @Html.TextAreaFor(x => x.Meta_title, new { @class = "form-control", @placeholder = T("TopicModel.Meta_title.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Meta_title, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Meta_title.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Limited_to_sites) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Limited_to_sites, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faLimited_to_sites"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Limited_to_sites) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Limited_to_sites))"></i>
                                        @Html.CheckBoxFor(x => x.Limited_to_sites, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Limited_to_sites, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("TopicModel.Limited_to_sites.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





