﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Form_answer_round;
@model FormAnswerRoundModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_FormAnswerRound_1" data-toggle="tab"> @T("Admin.FormAnswerRound.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_FormAnswerRound_2" data-toggle="tab"> @T("Admin.FormAnswer.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_FormAnswerRound_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("FormAnswerRound.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
@Html.HiddenFor(m => m.Device_id)
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Username) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Username, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUsername"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Username) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Username))"></i>
                                        @Html.TextAreaFor(x => x.Username, new { @class = "form-control", @placeholder = T("FormAnswerRoundModel.Username.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Username.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Read_no) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Read_no, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faRead_no"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Read_no) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Read_no))"></i>
                                        @Html.TextBoxFor(x => x.Read_no, new { @class = "form-control", @placeholder = T("FormAnswerRoundModel.Read_no.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Read_no, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Read_no.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Start_read_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Start_read_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faStart_read_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Start_read_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Start_read_datetime))"></i>
                                        @Html.EditorFor(x => x.Start_read_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Start_read_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Start_read_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.End_read_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.End_read_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faEnd_read_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.End_read_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.End_read_datetime))"></i>
                                        @Html.EditorFor(x => x.End_read_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.End_read_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.End_read_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_read_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_read_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_read_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_read_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_read_datetime))"></i>
                                        @Html.EditorFor(x => x.Last_read_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_read_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Last_read_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Warning_type, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faWarning_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Warning_type))"></i>
                                        
                                @Html.DropDownListFor(x => x.Warning_type, Model.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Warning_type" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Warning_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Warning_type.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Period) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Period, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faPeriod" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Period) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Period))"></i>
                                        
                                @Html.DropDownListFor(x => x.Period, Model.Period_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Period" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Period, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Period.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Json) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Json, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faJson"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Json) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Json))"></i>
                                        @Html.TextAreaFor(x => x.Json, new { @class = "form-control", @placeholder = T("FormAnswerRoundModel.Json.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Json, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Json.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Start_count) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Start_count, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faStart_count"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Start_count) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Start_count))"></i>
                                        @Html.TextBoxFor(x => x.Start_count, new { @class = "form-control", @placeholder = T("FormAnswerRoundModel.Start_count.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Start_count, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Start_count.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.File_count) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.File_count, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faFile_count"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.File_count) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.File_count))"></i>
                                        @Html.TextBoxFor(x => x.File_count, new { @class = "form-control", @placeholder = T("FormAnswerRoundModel.File_count.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.File_count, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.File_count.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Required_read_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Required_read_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faRequired_read_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Required_read_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Required_read_datetime))"></i>
                                        @Html.EditorFor(x => x.Required_read_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Required_read_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Required_read_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormAnswerRoundModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Notes) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Notes, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faNotes"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Notes) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Notes))"></i>
                                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @placeholder = T("FormAnswerRoundModel.Notes.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Notes, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerRoundModel.Notes.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_FormAnswerRound_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("FormAnswer.list.header")
                    </div>
                    <div class="actions" style="float:left">
                    
                        <a href="@Url.Action("CreateFormAnswer", "Device")?FormAnswerRoundModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("FormAnswer.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormAnswer', window.dataTableFormAnswerOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                     
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Form_question_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_FormAnswerModel.Form_question_id, Model.Filter_FormAnswerModel.Form_question_id_FormQuestion_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Form_question_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Device_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_FormAnswerModel.Device_id, Model.Filter_FormAnswerModel.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Device_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Previous_answer, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_FormAnswerModel.Previous_answer, Model.Filter_FormAnswerModel.Previous_answer_FormAnswer_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Previous_answer.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Username, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Username, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Username.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Read_no, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Read_no, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Read_no.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Warning_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_FormAnswerModel.Warning_type, Model.Filter_FormAnswerModel.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Warning_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Answer, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Answer.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Long_answer, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Long_answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Long_answer.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Converted_answer, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Converted_answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Converted_answer.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Json, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Json, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Json.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Required_read_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_FormAnswerModel.Required_read_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Actual_read_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_FormAnswerModel.Actual_read_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Description, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Notes, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Notes, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Notes.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Udid, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Udid, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Udid.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormAnswer" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormAnswer" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableFormAnswer">
                        <thead>
                            <tr>
                                   
                                
                                <th> @T("FormAnswer.list.column.Id") </th>
                        
                                <th> @T("FormAnswer.list.column.Form_question_id_Text") </th>
                                <th> @T("FormAnswer.list.column.Device_id_Text") </th>
                                <th> @T("FormAnswer.list.column.Previous_answer_Text") </th>
                                <th> @T("FormAnswer.list.column.Username") </th>
                                <th> @T("FormAnswer.list.column.Read_no") </th>
                                <th> @T("FormAnswer.list.column.Warning_type_Text") </th>
                                <th> @T("FormAnswer.list.column.Answer") </th>
                                <th> @T("FormAnswer.list.column.Long_answer") </th>
                                <th> @T("FormAnswer.list.column.Converted_answer") </th>
                                <th> @T("FormAnswer.list.column.Json") </th>
                                <th> @T("FormAnswer.list.column.Required_read_datetime") </th>
                                <th> @T("FormAnswer.list.column.Actual_read_datetime") </th>
                                <th> @T("FormAnswer.list.column.Description") </th>
                                <th> @T("FormAnswer.list.column.Notes") </th>
                                <th> @T("FormAnswer.list.column.Udid") </th>
                        
                                
                                <th> @T("FormAnswer.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>






