﻿@using AssetHealth.Models.Synchronization_device;
@model SynchronizationDeviceModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.SynchronizationDevice.AddNew").Text;
}

@using (Html.BeginForm("CreateSynchronizationDevice", "Device", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.SynchronizationDevice.AddSynchronizationDeviceDetails") -
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditSynchronization/" + Request.QueryString["SynchronizationModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateSynchronizationDevice", Model)
}

 @section jQueryOnReadyScripts {
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/SynchronizationDevice-input-mask.js"></script>
}