﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Synchronization_log;
@model SynchronizationLogModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_SynchronizationLog_1" data-toggle="tab"> @T("Admin.SynchronizationLog.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_SynchronizationLog_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("SynchronizationLog.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
@Html.HiddenFor(m => m.Synchronization_detail_id)
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Status) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Status, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faStatus" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Status) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Status))"></i>
                                        @Html.DropDownListFor(x => x.Status, ListExtensions.ToSelectList(Model.Status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control" })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Status, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Status.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_id, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faDevice_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Device_id, Model.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Device_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Device_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Device_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Client_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Client_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faClient_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Client_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Client_id))"></i>
                                        @Html.TextBoxFor(x => x.Client_id, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Client_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Client_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Client_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Item) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Item, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faItem"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Item) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Item))"></i>
                                        @Html.TextAreaFor(x => x.Item, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Item.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Item, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Item.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Size) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Size, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSize"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Size) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Size))"></i>
                                        @Html.TextBoxFor(x => x.Size, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Size.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Size, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Size.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Message) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Message, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faMessage"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Message) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Message))"></i>
                                        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Message.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Message, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Message.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Page_index) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Page_index, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPage_index"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Page_index) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Page_index))"></i>
                                        @Html.TextBoxFor(x => x.Page_index, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Page_index.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Page_index, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Page_index.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Page_size) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Page_size, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPage_size"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Page_size) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Page_size))"></i>
                                        @Html.TextBoxFor(x => x.Page_size, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Page_size.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Page_size, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Page_size.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Size_limit) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Size_limit, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSize_limit"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Size_limit) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Size_limit))"></i>
                                        @Html.TextBoxFor(x => x.Size_limit, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Size_limit.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Size_limit, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Size_limit.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Retry_count) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Retry_count, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faRetry_count"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Retry_count) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Retry_count))"></i>
                                        @Html.TextBoxFor(x => x.Retry_count, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Retry_count.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Retry_count, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Retry_count.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Version) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Version, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faVersion"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Version) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Version))"></i>
                                        @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Version.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Version, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Version.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Start_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faStart_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Start_datetime))"></i>
                                        @Html.EditorFor(x => x.Start_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Start_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Start_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.End_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.End_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faEnd_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.End_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.End_datetime))"></i>
                                        @Html.EditorFor(x => x.End_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.End_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.End_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationLogModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>





