﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Form_answer;
@model FormAnswerModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_FormAnswer_1" data-toggle="tab"> @T("Admin.FormAnswer.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_FormAnswer_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("FormAnswer.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Form_question_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Form_question_id, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faForm_question_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Form_question_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Form_question_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Form_question_id, Model.Form_question_id_FormQuestion_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Form_question_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Form_question_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Form_question_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 @Html.HiddenFor(m => m.Device_id)

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Form_answer_round_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Form_answer_round_id, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faForm_answer_round_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Form_answer_round_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Form_answer_round_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Form_answer_round_id, Model.Form_answer_round_id_FormAnswerRound_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Form_answer_round_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Form_answer_round_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Form_answer_round_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Username) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Username, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUsername"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Username) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Username))"></i>
                                        @Html.TextAreaFor(x => x.Username, new { @class = "form-control", @placeholder = T("FormAnswerModel.Username.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Username.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Read_no) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Read_no, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faRead_no"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Read_no) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Read_no))"></i>
                                        @Html.TextBoxFor(x => x.Read_no, new { @class = "form-control", @placeholder = T("FormAnswerModel.Read_no.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Read_no, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Read_no.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Warning_type, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faWarning_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Warning_type))"></i>
                                        
                                @Html.DropDownListFor(x => x.Warning_type, Model.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Warning_type" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Warning_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Warning_type.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Answer) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Answer, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faAnswer"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Answer) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Answer))"></i>
                                        @Html.TextAreaFor(x => x.Answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Answer.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Answer, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Answer.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Long_answer) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Long_answer, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faLong_answer"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Long_answer) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Long_answer))"></i>
                                        @Html.TextAreaFor(x => x.Long_answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Long_answer.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Long_answer, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Long_answer.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Converted_answer) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Converted_answer, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faConverted_answer"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Converted_answer) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Converted_answer))"></i>
                                        @Html.TextAreaFor(x => x.Converted_answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Converted_answer.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Converted_answer, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Converted_answer.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Json) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Json, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faJson"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Json) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Json))"></i>
                                        @Html.TextAreaFor(x => x.Json, new { @class = "form-control", @placeholder = T("FormAnswerModel.Json.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Json, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Json.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Required_read_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Required_read_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faRequired_read_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Required_read_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Required_read_datetime))"></i>
                                        @Html.EditorFor(x => x.Required_read_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Required_read_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Required_read_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Actual_read_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Actual_read_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faActual_read_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Actual_read_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Actual_read_datetime))"></i>
                                        @Html.EditorFor(x => x.Actual_read_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Actual_read_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Actual_read_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormAnswerModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Notes) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Notes, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faNotes"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Notes) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Notes))"></i>
                                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @placeholder = T("FormAnswerModel.Notes.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Notes, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Notes.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Udid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Udid, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUdid"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Udid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Udid))"></i>
                                        @Html.TextAreaFor(x => x.Udid, new { @class = "form-control", @placeholder = T("FormAnswerModel.Udid.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Udid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Udid.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>






