﻿@using AssetHealth.Models.Synchronization_detail;
@model SynchronizationDetailModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.SynchronizationDetail.EditSynchronizationDetailDetails").Text;
}
@using (Html.BeginForm("EditSynchronizationDetail", "Device", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.SynchronizationDetail.EditSynchronizationDetailDetails") - @Model.Object_id
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditSynchronization/" + Request.QueryString["SynchronizationModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteSynchronizationDetail", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateSynchronizationDetail", Model)
}

 
 @section jQueryOnReadyScripts {
 



    
    @(Url.Datatables().CreateDatatable("#dataTableSynchronizationLog", "ListSynchronizationLogDatatable", "SynchronizationDetail", null, true, new { SynchronizationDetailModelId = Model.Id }, "dataTableSynchronizationLog").AddColumn("Id")
                                        .AddColumn("EnumStatus_Text")
                                        .AddColumn("Device_id_Text")
                                        .AddColumn("Client_id")
                                        .AddColumn("Item")
                                        .AddColumn("Size")
                                        .AddColumn("Message")
                                        .AddColumn("Page_index")
                                        .AddColumn("Page_size")
                                        .AddColumn("Size_limit")
                                        .AddColumn("Retry_count")
                                        .AddColumn("Version")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_datetime)")
                                        
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.End_datetime)")
                                        
                                        .AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditSynchronizationLog", "Device") + "/' + full.Id , full.Id, true,  true, 'SynchronizationLog') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableSynchronizationLogOptions = dataTableSynchronizationLogOptions;

                 $('#btnFilterSynchronizationLog').click(function () {
                        
                        dataTableSynchronizationLog.column('Device_id:name').search($('#Device_id').val().trim());
                        dataTableSynchronizationLog.column('Client_id:name').search($('#Client_id').val().trim());
                        dataTableSynchronizationLog.column('Size:name').search($('#Size').val().trim());
                        dataTableSynchronizationLog.column('Page_index:name').search($('#Page_index').val().trim());
                        dataTableSynchronizationLog.column('Page_size:name').search($('#Page_size').val().trim());
                        dataTableSynchronizationLog.column('Size_limit:name').search($('#Size_limit').val().trim());
                        dataTableSynchronizationLog.column('Retry_count:name').search($('#Retry_count').val().trim());
                        dataTableSynchronizationLog.column('Version:name').search($('#Version').val().trim());


                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronizationLog.draw();
            });
            
            
                $('#btnResetSynchronizationLog').click(function () {

                    resetDatatableSearch('dataTableSynchronizationLog');

                });


        
             
        
 
       setTimeout(function(){
        $('a[href="#tab_SynchronizationDetail_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/SynchronizationDetail-input-mask.js"></script>
}


