﻿@using AssetHealth.Models.Synchronization_log;
@model SynchronizationLogModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.SynchronizationLog.EditSynchronizationLogDetails").Text;
}
@using (Html.BeginForm("EditSynchronizationLog", "Device", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.SynchronizationLog.EditSynchronizationLogDetails") - @Model.Client_id
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditSynchronizationDetail/" + Request.QueryString["SynchronizationDetailModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteSynchronizationLog", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateSynchronizationLog", Model)
}

 
 @section jQueryOnReadyScripts {
 
        
 
       setTimeout(function(){
        $('a[href="#tab_SynchronizationLog_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/SynchronizationLog-input-mask.js"></script>
}


