﻿@using AssetHealth.Models.Device;
@model DeviceModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Device.EditDeviceDetails").Text;
}
@using (Html.BeginForm("Edit", "Device", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Device.EditDeviceDetails") - @Model.Device_name
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    



    
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswer", "ListFormAnswerDatatable", "Device", null, true, new { DeviceModelId = Model.Id }, "dataTableFormAnswer").AddColumn("Id")
                                        .AddColumn("Form_question_id_Text")
                                        .AddColumn("Form_answer_round_id_Text")
                                        .AddColumn("Previous_answer_Text")
                                        .AddColumn("Username")
                                        .AddColumn("Read_no")
                                        .AddColumn("Warning_type_Text")
                                        .AddColumn("Answer")
                                        .AddColumn("Long_answer")
                                        .AddColumn("Converted_answer")
                                        .AddColumn("Json")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Required_read_datetime)")
                                        
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Actual_read_datetime)")
                                        
                                        .AddColumn("Description")
                                        .AddColumn("Notes")
                                        .AddColumn("Udid")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormAnswer", "Device") + "/' + full.Id , full.Id, true,  true, 'FormAnswer') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormAnswerOptions = dataTableFormAnswerOptions;

                 $('#btnFilterFormAnswer').click(function () {
                        dataTableFormAnswer.column('Form_question_id:name').search($('#Form_question_id').val().trim());
                        dataTableFormAnswer.column('Form_answer_round_id:name').search($('#Form_answer_round_id').val().trim());
                        dataTableFormAnswer.column('Previous_answer:name').search($('#Previous_answer').val().trim());
                        dataTableFormAnswer.column('Username:name').search($('#Username').val().trim());
                        dataTableFormAnswer.column('Read_no:name').search($('#Read_no').val().trim());
                        dataTableFormAnswer.column('Warning_type:name').search($('#Warning_type').val().trim());
                        dataTableFormAnswer.column('Answer:name').search($('#Answer').val().trim());
                        dataTableFormAnswer.column('Converted_answer:name').search($('#Converted_answer').val().trim());


                        dataTableFormAnswer.column('Description:name').search($('#Description').val().trim());
                        dataTableFormAnswer.column('Udid:name').search($('#Udid').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswer.draw();
            });
            
            
                $('#btnResetFormAnswer').click(function () {

                    resetDatatableSearch('dataTableFormAnswer');

                });


        
     
    



    
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswerRound", "ListFormAnswerRoundDatatable", "Device", null, true, new { DeviceModelId = Model.Id }, "dataTableFormAnswerRound").AddColumn("Id")
                                        .AddColumn("Username")
                                        .AddColumn("Read_no")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_read_datetime)")
                                        
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.End_read_datetime)")
                                        
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Last_read_datetime)")
                                        
                                        .AddColumn("Warning_type_Text")
                                        .AddColumn("Period_Text")
                                        .AddColumn("Json")
                                        .AddColumn("Start_count")
                                        .AddColumn("File_count")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Required_read_datetime)")
                                        
                                        .AddColumn("Description")
                                        .AddColumn("Notes")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormAnswerRound", "Device") + "/' + full.Id , full.Id, true,  true, 'FormAnswerRound') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormAnswerRoundOptions = dataTableFormAnswerRoundOptions;

                 $('#btnFilterFormAnswerRound').click(function () {
                        dataTableFormAnswerRound.column('Username:name').search($('#Username').val().trim());
                        dataTableFormAnswerRound.column('Read_no:name').search($('#Read_no').val().trim());



                        dataTableFormAnswerRound.column('Warning_type:name').search($('#Warning_type').val().trim());
                        dataTableFormAnswerRound.column('Period:name').search($('#Period').val().trim());
                        dataTableFormAnswerRound.column('Start_count:name').search($('#Start_count').val().trim());
                        dataTableFormAnswerRound.column('File_count:name').search($('#File_count').val().trim());

                        dataTableFormAnswerRound.column('Description:name').search($('#Description').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswerRound.draw();
            });
            
            
                $('#btnResetFormAnswerRound').click(function () {

                    resetDatatableSearch('dataTableFormAnswerRound');

                });


        
     
    


     @*

    @(Url.Datatables().CreateDatatable("#dataTableSynchronization", "ListSynchronizationDatatable", "Device", null, true, new { DeviceModelId = Model.Id }, "dataTableSynchronization").AddColumn("Id")
                                        .AddColumn("Udid")
                                        .AddColumn("Username")
                                        .AddColumn("EnumSync_type_Text")
                                        .AddColumn("EnumStatus_Text")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_datetime)")

                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Finish_datetime)")

                                        .AddColumn("Client_version")
                                        .AddColumn("Server_version")
                                        .AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditSynchronization", "Device") + "/' + full.Id , full.Id, true,  true, 'Synchronization') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ")
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());

    window.dataTableSynchronizationOptions = dataTableSynchronizationOptions;

                 $('#btnFilterSynchronization').click(function () {
                        dataTableSynchronization.column('Udid:name').search($('#Udid').val().trim());
                        dataTableSynchronization.column('Username:name').search($('#Username').val().trim());




                        dataTableSynchronization.column('Client_version:name').search($('#Client_version').val().trim());
                        dataTableSynchronization.column('Server_version:name').search($('#Server_version').val().trim());
                        dataTableSynchronization.column('Description:name').search($('#Description').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronization.draw();
            });


                $('#btnResetSynchronization').click(function () {

                    resetDatatableSearch('dataTableSynchronization');

                });









    @(Url.Datatables().CreateDatatable("#dataTableSynchronizationDevice", "ListSynchronizationDeviceDatatable", "Device", null, true, new { DeviceModelId = Model.Id }, "dataTableSynchronizationDevice").AddColumn("Id")
                                        .AddColumn("Synchronization_id_Text")
                                        .AddColumn("Udid")
                                        .AddColumn("EnumStatus_Text")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_datetime)")

                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Finish_datetime)")

                                        .AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditSynchronizationDevice", "Device") + "/' + full.Id , full.Id, true,  true, 'SynchronizationDevice') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ")
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());

    window.dataTableSynchronizationDeviceOptions = dataTableSynchronizationDeviceOptions;

                 $('#btnFilterSynchronizationDevice').click(function () {
                        dataTableSynchronizationDevice.column('Synchronization_id:name').search($('#Synchronization_id').val().trim());
                        dataTableSynchronizationDevice.column('Udid:name').search($('#Udid').val().trim());



                        dataTableSynchronizationDevice.column('Description:name').search($('#Description').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronizationDevice.draw();
            });


                $('#btnResetSynchronizationDevice').click(function () {

                    resetDatatableSearch('dataTableSynchronizationDevice');

                });









    @(Url.Datatables().CreateDatatable("#dataTableSynchronizationLog", "ListSynchronizationLogDatatable", "Device", null, true, new { DeviceModelId = Model.Id }, "dataTableSynchronizationLog").AddColumn("Id")
                                        .AddColumn("Synchronization_detail_id_Text")
                                        .AddColumn("EnumStatus_Text")
                                        .AddColumn("Client_id")
                                        .AddColumn("Item")
                                        .AddColumn("Size")
                                        .AddColumn("Message")
                                        .AddColumn("Page_index")
                                        .AddColumn("Page_size")
                                        .AddColumn("Size_limit")
                                        .AddColumn("Retry_count")
                                        .AddColumn("Version")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_datetime)")

                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.End_datetime)")

                                        .AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditSynchronizationLog", "Device") + "/' + full.Id , full.Id, true,  true, 'SynchronizationLog') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ")
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());

    window.dataTableSynchronizationLogOptions = dataTableSynchronizationLogOptions;

                 $('#btnFilterSynchronizationLog').click(function () {
                        dataTableSynchronizationLog.column('Synchronization_detail_id:name').search($('#Synchronization_detail_id').val().trim());

                        dataTableSynchronizationLog.column('Client_id:name').search($('#Client_id').val().trim());
                        dataTableSynchronizationLog.column('Size:name').search($('#Size').val().trim());
                        dataTableSynchronizationLog.column('Page_index:name').search($('#Page_index').val().trim());
                        dataTableSynchronizationLog.column('Page_size:name').search($('#Page_size').val().trim());
                        dataTableSynchronizationLog.column('Size_limit:name').search($('#Size_limit').val().trim());
                        dataTableSynchronizationLog.column('Retry_count:name').search($('#Retry_count').val().trim());
                        dataTableSynchronizationLog.column('Version:name').search($('#Version').val().trim());


                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronizationLog.draw();
            });


                $('#btnResetSynchronizationLog').click(function () {

                    resetDatatableSearch('dataTableSynchronizationLog');

                });

    *@
        
     
    
 
       setTimeout(function(){
        $('a[href="#tab_Device_@Model.SelectedTab"]').tab('show');
        }, 500);
 
     $("#UserList").select2({multiple: true });
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/Device-input-mask.js"></script>
}


