﻿@using AssetHealth.Models.Synchronization;
@model SynchronizationModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Synchronization.EditSynchronizationDetails").Text;
}
@using (Html.BeginForm("EditSynchronization", "Device", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Synchronization.EditSynchronizationDetails") - @Model.Object_id
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "Edit/" + Request.QueryString["DeviceModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteSynchronization", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateSynchronization", Model)
}

 
 @section jQueryOnReadyScripts {
 



    
    @(Url.Datatables().CreateDatatable("#dataTableSynchronizationDetail", "ListSynchronizationDetailDatatable", "Synchronization", null, true, new { SynchronizationModelId = Model.Id }, "dataTableSynchronizationDetail").AddColumn("Id")
                                        .AddColumn("Sync_detail_server_id")
                                        .AddColumn("EnumStatus_Text")
                                        .AddColumn("Table_name")
                                        .AddColumn("Server_id")
                                        .AddColumn("Client_id")
                                        .AddColumn("Transaction_id")
                                        .AddColumn("EnumOperation_type_Text")
                                        .AddColumn("Result")
                                        .AddColumn("Message")
                                        .AddColumn("Item")
                                        .AddColumn("Size")
                                        .AddColumn("Order")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_datetime)")
                                        
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.End_datetime)")
                                        
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Last_exec_datetime)")
                                        
                                        .AddColumn("Retry_count")
                                        .AddColumn("Page_index")
                                        .AddColumn("Page_size")
                                        .AddColumn("Page_count")
                                        .AddColumn("Total_item_count")
                                        .AddColumn("Size_limit")
                                        .AddColumn("Description")
                                        .AddColumn("Notes")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditSynchronizationDetail", "Device") + "/' + full.Id , full.Id, true,  true, 'SynchronizationDetail') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableSynchronizationDetailOptions = dataTableSynchronizationDetailOptions;

                 $('#btnFilterSynchronizationDetail').click(function () {
                        dataTableSynchronizationDetail.column('Sync_detail_server_id:name').search($('#Sync_detail_server_id').val().trim());
                        
                        dataTableSynchronizationDetail.column('Table_name:name').search($('#Table_name').val().trim());
                        dataTableSynchronizationDetail.column('Server_id:name').search($('#Server_id').val().trim());
                        dataTableSynchronizationDetail.column('Client_id:name').search($('#Client_id').val().trim());
                        dataTableSynchronizationDetail.column('Transaction_id:name').search($('#Transaction_id').val().trim());
                        
                        dataTableSynchronizationDetail.column('Result:name').search($('#Result').val().trim());
                        dataTableSynchronizationDetail.column('Size:name').search($('#Size').val().trim());
                        dataTableSynchronizationDetail.column('Order:name').search($('#Order').val().trim());



                        dataTableSynchronizationDetail.column('Retry_count:name').search($('#Retry_count').val().trim());
                        dataTableSynchronizationDetail.column('Page_index:name').search($('#Page_index').val().trim());
                        dataTableSynchronizationDetail.column('Page_size:name').search($('#Page_size').val().trim());
                        dataTableSynchronizationDetail.column('Page_count:name').search($('#Page_count').val().trim());
                        dataTableSynchronizationDetail.column('Total_item_count:name').search($('#Total_item_count').val().trim());
                        dataTableSynchronizationDetail.column('Size_limit:name').search($('#Size_limit').val().trim());
                        dataTableSynchronizationDetail.column('Active:name').search($('#Active').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronizationDetail.draw();
            });
            
            
                $('#btnResetSynchronizationDetail').click(function () {

                    resetDatatableSearch('dataTableSynchronizationDetail');

                });


        
             



    
    @(Url.Datatables().CreateDatatable("#dataTableSynchronizationDevice", "ListSynchronizationDeviceDatatable", "Synchronization", null, true, new { SynchronizationModelId = Model.Id }, "dataTableSynchronizationDevice").AddColumn("Id")
                                        .AddColumn("Device_id_Text")
                                        .AddColumn("Udid")
                                        .AddColumn("EnumStatus_Text")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_datetime)")
                                        
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Finish_datetime)")
                                        
                                        .AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditSynchronizationDevice", "Device") + "/' + full.Id , full.Id, true,  true, 'SynchronizationDevice') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableSynchronizationDeviceOptions = dataTableSynchronizationDeviceOptions;

                 $('#btnFilterSynchronizationDevice').click(function () {
                        dataTableSynchronizationDevice.column('Device_id:name').search($('#Device_id').val().trim());
                        dataTableSynchronizationDevice.column('Udid:name').search($('#Udid').val().trim());
                        


                        dataTableSynchronizationDevice.column('Description:name').search($('#Description').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronizationDevice.draw();
            });
            
            
                $('#btnResetSynchronizationDevice').click(function () {

                    resetDatatableSearch('dataTableSynchronizationDevice');

                });


        
             
        
 
       setTimeout(function(){
        $('a[href="#tab_Synchronization_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/Synchronization-input-mask.js"></script>
}


