﻿


@using AssetHealth.Models.Device;

@model DeviceModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("Device.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "Device")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("Device.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableDevice', window.dataTableDeviceOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Device_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.DropDownListFor(x => x.Device_type, ListExtensions.ToSelectList(Model.Device_type, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Udid, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Udid, new { @class = "form-control", @placeholder = T("DeviceModel.Udid.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Device_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Device_name, new { @class = "form-control", @placeholder = T("DeviceModel.Device_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Device_model, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                    @Html.TextBoxFor(x => x.Device_model, new { @class = "form-control", @placeholder = T("DeviceModel.Device_model.Placeholder"), data_val = false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Platform_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.DropDownListFor(x => x.Platform_type, ListExtensions.ToSelectList(Model.Platform_type, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Os_version, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Os_version, new { @class = "form-control", @placeholder = T("DeviceModel.Os_version.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Current_carrier_network, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                    @Html.TextBoxFor(x => x.Current_carrier_network, new { @class = "form-control", @placeholder = T("DeviceModel.Current_carrier_network.Placeholder"), data_val = false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Last_contact_time, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Last_contact_time, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Battery_level, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Battery_level, new { @class = "form-control", @placeholder = T("DeviceModel.Battery_level.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Scan_status, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.DropDownListFor(x => x.Scan_status, ListExtensions.ToSelectList(Model.Scan_status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Agent_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.DropDownListFor(x => x.Agent_type, ListExtensions.ToSelectList(Model.Agent_type, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Username, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = T("DeviceModel.Username.Placeholder"), data_val = false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Mobile_number, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Mobile_number, new { @class = "form-control", @placeholder = T("DeviceModel.Mobile_number.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Image_path, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("DeviceModel.Image_path.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterDevice" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetDevice" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableDevice" style="width:100%">
            <thead>
                <tr>
                                                                                                                                                                @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>

                        <th> @T("Device.list.column.Image_path") </th>
                                    <th> @T("Device.list.column.Current_carrier_network") </th>
                                    <th> @T("Device.list.column.Battery_level") </th>
                                    <th> @T("Device.list.column.Scan_status") </th>
                                    <th> @T("Device.list.column.Agent_type") </th>
                <th> @T("Device.list.column.Device_type") </th>
                                    <th> @T("Device.list.column.Udid") </th>
        <th> @T("Device.list.column.Os_version") </th>
                                    <th> @T("Device.list.column.Username") </th>
                            <th> @T("Device.list.column.Platform_type") </th>
*@
                    <th> @T("Device.list.column.Id") </th>
            
                    <th> @T("Device.list.column.Imei_number") </th>
                    <th> @T("Device.list.column.Mobile_number") </th>
                    <th> @T("Device.list.column.Device_name") </th>
                    <th> @T("Device.list.column.Device_model") </th>
                    
                    <th> @T("Device.list.column.Last_contact_time") </th>
                    <th> @T("Device.list.column.AssetHealth_Version") </th>
                    <th> @T("Device.list.column.TechService_Version") </th>


                    <th> @T("Device.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

@section jQueryOnReadyScripts {



    
    @(Url.Datatables().CreateDatatable("#dataTableDevice", "ListDeviceDatatable", "Device", null, true, null, "dataTableDevice").AddColumn("Id")
                                        //.AddColumn("EnumDevice_type_Text")
                                        //.AddColumn("Udid")
                                        .AddColumn("Imei_number")
                                        .AddColumn("Mobile_number")
                                        .AddColumn("Device_name")
                                        .AddColumn("Device_model")
                                        //.AddColumn("EnumPlatform_type_Text")
                                        //.AddColumn("Os_version")
                                        //.AddColumn("Current_carrier_network")
                                        .AddCustomJavascriptColumn("", "return formatJSONDateTime(full.Last_contact_time)")
                                        .AddColumn("AssetHealth_Version")
                                        .AddColumn("TechService_Version")
    /*
    .AddColumn("Battery_level")
    .AddColumn("EnumScan_status_Text")
    .AddColumn("EnumAgent_type_Text")
    */
    //.AddColumn("Username")

    //.AddColumn("Image_path")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "Device") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableDeviceOptions = dataTableDeviceOptions;

                 $('#btnFilterDevice').click(function () {
                        
                        dataTableDevice.column('EnumDevice_type_Text:name').search($('#Device_type').val().trim());
                        dataTableDevice.column('Udid:name').search($('#Udid').val().trim());
                        dataTableDevice.column('Device_name:name').search($('#Device_name').val().trim());
                        dataTableDevice.column('Device_model:name').search($('#Device_model').val().trim());
                        
                        dataTableDevice.column('Os_version:name').search($('#Os_version').val().trim());
                        dataTableDevice.column('Current_carrier_network:name').search($('#Current_carrier_network').val().trim());

                        dataTableDevice.column('Battery_level:name').search($('#Battery_level').val().trim());
                        
                        
                        dataTableDevice.column('Username:name').search($('#Username').val().trim());
                        dataTableDevice.column('Mobile_number:name').search($('#Mobile_number').val().trim());
                        //dataTableDevice.column('Image_path:name').search($('#Image_path').val().trim());

                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableDevice.draw();
            });
            
            
                $('#btnResetDevice').click(function () {

                    resetDatatableSearch('dataTableDevice');

                });


        
 }

