﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Eq_threshold;
@model EqThresholdModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_EqThreshold_1" data-toggle="tab"> @T("Admin.EqThreshold.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_EqThreshold_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("EqThreshold.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
@Html.HiddenFor(m => m.Eq_channel_id)
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faName"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Name))"></i>
                                        @Html.TextAreaFor(x => x.Name, new { @class = "form-control", @placeholder = T("EqThresholdModel.Name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqThresholdModel.Name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("EqThresholdModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqThresholdModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        

                        @if (Model.threshold_eq_channel != null && Model.threshold_eq_channel.Sensor_type == (int)AssetHealth.Common.DTO.Enums.EnumParameterItem.PARAM_ITEM_GORSEL_KONTROL)
                        {
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Upper_Limit_Option_YES_NO) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Upper_Limit_Option_YES_NO, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faUpper_Limit_Option_YES_NO"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Upper_limit) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Upper_Limit_Option_YES_NO))"></i>

                                        @Html.DropDownListFor(x => x.Upper_Limit_Option_YES_NO, Model.Upper_Limit_Option_YES_NO_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Upper_Limit_Option_YES_NO" })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Upper_Limit_Option_YES_NO, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqThresholdModel.Upper_Limit_Option_YES_NO.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        }
                        else
                        {
                            <div class="form-group @(Html.CheckValidationErrorFor(m => m.Lower_limit) ? "has-error" : "")">
                                @Html.AresLabelFor(m => m.Lower_limit, new { @class = "col-md-3 control-label " })
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="input-icon right ">
                                            <i id="faLower_limit" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Lower_limit) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Lower_limit))"></i>
                                            @Html.TextBoxFor(x => x.Lower_limit, new { @class = "form-control", @placeholder = T("EqThresholdModel.Lower_limit.Placeholder") })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Lower_limit, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqThresholdModel.Lower_limit.Hint")</span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group @(Html.CheckValidationErrorFor(m => m.Upper_limit) ? "has-error" : "")">
                                @Html.AresLabelFor(m => m.Upper_limit, new { @class = "col-md-3 control-label " })
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="input-icon right ">
                                            <i id="faUpper_limit" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Upper_limit) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Upper_limit))"></i>
                                            @Html.TextBoxFor(x => x.Upper_limit, new { @class = "form-control", @placeholder = T("EqThresholdModel.Upper_limit.Placeholder") })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Upper_limit, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqThresholdModel.Upper_limit.Hint")</span>
                                    </div>

                                </div>
                            </div>
                        }
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Warning_type, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faWarning_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Warning_type))"></i>
                                        
                                @Html.DropDownListFor(x => x.Warning_type, Model.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Warning_type" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Warning_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqThresholdModel.Warning_type.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Level_increase_repeat_times) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Level_increase_repeat_times, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLevel_increase_repeat_times" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Level_increase_repeat_times) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Level_increase_repeat_times))"></i>
                                        @Html.TextBoxFor(x => x.Level_increase_repeat_times, new { @class = "form-control", @placeholder = T("EqThresholdModel.Level_increase_repeat_times.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Level_increase_repeat_times, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("EqThresholdModel.Level_increase_repeat_times.Hint")</span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Level_decrease_repeat_times) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Level_decrease_repeat_times, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLevel_decrease_repeat_times" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Level_decrease_repeat_times) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Level_decrease_repeat_times))"></i>
                                        @Html.TextBoxFor(x => x.Level_decrease_repeat_times, new { @class = "form-control", @placeholder = T("EqThresholdModel.Level_decrease_repeat_times.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Level_decrease_repeat_times, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("EqThresholdModel.Level_decrease_repeat_times.Hint")</span>
                                </div>

                            </div>
                        </div>

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqThresholdModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>





