﻿


@using AssetHealth.Models.Eq_channel;

@model EqChannelModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("EqChannel.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "EqChannel")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("EqChannel.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableEqChannel', window.dataTableEqChannelOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_EqLocation_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Filter_EqLocation_Text, Model.Filter_EqLocation_SelectList, T("Select").Text, new { @class = "form-control ", @placeholder = T("FormAnswerModel.Form_question_id.Placeholder"), data_val = false })
                            </div>

                        </div>
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Equipment_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Equipment_id, Model.Equipment_id_Equipment_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqChannelModel.Equipment_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Sensor_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Sensor_type, Model.Sensor_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqChannelModel.Sensor_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = T("EqChannelModel.Name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Channel_number, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Channel_number, new { @class = "form-control", @placeholder = T("EqChannelModel.Channel_number.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Cid, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Cid, new { @class = "form-control", @placeholder = T("EqChannelModel.Cid.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    @*
    <div class="col-md-3" role="form" style="display: table-cell;float: none;">


            <div class="form-group">
                @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("EqChannelModel.Description.Placeholder"), data_val=false })
                </div>
            </div>

    </div>
                    *@  

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterEqChannel" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetEqChannel" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableEqChannel" style="width:100%">
            <thead>
                <tr>
                                        @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>
        <th> @T("EqChannel.list.column.Description") </th>
                                        *@
                    <th> @T("EqChannel.list.column.Id") </th>
            
                    <th> @T("EqChannel.list.column.Filter_EqLocation_Text") </th>
                    <th> @T("EqChannel.list.column.Equipment_id") </th>
                    <th> @T("EqChannel.list.column.Sensor_type") </th>
                    <th> @T("EqChannel.list.column.Name") </th>
                    <th> @T("EqChannel.list.column.Channel_number") </th>
                    <th> @T("EqChannel.list.column.Active") </th>
                    <th> @T("EqChannel.list.column.Cid") </th>
                    
            
                    
                    <th> @T("EqChannel.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

@section jQueryOnReadyScripts {



    
    @(Url.Datatables().CreateDatatable("#dataTableEqChannel", "ListEqChannelDatatable", "EqChannel", null, true, null, "dataTableEqChannel").AddColumn("Id")
                                        .AddColumn("Filter_EqLocation_Text")
                                        .AddColumn("Equipment_id_Text")
                                        .AddColumn("Sensor_type_Text")
                                        .AddColumn("Name")
                                        .AddColumn("Channel_number")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Cid")
                                        //.AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "EqChannel") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEqChannelOptions = dataTableEqChannelOptions;

                 $('#btnFilterEqChannel').click(function () {
                        dataTableEqChannel.column('Filter_EqLocation_Text:name').search($('#Filter_EqLocation_Text').val().trim());
                        dataTableEqChannel.column('Equipment_id_Text:name').search($('#Equipment_id').val().trim());
                        dataTableEqChannel.column('Sensor_type_Text:name').search($('#Sensor_type').val().trim());
                        dataTableEqChannel.column('Name:name').search($('#Name').val().trim());
                        dataTableEqChannel.column('Channel_number:name').search($('#Channel_number').val().trim());
                        dataTableEqChannel.column('Active:name').search($('#Active').prop('checked'));
                        dataTableEqChannel.column('Cid:name').search($('#Cid').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEqChannel.draw();
            });
            
            
                $('#btnResetEqChannel').click(function () {

                    resetDatatableSearch('dataTableEqChannel');

                });


        
 }

