﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Form;
@model FormModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_Form_1" data-toggle="tab"> @T("Admin.Form.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_Form_2" data-toggle="tab"> @T("Admin.FormQuestion.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_Form_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("Form.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Category_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Category_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faCategory_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Category_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Category_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Category_id, Model.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Category_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Category_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Category_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Equipment_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Equipment_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faEquipment_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Equipment_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Equipment_id))"></i>

                                        @Html.DropDownListFor(x => x.Equipment_id, Model.Equipment_id_Form_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Equipment_id" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.Equipment_id, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormModel.Equipment_id.Hint")</span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Role_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Role_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faRole_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Role_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Role_id))"></i>

                                        @Html.DropDownListFor(x => x.Role_id, Model.Role_id_Role_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Role_id" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.Role_id, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormModel.Role_id.Hint")</span>

                                </div>
                            </div>
                        </div>
            
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Language_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Language_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faLanguage_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Language_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Language_id))"></i>

                                        @Html.DropDownListFor(x => x.Language_id, Model.Language_id_Language_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Language_id" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.Language_id, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormModel.Language_id.Hint")</span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Period) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Period, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faPeriod" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Period) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Period))"></i>

                                        @Html.DropDownListFor(x => x.Period, Model.Period_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Period" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.Period, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormModel.Period.Hint")</span>

                                </div>
                            </div>
                        </div>

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Code) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Code, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCode"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Code) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Code))"></i>
                                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormModel.Code.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Code, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Code.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Title) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Title, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faTitle"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Title) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Title))"></i>
                                        @Html.TextAreaFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormModel.Title.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Title.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Version) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Version, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faVersion"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Version) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Version))"></i>
                                        @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormModel.Version.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Version, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Version.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Image_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Image_path, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faImage_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Image_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Image_path))"></i>
                                        @Html.TextAreaFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("FormModel.Image_path.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Image_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Image_path.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Deleted) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Deleted, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDeleted"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Deleted) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Deleted))"></i>
                                        @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Deleted, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Deleted.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_order"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormModel.Display_order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormModel.Display_order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_Form_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("FormQuestion.list.header")
                    </div>
                    <div class="actions" style="float:left">
                        <a href="@Url.Action("CreateFormQuestion", "Form")?FormModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("FormQuestion.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormQuestion', window.dataTableFormQuestionOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Category_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_FormQuestionModel.Category_id, Model.Filter_FormQuestionModel.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Category_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Type_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_FormQuestionModel.Type_id, Model.Filter_FormQuestionModel.Type_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Period_Text.Placeholder"), data_val=false })
                                </div>
                            </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Period_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Filter_FormQuestionModel.Period, Model.Filter_FormQuestionModel.Period_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Period_Text.Placeholder"), data_val = false })
                            </div>
                        </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Derived_id, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownListFor(x => x.Filter_FormQuestionModel.Derived_id, Model.Filter_FormQuestionModel.Derived_id_FormQuestion_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Derived_id.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                        

                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Hint, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Hint, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Hint.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Description, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Description, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Description.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Version, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Version, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Version.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                    </div>
                    @*
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Image_path, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Image_path.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Device_image_path, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Device_image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Device_image_path.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Estimated_time, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Estimated_time.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Video_path, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Video_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Video_path.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Device_video_path, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Device_video_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Device_video_path.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Method, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Method, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Method.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Display_order, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Display_order.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Step, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Step, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Step.Placeholder"), data_val=false })
        </div>
    </div>

                    </div>
                    *@
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Code, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Code, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Code.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Title, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Title, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Title.Placeholder"), data_val = false })
                            </div>
                        </div>
                    
                        @*
        <div class="form-group">
            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Period, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Filter_FormQuestionModel.Period, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.Period.Placeholder"), data_val=false })
            </div>
        </div>


        <div class="form-group">
            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.V_required, new { @class = "control-label " })
            <div class="input-group">
                    @Html.CheckBoxFor(x => x.Filter_FormQuestionModel.V_required, new { @class = "mt-checkbox" , data_val=false })
            </div>
        </div>


        <div class="form-group">
            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.V_email, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
            </div>
        </div>


        <div class="form-group">
            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.V_min_length, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Filter_FormQuestionModel.V_min_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.V_min_length.Placeholder"), data_val=false })
            </div>
        </div>


        <div class="form-group">
            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.V_max_length, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Filter_FormQuestionModel.V_max_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.V_max_length.Placeholder"), data_val=false })
            </div>
        </div>


        <div class="form-group">
            @Html.AresLabelFor(m => m.Filter_FormQuestionModel.V_regex, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Filter_FormQuestionModel.V_regex, new { @class = "form-control", @placeholder = T("FormQuestionModel.Filter_FormQuestionModel.V_regex.Placeholder"), data_val=false })
            </div>
        </div>
                                    <div class="form-group">
                                    @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Deleted, new { @class = "control-label " })
                                    <div class="input-group">
                                            @Html.CheckBoxFor(x => x.Filter_FormQuestionModel.Deleted, new { @class = "mt-checkbox" , data_val=false })
                                    </div>
                                </div>
                        *@
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormQuestionModel.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Filter_FormQuestionModel.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                        

                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormQuestion" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormQuestion" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableFormQuestion">
                        <thead>
                            <tr>
                                @*
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                            <span></span>
                                        </label>
                                    </th>
                                *@
                                <th> @T("FormQuestion.list.column.Id") </th>
                        
                                <th> @T("FormQuestion.list.column.Category_id_Text") </th>
                                <th> @T("FormQuestion.list.column.Type_id_Text") </th>
                                <th> @T("FormQuestion.list.column.Period") </th>
                                @*
        <th> @T("FormQuestion.list.column.Derived_id_Text") </th>
                                                    <th> @T("FormQuestion.list.column.Hint") </th>
                <th> @T("FormQuestion.list.column.Description") </th>
        <th> @T("FormQuestion.list.column.Version") </th>
                                        <th> @T("FormQuestion.list.column.Image_path") </th>
                                        <th> @T("FormQuestion.list.column.Device_image_path") </th>
                                        <th> @T("FormQuestion.list.column.Estimated_time") </th>
                                        <th> @T("FormQuestion.list.column.Video_path") </th>
                                        <th> @T("FormQuestion.list.column.Device_video_path") </th>
                                        <th> @T("FormQuestion.list.column.Method") </th>
                                        
                                        <th> @T("FormQuestion.list.column.Step") </th>
                                        
                                        <th> @T("FormQuestion.list.column.V_required") </th>
                                        <th> @T("FormQuestion.list.column.V_email") </th>
                                        <th> @T("FormQuestion.list.column.V_min_length") </th>
                                        <th> @T("FormQuestion.list.column.V_max_length") </th>
                                        <th> @T("FormQuestion.list.column.V_regex") </th>
            <th> @T("FormQuestion.list.column.Deleted") </th>
                                *@

                                <th> @T("FormQuestion.list.column.Code") </th>
                                <th> @T("FormQuestion.list.column.Title") </th>
                                <th> @T("FormQuestion.list.column.Display_order") </th>
                                <th> @T("FormQuestion.list.column.Active") </th>
                                <th> @T("FormQuestion.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>






