﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Form_question;
@model FormQuestionModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_FormQuestion_1" data-toggle="tab"> @T("Admin.FormQuestion.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
@*
    <li>
         <a href="#tab_FormQuestion_2" data-toggle="tab"> @T("Admin.FormQuestionOption.TabTitle") </a>
    </li>
*@
        <li>
            <a href="#tab_FormQuestion_3" data-toggle="tab"> @T("Admin.FormQuestionFiles.TabTitle") </a>
        </li>
        @*
    <li>
        <a href="#tab_FormQuestion_4" data-toggle="tab"> @T("Admin.FormAnswer.TabTitle") </a>
    </li>
        *@
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_FormQuestion_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("FormQuestion.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Category_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Category_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faCategory_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Category_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Category_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Category_id, Model.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Category_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Category_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Category_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            
                        @if (Model.Id > 0)
                        {
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Eq_channel_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Eq_channel_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faEq_channel_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Eq_channel_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Eq_channel_id))"></i>

                                        @Html.DropDownListFor(x => x.Eq_channel_id, Model.Eq_channel_id_EqChannel_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Eq_channel_id" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.Eq_channel_id, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormQuestionModel.Eq_channel_id.Hint")</span>

                                </div>
                            </div>
                        </div>
                        }
 
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Type_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Type_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faType_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Type_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Type_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Type_id, Model.Type_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Type_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Type_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Type_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Period) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Period, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faPeriod" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Period) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Period))"></i>
                                        @Html.DropDownListFor(x => x.Period, Model.Period_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Period" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Period, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormQuestionModel.Period.Hint")</span>
                                </div>

                            </div>
                        </div>
            

 @Html.HiddenFor(m => m.Form_id)


                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Code) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Code, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCode"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Code) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Code))"></i>
                                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormQuestionModel.Code.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Code, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Code.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Title) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Title, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faTitle"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Title) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Title))"></i>
                                        @Html.TextAreaFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormQuestionModel.Title.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Title.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Sublocation_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Sublocation_name, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faSublocation_name" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Sublocation_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Sublocation_name))"></i>
                                        @Html.TextAreaFor(x => x.Sublocation_name, new { @class = "form-control", @placeholder = T("FormQuestionModel.Sublocation_name.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Sublocation_name, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormQuestionModel.Sublocation_name.Hint")</span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Criticality) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Criticality, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faCriticality" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Criticality) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Criticality))"></i>
                                        @Html.TextBoxFor(x => x.Criticality, new { @class = "form-control", @placeholder = T("FormQuestionModel.Criticality.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Criticality, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormQuestionModel.Criticality.Hint")</span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Hint) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Hint, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faHint"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Hint) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Hint))"></i>
                                        @Html.TextAreaFor(x => x.Hint, new { @class = "form-control", @placeholder = T("FormQuestionModel.Hint.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Hint, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Hint.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Unhealthy_cause) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Unhealthy_cause, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faUnhealthy_cause" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Unhealthy_cause) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Unhealthy_cause))"></i>
                                        @*Html.TextBoxFor(x => x.Unhealthy_cause, new { @class = "form-control", @placeholder = T("FormQuestionModel.Unhealthy_cause.Placeholder") }) *@
                                        @Html.DropDownListFor(x => x.Unhealthy_cause, Model.YesNo_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Unhealthy_cause" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Unhealthy_cause, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormQuestionModel.Unhealthy_cause.Hint")</span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormQuestionModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        @Html.HiddenFor(m => m.Last_answer_datetime)
                        @Html.HiddenFor(m => m.Last_answer_id)
                        @Html.HiddenFor(m => m.Json)
                        @Html.HiddenFor(m => m.Version)
                        @Html.HiddenFor(m => m.Image_path)
                        @Html.HiddenFor(m => m.Device_image_path)

                        @*
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Version) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Version, new { @class = "col-md-3 control-label " })
        <div class="row">
            <div class="col-md-4">
                <div class="input-icon right ">
                    <i id="faVersion"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Version) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Version))"></i>
                    @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormQuestionModel.Version.Placeholder") })

               </div>
                    @Html.ValidationMessageFor(m => m.Version, null, new { @class = "help-block", @style = "color:red" })
                    <span class="help-inline"> @T("FormQuestionModel.Version.Hint")</span>
            </div>

         </div>
    </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Image_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Image_path, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faImage_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Image_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Image_path))"></i>
                                        @Html.TextAreaFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Image_path.Placeholder") })

                                   </div>
                                        @Html.ValidationMessageFor(m => m.Image_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Image_path.Hint")</span>
                                </div>

                             </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_image_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_image_path, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDevice_image_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_image_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_image_path))"></i>
                                        @Html.TextAreaFor(x => x.Device_image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Device_image_path.Placeholder") })

                                   </div>
                                        @Html.ValidationMessageFor(m => m.Device_image_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Device_image_path.Hint")</span>
                                </div>

                             </div>
                        </div>
                        *@
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Estimated_time) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Estimated_time, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faEstimated_time"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Estimated_time) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Estimated_time))"></i>
                                        @Html.TextBoxFor(x => x.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionModel.Estimated_time.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Estimated_time, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Estimated_time.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        @*
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Video_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Video_path, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faVideo_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Video_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Video_path))"></i>
                                        @Html.TextAreaFor(x => x.Video_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Video_path.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Video_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Video_path.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_video_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_video_path, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDevice_video_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_video_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_video_path))"></i>
                                        @Html.TextAreaFor(x => x.Device_video_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Device_video_path.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Device_video_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Device_video_path.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                            *@
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Method) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Method, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faMethod"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Method) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Method))"></i>
                                        @Html.TextBoxFor(x => x.Method, new { @class = "form-control", @placeholder = T("FormQuestionModel.Method.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Method, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Method.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Help_text) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Help_text, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faHelp_text" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Help_text) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Help_text))"></i>
                                        @Html.TextAreaFor(x => x.Help_text, new { @class = "form-control summernote", @placeholder = T("FormQuestionModel.Help_text.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Help_text, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("FormQuestionModel.Help_text.Hint")</span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_order"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionModel.Display_order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Display_order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Step) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Step, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faStep"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Step) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Step))"></i>
                                        @Html.TextBoxFor(x => x.Step, new { @class = "form-control", @placeholder = T("FormQuestionModel.Step.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Step, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Step.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Option_group_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Option_group_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faOption_group_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Option_group_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Option_group_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Option_group_id, Model.Option_group_id_ParameterGroup_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Option_group_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Option_group_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Option_group_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.V_required) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.V_required, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faV_required"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.V_required) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.V_required))"></i>
                                        @Html.CheckBoxFor(x => x.V_required, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.V_required, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.V_required.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.V_email) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.V_email, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faV_email"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.V_email) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.V_email))"></i>
                                        @Html.TextBoxFor(x => x.V_email, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_email.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.V_email, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.V_email.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.V_min_length) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.V_min_length, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faV_min_length"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.V_min_length) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.V_min_length))"></i>
                                        @Html.TextBoxFor(x => x.V_min_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_min_length.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.V_min_length, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.V_min_length.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.V_max_length) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.V_max_length, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faV_max_length"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.V_max_length) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.V_max_length))"></i>
                                        @Html.TextBoxFor(x => x.V_max_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_max_length.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.V_max_length, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.V_max_length.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.V_regex) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.V_regex, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faV_regex"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.V_regex) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.V_regex))"></i>
                                        @Html.TextAreaFor(x => x.V_regex, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_regex.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.V_regex, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.V_regex.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        @Html.HiddenFor(m => m.Deleted)
                        @*
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Deleted) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Deleted, new { @class = "col-md-3 control-label  required-field" })
        <div class="row">
            <div class="col-md-4">
                <div class="input-icon right ">
                    <i id="faDeleted"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Deleted) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Deleted))"></i>
                    @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox"  })

               </div>
                    @Html.ValidationMessageFor(m => m.Deleted, null, new { @class = "help-block", @style = "color:red" })
                    <span class="help-inline"> @T("FormQuestionModel.Deleted.Hint")</span>
            </div>

         </div>
    </div>
                        *@
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{

    <div class="tab-pane" id="tab_FormQuestion_2">

        <div class="portlet box yellow-casablanca">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>@T("FormQuestionOption.list.header")
                </div>
                <div class="actions" style="float:left">

                    <a href="@Url.Action("CreateFormQuestionOption", "Form")?FormQuestionModelId=@Model.Id" class="btn btn-default btn-sm">
                        <i class="fa fa-plus"></i> @T("FormQuestionOption.list.add")
                    </a>


                    <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormQuestionOption', window.dataTableFormQuestionOptionOptions);">
                        <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                    </a>
                    <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                        <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                    </a>
                    <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                        <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                    </a>
                    <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                        <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                    </a>
                    <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                        <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                    </a>

                </div>
                <div class="tools" style="float:right">
                    <a href="" class="collapse"> </a>
                    @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                    *@
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">

                <!-- Filter Starts -->
                <div class="col-md-12">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption" style="cursor: pointer;">
                                <i class="fa fa-filter font-grey-gallery"></i>
                                <span class="caption-subject bold font-grey-gallery uppercase"> @T("Admin.Common.Searchbox") </span>
                                <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                            </div>
                            <div class="tools">
                                <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                                @*
                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    <a href="" class="reload"> </a>
                                *@
                                <a href="" class="fullscreen"> </a>
                                <a href="" class="remove"> </a>
                            </div>
                        </div>
                        <div class="portlet-body portlet-collapsed">
                            @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                            <div>
                                <div class="container container-fluid">
                                    <div class="row" style="display: table">


                                        <div class="col-md-3" role="form" style="display: table-cell;float: none;">


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Derived_id, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.DropDownListFor(x => x.Filter_FormQuestionOptionModel.Derived_id, Model.Filter_FormQuestionOptionModel.Derived_id_FormQuestionOption_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Derived_id.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Code, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Code, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Code.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Title, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Title, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Title.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Hint, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Hint, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Hint.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Description, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Description, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Description.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Version, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Version, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Version.Placeholder"), data_val = false })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3" role="form" style="display: table-cell;float: none;">


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Image_path, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Image_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Image_path.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Device_image_path, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Device_image_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Device_image_path.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Estimated_time, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Estimated_time.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Video_path, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Video_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Video_path.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Device_video_path, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Device_video_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Device_video_path.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Method, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Method, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Method.Placeholder"), data_val = false })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3" role="form" style="display: table-cell;float: none;">


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Display_order, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Display_order.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Period, new { @class = "control-label " })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                                    @Html.TextBoxFor(x => x.Filter_FormQuestionOptionModel.Period, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Filter_FormQuestionOptionModel.Period.Placeholder"), data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Active, new { @class = "control-label " })
                                                <div class="input-group">
                                                    @Html.CheckBoxFor(x => x.Filter_FormQuestionOptionModel.Active, new { @class = "mt-checkbox", data_val = false })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.AresLabelFor(m => m.Filter_FormQuestionOptionModel.Deleted, new { @class = "control-label " })
                                                <div class="input-group">
                                                    @Html.CheckBoxFor(x => x.Filter_FormQuestionOptionModel.Deleted, new { @class = "mt-checkbox", data_val = false })
                                                </div>
                                            </div>

                                        </div>




                                        <div role="form" style="display: table-cell;float: none;vertical-align:bottom">
                                            <div class="btn-toolbar ">
                                                <button value="Search" type="submit" tabindex="4" form="form_search" id="btnFilterFormQuestionOption" class="btn green">
                                                    <i class="fa fa-search"></i>
                                                    @T("Admin.Common.Search")
                                                </button>
                                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormQuestionOption" class="btn default">
                                                    <i class="fa fa-times"></i>
                                                    @T("Admin.Common.Reset")
                                                </button>

                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                </div>
                <!-- Filter End -->


                <div class='row'><div class='col-md-12'><hr></div></div>


                <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableFormQuestionOption">
                    <thead>
                        <tr>


                            <th> @T("FormQuestionOption.list.column.Id") </th>
@*
        <th> @T("FormQuestionOption.list.column.Derived_id_Text") </th>
                            <th> @T("FormQuestionOption.list.column.Estimated_time") </th>
                            <th> @T("FormQuestionOption.list.column.Hint") </th>
                            <th> @T("FormQuestionOption.list.column.Description") </th>
                            <th> @T("FormQuestionOption.list.column.Version") </th>
                            <th> @T("FormQuestionOption.list.column.Image_path") </th>
                            <th> @T("FormQuestionOption.list.column.Device_image_path") </th>
                            <th> @T("FormQuestionOption.list.column.Video_path") </th>
                            <th> @T("FormQuestionOption.list.column.Device_video_path") </th>
                            <th> @T("FormQuestionOption.list.column.Method") </th>
                            <th> @T("FormQuestionOption.list.column.Period") </th>
                            <th> @T("FormQuestionOption.list.column.Deleted") </th>
*@
                            <th> @T("FormQuestionOption.list.column.Code") </th>
                            <th> @T("FormQuestionOption.list.column.Title") </th>
                            <th> @T("FormQuestionOption.list.column.Display_order") </th>
                            <th> @T("FormQuestionOption.list.column.Active") </th>
                            
                            <th> @T("FormQuestionOption.list.column.actions") </th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

    <div class="tab-pane" id="tab_FormQuestion_3">
        @{
            TempData["Entity_name"] = "Formquestion";
            TempData["Entity_property"] = "Files";
            TempData["Entity_id"] = Model.Id;

            Ares.Web.Models.Media.FilesModel model = new Ares.Web.Models.Media.FilesModel();
            //model. = _roleSvc.GetAll().ToList().Select(x => x.ToModel()).ToList();
            model.Entity_name = TempData["Entity_name"].ToString();
            model.Entity_property = TempData["Entity_property"].ToString();
            model.Entity_id = Convert.ToInt32(TempData["Entity_id"].ToString());
            //Html.RenderAction("List", "Files");
            Html.RenderPartial("~/Views/Files/List.cshtml", model);
        }

    </div>
@*
        <div class="tab-pane" id="tab_FormQuestion_4">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("FormAnswer.list.header")
                    </div>
                    <div class="actions" style="float:left">
                    
                        <a href="@Url.Action("CreateFormAnswer", "Form")?FormQuestionModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("FormAnswer.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormAnswer', window.dataTableFormAnswerOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                     
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a>
                       
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
               
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Device_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Device_id, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Device_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Udid, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Udid, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Udid.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Username, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Username, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Username.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Answer, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Answer.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerModel.Long_answer, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerModel.Long_answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_FormAnswerModel.Long_answer.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormAnswer" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormAnswer" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableFormAnswer">
                        <thead>
                            <tr>
                                   
                                
                                <th> @T("FormAnswer.list.column.Id") </th>
                        
                                <th> @T("FormAnswer.list.column.Device_id") </th>
                                <th> @T("FormAnswer.list.column.Udid") </th>
                                <th> @T("FormAnswer.list.column.Username") </th>
                                <th> @T("FormAnswer.list.column.Answer") </th>
                                <th> @T("FormAnswer.list.column.Long_answer") </th>
                        
                                
                                <th> @T("FormAnswer.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
 *@
}
     </div>
 </div>



<style>
    .note-editor {
        font-family: Arial;
        font-size: 10pt;
    }
    /* https://forum.opencart.com/viewtopic.php?t=134648 */
</style>

<script>
    jQuery(document).ready(function ($) {
        var HelloButton = function (context) {
            var ui = $.summernote.ui;

            // create button
            var button = ui.button({
                contents: '<i class="fa fa-child"/> Hello',
                tooltip: 'hello',
                click: function () {
                    // invoke insertText method with 'hello' on editor module.
                    context.invoke('editor.insertText', 'hello');
                }
            });

            return button.render();   // return button as jquery object
        }


        prepareSummerNotes();

        @if(Model.Id > 0)
        {
            <text>
            $("#Eq_channel_id").select2();
            </text>
        }
        
    });

</script>


