﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Form_question_option;
@model FormQuestionOptionModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_FormQuestionOption_1" data-toggle="tab"> @T("Admin.FormQuestionOption.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_FormQuestionOption_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("FormQuestionOption.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
@Html.HiddenFor(m => m.Form_question_id)


                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Code) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Code, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCode"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Code) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Code))"></i>
                                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Code.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Code, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionOptionModel.Code.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Title) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Title, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faTitle"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Title) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Title))"></i>
                                        @Html.TextAreaFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Title.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionOptionModel.Title.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Hint) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Hint, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faHint"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Hint) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Hint))"></i>
                                        @Html.TextAreaFor(x => x.Hint, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Hint.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Hint, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionOptionModel.Hint.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionOptionModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        @Html.HiddenFor(m => m.Version)
                        @Html.HiddenFor(m => m.Image_path)
                        @Html.HiddenFor(m => m.Device_image_path)
                        @Html.HiddenFor(m => m.Estimated_time)
                        @Html.HiddenFor(m => m.Video_path)
                        @Html.HiddenFor(m => m.Device_video_path)
                        @Html.HiddenFor(m => m.Method)
                        @Html.HiddenFor(m => m.Period)
                        @Html.HiddenFor(m => m.Deleted)

                                                                        @*
        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Version) ? "has-error" : "")">
            @Html.AresLabelFor(m => m.Version, new { @class = "col-md-3 control-label " })
            <div class="row">
                <div class="col-md-4">
                    <div class="input-icon right ">
                        <i id="faVersion"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Version) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Version))"></i>
                        @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Version.Placeholder") })

                   </div>
                        @Html.ValidationMessageFor(m => m.Version, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("FormQuestionOptionModel.Version.Hint")</span>
                </div>

             </div>
        </div>
        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Image_path) ? "has-error" : "")">
            @Html.AresLabelFor(m => m.Image_path, new { @class = "col-md-3 control-label " })
            <div class="row">
                <div class="col-md-8">
                    <div class="input-icon right ">
                        <i id="faImage_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Image_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Image_path))"></i>
                        @Html.TextAreaFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Image_path.Placeholder") })

                   </div>
                        @Html.ValidationMessageFor(m => m.Image_path, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("FormQuestionOptionModel.Image_path.Hint")</span>
                </div>

             </div>
        </div>
        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_image_path) ? "has-error" : "")">
            @Html.AresLabelFor(m => m.Device_image_path, new { @class = "col-md-3 control-label " })
            <div class="row">
                <div class="col-md-8">
                    <div class="input-icon right ">
                        <i id="faDevice_image_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_image_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_image_path))"></i>
                        @Html.TextAreaFor(x => x.Device_image_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Device_image_path.Placeholder") })

                   </div>
                        @Html.ValidationMessageFor(m => m.Device_image_path, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("FormQuestionOptionModel.Device_image_path.Hint")</span>
                </div>

             </div>
        </div>
        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Estimated_time) ? "has-error" : "")">
            @Html.AresLabelFor(m => m.Estimated_time, new { @class = "col-md-3 control-label " })
            <div class="row">
                <div class="col-md-4">
                    <div class="input-icon right ">
                        <i id="faEstimated_time"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Estimated_time) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Estimated_time))"></i>
                        @Html.TextBoxFor(x => x.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Estimated_time.Placeholder") })

                   </div>
                        @Html.ValidationMessageFor(m => m.Estimated_time, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("FormQuestionOptionModel.Estimated_time.Hint")</span>
                </div>

             </div>
        </div>
        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Video_path) ? "has-error" : "")">
            @Html.AresLabelFor(m => m.Video_path, new { @class = "col-md-3 control-label " })
            <div class="row">
                <div class="col-md-8">
                    <div class="input-icon right ">
                        <i id="faVideo_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Video_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Video_path))"></i>
                        @Html.TextAreaFor(x => x.Video_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Video_path.Placeholder") })

                   </div>
                        @Html.ValidationMessageFor(m => m.Video_path, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("FormQuestionOptionModel.Video_path.Hint")</span>
                </div>

             </div>
        </div>
        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_video_path) ? "has-error" : "")">
            @Html.AresLabelFor(m => m.Device_video_path, new { @class = "col-md-3 control-label " })
            <div class="row">
                <div class="col-md-8">
                    <div class="input-icon right ">
                        <i id="faDevice_video_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_video_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_video_path))"></i>
                        @Html.TextAreaFor(x => x.Device_video_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Device_video_path.Placeholder") })

                   </div>
                        @Html.ValidationMessageFor(m => m.Device_video_path, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("FormQuestionOptionModel.Device_video_path.Hint")</span>
                </div>

             </div>
        </div>
        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Method) ? "has-error" : "")">
            @Html.AresLabelFor(m => m.Method, new { @class = "col-md-3 control-label " })
            <div class="row">
                <div class="col-md-4">
                    <div class="input-icon right ">
                        <i id="faMethod"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Method) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Method))"></i>
                        @Html.TextBoxFor(x => x.Method, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Method.Placeholder") })

                   </div>
                        @Html.ValidationMessageFor(m => m.Method, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("FormQuestionOptionModel.Method.Hint")</span>
                </div>

             </div>
        </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Period) ? "has-error" : "")">
                                @Html.AresLabelFor(m => m.Period, new { @class = "col-md-3 control-label " })
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="input-icon right ">
                                            <i id="faPeriod"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Period) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Period))"></i>
                                            @Html.TextAreaFor(x => x.Period, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Period.Placeholder") })

                                       </div>
                                            @Html.ValidationMessageFor(m => m.Period, null, new { @class = "help-block", @style = "color:red" })
                                            <span class="help-inline"> @T("FormQuestionOptionModel.Period.Hint")</span>
                                    </div>

                                 </div>
                            </div>
                                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Deleted) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Deleted, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDeleted"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Deleted) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Deleted))"></i>
                                        @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox"  })

                                   </div>
                                        @Html.ValidationMessageFor(m => m.Deleted, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionOptionModel.Deleted.Hint")</span>
                                </div>

                             </div>
                        </div>
                                                                        *@
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_order"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Display_order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionOptionModel.Display_order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionOptionModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>






