﻿@using AssetHealth.Models.Form_question;
@model FormQuestionModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.FormQuestion.EditFormQuestionDetails").Text;
}
@using (Html.BeginForm("EditFormQuestion", "Form", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.FormQuestion.EditFormQuestionDetails") - @Model.Title
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "Edit/" + Model.Form_id)
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteFormQuestion", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateFormQuestion", Model)
}

 
 @section jQueryOnReadyScripts {
 
    @*
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswer", "ListFormAnswerDatatable", "Form", null, true, new { FormQuestionModelId = Model.Id }, "dataTableFormAnswer").AddColumn("Id")
                                        .AddColumn("Device_id")
                                        .AddColumn("Udid")
                                        .AddColumn("Username")
                                        .AddColumn("Answer")
                                        .AddColumn("Long_answer")

    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormAnswer", "Form") + "/' + full.Id , full.Id, true,  true, 'FormAnswer') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'responsive' : false ")
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());

    window.dataTableFormAnswerOptions = dataTableFormAnswerOptions;

    $('#btnFilterFormAnswer').click(function () {
                        dataTableFormAnswer.column('Device_id:name').search($('#Filter_FormAnswerModel_Device_id').val().trim());
                        dataTableFormAnswer.column('Udid:name').search($('#Filter_FormAnswerModel_Udid').val().trim());
                        dataTableFormAnswer.column('Username:name').search($('#Filter_FormAnswerModel_Username').val().trim());
                        dataTableFormAnswer.column('Answer:name').search($('#Filter_FormAnswerModel_Answer').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswer.draw();
            });


                $('#btnResetFormAnswer').click(function () {

                    resetDatatableSearch('dataTableFormAnswer');

                });



    @(Url.Datatables().CreateDatatable("#dataTableFormQuestion", "ListFormQuestionDatatable", "Form", null, true, new { FormQuestionModelId = Model.Id }, "dataTableFormQuestion").AddColumn("Id")
                                        .AddColumn("Category_id_Text")
                                        .AddColumn("Type_id_Text")
                                        .AddColumn("Form_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        .AddColumn("Display_order")
                                        .AddColumn("Step")
                                        .AddColumn("Period")
                                        .AddCustomJavascriptColumn("V_required", " return full.V_required ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("V_email")
                                        .AddColumn("V_min_length")
                                        .AddColumn("V_max_length")
                                        .AddColumn("V_regex")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")

    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestion", "Form") + "/' + full.Id , full.Id, true,  true, 'FormQuestion') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'responsive' : false ")
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());

    window.dataTableFormQuestionOptions = dataTableFormQuestionOptions;

    $('#btnFilterFormQuestion').click(function () {
                        dataTableFormQuestion.column('Category_id:name').search($('#Filter_FormQuestionModel_Category_id').val().trim());
                        dataTableFormQuestion.column('Type_id:name').search($('#Filter_FormQuestionModel_Type_id').val().trim());
                        dataTableFormQuestion.column('Form_id:name').search($('#Filter_FormQuestionModel_Form_id').val().trim());
                        dataTableFormQuestion.column('Code:name').search($('#Filter_FormQuestionModel_Code').val().trim());
                        dataTableFormQuestion.column('Title:name').search($('#Filter_FormQuestionModel_Title').val().trim());
                        dataTableFormQuestion.column('Hint:name').search($('#Filter_FormQuestionModel_Hint').val().trim());
                        dataTableFormQuestion.column('Description:name').search($('#Filter_FormQuestionModel_Description').val().trim());
                        dataTableFormQuestion.column('Version:name').search($('#Filter_FormQuestionModel_Version').val().trim());
                        dataTableFormQuestion.column('Image_path:name').search($('#Filter_FormQuestionModel_Image_path').val().trim());
                        dataTableFormQuestion.column('Device_image_path:name').search($('#Filter_FormQuestionModel_Device_image_path').val().trim());
                        dataTableFormQuestion.column('Estimated_time:name').search($('#Filter_FormQuestionModel_Estimated_time').val().trim());
                        dataTableFormQuestion.column('Video_path:name').search($('#Filter_FormQuestionModel_Video_path').val().trim());
                        dataTableFormQuestion.column('Device_video_path:name').search($('#Filter_FormQuestionModel_Device_video_path').val().trim());
                        dataTableFormQuestion.column('Method:name').search($('#Filter_FormQuestionModel_Method').val().trim());
                        dataTableFormQuestion.column('Display_order:name').search($('#Filter_FormQuestionModel_Display_order').val().trim());
                        dataTableFormQuestion.column('Step:name').search($('#Filter_FormQuestionModel_Step').val().trim());
                        dataTableFormQuestion.column('Period:name').search($('#Filter_FormQuestionModel_Period').val().trim());
                        dataTableFormQuestion.column('V_required:name').search($('#Filter_FormQuestionModel_V_required').prop('checked'));
                        dataTableFormQuestion.column('V_email:name').search($('#Filter_FormQuestionModel_V_email').val().trim());
                        dataTableFormQuestion.column('V_min_length:name').search($('#Filter_FormQuestionModel_V_min_length').val().trim());
                        dataTableFormQuestion.column('V_max_length:name').search($('#Filter_FormQuestionModel_V_max_length').val().trim());
                        dataTableFormQuestion.column('V_regex:name').search($('#Filter_FormQuestionModel_V_regex').val().trim());
                        dataTableFormQuestion.column('Active:name').search($('#Filter_FormQuestionModel_Active').prop('checked'));
                        dataTableFormQuestion.column('Deleted:name').search($('#Filter_FormQuestionModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestion.draw();
            });


                $('#btnResetFormQuestion').click(function () {

                    resetDatatableSearch('dataTableFormQuestion');

                });






    @(Url.Datatables().CreateDatatable("#dataTableFormQuestionOption", "ListFormQuestionOptionDatatable", "Form", null, true, new { FormQuestionModelId = Model.Id }, "dataTableFormQuestionOption").AddColumn("Id")
                                        //.AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        /*.AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        */
                                        .AddColumn("Display_order")
                                        //.AddColumn("Period")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    //.AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")

    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestionOption", "Form") + "/' + full.Id , full.Id, true,  true, 'FormQuestionOption') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'responsive' : false ")
    //.AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());

    window.dataTableFormQuestionOptionOptions = dataTableFormQuestionOptionOptions;

    $('#btnFilterFormQuestionOption').click(function () {
                        dataTableFormQuestionOption.column('Derived_id:name').search($('#Filter_FormQuestionOptionModel_Derived_id').val().trim());
                        dataTableFormQuestionOption.column('Code:name').search($('#Filter_FormQuestionOptionModel_Code').val().trim());
                        dataTableFormQuestionOption.column('Title:name').search($('#Filter_FormQuestionOptionModel_Title').val().trim());
                        dataTableFormQuestionOption.column('Hint:name').search($('#Filter_FormQuestionOptionModel_Hint').val().trim());
                        dataTableFormQuestionOption.column('Description:name').search($('#Filter_FormQuestionOptionModel_Description').val().trim());
                        dataTableFormQuestionOption.column('Version:name').search($('#Filter_FormQuestionOptionModel_Version').val().trim());
                        dataTableFormQuestionOption.column('Image_path:name').search($('#Filter_FormQuestionOptionModel_Image_path').val().trim());
                        dataTableFormQuestionOption.column('Device_image_path:name').search($('#Filter_FormQuestionOptionModel_Device_image_path').val().trim());
                        dataTableFormQuestionOption.column('Estimated_time:name').search($('#Filter_FormQuestionOptionModel_Estimated_time').val().trim());
                        dataTableFormQuestionOption.column('Video_path:name').search($('#Filter_FormQuestionOptionModel_Video_path').val().trim());
                        dataTableFormQuestionOption.column('Device_video_path:name').search($('#Filter_FormQuestionOptionModel_Device_video_path').val().trim());
                        dataTableFormQuestionOption.column('Method:name').search($('#Filter_FormQuestionOptionModel_Method').val().trim());
                        dataTableFormQuestionOption.column('Display_order:name').search($('#Filter_FormQuestionOptionModel_Display_order').val().trim());
                        dataTableFormQuestionOption.column('Period:name').search($('#Filter_FormQuestionOptionModel_Period').val().trim());
                        dataTableFormQuestionOption.column('Active:name').search($('#Filter_FormQuestionOptionModel_Active').prop('checked'));
                        dataTableFormQuestionOption.column('Deleted:name').search($('#Filter_FormQuestionOptionModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestionOption.draw();
            });


                $('#btnResetFormQuestionOption').click(function () {

                    resetDatatableSearch('dataTableFormQuestionOption');

                });

    *@
 
       setTimeout(function(){
        $('a[href="#tab_FormQuestion_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/FormQuestion-input-mask.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
<script src="~/Content/assets/pages/scripts/ui-sweetalert.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-summernote/summernote.js" type="text/javascript"></script>

}


@{
    Html.AddCssFileParts("~/Content/assets/global/plugins/bootstrap-sweetalert/sweetalert.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/bootstrap-summernote/summernote.css");

}