﻿@using AssetHealth.Models.Form;
@model FormModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Form.EditFormDetails").Text;
}
@using (Html.BeginForm("Edit", "Form", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Form.EditFormDetails") - @Model.Title
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <a name="sync" class="btn green" onclick="showJqueryUIPopup('/Synchronization/SyncPopup/@Model.Id');">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SyncPopup")
            </a>
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableForm", "ListFormDatatable", "Form", null, true, new { FormModelId = Model.Id }, "dataTableForm").AddColumn("Id")
                                        .AddColumn("Category_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Display_order")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditForm", "Form") + "/' + full.Id , full.Id, true,  true, 'Form') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormOptions = dataTableFormOptions; 
    
    $('#btnFilterForm').click(function () {
                        dataTableForm.column('Category_id_Text:name').search($('#Filter_FormModel_Category_id').val().trim());
                        dataTableForm.column('Code:name').search($('#Filter_FormModel_Code').val().trim());
                        dataTableForm.column('Title:name').search($('#Filter_FormModel_Title').val().trim());
                        /*dataTableForm.column('Description:name').search($('#Filter_FormModel_Description').val().trim());
                        dataTableForm.column('Version:name').search($('#Filter_FormModel_Version').val().trim());
                        dataTableForm.column('Image_path:name').search($('#Filter_FormModel_Image_path').val().trim());
     dataTableForm.column('Deleted:name').search($('#Filter_FormModel_Deleted').prop('checked'));
                        dataTableForm.column('Display_order:name').search($('#Filter_FormModel_Display_order').val().trim());
     */
                        dataTableForm.column('Active:name').search($('#Filter_FormModel_Active').prop('checked'));
                        
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableForm.draw();
            });
            
            
                $('#btnResetForm').click(function () {

                    resetDatatableSearch('dataTableForm');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestion", "ListFormQuestionDatatable", "Form", null, true, new { FormModelId = Model.Id }, "dataTableFormQuestion").AddColumn("Id")
                                        .AddColumn("Category_id_Text")
                                        .AddColumn("Type_id_Text")
                                        .AddColumn("Period_Text")
                                        //.AddColumn("Code")
                                        .AddCustomJavascriptColumn("", "return getDatatableImageGalleryString(full.Code, full.ImageGallery)")
                                        .AddColumn("Title")
                                        .AddColumn("Display_order")
                                        /*.AddColumn("Derived_id_Text")
                                        
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        .AddColumn("Step")
                                        .AddColumn("Period")
                                        .AddCustomJavascriptColumn("V_required", " return full.V_required ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("V_email")
                                        .AddColumn("V_min_length")
                                        .AddColumn("V_max_length")
                                        .AddColumn("V_regex")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        */
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")

    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestion", "Form") + "/' + full.Id , full.Id, true,  true, 'FormQuestion') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .AddAttribute("'scrollX' :  true ")
    .Initialize());
    
    window.dataTableFormQuestionOptions = dataTableFormQuestionOptions; 
    
    $('#btnFilterFormQuestion').click(function () {
                        dataTableFormQuestion.column('Category_id_Text:name').search($('#Filter_FormQuestionModel_Category_id').val().trim());
                        dataTableFormQuestion.column('Type_id_Text:name').search($('#Filter_FormQuestionModel_Type_id').val().trim());
                        //dataTableFormQuestion.column('Derived_id:name').search($('#Filter_FormQuestionModel_Derived_id').val().trim());
                        dataTableFormQuestion.column('Code:name').search($('#Filter_FormQuestionModel_Code').val().trim());
                        dataTableFormQuestion.column('Title:name').search($('#Filter_FormQuestionModel_Title').val().trim());
                        /*dataTableFormQuestion.column('Hint:name').search($('#Filter_FormQuestionModel_Hint').val().trim());
                        dataTableFormQuestion.column('Description:name').search($('#Filter_FormQuestionModel_Description').val().trim());
                        dataTableFormQuestion.column('Version:name').search($('#Filter_FormQuestionModel_Version').val().trim());
                        dataTableFormQuestion.column('Image_path:name').search($('#Filter_FormQuestionModel_Image_path').val().trim());
                        dataTableFormQuestion.column('Device_image_path:name').search($('#Filter_FormQuestionModel_Device_image_path').val().trim());
                        dataTableFormQuestion.column('Estimated_time:name').search($('#Filter_FormQuestionModel_Estimated_time').val().trim());
                        dataTableFormQuestion.column('Video_path:name').search($('#Filter_FormQuestionModel_Video_path').val().trim());
                        dataTableFormQuestion.column('Device_video_path:name').search($('#Filter_FormQuestionModel_Device_video_path').val().trim());
                        dataTableFormQuestion.column('Method:name').search($('#Filter_FormQuestionModel_Method').val().trim());
                        dataTableFormQuestion.column('Display_order:name').search($('#Filter_FormQuestionModel_Display_order').val().trim());
                        dataTableFormQuestion.column('Step:name').search($('#Filter_FormQuestionModel_Step').val().trim());
                        dataTableFormQuestion.column('Period:name').search($('#Filter_FormQuestionModel_Period').val().trim());
                        dataTableFormQuestion.column('V_required:name').search($('#Filter_FormQuestionModel_V_required').prop('checked'));
                        dataTableFormQuestion.column('V_email:name').search($('#Filter_FormQuestionModel_V_email').val().trim());
                        dataTableFormQuestion.column('V_min_length:name').search($('#Filter_FormQuestionModel_V_min_length').val().trim());
                        dataTableFormQuestion.column('V_max_length:name').search($('#Filter_FormQuestionModel_V_max_length').val().trim());
                        dataTableFormQuestion.column('V_regex:name').search($('#Filter_FormQuestionModel_V_regex').val().trim());
     dataTableFormQuestion.column('Deleted:name').search($('#Filter_FormQuestionModel_Deleted').prop('checked'));
     */
                        dataTableFormQuestion.column('Active:name').search($('#Filter_FormQuestionModel_Active').prop('checked'));
                        
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestion.draw();
            });
            
            
                $('#btnResetFormQuestion').click(function () {

                    resetDatatableSearch('dataTableFormQuestion');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_Form_@Model.SelectedTab"]').tab('show');
        }, 500);


        //$("#Eq_channel_id").select2();
  

 
}

@section beforeFooter{

<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/pages/Form-input-mask.js"></script>
}


