﻿

@using AssetHealth.Models.Form;

@model FormModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}
<div class="row">
    @if (WorkContext.IsAdmin)
    {
        <div class="pull-right" style="margin-right:25px;">
            <a name="sync" class="btn green" onclick="showJqueryUIPopup('/Form/fillEmptyJSONValues/');">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Form.fillEmptyJSONValues")
            </a>
            <a name="sync" class="btn green" onclick="showJqueryUIPopup('/Synchronization/SyncPopup/@Model.Id');">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SyncPopup")
            </a>
        </div>
    }
</div>
<br />

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("Form.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "Form")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("Form.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableForm', window.dataTableFormOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_EqLocation_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Filter_EqLocation_Text, Model.Filter_EqLocation_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormModel.Category_id.Placeholder"), data_val = false })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Role_id_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Role_id_Text, Model.Role_id_Role_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormModel.Category_id.Placeholder"), data_val = false })
                            </div>
                        </div>

                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Category_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Category_id, Model.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormModel.Category_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Derived_id, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownListFor(x => x.Derived_id, Model.Derived_id_Form_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormModel.Derived_id.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                        
                            
                            
                        

                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Code, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormModel.Code.Placeholder"), data_val = false })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Title, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormModel.Title.Placeholder"), data_val = false })
                            </div>
                        </div>
                    
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormModel.Description.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Version, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormModel.Version.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Image_path, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("FormModel.Image_path.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        

                            
                                                @*
                                                            <div class="form-group">
                                    @Html.AresLabelFor(m => m.Deleted, new { @class = "control-label " })
                                    <div class="input-group">
                                            @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox" , data_val=false })
                                    </div>
                                </div>
        <div class="form-group">
            @Html.AresLabelFor(m => m.Display_order, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormModel.Display_order.Placeholder"), data_val=false })
            </div>
        </div>
                                                *@
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterForm" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetForm" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableForm" style="width:100%">
            <thead>
                <tr>
                                                            @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>
        <th> @T("Form.list.column.Description") </th>
        <th> @T("Form.list.column.Derived_id") </th>
                                                            *@
                    <th> @T("Form.list.column.Id") </th>
            
                    <th> @T("Form.list.column.Filter_EqLocation_Text") </th>
                    <th> @T("Form.list.column.Role_id_Text") </th>
                    <th> @T("Form.list.column.Category_id") </th>
                    <th> @T("Form.list.column.Period_Text") </th>
                    
                    <th> @T("Form.list.column.Code") </th>
                    <th> @T("Form.list.column.Title") </th>
                    
                    <th> @T("Form.list.column.Version") </th>
                    <th> @T("Form.list.column.Image_path") </th>
                    <th> @T("Form.list.column.Active") </th>
                    <th> @T("Form.list.column.Deleted") </th>
                    
                    <th> @T("Form.list.column.Display_order") </th>
            
                    
                    <th> @T("Form.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTableForm", "ListFormDatatable", "Form", null, true, null, "dataTableForm").AddColumn("Id")
                                        .AddColumn("Filter_EqLocation_Text")
                                        .AddColumn("Role_id_Text")
                                        .AddColumn("Category_id_Text")
                                        .AddColumn("Period_Text")
                                        //.AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        //.AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        
                                        .AddColumn("Display_order")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "Form") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    //.AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormOptions = dataTableFormOptions;

                 $('#btnFilterForm').click(function () {
                        dataTableForm.column('Filter_EqLocation_Text:name').search($('#Filter_EqLocation_Text').val().trim());
                        dataTableForm.column('Role_id_Text:name').search($('#Role_id_Text').val().trim());
                        dataTableForm.column('Category_id_Text:name').search($('#Category_id').val().trim());
                        

                        /*dataTableForm.column('Derived_id:name').search($('#Derived_id').val().trim());
                        dataTableForm.column('Code:name').search($('#Code').val().trim());
                            dataTableForm.column('Description:name').search($('#Description').val().trim());
                        dataTableForm.column('Version:name').search($('#Version').val().trim());
                        dataTableForm.column('Image_path:name').search($('#Image_path').val().trim());
                            dataTableForm.column('Deleted:name').search($('#Deleted').prop('checked'));
                        dataTableForm.column('Display_order:name').search($('#Display_order').val().trim());
                        */
                        dataTableForm.column('Title:name').search($('#Title').val().trim());

                        dataTableForm.column('Active:name').search($('#Active').prop('checked'));
                        
    

                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableForm.draw();
            });
            
            
                $('#btnResetForm').click(function () {

                    resetDatatableSearch('dataTableForm');

                });
}


