﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.County;
@model CountyModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_County_1" data-toggle="tab"> @T("Admin.County.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_County_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("County.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Name, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faName"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Name))"></i>
                                        @Html.TextAreaFor(x => x.Name, new { @class = "form-control", @placeholder = T("CountyModel.Name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CountyModel.Name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Abbreviation) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Abbreviation, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faAbbreviation"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Abbreviation) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Abbreviation))"></i>
                                        @Html.TextAreaFor(x => x.Abbreviation, new { @class = "form-control", @placeholder = T("CountyModel.Abbreviation.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Abbreviation, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CountyModel.Abbreviation.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Published) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Published, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPublished"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Published) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Published))"></i>
                                        @Html.CheckBoxFor(x => x.Published, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Published, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CountyModel.Published.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_order"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("CountyModel.Display_order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CountyModel.Display_order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Code) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Code, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faCode"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Code) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Code))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Code, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CountyModel.Code.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
@Html.HiddenFor(m => m.Stateprovince_id)
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>





