﻿@using Ares.Web.Models.County;
@model CountyModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.County.EditCountyDetails").Text;
}
@using (Html.BeginForm("EditCounty", "Stateprovince", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.County.EditCountyDetails") - @Model.Name
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "Edit/" + Request.QueryString["StateprovinceModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteCounty", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateCounty", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
 
       setTimeout(function(){
        $('a[href="#tab_County_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/County-input-mask.js"></script>
}


