﻿@using Ares.Web.Models.Stateprovince;
@model StateprovinceModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Stateprovince.EditStateprovinceDetails").Text;
}
@using (Html.BeginForm("Edit", "Stateprovince", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Stateprovince.EditStateprovinceDetails") - @Model.Name
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableCounty", "ListCountyDatatable", "Stateprovince", null, true, new { StateprovinceModelId = Model.Id }, "dataTableCounty").AddColumn("Id")
                                        .AddColumn("Name")
                                        .AddColumn("Abbreviation")
                                        .AddCustomJavascriptColumn("Published", " return full.Published ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Display_order")
                                        .AddColumn("Code")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditCounty", "Stateprovince") + "/' + full.Id , full.Id, true,  true, 'County') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableCountyOptions = dataTableCountyOptions; 
    
    $('#btnFilterCounty').click(function () {
                        dataTableCounty.column('Name:name').search($('#Filter_CountyModel_Name').val().trim());
                        dataTableCounty.column('Abbreviation:name').search($('#Filter_CountyModel_Abbreviation').val().trim());
                        dataTableCounty.column('Published:name').search($('#Filter_CountyModel_Published').prop('checked'));
                        dataTableCounty.column('Display_order:name').search($('#Filter_CountyModel_Display_order').val().trim());
                        dataTableCounty.column('Code:name').search($('#Filter_CountyModel_Code').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableCounty.draw();
            });
            
            
                $('#btnResetCounty').click(function () {

                    resetDatatableSearch('dataTableCounty');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_Stateprovince_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/Stateprovince-input-mask.js"></script>
}


