﻿.required-field:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 10px;
    top: 0px;
}

/*
.portlet-body {
    overflow-x:auto;
    position: relative;
    
}
    */
.portlet-fullscreen {
        overflow-x:auto;
    position: relative;
}
.form-body {
    /*padding:20px*/
}

.portlet-title {
    /*padding:20px*/
}

/* Datatable Responsive Plugin z-order must be greater than bootstrap fullscreen z-order (10060) */
    div.dtr-modal {
        z-index: 10070;
    }
    /* div.dt-button-collection.fixed.six-column */
    .fixed.two-column{
         z-index: 10070;
    }
    /*
    .modal {
   }
  .page-portlet-fullscreen .modal { }

        .page-container   {
        overflow-x:scroll ;
    position: relative;
   }
        */
    
    
    .qtipClass {
            border-color: red;
            background-color: #ddd;
            height: 30px;
        }

        .qtip-bootstrap {
            background-color: #ddd;
            z-index: 10070 !important;
        }

        .ui-dialog { z-index: 10071 !important ;}

        /* bootstrap tooltip which is initialized with $(document).tooltip(); in Ares.js */
        .tooltip{
              z-index: 10072 !important;
            }

.select2-dropdown {
  z-index: 10071;
}

/* Image Orientation */
.rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-270 {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);

                      max-width : 100%;
                    display : inline-block;
                    height: auto;
}

.flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-and-rotate-90 {
  -moz-transform: rotate(90deg) scaleX(-1);
  -webkit-transform: rotate(90deg) scaleX(-1);
  -o-transform: rotate(90deg) scaleX(-1);
  -ms-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1);
}

.flip-and-rotate-180 {
  -moz-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
  -o-transform: rotate(180deg) scaleX(-1);
  -ms-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
}

.flip-and-rotate-270 {
  -moz-transform: rotate(270deg) scaleX(-1);
  -webkit-transform: rotate(270deg) scaleX(-1);
  -o-transform: rotate(270deg) scaleX(-1);
  -ms-transform: rotate(270deg) scaleX(-1);
  transform: rotate(270deg) scaleX(-1);
}

.center-fit {
            height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vh;
    object-fit: contain;
    margin: auto;
        }


    /* does not work in chrome, works in Firefox  */
        img {
        image-orientation: from-image;
    }
        .slide {
            width:100%;
    overflow:auto;
        }


