﻿@using Ares.Web.Models.Org_unit;
@model OrgUnitModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.OrgUnit.EditOrgUnitDetails").Text;
}
@using (Html.BeginForm("Edit", "OrgUnit", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.OrgUnit.EditOrgUnitDetails") - @Model.Name
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableOrgUnit", "ListOrgUnitDatatable", "OrgUnit", null, true, new { OrgUnitModelId = Model.Id }, "dataTableOrgUnit").AddColumn("Id")
                                        .AddColumn("Name")
                                        .AddColumn("Systemname")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Display_order")
                                        .AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditOrgUnit", "OrgUnit") + "/' + full.Id , full.Id, true,  true, 'OrgUnit') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableOrgUnitOptions = dataTableOrgUnitOptions; 
    
    $('#btnFilterOrgUnit').click(function () {
                        dataTableOrgUnit.column('Name:name').search($('#Filter_OrgUnitModel_Name').val().trim());
                        dataTableOrgUnit.column('Systemname:name').search($('#Filter_OrgUnitModel_Systemname').val().trim());
                        dataTableOrgUnit.column('Active:name').search($('#Filter_OrgUnitModel_Active').prop('checked'));
                        dataTableOrgUnit.column('Deleted:name').search($('#Filter_OrgUnitModel_Deleted').prop('checked'));
                        dataTableOrgUnit.column('Display_order:name').search($('#Filter_OrgUnitModel_Display_order').val().trim());
                        dataTableOrgUnit.column('Description:name').search($('#Filter_OrgUnitModel_Description').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableOrgUnit.draw();
            });
            
            
                $('#btnResetOrgUnit').click(function () {

                    resetDatatableSearch('dataTableOrgUnit');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_OrgUnit_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/OrgUnit-input-mask.js"></script>
}


