﻿@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

}




<!-- BEGIN EXAMPLE TABLE PORTLET-->

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>İhale Grafiği
        </div>

    </div>
    <div class="portlet-body" style="height:100%">
        <h2>Göçmen Sağlık Merkezi Kurulması İhalesi</h2>
        <div id="dashboard_amchart_3" class="CSSAnimationChart"></div>
    <br/><br /><br /><br />
        <h2>Göçmenlere Ulaştırılan Sağlık Hizmetlerinin İyileştirilmesi Operasyonel Programı</h2>

        <div id="dashboard_amchart_1" class="CSSAnimationChart"></div>
        
           
            

    </div> <!-- [END] Portlet Body -->
</div>


@section beforeFooter{
    <!--
<link href="../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        -->

<script src="~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>

}




@section jQueryOnReadyScripts {



    var chartData = [{
                "date": "2014-01-01",
                "expense": 20,
                "townName": "İstanbul",
                "townName2": "İstanbul",
                "townSize": 10,
                "townTender": 5,
                "tender": 20
            }, {
                "date": "2015-01-01",
                "expense": 10,
                "townName": "Edirne",
                "townName2": "Edirne",
                "townSize": 7,
                "townTender": 3,
                "tender": 8
            }, {
                "date": "2016-01-01",
                "expense": 38,
                "townName": "Gaziantep",
                "townName2": "Gaziantep",
                "townSize": 10,
                "townTender": 8,
                "tender": 22
            }, {
                "date": "2017-01-01",
                "expense": 22,
                "townName": "Şanlıurfa",
                "townName2": "Şanlıurfa",
                "townSize": 16,
                "townTender": 3,
                "tender": 10
            }, {
                "date": "2018-01-01",
                "expense": 20,
                "townName": "Iğdır",
                "townName2": "Iğdır",
                "townSize": 17,
                "townTender": 2,
                "tender": 5
            }, {
                "date": "2019-01-01",
                "expense": 10,
                "townName": "Van",
                "townName2": "Van",
                "townSize": 11,
                "townTender": 1,
                "tender": 3
            }, {
                "date": "2020-01-01",
                "expense": 28,
                "townName": "Mersin",
                "townName2": "Mersin",
                "townSize": 10,
                "townTender": 12,
                "tender": 20,
                "bulletClass": "lastBullet"
            }];

    var chart = AmCharts.makeChart("dashboard_amchart_1", {
                type: "serial",
                fontSize: 12,
                fontFamily: "Open Sans",
                dataDateFormat: "YYYY-MM-DD",
                dataProvider: chartData,

                addClassNames: true,
                startDuration: 1,
                color: "#6c7b88",
                marginLeft: 0,

                categoryField: "date",
                categoryAxis: {
                    parseDates: true,
                    //minPeriod: "DD",
                    minPeriod: "YYYY",
                    autoGridCount: false,
                    gridCount: 50,
                    gridAlpha: 0.1,
                    gridColor: "#FFFFFF",
                    axisColor: "#555555",
                    dateFormats: [{
                        period: 'DD',
                        format: 'DD'
                    }, {
                        period: 'WW',
                        format: 'MMM DD'
                    }, {
                        period: 'MM',
                        format: 'MMM'
                    }, {
                        period: 'YYYY',
                        format: 'YYYY'
                    }]
                },

                valueAxes: [{
                    id: "a1",
                    title: "Harcama",
                    gridAlpha: 0,
                    axisAlpha: 0
                }, {
                    id: "a2",
                    position: "right",
                    gridAlpha: 0,
                    axisAlpha: 0,
                    labelsEnabled: false
                }, {
                    id: "a3",
                    title: "İhale",
                    position: "right",
                    gridAlpha: 0,
                    axisAlpha: 0,
                    inside: true,
    /*
                    duration: "mm",
                    durationUnits: {
                        DD: "d. ",
                        hh: "h ",
                        mm: "min",
                        ss: ""
                    }
    */
                }],
                graphs: [{
                    id: "g1",
                    valueField: "expense",
                    title: "Harcama",
                    type: "column",
                    fillAlphas: 0.7,
                    valueAxis: "a1",
                    balloonText: "[[value]] MİL EUR",
                    legendValueText: "[[value]] MİL",
                    legendPeriodValueText: "Toplam : [[value.sum]] MİL EUR",
                    lineColor: "#08a3cc",
                    alphaField: "alpha",
                }, {
                    id: "g2",
                    valueField: "townTender",
                    classNameField: "bulletClass",
                    title: "Şehir",
                    type: "line",
                    valueAxis: "a2",
                    lineColor: "#786c56",
                    lineThickness: 1,
                    legendValueText: "[[description]]/[[value]]",
                    descriptionField: "townName",
                    bullet: "round",
                    bulletSizeField: "townSize",
                    bulletBorderColor: "#02617a",
                    bulletBorderAlpha: 1,
                    bulletBorderThickness: 2,
                    bulletColor: "#89c4f4",
                    labelText: "[[townName2]]",
                    labelPosition: "right",
                    balloonText: "İhale Sayısı : [[value]]",
                    showBalloon: true,
                    animationPlayed: true,
                }, {
                    id: "g3",
                    title: "İhale",
                    valueField: "tender",
                    type: "line",
                    valueAxis: "a3",
                    lineAlpha: 0.8,
                    lineColor: "#e26a6a",
                    balloonText: "[[value]]",
                    lineThickness: 1,
                    legendValueText: "[[value]]",
                    bullet: "square",
                    bulletBorderColor: "#e26a6a",
                    bulletBorderThickness: 1,
                    bulletBorderAlpha: 0.8,
                    dashLengthField: "dashLength",
                    animationPlayed: true
                }],

                chartCursor: {
                    zoomable: false,
                    //categoryBalloonDateFormat: "DD",
                    categoryBalloonDateFormat: "YYYY",
                    cursorAlpha: 0,
                    categoryBalloonColor: "#e26a6a",
                    categoryBalloonAlpha: 0.8,
                    valueBalloonsEnabled: false
                },
                legend: {
                    bulletType: "round",
                    equalWidths: false,
                    valueWidth: 120,
                    useGraphSettings: true,
                    color: "#6c7b88"
                }
            });


    var chart2 = AmCharts.makeChart("dashboard_amchart_3", {
                "type": "serial",
                "addClassNames": true,
                "theme": "light",
                "path": "../assets/global/plugins/amcharts/ammap/images/",
                "autoMargins": false,
                "marginLeft": 30,
                "marginRight": 8,
                "marginTop": 10,
                "marginBottom": 26,
                "balloon": {
                    "adjustBorderColor": false,
                    "horizontalPadding": 10,
                    "verticalPadding": 8,
                    "color": "#ffffff"
                },

                "dataProvider": [{
                    "year": 2015,
                    "income": 23.5,
                    "expenses": 21.1,
                    "additional": "bin EUR"
                }, {
                    "year": 2016,
                    "income": 26.2,
                    "expenses": 30.5,
                    "additional": "bin EUR"
                }, {
                    "year": 2017,
                    "income": 30.1,
                    "expenses": 34.9,
                    "alpha": 0.2,
                    "additional": "bin EUR"
                }, {
                    "year": 2018,
                    "income": 29.5,
                    "expenses": 31.1,
                    "alpha": 0.2,
                    "additional": "bin EUR"
                }, {
                    "year": 2019,
                    "income": 34.1,
                    "expenses": 32.9,
                    "dashLengthColumn": 5,
                    "alpha": 0.2,
                    "additional": "bin EUR"
                }],
                "valueAxes": [{
                    "axisAlpha": 0,
                    "position": "left"
                }],
                "startDuration": 1,
                "graphs": [{
                    "alphaField": "alpha",
                    "balloonText": "<span style='font-size:12px;'>[[category]] yılında [[title]] :<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                    "fillAlphas": 1,
                    "title": "Ayrılan Bütçe",
                    "type": "column",
                    "valueField": "income",
                    "dashLengthField": "dashLengthColumn"
                }, {
                    "id": "graph2",
                    "balloonText": "<span style='font-size:12px;'>[[category]] yılında [[title]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                    "bullet": "round",
                    "lineThickness": 3,
                    "bulletSize": 7,
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "useLineColorForBulletBorder": true,
                    "bulletBorderThickness": 3,
                    "fillAlphas": 0,
                    "lineAlpha": 1,
                    "title": "Harcama",
                    "valueField": "expenses"
                }],
                "categoryField": "year",
                "categoryAxis": {
                    "gridPosition": "start",
                    "axisAlpha": 0,
                    "tickLength": 0
                },
                "export": {
                    "enabled": true
                }
            });

    
}