﻿@using AssetHealth.Models.Home;

@model DashboardModel



        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase"> @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                    @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
                        <div class="container container-fluid">
                            <div class="row" style="display: table">


                                <div class="col-md-10" role="form" style="display: table-cell;float: none;">


                                    <div class="form-group col-md-6">
                                        @Html.AresLabelFor(m => m.Filter_Location_Id, new { @class = "control-label " })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.DropDownListFor(x => x.Filter_Location_Id, Model.Filter_Location_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Filter_Location_Id" })
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        @T("DashboardModel.DateRange")
                                        <div class="input-group">
                                            <input type="text" id="dashboard-report-range" name="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="left" data-original-title="Change dashboard date range" />

                                            <input type="hidden" id="StartDate" name="StartDate"   />
                                            <input type="hidden" id="EndDate" name="EndDate"  />
                                            @*
    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
    <div id="dashboard-report-range" data-display-range="0" class="pull-right tooltips btn btn-fit-height green" data-placement="left" data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
        <span class="thin uppercase hidden-xs"></span>&nbsp;
        <i class="fa fa-angle-down"></i>
    </div>
                                            *@
                                        </div>
                                    </div>


                                    

                                    

                                </div>

 




                                <div role="form"  style="display: table-cell;float: none;vertical-align:bottom">
                                    <div class="btn-toolbar ">
                                        <button value="Search" type="submit" tabindex="4"  id="btnFilterForm" class="btn green">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                        <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetForm" class="btn default">
                                            <i class="fa fa-times"></i>
                                            @T("Admin.Common.Reset")
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->
