﻿@model AssetHealth.Models.Home.DashboardModel

@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

}




    @Html.Action("StatBoxGroup", "Home")
    <div class="row">
        @Html.Partial("~/Views/Demo/ChartBoxChangeStatistics.cshtml")
        @Html.Partial("~/Views/Demo/GeneralStatBox.cshtml")
        
    </div>
    <div class="row">
        @Html.Partial("~/Views/Demo/GridBox.cshtml", 0)
        @Html.Partial("~/Views/Demo/ChartBoxYesNo.cshtml")
    </div>
    @RenderPage("~/Views/Demo/InstitutionLayoutBox.cshtml")
    <div class="row">
        
        @Html.Partial("~/Views/Demo/UserActivityBox.cshtml")
        @Html.Partial("~/Views/Demo/ChartBoxPieChart.cshtml")
    </div>
    <div class="row">
        @Html.Partial("~/Views/Demo/FeedsListBox.cshtml")
        @Html.Partial("~/Views/Demo/FeedsCalendarBox.cshtml")
    </div>


@*
    <div class="portlet box yellow-casablanca">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>@T("Systems.Administrators.Homepage")
            </div>

        </div>
        <div class="portlet-body" style="height:500px">
            <p>

                @Html.Action("TopicBlock", "Topic", new { systemName = "Home" })


        </div> <!-- [END] Portlet Body -->
    </div>

*@



@section jQueryOnReadyScripts {
                $.fn.maphilight.defaults = {
                                                    fill: true,
                                                    fillColor: '000000',
                                                    fillOpacity: 0.2,
                                                    stroke: true,
                                                    strokeColor: 'ff0000',
                                                    strokeOpacity: 1,
                                                    strokeWidth: 1,
                                                    fade: true,
                                                    alwaysOn: false,
                                                    neverOn: false,
                                                    groupBy: false,
                                                    wrapClass: true,
                                                    shadow: false,
                                                    shadowX: 0,
                                                    shadowY: 20,
                                                    shadowRadius: 6,
                                                    shadowColor: '000000',
                                                    shadowOpacity: 0.8,
                                                    shadowPosition: 'outside',
                                                    shadowFrom: false
                                                }                


    $('.map').maphilight({fillOpacity: 1});


    qTipWarning('', -1);
    maphilightWarning('', -1);

    var audioElement = document.createElement('audio');
audioElement.setAttribute('src', '/Content/audio/2-ALARM.mp3');
audioElement.setAttribute('loop', 'loop');

var simulatiorActive = false;


    // ================================== Simülatör Ekranı
$('#btnAlarmSimulation').bind("click", function () {

    simulatiorActive = true;

    qTipWarning('', 2, 1);
    maphilightWarning(this.LocationName, 2);

    audioElement.play();

    $('#btnAlarmSimulation').hide();
    $('#btnAlarmSimulationStop').show();

});


$('#btnAlarmSimulationStop').bind("click", function () {

    qTipWarning('', -1);
    maphilightWarning('', -1);

    audioElement.pause();
    audioElement.currentTime = 0;

    $('#btnAlarmSimulation').show();
    $('#btnAlarmSimulationStop').hide();

    setTimeout(function () { poll() }, 30000)

});


    $("area").each(function () {

    $('area[alt="' + $(this).attr('alt') + '"]').bind("click", function (e) {
        e.preventDefault();

        var altText = $(this).attr('alt');
        var res = altText.split("#");

    var w = $(window).width();
var h = $(window).height();
    /*
    w= 470;
    h= 730;
    */
        var $dialog2 = $("<div>Lütfen bekleyiniz <img src='/Content/loading/spinner.gif' width='30'></div>")
            .addClass("dialog")
            .attr("id", $(this)
            .attr("data-dialog-id"))
            .appendTo("body")
            .dialog({
                //title: $(this).attr("data-dialog-title"),
                title: "Mahal No : " + res[0],
                //open: function (event, ui) { setTimeout(function () { $(this).dialog("close"); }, 1000) },
                close: function () { $(this).remove(); },
                modal: true,
                height: h,
                width: w,
                left: 0

            })
        .load("/Home/MapPopup?locationName=" + encodeURIComponent(res[0]));

        /*
        $.ajax({
            type: "GET",
            url: '/Sensor/MapPopup?locationName=' + $(this).attr('alt'),
            dataType: 'html',
            success: function (data) {
                $('#dialog').html(data);
            }
        });
        */
    });
});
}

@section beforeFooter{

<script src="~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>

<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/Scripts/pages/dashboard.demo.js"></script>
    <script type="text/javascript" src="~/Scripts/ares/jquery.maphilight.min.js"></script>
}