﻿@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

}




<!-- BEGIN EXAMPLE TABLE PORTLET-->

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>İhale Grafiği
        </div>

    </div>
    <div class="portlet-body" style="height:100%">
        <h2>Göçmen Sağlık Merkezi Kurulması İhalesi</h2>
        <div id="dashboard_amchart_3" class="CSSAnimationChart"></div>
    <br/><br /><br /><br />
        <h2>Göçmenlere Ulaştırılan Sağlık Hizmetlerinin İyileştirilmesi Operasyonel Programı</h2>

        <div id="dashboard_amchart_1" class="CSSAnimationChart"></div>
        
           
            

    </div> <!-- [END] Portlet Body -->
</div>


@section beforeFooter{
    <!--
<link href="../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        -->

<script src="~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>

}


