﻿@using AssetHealth.Models.Home;
@using AssetHealth.Models.Form_answer;

@model GraphPopupModel

@{
    Layout = null;
    //Location loc = this.WorkContext.CurrentUser.Location();
    int id = Model.QuestionId ;
}



<style type="text/css">
        .TFtable {
            width: 90%;
            border-collapse: collapse;
        }

            .TFtable th, thead {
                background: #ddd;
                color: #000;
                border: #4e95f4 1px solid;
                padding: 7px;
            }

            .TFtable td {
                padding: 5px;
                border: #4e95f4 1px solid;
            }
            /* provide some minimal visual accomodation for IE8 and below */
            .TFtable tr {
                background: #b8d1f3;
                font-size: 10pt;
            }
                /*  Define the background color for all the ODD background rows  */
                .TFtable tr:nth-child(odd) {
                    background: #b8d1f3;
                }
                /*  Define the background color for all the EVEN background rows  */
                .TFtable tr:nth-child(even) {
                    background: #dae5f4;
                }


        /*
    table { border-collapse: collapse; font-family: Futura, Arial, sans-serif; border: 1px solid #777; }

    caption { font-size: larger; margin: 1em auto; }

    th, td { padding: .65em; }

    th, thead { background: #000; color: #fff; border: 1px solid #000; }

    tr:nth-child(odd) { background: #ccc; }

    tr:hover { background: #aaa; }

    td { border-right: 1px solid #777; }
    */

        div {
            font-family: Futura, Arial, sans-serif;
        }

        .daterangepicker.dropdown-menu {
  
          z-index: 20000;
        }

    .amcharts-export-menu .export-main > a, .amcharts-export-menu .export-drawing > a, .amcharts-export-menu .export-delayed-capturing > a {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211px%22%20height%3D%2214px%22%3E%3Cpath%20d%3D%22M3%2C0%20L8%2C0%20L8%2C5%20L11%2C5%20L5.5%2C10%20L0%2C5%20L3%2C5%20L03%2C0%22%20fill%3D%22%23888%22%2F%3E%3Crect%20x%3D%220%22%20y%3D%2212%22%20fill%3D%22%23888%22%20width%3D%2211%22%20height%3D%222%22%2F%3E%3C%2Fsvg%3E');
    }

    .amcharts-export-menu .export-main:hover > a {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211px%22%20height%3D%2214px%22%3E%3Cpath%20d%3D%22M3%2C0%20L8%2C0%20L8%2C5%20L11%2C5%20L5.5%2C10%20L0%2C5%20L3%2C5%20L03%2C0%22%20fill%3D%22%23fff%22%2F%3E%3Crect%20x%3D%220%22%20y%3D%2212%22%20fill%3D%22%23fff%22%20width%3D%2211%22%20height%3D%222%22%2F%3E%3C%2Fsvg%3E');
    }

</style>







<div class="row">
    <h4>@Model.QuestionTitle</h4>
    
    <div id="dashboard-report-range2" data-display-range="0" class="pull-right tooltips btn btn-fit-height green" data-placement="left" data-original-title="Change dashboard date range">
        <i class="icon-calendar"></i>&nbsp;
        <span class="thin uppercase hidden-xs"></span>&nbsp;
        <i class="fa fa-angle-down"></i>
    </div>
    <br />
    <br />
    <br />
    <div id="chartDivPopup" style="width	: 95%;height: 450px;">@T("Dashboard.Grid.FormQuestion.Graph.Placeholder")</div>



    

</div>





    <br />
    <p><a href="javascript:void(0);" class="close">@T("Admin.Common.Popup.CloseWindow")</a></p>

    <script>

        var GraphPopup = function () {

            return {



                load: function () {

                    Dashboard.initDashboardDaterange("dashboard-report-range2");
                    

                    var dashboard_range = { dashboard_range_sdate : "@Model.StartDate.ToString("dd-MM-yyyy")", dashboard_range_edate : "@Model.EndDate.ToString("dd-MM-yyyy")" };

                    $("#dashboard-report-range2" ).val( dashboard_range.dashboard_range_sdate + " - " + dashboard_range.dashboard_range_edate );
                    $("#dashboard-report-range2" ).data('daterangepicker').startDate = moment( dashboard_range.dashboard_range_sdate, momentDateFormat );
                    $("#dashboard-report-range2" ).data('daterangepicker').endDate = moment( dashboard_range.dashboard_range_edate, momentDateFormat );
                    $("#dashboard-report-range2" ).data('daterangepicker').updateView();
                    $("#dashboard-report-range2" ).data('daterangepicker').updateCalendars();

                    Dashboard.initQuestionAnswerChart("chartDivPopup", @id, @Model.OptionGroupId, "dashboard-report-range2", momentDateFormat );


                    $('#dashboard-report-range2').on('apply.daterangepicker', function (ev, picker) {
                        $(this).val(picker.startDate.format(dateFormat) + ' - ' + picker.endDate.format(momentDateFormat));
                        console.log('Apply button clicked ' + picker.startDate.format(momentDateFormat) + ' - ' + picker.endDate.format(momentDateFormat));
                        Dashboard.initQuestionAnswerChart("chartDivPopup", @id, @Model.OptionGroupId, "dashboard-report-range2", momentDateFormat );
                    });

                },


                init: function () {
                    this.load();
                    //this.initTable2();

                }
            };

        }();

        if (App.isAngularJsApp() === false) {
            jQuery(document).ready(function () {

                GraphPopup.init(); // init metronic core componets




            });
        }






    </script>
