﻿@using AssetHealth.Models.Home;

@model MapPopupModel

@{
    Layout = null;
    //Location loc = this.WorkContext.CurrentUser.Location();
}



<style type="text/css">
        .TFtable {
            width: 90%;
            border-collapse: collapse;
        }

            .TFtable th, thead {
                background: #ddd;
                color: #000;
                border: #4e95f4 1px solid;
                padding: 7px;
            }

            .TFtable td {
                padding: 5px;
                border: #4e95f4 1px solid;
            }
            /* provide some minimal visual accomodation for IE8 and below */
            .TFtable tr {
                background: #b8d1f3;
                font-size: 10pt;
            }
                /*  Define the background color for all the ODD background rows  */
                .TFtable tr:nth-child(odd) {
                    background: #b8d1f3;
                }
                /*  Define the background color for all the EVEN background rows  */
                .TFtable tr:nth-child(even) {
                    background: #dae5f4;
                }


        /*
    table { border-collapse: collapse; font-family: Futura, Arial, sans-serif; border: 1px solid #777; }

    caption { font-size: larger; margin: 1em auto; }

    th, td { padding: .65em; }

    th, thead { background: #000; color: #fff; border: 1px solid #000; }

    tr:nth-child(odd) { background: #ccc; }

    tr:hover { background: #aaa; }

    td { border-right: 1px solid #777; }
    */

        div {
            font-family: Futura, Arial, sans-serif;
        }
</style>

<h4> @T("Dashboard.LocationName") : @Model.LocationName</h4>
<br />
@*
    <p><input type="button" id="mahalSemasi" name="mahalSemasi" value="Mahal Şeması"> </p>
*@
<div class="row">
    <div class='col-md-1' >
        <i class='fa fa-bell fa-2x' style='height:40px;width:50px;text-align:center;padding-top:12px;color:red;border:1px solid'></i>

    </div>
    <div class='col-md-2'>@T("Dashboard.Alarm.Count") : @Model.AlarmCount </div>
    <div class='col-md-1' >
        <i class='fa fa-bell fa-2x' style='height:40px;width:50px;text-align:center;padding-top:12px;color:#e8ea2d;border:1px solid'></i>
    </div>
    <div class='col-md-2'>@T("Dashboard.Warning.Count") : @Model.WarningCount </div>
</div>

<div class="row">
    @Html.Partial("~/Views/Common/GridBox.cshtml", 1)
    @Html.Partial("~/Views/Common/GridBoxDetail.cshtml")
</div>





    <br />
    <p><a href="javascript:void(0);" class="close">Pencereyi Kapat</a></p>

    <script>
        var pCurrentWarnings = @Html.Raw(Model.CurrentWarnings != null ? Model.CurrentWarnings : "''");


        var MapPopup = function () {

            return {



                load: function () {
                    $('#divDetail').hide();

                    $(".close").bind("click", function (e) {

                        e.preventDefault();
                        $(this).closest(".dialog").dialog("close");
                    });

                    @*
                    $('#mahalSemasi').bind("click", function (e) {
                        e.preventDefault();


                        var $dialog3 = $("<div><img src='@(Model.SchemaPath)' width='595'></div>")
                            .addClass("dialog")
                            .attr("id", $(this)
                            .attr("data-dialog-id"))
                            .appendTo("body")
                            .dialog({
                                //title: $(this).attr("data-dialog-title"),
                                title: "Mahal No : " + "@(Html.Raw(Model.LocationName))",
                                //open: function (event, ui) { setTimeout(function () { $(this).dialog("close"); }, 1000) },
                                close: function () { $(this).remove(); },
                                modal: true,
                                height: 700,
                                width: 650,
                                left: 0

                            });


                    });

                    *@

                },

                initTable2: function () {

                    if (!jQuery().dataTable) {
                        return;
                    }
                    var table = $('#warning_datatable1');
                    table.DataTable().destroy();

                    table.DataTable({

                       data: pCurrentWarnings,

                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ records",
                            "infoEmpty": "No records found",
                            "infoFiltered": "(filtered1 from _MAX_ total records)",
                            "lengthMenu": "Show _MENU_",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "previous": "Prev",
                                "next": "Next",
                                "last": "Last",
                                "first": "First"
                            }
                        },

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
                        "pagingType": "bootstrap_extended",

                        "lengthMenu": [
                            [5, 15, 20, -1],
                            [5, 15, 20, "All"] // change per page values here
                        ],
                        "orderClasses": false,  // !!! important , on select row completely selects row
                        // set the initial value
                        "pageLength": 5,
                        "columnDefs": [{  // set default column settings
                            'orderable': false,
                            'targets': [0],
                            "width": "40%"
                        }, {
                            "searchable": false,
                            "targets": [0]
                        }],
                        "order": [
                            [1, "asc"]
                        ], // set first column as a default sort by asc

                        select: true
                    });


                    var question_datatable1 = $('#question_datatable1').DataTable();

                    //$('#question_datatable1 tbody').on('click', 'tr', function () {
                    $("body").on("click", "#question_datatable1 tbody tr", function (e) {
                        if ($(this).hasClass('selected')) {
                            $(this).removeClass('selected');
                            //$('#divDetail').hide();
                        }
                        else {
                            question_datatable1.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                        }

                        showLoading();
                        setTimeout(function () {
                            // do something 1000ms later here.
                            $("#loading").hide();
                        }, 500);

                        var rowData = $('#question_datatable1').DataTable().row(this).data();

                        //console.log(rowData);
                        //$.formUtil.bind('#frm2', rowData);
                        MapPopup.initTable3();
                    });


                    /*
                    var tableWrapper = jQuery('#question_datatable_wrapper');

                    table.find('.group-checkable').change(function () {
                        var set = jQuery(this).attr("data-set");
                        var checked = jQuery(this).is(":checked");
                        jQuery(set).each(function () {
                            if (checked) {
                                $(this).prop("checked", true);
                            } else {
                                $(this).prop("checked", false);
                            }
                        });
                    });
                    */
                },

                initTable3: function () {

                    if (!jQuery().dataTable) {
                        return;
                    }
                    $('#divDetail').show();

                    var table = $('#questiondetail_datatable');
                    table.DataTable().destroy();

                    table.DataTable({





                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ records",
                            "infoEmpty": "No records found",
                            "infoFiltered": "(filtered1 from _MAX_ total records)",
                            "lengthMenu": "Show _MENU_",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "previous": "Prev",
                                "next": "Next",
                                "last": "Last",
                                "first": "First"
                            }
                        },

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
                        "pagingType": "bootstrap_extended",

                        "lengthMenu": [
                            [5, 15, 20, -1],
                            [5, 15, 20, "All"] // change per page values here
                        ],
                        // set the initial value
                        "pageLength": 5,
                        "columnDefs": [{  // set default column settings
                            'orderable': false,
                            'targets': [0],
                            "width": "40%"
                        }, {
                            "searchable": false,
                            "targets": [0]
                        }],
                        "order": [
                            [1, "asc"]
                        ] // set first column as a default sort by asc
                    });

                    /*
                    var tableWrapper = jQuery('#question_datatable_wrapper');

                    table.find('.group-checkable').change(function () {
                        var set = jQuery(this).attr("data-set");
                        var checked = jQuery(this).is(":checked");
                        jQuery(set).each(function () {
                            if (checked) {
                                $(this).prop("checked", true);
                            } else {
                                $(this).prop("checked", false);
                            }
                        });
                    });
                    */
                },


                init: function () {
                    this.load();
                    @if(Model.CurrentWarnings != null)
                    {
                        <text>
                        this.initTable2();
                        </text>
                    }


                }
            };

        }();

        if (App.isAngularJsApp() === false) {
            jQuery(document).ready(function () {
                MapPopup.init(); // init metronic core componets
            });
        }




        function bakimaAl(cid, bakim) {

            $.ajax({
                type: "GET",
                url: '/Sensor/Maintenance?cid=' + cid + '&bakim=' + bakim,
                dataType: 'html',
                success: function (data) {
                    //$('#dialog').html(data);
                    location.reload();
                }
            });


        }

    </script>
