﻿@model AssetHealth.Models.Home.DashboardModel

@using AssetHealth.Common.DTO.Extensions;
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    // AssetHealth.Common.DTO.EqLocation location = WorkContext.CurrentUser.Location();
}

@using (Html.BeginForm("Pilot", "Home", FormMethod.Post))
{


    @Html.Action("DashboardFilter", "Home", new { model = Model })

    @Html.Action("StatBoxGroup", "Home", new { model = Model })
    <div class="row">
        @Html.Action("ChartBoxChangeStatistics", "Common", new { model = Model }) @* @Html.Partial("~/Views/Common/ChartBoxChangeStatistics.cshtml") *@

    </div>
    <div class="row">
        @Html.Partial("~/Views/Common/GridBox.cshtml", 0)
    </div>
    <div class="row">
        @Html.Action("ChartBoxYesNo", "Common", new { model = Model })
        @Html.Action("GeneralStatBox", "Common", new { model = Model })

    </div>
    @Html.Action("InstitutionLayoutBox", "Home", new { model = Model })
    @*
        @if (location == null || string.IsNullOrEmpty(location.Schema_path))
        {
            @Html.Action("InstitutionLayoutBox", "Home")
        }
        else
        {
            RenderPage(location.Schema_path,new AssetHealth.Models.Common.InstitutionLayoutBoxModel())
            Html.RenderPartial(location.Schema_path, new AssetHealth.Models.Common.InstitutionLayoutBoxModel());
        }
    *@

    <div class="row">
        @Html.Action("UserActivityBox", "Common", new { model = Model })
        @Html.Action("ChartBoxPieChart", "Common", new { model = Model })

    </div>
    <div class="row">
        @Html.Action("FeedsListBox", "Common", new { model = Model })
        @Html.Action("FeedsCalendarBox", "Common", new { model = Model })

    </div>
        <div class="row">
            @Html.Partial("~/Views/Common/GridBoxQuestion.cshtml", 0)
            @Html.Action("GridBoxQuestionGraph", "Common", new { model = Model })

        </div>
}

@*
    <div class="portlet box yellow-casablanca">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>@T("Systems.Administrators.Homepage")
            </div>

        </div>
        <div class="portlet-body" style="height:500px">
            <p>

                @Html.Action("TopicBlock", "Topic", new { systemName = "Home" })


        </div> <!-- [END] Portlet Body -->
    </div>

*@

<style>
    .amcharts-export-menu .export-main > a, .amcharts-export-menu .export-drawing > a, .amcharts-export-menu .export-delayed-capturing > a {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211px%22%20height%3D%2214px%22%3E%3Cpath%20d%3D%22M3%2C0%20L8%2C0%20L8%2C5%20L11%2C5%20L5.5%2C10%20L0%2C5%20L3%2C5%20L03%2C0%22%20fill%3D%22%23888%22%2F%3E%3Crect%20x%3D%220%22%20y%3D%2212%22%20fill%3D%22%23888%22%20width%3D%2211%22%20height%3D%222%22%2F%3E%3C%2Fsvg%3E');
    }

    .amcharts-export-menu .export-main:hover > a {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211px%22%20height%3D%2214px%22%3E%3Cpath%20d%3D%22M3%2C0%20L8%2C0%20L8%2C5%20L11%2C5%20L5.5%2C10%20L0%2C5%20L3%2C5%20L03%2C0%22%20fill%3D%22%23fff%22%2F%3E%3Crect%20x%3D%220%22%20y%3D%2212%22%20fill%3D%22%23fff%22%20width%3D%2211%22%20height%3D%222%22%2F%3E%3C%2Fsvg%3E');
    }
</style>

@section headjs {
    /*
    var assetHealthPerformance = @Html.Raw(Model.AssetHealthPerformance) ;
    var CurrentWarnings = @Html.Raw(Model.CurrentWarnings) ;
    var EquipmentHealthPerformance = @Html.Raw(Model.EquipmentHealthPerformance) ;
    var LocationHealthPerformance = @Html.Raw(Model.LocationHealthPerformance) ;
    var QuestionGrid = @Html.Raw(Model.QuestionGrid) ;
    */
    var assetHealthPerformance = {};
    var CurrentWarnings = {} ;
    var EquipmentHealthPerformance = {};
    var LocationHealthPerformance = {} ;
    var QuestionGrid = {};
    var UserActivityModel = {};



    //var dashboard_range = { dashboard_range_sdate : "@Model.StartDate.ToString("MM/dd/yyyy")", dashboard_range_edate : "@Model.EndDate.ToString("MM/dd/yyyy")" };
    //var dashboard_range = { dashboard_range_sdate : "@Model.StartDate.ToString("dd.MM.yyyy")", dashboard_range_edate : "@Model.EndDate.ToString("dd.MM.yyyy")" };
    var dashboard_range = { dashboard_range_sdate : "@Model.StartDate.ToString("dd-MM-yyyy")", dashboard_range_edate : "@Model.EndDate.ToString("dd-MM-yyyy")" };

}


@section jQueryOnReadyScripts {
    $.post("/Home/PrepareGraphs", null, function (items) {

        assetHealthPerformance = JSON.parse(items.AssetHealthPerformance) ;
        CurrentWarnings = JSON.parse(items.CurrentWarnings) ;
        EquipmentHealthPerformance = JSON.parse(items.EquipmentHealthPerformance) ;



        $.post("/Home/PrepareDashboard", null, function (items) {
                LocationHealthPerformance = JSON.parse(items.LocationHealthPerformance) ;
                QuestionGrid = JSON.parse(items.QuestionGrid) ;
    

                //console.log(QuestionGrid);
                Dashboard.init(); // init metronic core componets

                Dashboard.initFeedList();

                Dashboard.viewModel.lookupCollection(items.NotificationModels);
                Dashboard.viewModel.GeneralStatModel(items.GeneralStatModel);
                Dashboard.initEasyPieCharts(); // General Stats -  Genel İstatistik            
                Dashboard.viewModel.UserActivityModel(items.UserActivityModel);
                
                
                $("#dashboard-report-range" ).val( dashboard_range.dashboard_range_sdate + " - " + dashboard_range.dashboard_range_edate );
                $("#dashboard-report-range" ).data('daterangepicker').startDate = moment( dashboard_range.dashboard_range_sdate, momentDateFormat );
                $("#dashboard-report-range" ).data('daterangepicker').endDate = moment( dashboard_range.dashboard_range_edate, momentDateFormat );
                $("#dashboard-report-range" ).data('daterangepicker').updateView();
                $("#dashboard-report-range" ).data('daterangepicker').updateCalendars();

                $('#EndDate').val(dashboard_range.dashboard_range_edate );
                $('#StartDate').val(dashboard_range.dashboard_range_sdate);


                $('#dashboard-report-range').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format(momentDateFormat) + ' - ' + picker.endDate.format(momentDateFormat));
                $('#EndDate').val(picker.endDate.format(momentDateFormat) );
                $('#StartDate').val(picker.startDate.format(momentDateFormat) );
                    console.log('Apply button clicked ' + picker.startDate.format(momentDateFormat) + ' - ' + picker.endDate.format(momentDateFormat));
                    //window.location.href = "?StartDate=" + picker.startDate.format('MM/DD/YYYY') + "&EndDate=" + picker.endDate.format('MM/DD/YYYY');
                });


            });
            
    });



    


    
}

@section beforeFooter{

<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js" type="text/javascript"></script>

}

@{
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/plugins/export/export.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/serial.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/pie.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/radar.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/themes/patterns.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/themes/chalk.js");
    /*
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/plugins/export/libs/pdfmake/pdfmake.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/plugins/export/libs/jszip/jszip.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/plugins/export/libs/fabric.js/fabric.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/plugins/export/libs/FileSaver.js/FileSaver.js");
    */
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/ammap/ammap.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amstockcharts/amstock.js");

    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Scripts/pages/dashboard.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Scripts/ares/jquery.maphilight.min.js");

    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/fullcalendar/v3.9.0/fullcalendar.min.js");
    if (WorkContext.WorkingLanguage.Id == 1)
    {
        Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/fullcalendar/v3.9.0/locale/tr.js");
    }

    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/flot/jquery.flot.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/flot/jquery.flot.resize.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/flot/jquery.flot.categories.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery.sparkline.min.js");

    /*
Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js");
Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js");
Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js");
Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js");
Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js");
Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js");
Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js");
*/
}