﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Site;
@model SiteModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_Site_1" data-toggle="tab"> @T("Admin.Site.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_Site_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("Site.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Name, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faName"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Name))"></i>
                                        @Html.TextAreaFor(x => x.Name, new { @class = "form-control", @placeholder = T("SiteModel.Name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SiteModel.Name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Url) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Url, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUrl"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Url) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Url))"></i>
                                        @Html.TextAreaFor(x => x.Url, new { @class = "form-control", @placeholder = T("SiteModel.Url.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Url, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SiteModel.Url.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Ssl_enabled) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Ssl_enabled, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSsl_enabled"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Ssl_enabled) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Ssl_enabled))"></i>
                                        @Html.CheckBoxFor(x => x.Ssl_enabled, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Ssl_enabled, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SiteModel.Ssl_enabled.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Secure_url) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Secure_url, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faSecure_url"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Secure_url) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Secure_url))"></i>
                                        @Html.TextAreaFor(x => x.Secure_url, new { @class = "form-control", @placeholder = T("SiteModel.Secure_url.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Secure_url, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SiteModel.Secure_url.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Hosts) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Hosts, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faHosts"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Hosts) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Hosts))"></i>
                                        @Html.TextAreaFor(x => x.Hosts, new { @class = "form-control", @placeholder = T("SiteModel.Hosts.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Hosts, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SiteModel.Hosts.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_order"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("SiteModel.Display_order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SiteModel.Display_order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





