﻿

@using AssetHealth.Models.Form_question;

@model FormQuestionModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="row">
    @if (WorkContext.IsAdmin)
    {
    <div class="pull-right" style="margin-right:25px;">
        <a name="sync" class="btn green" onclick="showJqueryUIPopup('/FormQuestion/BatchQuestionOpPopup/');">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.FormQuestion.BatchQuestionUpdate")
        </a>

    </div>
    }
</div>
<br />

<div class="portlet box yellow-casablanca" id="divportlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("FormQuestion.list.header")
        </div>
        @*
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "FormQuestion")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("FormQuestion.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormQuestion', window.dataTableFormQuestionOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
            *@
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen" id="lnkFullscreenPortlet"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Eq_location_id_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Eq_location_id_Text, Model.Eq_location_id_EqLocation_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EquipmentModel.Eq_location_id_Text.Placeholder"), data_val = false })
                            </div>
                        </div>
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Category_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Category_id, Model.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Category_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Type_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Type_id, Model.Type_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Type_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Form_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Form_id, Model.Form_id_Form_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Form_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Derived_id, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownListFor(x => x.Derived_id, Model.Derived_id_FormQuestion_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Derived_id.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                        

                            
                                                  @*
        <div class="form-group">
            @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormQuestionModel.Description.Placeholder"), data_val=false })
            </div>
        </div>
          <div class="form-group">
            @Html.AresLabelFor(m => m.Version, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormQuestionModel.Version.Placeholder"), data_val=false })
            </div>
        </div>
                                                *@

                            

                        

                    </div>

                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Period, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Period, Model.Period_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Period.Placeholder"), data_val = false })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Code, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormQuestionModel.Code.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Title, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormQuestionModel.Title.Placeholder"), data_val = false })
                            </div>
                        </div>




                        @*
                                <div class="form-group">
                                @Html.AresLabelFor(m => m.Hint, new { @class = "control-label " })
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                    @Html.TextBoxFor(x => x.Hint, new { @class = "form-control", @placeholder = T("FormQuestionModel.Hint.Placeholder"), data_val = false })
                                </div>
                            </div>

                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Image_path, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Image_path.Placeholder"), data_val=false })
                                    </div>
                                </div>


        <div class="form-group">
            @Html.AresLabelFor(m => m.Device_image_path, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Device_image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Device_image_path.Placeholder"), data_val=false })
            </div>
        </div>


                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Estimated_time, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionModel.Estimated_time.Placeholder"), data_val=false })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Method, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Method, new { @class = "form-control", @placeholder = T("FormQuestionModel.Method.Placeholder"), data_val=false })
                                    </div>
                                </div>
                        *@



                    </div>

                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">





                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionModel.Display_order.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Step, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Step, new { @class = "form-control", @placeholder = T("FormQuestionModel.Step.Placeholder"), data_val = false })
                            </div>
                        </div>


                        
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Active, new { @class = "control-label " })
                            <div class="input-group">
                                @* Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox", data_val = false }) *@
                                @Html.DropDownListFor(x => x.Active, Model.YesNo_SelectList, new { @class = "form-control", @placeholder = T("FormQuestionModel.Active.Placeholder"), data_val = false })
                            </div>
                        </div>

                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.V_required, new { @class = "control-label " })
        <div class="input-group">
                @Html.CheckBoxFor(x => x.V_required, new { @class = "mt-checkbox" , data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_email, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_min_length, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_min_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_min_length.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_max_length, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_max_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_max_length.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_regex, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_regex, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_regex.Placeholder"), data_val=false })
        </div>
    </div>





    <div class="form-group">
        @Html.AresLabelFor(m => m.Deleted, new { @class = "control-label " })
        <div class="input-group">
                @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox" , data_val=false })
        </div>
    </div>
                        *@
                    </div>




                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormQuestion" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormQuestion" class="btn default">
                                        <i class="fa fa-times"></i>
                                        @T("Admin.Common.Reset")
                                </button>

                            </div>
                        </div>

                </div>

            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>



        @(Html.Kendo().Spreadsheet()
        .Name("spreadsheet")
        .HtmlAttributes(new { style = "width:100%" })
        .Toolbar(true)
        .Sheetsbar(false)
        .Excel(excel => excel
            .ProxyURL(Url.Action("Data_Source_Proxy", "Spreadsheet"))
        )
        .Pdf(pdf => pdf
            .ProxyURL(Url.Action("Data_Source_Proxy", "Spreadsheet"))
        )
        .Sheets(sheets =>
        {
            sheets.Add().Name("Question")
            .DataSource<System.Dynamic.ExpandoObject>(ds => ds
            //.DataSource<AssetHealth.Models.Aa_excel_import.AaExcelImportModel>(ds => ds
                .Custom()
                .Batch(true)
                .Transport(t => t
                    .Read("onRead")
                    .Submit("onSubmit")
                )
                .Events(e => e.Change("onChange"))
                .Schema(s => s
                    .Model(m =>
                    {
                        //m.Id(p => p.Id);
                        m.Id("Id");
                    })
                )
            )
            .Columns(columns =>
            {
                columns.Add().Width(50);
                columns.Add().Width(200);
                columns.Add().Width(100);
                columns.Add().Width(200);
                columns.Add().Width(75);
                columns.Add().Width(150);
                columns.Add().Width(75);
                columns.Add().Width(80);
                columns.Add().Width(280);
                columns.Add().Width(50);
                columns.Add().Width(50);
                columns.Add().Width(150);
                columns.Add().Width(150);
                columns.Add().Width(150);
                columns.Add().Width(150);
            })
            .Rows(rows =>
            {
                rows.Add().Height(40).Cells(cells =>
                {

                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white"); //.Validation(v => { v.From("{ \"Daily\", \"Monthly\", \"Weekly\" }"); v.DataType("list"); v.ComparerType("list");v.ShowButton(true);v.AllowNulls(false); v.Type("reject");  } );
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    /*
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    cells.Add().Bold(true).Background("#9c27b0").TextAlign(SpreadsheetTextAlign.Center).Color("white");
                    */
                });
            });
        })
    )


        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    @*
    <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
        <i class="fa fa-floppy-o"></i>
        @T("Admin.Common.SaveAndContinue")
    </button>
                    *@
                    <button type="submit" id="save" class="btn green" >
                        <i class="fa fa-floppy-o"></i>
                        @T("Admin.Common.Save")
                    </button>
                    <button type="button" class="btn default" id="cancel" onclick="javascript:window.history.back()">
                        <i class="fa fa-times"></i>
                        @T("Admin.Common.Cancel")
                    </button>

                </div>
            </div>
        </div>

</div>
</div>


<script>

    function onSubmit(e) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Spreadsheet_Submit", "FormQuestion")',
            data: JSON.stringify(e.data),
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                e.success(result.Updated, "update");
                e.success(result.Created, "create");
                e.success(result.Destroyed, "destroy");
            },
            error: function (xhr, httpStatusMessage, customErrorMessage) {
                alert(customErrorMessage);
            }
        });
    }

    function onRead(options) {
        $.ajax({
            url: '@Url.Action("ListKendoQuestions", "FormQuestion")',
            dataType: "json",
            success: function (result) {
                options.success(result.Data);
            },
            error: function (result) {
                options.error(result);
            }
        });
    }

    function onChange(e) {
        $("#cancel, #save").toggleClass("k-state-disabled", !this.hasChanges());
    }

    function getDataSource() {
        return $("#spreadsheet").data("kendoSpreadsheet").activeSheet().dataSource;
    }

    $("#save").click(function () {
        if (!$(this).hasClass("k-state-disabled")) {
            getDataSource().sync();
        }
    });

    $("#cancel").click(function () {
        if (!$(this).hasClass("k-state-disabled")) {
            getDataSource().cancelChanges();
        }
    });
</script>
@section jQueryOnReadyScripts {

        
    $('#lnkFullscreenPortlet').click();
    var kendoSpreadsheet = $("#spreadsheet").data("kendoSpreadsheet");
    kendoSpreadsheet.resize();

    /*
    https://www.telerik.com/forums/custom-validation-f0f59ceddd26
    https://docs.telerik.com/kendo-ui/controls/data-management/spreadsheet/how-to/validation-to-column

    */

     kendoSpreadsheet.activeSheet().range("A1:A16384").enable(false);
     //kendoSpreadsheet.activeSheet().range("D1:D16384").enable(false);

    rowContextMenu = kendoSpreadsheet.rowHeaderContextMenu();

        rowContextMenu.bind("select", function(e) {
            var command = $(e.item).text();
            var sheet = kendoSpreadsheet.activeSheet();
            var selection = sheet.selection();
            var rowsToBeDeleted = [];
            var shouldManuallyDelete = false;

            if (command == "Delete") {
                selection.forEachCell(function(row, col, cell) {
                    var enabled = cell.enable;

                    if (rowsToBeDeleted.indexOf(row) < 0) {
                        rowsToBeDeleted.push(row);
                    }

                    if (!shouldManuallyDelete && enabled === false) {
                        shouldManuallyDelete = true;
                    }
                });

                if (shouldManuallyDelete) {
                    selection.enable(true);

                    for(var i = rowsToBeDeleted.length; i > 0; i--) {
                        sheet.deleteRow(rowsToBeDeleted[i - 1]);
                    }
                }
            }
        });

    //Get the column range
        var rangePeriod = kendoSpreadsheet.activeSheet().range("E2:E16384");

        //Apply the validation rule
        rangePeriod.validation({
          dataType: "list",
          comparerType: "list",
          //from: "ListValues!A$1:B$1",
          from : '{ "Daily", "Monthly", "Weekly" }',
          allowNulls: false,
          type: "reject",
          showButton: true,
          titleTemplate: "Invalid value",
          messageTemplate: "Valid values are 'true' and 'false'."
        });

       var rangeCategory = kendoSpreadsheet.activeSheet().range("F2:F16384");

        //Apply the validation rule
        rangeCategory.validation({
          dataType: "list",
          comparerType: "list",
          //from: "ListValues!A$1:B$1",
          from : '{ "Production", "Predictive Maintenance" }',
          allowNulls: false,
          type: "reject",
          showButton: true,
          titleTemplate: "Invalid value",
          messageTemplate: "Valid values are 'true' and 'false'."
        });

        var rangeQuestionType = kendoSpreadsheet.activeSheet().range("G2:G16384");

        //Apply the validation rule
        rangeQuestionType.validation({
          dataType: "list",
          comparerType: "list",
          //from: "ListValues!A$1:B$1",
          from : '{ "edit_text", "spinner" }',
          allowNulls: false,
          type: "reject",
          showButton: true,
          titleTemplate: "Invalid value",
          messageTemplate: "Valid values are 'true' and 'false'."
        });
    

   $('#btnFilterFormQuestion').click(function () {

    });
            
            
   $('#btnResetFormQuestion').click(function () {

        resetDatatableSearch('dataTableFormQuestion');

    });






                }


