﻿

@using AssetHealth.Models.Form_question;

@model FormQuestionModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="row">
    @if (WorkContext.IsAdmin)
    {
    <div class="pull-right" style="margin-right:25px;">
        <a name="sync" class="btn green" onclick="showJqueryUIPopup('/FormQuestion/BatchQuestionOpPopup/');">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.FormQuestion.BatchQuestionUpdate")
        </a>

    </div>
    }
</div>
<br />

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("FormQuestion.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "FormQuestion")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("FormQuestion.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormQuestion', window.dataTableFormQuestionOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Eq_location_id_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Eq_location_id_Text, Model.Eq_location_id_EqLocation_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EquipmentModel.Eq_location_id_Text.Placeholder"), data_val = false })
                            </div>
                        </div>
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Category_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Category_id, Model.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Category_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Type_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Type_id, Model.Type_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Type_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Form_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Form_id, Model.Form_id_Form_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Form_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Derived_id, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownListFor(x => x.Derived_id, Model.Derived_id_FormQuestion_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Derived_id.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                        

                            
                                                  @*
        <div class="form-group">
            @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormQuestionModel.Description.Placeholder"), data_val=false })
            </div>
        </div>
          <div class="form-group">
            @Html.AresLabelFor(m => m.Version, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormQuestionModel.Version.Placeholder"), data_val=false })
            </div>
        </div>
                                                *@

                            

                        

                    </div>

                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Period, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Period, Model.Period_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Period.Placeholder"), data_val = false })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Code, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormQuestionModel.Code.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Title, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormQuestionModel.Title.Placeholder"), data_val = false })
                            </div>
                        </div>




                        @*
                                <div class="form-group">
                                @Html.AresLabelFor(m => m.Hint, new { @class = "control-label " })
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                    @Html.TextBoxFor(x => x.Hint, new { @class = "form-control", @placeholder = T("FormQuestionModel.Hint.Placeholder"), data_val = false })
                                </div>
                            </div>

                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Image_path, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Image_path.Placeholder"), data_val=false })
                                    </div>
                                </div>


        <div class="form-group">
            @Html.AresLabelFor(m => m.Device_image_path, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Device_image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Device_image_path.Placeholder"), data_val=false })
            </div>
        </div>


                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Estimated_time, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionModel.Estimated_time.Placeholder"), data_val=false })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Method, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Method, new { @class = "form-control", @placeholder = T("FormQuestionModel.Method.Placeholder"), data_val=false })
                                    </div>
                                </div>
                        *@



                    </div>

                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">





                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionModel.Display_order.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Step, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Step, new { @class = "form-control", @placeholder = T("FormQuestionModel.Step.Placeholder"), data_val = false })
                            </div>
                        </div>


                        
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Active, new { @class = "control-label " })
                            <div class="input-group">
                                @* Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox", data_val = false }) *@
                                @Html.DropDownListFor(x => x.Active, Model.YesNo_SelectList, new { @class = "form-control", @placeholder = T("FormQuestionModel.Active.Placeholder"), data_val = false })
                            </div>
                        </div>

                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.V_required, new { @class = "control-label " })
        <div class="input-group">
                @Html.CheckBoxFor(x => x.V_required, new { @class = "mt-checkbox" , data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_email, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_min_length, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_min_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_min_length.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_max_length, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_max_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_max_length.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_regex, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_regex, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_regex.Placeholder"), data_val=false })
        </div>
    </div>





    <div class="form-group">
        @Html.AresLabelFor(m => m.Deleted, new { @class = "control-label " })
        <div class="input-group">
                @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox" , data_val=false })
        </div>
    </div>
                        *@
                    </div>




                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormQuestion" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormQuestion" class="btn default">
                                        <i class="fa fa-times"></i>
                                        @T("Admin.Common.Reset")
                                </button>

                            </div>
                        </div>

                </div>

            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>



        @(Html.Kendo().Grid<AssetHealth.Models.Aa_excel_import.AaExcelImportModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Code);
        columns.Bound(p => p.Title);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(20)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.Id))
        .Create("Editing_Create", "Grid")
        .Read("ListKendoQuestions", "FormQuestion")
        .Update("Editing_Update", "Grid")
        .Destroy("Editing_Destroy", "Grid")
    )
        )
    </div>
</div>


<script>

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
@section jQueryOnReadyScripts {

        


    

                 $('#btnFilterFormQuestion').click(function () {

    });
            
            
                $('#btnResetFormQuestion').click(function () {

        resetDatatableSearch('dataTableFormQuestion');

    });






                }


