﻿

@using AssetHealth.Models.Form_question;

@model FormQuestionModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="row">
    @if (WorkContext.IsAdmin)
    {
    <div class="pull-right" style="margin-right:25px;">
        <a name="sync" class="btn green" onclick="showJqueryUIPopup('/FormQuestion/BatchQuestionOpPopup/');">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.FormQuestion.BatchQuestionUpdate")
        </a>

    </div>
    }
</div>
<br />

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("FormQuestion.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "FormQuestion")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("FormQuestion.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormQuestion', window.dataTableFormQuestionOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Eq_location_id_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Eq_location_id_Text, Model.Eq_location_id_EqLocation_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EquipmentModel.Eq_location_id_Text.Placeholder"), data_val = false })
                            </div>
                        </div>
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Category_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Category_id, Model.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Category_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Type_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Type_id, Model.Type_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Type_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Form_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Form_id, Model.Form_id_Form_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Form_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Derived_id, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownListFor(x => x.Derived_id, Model.Derived_id_FormQuestion_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Derived_id.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                        

                            
                                                  @*
        <div class="form-group">
            @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormQuestionModel.Description.Placeholder"), data_val=false })
            </div>
        </div>
          <div class="form-group">
            @Html.AresLabelFor(m => m.Version, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormQuestionModel.Version.Placeholder"), data_val=false })
            </div>
        </div>
                                                *@

                            

                        

                    </div>

                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Period, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Period, Model.Period_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Period.Placeholder"), data_val = false })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Code, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormQuestionModel.Code.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Title, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormQuestionModel.Title.Placeholder"), data_val = false })
                            </div>
                        </div>




                        @*
                                <div class="form-group">
                                @Html.AresLabelFor(m => m.Hint, new { @class = "control-label " })
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                    @Html.TextBoxFor(x => x.Hint, new { @class = "form-control", @placeholder = T("FormQuestionModel.Hint.Placeholder"), data_val = false })
                                </div>
                            </div>

                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Image_path, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Image_path.Placeholder"), data_val=false })
                                    </div>
                                </div>


        <div class="form-group">
            @Html.AresLabelFor(m => m.Device_image_path, new { @class = "control-label " })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    @Html.TextBoxFor(x => x.Device_image_path, new { @class = "form-control", @placeholder = T("FormQuestionModel.Device_image_path.Placeholder"), data_val=false })
            </div>
        </div>


                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Estimated_time, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionModel.Estimated_time.Placeholder"), data_val=false })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.AresLabelFor(m => m.Method, new { @class = "control-label " })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            @Html.TextBoxFor(x => x.Method, new { @class = "form-control", @placeholder = T("FormQuestionModel.Method.Placeholder"), data_val=false })
                                    </div>
                                </div>
                        *@



                    </div>

                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">





                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionModel.Display_order.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Step, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Step, new { @class = "form-control", @placeholder = T("FormQuestionModel.Step.Placeholder"), data_val = false })
                            </div>
                        </div>


                        
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Active, new { @class = "control-label " })
                            <div class="input-group">
                                @* Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox", data_val = false }) *@
                                @Html.DropDownListFor(x => x.Active, Model.YesNo_SelectList, new { @class = "form-control", @placeholder = T("FormQuestionModel.Active.Placeholder"), data_val = false })
                            </div>
                        </div>

                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.V_required, new { @class = "control-label " })
        <div class="input-group">
                @Html.CheckBoxFor(x => x.V_required, new { @class = "mt-checkbox" , data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_email, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_min_length, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_min_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_min_length.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_max_length, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_max_length, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_max_length.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.V_regex, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.V_regex, new { @class = "form-control", @placeholder = T("FormQuestionModel.V_regex.Placeholder"), data_val=false })
        </div>
    </div>





    <div class="form-group">
        @Html.AresLabelFor(m => m.Deleted, new { @class = "control-label " })
        <div class="input-group">
                @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox" , data_val=false })
        </div>
    </div>
                        *@
                    </div>




                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormQuestion" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormQuestion" class="btn default">
                                        <i class="fa fa-times"></i>
                                        @T("Admin.Common.Reset")
                                </button>

                            </div>
                        </div>

                </div>

            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>


        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableFormQuestion" style="width:100%">
            <thead>
                <tr>
                                                                                                                                            @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>

                    <th> @T("FormQuestion.list.column.Derived_id") </th>
                    <th> @T("FormQuestion.list.column.Hint") </th>
                    <th> @T("FormQuestion.list.column.Description") </th>
                    <th> @T("FormQuestion.list.column.Version") </th>
                    <th> @T("FormQuestion.list.column.Image_path") </th>
                    <th> @T("FormQuestion.list.column.Device_image_path") </th>
                    <th> @T("FormQuestion.list.column.Estimated_time") </th>
                    <th> @T("FormQuestion.list.column.Method") </th>
                    <th> @T("FormQuestion.list.column.Step") </th>
                    <th> @T("FormQuestion.list.column.V_required") </th>
                    <th> @T("FormQuestion.list.column.V_email") </th>
                    <th> @T("FormQuestion.list.column.V_min_length") </th>
                    <th> @T("FormQuestion.list.column.V_max_length") </th>
                    <th> @T("FormQuestion.list.column.V_regex") </th>
                    <th> @T("FormQuestion.list.column.Deleted") </th>
                                                *@
                    <th><input type="checkbox" name="select_all" value="1" id="select_all"></th>
                    <th> @T("FormQuestion.list.column.Id") </th>
                    <th> @T("FormQuestion.list.column.Eq_location_id") </th>
            
                    <th> @T("FormQuestion.list.column.Category_id") </th>
                    
                    <th> @T("FormQuestion.list.column.Form_id") </th>
                    <th> @T("FormQuestion.list.column.Period") </th>
                    <th> @T("FormQuestion.list.column.Type_id") </th>
                    <th> @T("FormQuestion.list.column.Code") </th>
                    <th> @T("FormQuestion.list.column.Title") </th>


                    <th> @T("FormQuestion.list.column.Display_order") </th>
                    
                    

                    <th> @T("FormQuestion.list.column.Active") </th>
                    
            
                    
                    <th> @T("FormQuestion.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestion", "ListFormQuestionDatatable", "FormQuestion", null, true, null, "dataTableFormQuestion")
    
    .AddJSONContentColumn("'targets': 0, 'searchable':false, 'orderable':false, 'className': 'dt-body-center', 'render': function (data, type, full, meta){ return '<input type=\"checkbox\" id=\"selecteds\" value=\"' + $(' < div /> ').text(data).html() + '\">'; } ")
    .AddColumn("Id")
    .AddColumn("Eq_location_id_Text")
                                        .AddColumn("Category_id_Text")

                                        .AddColumn("Form_id_Text")
                                        .AddColumn("Period_Text")
                                        .AddColumn("Type_id_Text")
                                        //.AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        /*.AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Method")
                                        .AddColumn("Step")
                                        .AddCustomJavascriptColumn("V_required", " return full.V_required ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("V_email")
                                        .AddColumn("V_min_length")
                                        .AddColumn("V_max_length")
                                        .AddColumn("V_regex")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        */
                                        .AddColumn("Display_order")


                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")

    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "FormQuestion") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("[5,10,50,100, -1], [5, 10, 50, 100, \"" + @T("Admin.Common.All") + "\"]")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionOptions = dataTableFormQuestionOptions;

                 $('#btnFilterFormQuestion').click(function () {
                        dataTableFormQuestion.column('Eq_location_id_Text:name').search($('#Eq_location_id_Text').val().trim());
                        dataTableFormQuestion.column('Category_id_Text:name').search($('#Category_id').val().trim());
                        dataTableFormQuestion.column('Type_id_Text:name').search($('#Type_id').val().trim());
                        dataTableFormQuestion.column('Form_id_Text:name').search($('#Form_id').val().trim());
                        // dataTableFormQuestion.column('Derived_id:name').search($('#Derived_id').val().trim());
                        dataTableFormQuestion.column('Code:name').search($('#Code').val().trim());
                        dataTableFormQuestion.column('Title:name').search($('#Title').val().trim());
                        //dataTableFormQuestion.column('Hint:name').search($('#Hint').val().trim());
                        //dataTableFormQuestion.column('Description:name').search($('#Description').val().trim());
                        //dataTableFormQuestion.column('Version:name').search($('#Version').val().trim());
                        //dataTableFormQuestion.column('Image_path:name').search($('#Image_path').val().trim());
                        //dataTableFormQuestion.column('Device_image_path:name').search($('#Device_image_path').val().trim());
                        //dataTableFormQuestion.column('Estimated_time:name').search($('#Estimated_time').val().trim());
                        //dataTableFormQuestion.column('Method:name').search($('#Method').val().trim());
                        dataTableFormQuestion.column('Display_order:name').search($('#Display_order').val().trim());
                        //dataTableFormQuestion.column('Step:name').search($('#Step').val().trim());
                        dataTableFormQuestion.column('Period_Text:name').search($('#Period').val().trim());
                        //dataTableFormQuestion.column('V_required:name').search($('#V_required').prop('checked'));
                        //dataTableFormQuestion.column('V_email:name').search($('#V_email').val().trim());
                        //dataTableFormQuestion.column('V_min_length:name').search($('#V_min_length').val().trim());
                        //dataTableFormQuestion.column('V_max_length:name').search($('#V_max_length').val().trim());
                        //dataTableFormQuestion.column('V_regex:name').search($('#V_regex').val().trim());
                        //dataTableFormQuestion.column('Active:name').search($('#Active').prop('checked'));
                        dataTableFormQuestion.column('Active:name').search($('#Active').val().trim());
                        //dataTableFormQuestion.column('Deleted:name').search($('#Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestion.draw();
            });
            
            
                $('#btnResetFormQuestion').click(function () {

                    resetDatatableSearch('dataTableFormQuestion');

                });

    // Handle click on "Select all" control
$('#select_all').on('click', function(e){
    
   // Get all rows with search applied
   var rows = dataTableFormQuestion.rows({ 'search': 'applied' }).nodes();
   // Check/uncheck checkboxes for all rows in the table
   $('input[type="checkbox"]', rows).prop('checked', this.checked);


    // Iterate over all checkboxes in the table
   dataTableFormQuestion.$('input[type="checkbox"]').each(function(){
      // If checkbox doesn't exist in DOM
      if(!$.contains(document, this)){
         // If checkbox is checked
         if(this.checked){
            // Create a hidden element
            $(form).append(
               $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', this.name)
                  .val(this.value)
            );
         }
      }
   });

});



    // Handle click on checkbox to set state of "Select all" control
$('#dataTableFormQuestion tbody').on('change', 'input[type="checkbox"]', function(){
   // If checkbox is not checked
   if(!this.checked){
      var el = $('#select_all').get(0);
      // If "Select all" control is checked and has 'indeterminate' property
      if(el && el.checked && ('indeterminate' in el)){
         // Set visual state of "Select all" control
         // as 'indeterminate'
         el.indeterminate = true;
      }
   }
});

}


