﻿@model DateTime?

<div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="-100y"> 
    @*Html.TextBox("", (Model.HasValue ? Model.Value.ToString("dd-MM-yyyy") : string.Empty), new { @class = "form-control ", @readonly = "readonly" })*@
    
    @Html.TextBoxFor(x => x, "{0:dd-MM-yyyy}",  new { @class = "form-control", @readonly = "readonly", data_date_format = "dd-mm-yyyy" })

    <span class="input-group-btn">
        <button class="btn default" type="button">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
</div>

@*
        <script>

                    @if (Model.HasValue)
            {
                <text>
            /*
                jQuery(document).ready(function() {

                    //$(".datepicker").datepicker("update", new Date());

                    //$("#@ViewData.ModelMetadata.PropertyName").datepicker("update", new Date(@Model.Value.Year,@Model.Value.Month -1,@Model.Value.Day));
                    //$("#@ViewData.ModelMetadata.PropertyName").datepicker({ startDate: new Date(2011,1,1) }).datepicker("update", new Date(@Model.Value.Year,@Model.Value.Month -1,@Model.Value.Day));
                    //$("#@ViewData.ModelMetadata.PropertyName").datepicker({ startDate: new Date(2011,1,1) }).datepicker("update", "2016-14-03"));
                    //$("#@ViewData.ModelMetadata.PropertyName").datepicker("setDate", "02-17-2012");
                    //$("#@ViewData.ModelMetadata.PropertyName").datepicker("update", new Date());
                    $('#@ViewData.ModelMetadata.PropertyName').data({ date: '08-08-2012' });
                    $('#@ViewData.ModelMetadata.PropertyName').datepicker('update');
                    $('#@ViewData.ModelMetadata.PropertyName').datepicker().children('input').val('08-08-2012');
                    $("#@ViewData.ModelMetadata.PropertyName").datepicker({
                        startDate: '-2m',
                        endDate: '+2d'
                    }).datepicker("setDate", new Date(2012, 3, 14));
            });

            */

                </text>
            }



    </script>
*@