﻿@model HttpPostedFileBase

<div >
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="col-lg-10">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span id="spanFileInput" class="btn green fileinput-button">
                <i class="fa fa-plus"></i>
                <span> @T("Ares.HttpPostedFileBase.AddFiles")</span>
                @if(ViewData["requiredText"] != null)
                {
                    @Html.TextBoxFor(x => x, new { @type = "file", data_val = "true", data_val_required = @ViewData["requiredText"] })
                }
                else
                {
                    @Html.TextBoxFor(x => x, new { @type = "file" })
                }


                 @* <input type="file" name="files[]" >  name="files[]" multiple="" *@
            </span>
            <button type="submit" class="btn blue start">
                <i class="fa fa-upload"></i>
                <span>@T("Ares.HttpPostedFileBase.StartUpload")</span>
            </button>
            <button type="reset" class="btn warning cancel">
                <i class="fa fa-ban-circle"></i>
                <span>@T("Ares.HttpPostedFileBase.CancelUpload")</span>
            </button>
            <button id="btnMainDelete" type="button" class="btn red delete">
                <i class="fa fa-trash"></i>
                <span>@T("Ares.HttpPostedFileBase.DeleteAll")</span>
            </button>
            &nbsp;&nbsp;
            <input type="checkbox" class="toggle">
            <!-- The global file processing state -->
            <span class="fileupload-process"> </span>
        </div>
        <!-- The global progress information -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"> </div>
            </div>
            <!-- The extended global progress information -->
            <div class="progress-extended"> &nbsp; </div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped clearfix">
        <tbody class="files"> </tbody>
    </table>
</div>

        <!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"> </div>
    <h3 class="title"></h3>
    <a class="prev"> ‹ </a>
    <a class="next"> › </a>
    <a class="close white"> </a>
    <a class="play-pause"> </a>
    <ol class="indicator"> </ol>
</div>


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            {% if (file.name.indexOf("doc") !== -1) { %}
            <span style="position: relative;top:8px;left:5px"><i class="fa fa-file-word-o fa-2x"  aria-hidden="true"></i></span>
            {% } else if (file.name.indexOf("xls") !== -1) { %}
            <span style="position: relative;top:8px;left:5px"><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i></span>
            {% } else { %}
            <span class="preview"></span>
            {% } %}
        </td>
        <td>
            <p class="name">{%=file.name%} </p>
            <strong class="error text-danger label label-danger"></strong>
        </td>
        <td>
            <p class="size">@T("Ares.HttpPostedFileBase.Processing")</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn blue start" disabled>
                <i class="fa fa-upload"></i>
                <span>@T("Ares.HttpPostedFileBase.Start")</span>
            </button> {% } %} {% if (!i) { %}
            <button class="btn red cancel">
                <i class="fa fa-ban"></i>
                <span>@T("Ares.HttpPostedFileBase.Cancel")</span>
            </button> {% } %}
        </td>
    </tr> {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>
                    <img src="{%=file.thumbnailUrl%}">
                </a> 
                {% } else if (file.name.indexOf("doc") !== -1) { %}
                <span style="position: relative;top:8px;left:5px"><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i></span>
                {% } else if (file.name.indexOf("xls") !== -1) { %}
                <span style="position: relative;top:8px;left:5px"><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i></span>
                {% } else { %}
                <span class="preview"></span>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl? 'data-gallery' : '' %}>{%=file.name%}</a> {% } else { %}
                <span>{%=file.name%}</span> {% } %}
            </p> {% if (file.error) { %}
            <div>
                <span class="label label-danger">@T("Ares.HttpPostedFileBase.Error")</span> {%=file.error%}
            </div> {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %} @* data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" *@
            <button id="btnDelete" class="btn red delete btn-sm" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"   {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="fa fa-trash-o"></i>
                <span>@T("Ares.HttpPostedFileBase.Delete")</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle"> {% } else { %}
            <button class="btn yellow cancel btn-sm">
                <i class="fa fa-ban"></i>
                <span>@T("Ares.HttpPostedFileBase.Cancel")</span>
            </button> {% } %}
        </td>
    </tr> {% } %}
</script>

<script>

</script>