﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Synchronization_detail;
@model SynchronizationDetailModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_SynchronizationDetail_1" data-toggle="tab"> @T("Admin.SynchronizationDetail.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_SynchronizationDetail_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("SynchronizationDetail.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Synchronization_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Synchronization_id, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faSynchronization_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Synchronization_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Synchronization_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Synchronization_id, Model.Synchronization_id_Synchronization_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Synchronization_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Synchronization_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Synchronization_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Table_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Table_name, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faTable_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Table_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Table_name))"></i>
                                        @Html.TextBoxFor(x => x.Table_name, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Table_name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Table_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Table_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Server_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Server_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faServer_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Server_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Server_id))"></i>
                                        @Html.TextBoxFor(x => x.Server_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Server_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Server_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Server_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Client_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Client_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faClient_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Client_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Client_id))"></i>
                                        @Html.TextBoxFor(x => x.Client_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Client_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Client_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Client_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Transaction_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Transaction_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faTransaction_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Transaction_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Transaction_id))"></i>
                                        @Html.TextBoxFor(x => x.Transaction_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Transaction_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Transaction_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Transaction_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Operation_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Operation_type, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faOperation_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Operation_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Operation_type))"></i>
                                        @Html.DropDownListFor(x => x.Operation_type, ListExtensions.ToSelectList(Model.Operation_type, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control" })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Operation_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Operation_type.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Is_synched) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Is_synched, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faIs_synched"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Is_synched) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Is_synched))"></i>
                                        @Html.CheckBoxFor(x => x.Is_synched, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Is_synched, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Is_synched.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Result) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Result, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faResult"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Result) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Result))"></i>
                                        @Html.TextBoxFor(x => x.Result, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Result.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Result, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Result.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Message) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Message, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faMessage"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Message) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Message))"></i>
                                        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Message.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Message, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Message.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Item) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Item, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faItem"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Item) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Item))"></i>
                                        @Html.TextAreaFor(x => x.Item, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Item.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Item, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Item.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Order, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faOrder"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Order))"></i>
                                        @Html.TextBoxFor(x => x.Order, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Start_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faStart_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Start_datetime))"></i>
                                        @Html.EditorFor(x => x.Start_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Start_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Start_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





