﻿

@using AssetHealth.Models.Synchronization_detail;

@model SynchronizationDetailModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("SynchronizationDetail.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "SynchronizationDetail")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("SynchronizationDetail.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableSynchronizationDetail', window.dataTableSynchronizationDetailOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Synchronization_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Synchronization_id, Model.Synchronization_id_Synchronization_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Synchronization_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Table_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Table_name, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Table_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Server_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Server_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Server_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Client_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Client_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Client_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Transaction_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Transaction_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Transaction_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Operation_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Operation_type, ListExtensions.ToSelectList(Model.Operation_type, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Is_synched, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Is_synched, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Result, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Result, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Result.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Message, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Message, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Message.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Item, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Item, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Item.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Order, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Order, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Order.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Start_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Start_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterSynchronizationDetail" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetSynchronizationDetail" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableSynchronizationDetail" style="width:100%">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("SynchronizationDetail.list.column.Id") </th>
            
                    <th> @T("SynchronizationDetail.list.column.Synchronization_id") </th>
                    <th> @T("SynchronizationDetail.list.column.Table_name") </th>
                    <th> @T("SynchronizationDetail.list.column.Server_id") </th>
                    <th> @T("SynchronizationDetail.list.column.Client_id") </th>
                    <th> @T("SynchronizationDetail.list.column.Transaction_id") </th>
                    <th> @T("SynchronizationDetail.list.column.Operation_type") </th>
                    <th> @T("SynchronizationDetail.list.column.Is_synched") </th>
                    <th> @T("SynchronizationDetail.list.column.Result") </th>
                    <th> @T("SynchronizationDetail.list.column.Message") </th>
                    <th> @T("SynchronizationDetail.list.column.Item") </th>
                    <th> @T("SynchronizationDetail.list.column.Order") </th>
                    <th> @T("SynchronizationDetail.list.column.Start_datetime") </th>
                    <th> @T("SynchronizationDetail.list.column.Description") </th>
                    <th> @T("SynchronizationDetail.list.column.Active") </th>
            
                    
                    <th> @T("SynchronizationDetail.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTableSynchronizationDetail", "ListSynchronizationDetailDatatable", "SynchronizationDetail", null, true, null, "dataTableSynchronizationDetail").AddColumn("Id")
                                        .AddColumn("Synchronization_id_Text")
                                        .AddColumn("Table_name")
                                        .AddColumn("Server_id")
                                        .AddColumn("Client_id")
                                        .AddColumn("Transaction_id")
                                        .AddColumn("EnumOperation_type_Text")
                                        .AddCustomJavascriptColumn("Is_synched", " return full.Is_synched ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Result")
                                        .AddColumn("Order")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_datetime)")
                                        
                                        .AddColumn("Description")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "SynchronizationDetail") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableSynchronizationDetailOptions = dataTableSynchronizationDetailOptions;

                 $('#btnFilterSynchronizationDetail').click(function () {
                        dataTableSynchronizationDetail.column('Synchronization_id:name').search($('#Synchronization_id').val().trim());
                        dataTableSynchronizationDetail.column('Table_name:name').search($('#Table_name').val().trim());
                        dataTableSynchronizationDetail.column('Server_id:name').search($('#Server_id').val().trim());
                        dataTableSynchronizationDetail.column('Client_id:name').search($('#Client_id').val().trim());
                        dataTableSynchronizationDetail.column('Transaction_id:name').search($('#Transaction_id').val().trim());
                        
                        dataTableSynchronizationDetail.column('Is_synched:name').search($('#Is_synched').prop('checked'));
                        dataTableSynchronizationDetail.column('Result:name').search($('#Result').val().trim());
                        dataTableSynchronizationDetail.column('Order:name').search($('#Order').val().trim());

                        dataTableSynchronizationDetail.column('Description:name').search($('#Description').val().trim());
                        dataTableSynchronizationDetail.column('Active:name').search($('#Active').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronizationDetail.draw();
            });
            
            
                $('#btnResetSynchronizationDetail').click(function () {

                    resetDatatableSearch('dataTableSynchronizationDetail');

                });
}


