@using Ext.Net;
@using Ext.Net.MVC;
@using MvcCheckBoxList.Model

@model AssetHealth.Models.User.PermissionModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_5_1" data-toggle="tab"> @T("Admin.Permission.TabTitle").Text </a>
        </li>


    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_5_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("permission.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">

                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.PermissionName, new { @class = "col-md-3 control-label" })
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faPermissionName" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.PermissionName) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.PermissionName))"></i>

                                        @Html.TextBoxFor(x => x.PermissionName, new { @class = "form-control", @style = "width:100%;", @placeholder = T("PermissionModel.PermissionName.Placeholder") })

                                    </div>

                                    @Html.ValidationMessageFor(x => x.PermissionName, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("PermissionModel.PermissionName.Hint")  &nbsp; </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Systemname, new { @class = "col-md-3 control-label" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faSystemname" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Systemname) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Systemname))"></i>

                                        @Html.TextBoxFor(x => x.Systemname, new { @class = "form-control", @placeholder = T("PermissionModel.Systemname.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Systemname, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("PermissionModel.Systemname.Hint")  &nbsp; </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Category, new { @class = "col-md-3 control-label" })

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faCategory" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Category) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Category))"></i>

                                        @Html.TextBoxFor(x => x.Category, new { @class = "form-control", @style = "width:100%;", @placeholder = T("PermissionModel.Category.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Category, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("PermissionModel.Category.Hint") </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label" })

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faDescription" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("PermissionModel.Description.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(x => x.Description, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("PermissionModel.Description.Hint") </span>
                                </div>
                            </div>
                        </div>

                    </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" name="save" class="btn green">
                                            <i class="fa fa-floppy-o"></i>
                                            @T("Admin.Common.Save")
                                        </button>
                                        <button type="button" class="btn default" onclick="javascript: location.href = document.referrer;">
                                            <i class="fa fa-times"></i>
                                            @T("Admin.Common.Cancel")
                                        </button>

                                    </div>
                                </div>
                            </div>

                        </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>


    </div>
</div>


