﻿@using Ares.Web.Models.Country;
@model CountryModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Country.EditCountryDetails").Text;
}
@using (Html.BeginForm("Edit", "Country", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Country.EditCountryDetails") - @Model.Name
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableStateprovince", "ListStateprovinceDatatable", "Country", null, true, new { CountryModelId = Model.Id }, "dataTableStateprovince").AddColumn("Id")
                                        .AddColumn("Name")
                                        .AddColumn("Abbreviation")
                                        .AddCustomJavascriptColumn("Published", " return full.Published ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Display_order")
                                        .AddColumn("Telephone_code")
                                        .AddColumn("Carplate_code")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditStateprovince", "Country") + "/' + full.Id , full.Id, true,  true, 'Stateprovince') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableStateprovinceOptions = dataTableStateprovinceOptions; 
    
    $('#btnFilterStateprovince').click(function () {
                        dataTableStateprovince.column('Name:name').search($('#Filter_StateprovinceModel_Name').val().trim());
                        dataTableStateprovince.column('Abbreviation:name').search($('#Filter_StateprovinceModel_Abbreviation').val().trim());
                        dataTableStateprovince.column('Published:name').search($('#Filter_StateprovinceModel_Published').prop('checked'));
                        dataTableStateprovince.column('Display_order:name').search($('#Filter_StateprovinceModel_Display_order').val().trim());
                        dataTableStateprovince.column('Telephone_code:name').search($('#Filter_StateprovinceModel_Telephone_code').val().trim());
                        dataTableStateprovince.column('Carplate_code:name').search($('#Filter_StateprovinceModel_Carplate_code').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableStateprovince.draw();
            });
            
            
                $('#btnResetStateprovince').click(function () {

                    resetDatatableSearch('dataTableStateprovince');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_Country_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/Country-input-mask.js"></script>
}


