﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Message_template;
@model MessageTemplateModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_MessageTemplate_1" data-toggle="tab"> @T("Admin.MessageTemplate.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_MessageTemplate_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("MessageTemplate.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Name, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faName"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Name))"></i>
                                        @Html.TextAreaFor(x => x.Name, new { @class = "form-control", @placeholder = T("MessageTemplateModel.Name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("MessageTemplateModel.Name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Bcc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Bcc, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faBcc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Bcc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Bcc))"></i>
                                        @Html.TextAreaFor(x => x.Bcc, new { @class = "form-control", @placeholder = T("MessageTemplateModel.Bcc.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Bcc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("MessageTemplateModel.Bcc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Subject) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Subject, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faSubject"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Subject) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Subject))"></i>
                                        @Html.TextAreaFor(x => x.Subject, new { @class = "form-control", @placeholder = T("MessageTemplateModel.Subject.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Subject, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("MessageTemplateModel.Subject.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Body) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Body, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faBody"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Body) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Body))"></i>
                                        @Html.TextAreaFor(x => x.Body, new { @class = "form-control", @placeholder = T("MessageTemplateModel.Body.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Body, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("MessageTemplateModel.Body.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Is_active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Is_active, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faIs_active"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Is_active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Is_active))"></i>
                                        @Html.CheckBoxFor(x => x.Is_active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Is_active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("MessageTemplateModel.Is_active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Email_account_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Email_account_id, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faEmail_account_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Email_account_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Email_account_id))"></i>
                                        @Html.TextBoxFor(x => x.Email_account_id, new { @class = "form-control", @placeholder = T("MessageTemplateModel.Email_account_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Email_account_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("MessageTemplateModel.Email_account_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Limited_to_sites) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Limited_to_sites, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faLimited_to_sites"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Limited_to_sites) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Limited_to_sites))"></i>
                                        @Html.CheckBoxFor(x => x.Limited_to_sites, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Limited_to_sites, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("MessageTemplateModel.Limited_to_sites.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





