﻿
@using MvcCheckBoxList.Model
@using Ares.Web.Models.Media;
@model FilesModel

@{ 
    TempData.Keep("Entity_name");
    TempData.Keep("Entity_property");
    TempData.Keep("Entity_id");

}

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_Files_1" data-toggle="tab"> @T("Admin.Files.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_Files_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("Files.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.App_code)
                        @Html.HiddenFor(m => m.File_manager_id)
                        @Html.HiddenFor(m => m.Status)
                        @Html.HiddenFor(m => m.Title)
                        
                        @Html.HiddenFor(m => m.Entity_name)
                        @Html.HiddenFor(m => m.Entity_property)
                        @Html.HiddenFor(m => m.Entity_id)
                        @Html.HiddenFor(m => m.Category_id)
                        @Html.HiddenFor(m => m.File_type_id)
                        @Html.HiddenFor(m => m.Original_filename)
                        @Html.HiddenFor(m => m.File_reference)
                        @Html.HiddenFor(m => m.File_reference_device)
                        @Html.HiddenFor(m => m.File_guid)
                        
                        
                        @Html.HiddenFor(m => m.File_extension)
                        @Html.HiddenFor(m => m.Content_type)
                        @Html.HiddenFor(m => m.Size)
                        @Html.HiddenFor(m => m.Display_order)
                        @Html.HiddenFor(m => m.Thumbnail)
                        @Html.HiddenFor(m => m.Thumbnail_device)
                        @Html.HiddenFor(m => m.Exif)
                        @Html.HiddenFor(m => m.Op_message)
                        @Html.HiddenFor(m => m.Notes)
                        @Html.HiddenFor(m => m.Version)
                        @Html.HiddenFor(m => m.Top_parent_id)
                        @Html.HiddenFor(m => m.Parent_id)
                        @Html.HiddenFor(m => m.Deleted)
                        
                        @*
    @Html.HiddenFor(m => m.Insert_user_id)
    @Html.HiddenFor(m => m.Insert_datetime)
    @Html.HiddenFor(m => m.Update_user_id)
    @Html.HiddenFor(m => m.Update_datetime)
                        *@


                        @foreach (var m in Model.CustomProperties)
                        {
                            <input type="hidden" value="@m.Key" name="CustomProperties.Index" />
                            <input type="hidden" value="@m.Key" name="CustomProperties[@(m.Key)].Key" />
                            <input type="hidden" value="@m.Value" name="CustomProperties[@(m.Key)].Value" />
   
                        }


                            @*
            <div class="form-group @(Html.CheckValidationErrorFor(m => m.App_code) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.App_code, new { @class = "col-md-3 control-label  required-field" })
                <div class="col-md-9">
                            @Html.TextBoxFor(x => x.App_code, new { @class = "form-control", @style = "width:100%;"  })



                    <span class="help-block"> @Html.ValidationMessageFor(m => m.App_code) &nbsp; </span>
                </div>
            </div>
            <div class="form-group @(Html.CheckValidationErrorFor(m => m.Status) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.Status, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">
                            @Html.DropDownListFor(x => x.Status, ListExtensions.ToSelectList(Model.Status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", @style = "width:45%;" })



                    <span class="help-block"> @Html.ValidationMessageFor(m => m.Status) &nbsp; </span>
                </div>
            </div>
                                                            <div class="form-group @(Html.CheckValidationErrorFor(m => m.Title) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Title, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                                @Html.TextAreaFor(x => x.Title, new { @class = "form-control", @style = "width:100%;"  })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Title) &nbsp; </span>
                                    </div>
                                </div>
                            *@

                            <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                                @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @style = "width:100%;" })



                                    <span class="help-block"> @Html.ValidationMessageFor(m => m.Description) &nbsp; </span>
                                </div>
                            </div>

                            @*
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Entity_name) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Entity_name, new { @class = "col-md-3 control-label  required-field" })
        <div class="col-md-9">
                    @Html.TextAreaFor(x => x.Entity_name, new { @class = "form-control", @style = "width:100%;"  })



            <span class="help-block"> @Html.ValidationMessageFor(m => m.Entity_name) &nbsp; </span>
        </div>
    </div>
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Entity_property) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Entity_property, new { @class = "col-md-3 control-label  required-field" })
        <div class="col-md-9">
                    @Html.TextAreaFor(x => x.Entity_property, new { @class = "form-control", @style = "width:100%;"  })



            <span class="help-block"> @Html.ValidationMessageFor(m => m.Entity_property) &nbsp; </span>
        </div>
    </div>
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Entity_id) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Entity_id, new { @class = "col-md-3 control-label  required-field" })
        <div class="col-md-9">
                    @Html.TextBoxFor(x => x.Entity_id, new { @class = "form-control", @style = "width:40%;"  })



            <span class="help-block"> @Html.ValidationMessageFor(m => m.Entity_id) &nbsp; </span>
        </div>
    </div>


                <div class="form-group @(Html.CheckValidationErrorFor(m => m.File_type_id) ? "has-error" : "")">
                    @Html.AresLabelFor(m => m.File_type_id, new { @class = "col-md-3 control-label " })
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.File_type_id, (SelectList)Model.CustomProperties["FileType_SelectList"] , T("Select").Text, new { @class = "form-control", @style = "width:45%;" })



                        <span class="help-block"> @Html.ValidationMessageFor(m => m.File_type_id) &nbsp; </span>
                    </div>
                </div>
                            *@
                            <div class="form-group @(Html.CheckValidationErrorFor(m => m.File_data) ? "has-error" : "")">
                                @Html.AresLabelFor(m => m.File_data, new { @class = "col-md-3 control-label " })
                                <div class="col-md-9">
                                    @Html.EditorFor(x => x.File_data, new { @class = "form-control", @style = "width:100%;", @placeholder = "File_data", @type = "file" })



                                    <span class="help-block"> @Html.ValidationMessageFor(m => m.File_data) &nbsp; </span>
                                </div>
                            </div>
                            @*
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.File_reference) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.File_reference, new { @class = "col-md-3 control-label  required-field" })
        <div class="col-md-9">
                    @Html.TextAreaFor(x => x.File_reference, new { @class = "form-control", @style = "width:100%;"  })



            <span class="help-block"> @Html.ValidationMessageFor(m => m.File_reference) &nbsp; </span>
        </div>
    </div>
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.File_guid) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.File_guid, new { @class = "col-md-3 control-label " })
        <div class="col-md-9">
                    @Html.TextAreaFor(x => x.File_guid, new { @class = "form-control", @style = "width:100%;"  })



            <span class="help-block"> @Html.ValidationMessageFor(m => m.File_guid) &nbsp; </span>
        </div>
    </div>
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.File_extension) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.File_extension, new { @class = "col-md-3 control-label  required-field" })
        <div class="col-md-9">
                    @Html.TextBoxFor(x => x.File_extension, new { @class = "form-control", @style = "width:100%;"  })



            <span class="help-block"> @Html.ValidationMessageFor(m => m.File_extension) &nbsp; </span>
        </div>
    </div>
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Content_type) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Content_type, new { @class = "col-md-3 control-label  required-field" })
        <div class="col-md-9">



            <span class="help-block"> @Html.ValidationMessageFor(m => m.Content_type) &nbsp; </span>
        </div>
    </div>
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Size) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Size, new { @class = "col-md-3 control-label  required-field" })
        <div class="col-md-9">
                    @Html.TextBoxFor(x => x.Size, new { @class = "form-control", @style = "width:40%;"  })



            <span class="help-block"> @Html.ValidationMessageFor(m => m.Size) &nbsp; </span>
        </div>
    </div>

                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                        @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label " })
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @style = "width:40%;" })



                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Display_order) &nbsp; </span>
                        </div>
                    </div>
                            *@
                            <div class="form-group @(Html.CheckValidationErrorFor(m => m.Is_active) ? "has-error" : "")">
                                @Html.AresLabelFor(m => m.Is_active, new { @class = "col-md-3 control-label  required-field" })
                                <div class="col-md-9">
                                    @Html.CheckBoxFor(x => x.Is_active, new { @class = "mt-checkbox" })



                                    <span class="help-block"> @Html.ValidationMessageFor(m => m.Is_active) &nbsp; </span>
                                </div>
                            </div>
                            @*
            <div class="form-group @(Html.CheckValidationErrorFor(m => m.Thumbnail) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.Thumbnail, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">
                            @Html.TextAreaFor(x => x.Thumbnail, new { @class = "form-control", @style = "width:100%;"  })



                    <span class="help-block"> @Html.ValidationMessageFor(m => m.Thumbnail) &nbsp; </span>
                </div>
            </div>
            <div class="form-group @(Html.CheckValidationErrorFor(m => m.Op_message) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.Op_message, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">
                            @Html.TextAreaFor(x => x.Op_message, new { @class = "form-control", @style = "width:100%;"  })



                    <span class="help-block"> @Html.ValidationMessageFor(m => m.Op_message) &nbsp; </span>
                </div>
            </div>

                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Notes) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Notes, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                                @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @style = "width:100%;"  })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Notes) &nbsp; </span>
                                    </div>
                                </div>

                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Insert_user_id) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Insert_user_id, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                                @Html.TextAreaFor(x => x.Insert_user_id, new { @class = "form-control", @style = "width:100%;"  })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Insert_user_id) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Update_user_id) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Update_user_id, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                                @Html.TextAreaFor(x => x.Update_user_id, new { @class = "form-control", @style = "width:100%;"  })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Update_user_id) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Insert_datetime) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Insert_datetime, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                                @Html.TextBoxFor(x => x.Insert_datetime, new { @class = "form-control", @style = "width:100%;"  })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Insert_datetime) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Update_datetime) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Update_datetime, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                                @Html.TextBoxFor(x => x.Update_datetime, new { @class = "form-control", @style = "width:100%;"  })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Update_datetime) &nbsp; </span>
                                    </div>
                                </div>
                            *@


</div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>






 