﻿@using Ares.Web.Models.Media;
@model FilesModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Files.AddNew").Text;
}

@using (Html.BeginForm("Create", "Files", FormMethod.Post, new { @id = "fileupload", @enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Files.AddFilesDetails") - 
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List", Model.Entity_name)
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 @section jQueryOnReadyScripts {
}

@section beforeFooter{
    <script type="text/javascript" src="~/Scripts/ares/ares-fileupload.js"></script>

    <script type="text/javascript" src="~/Scripts/pages/Files-input-mask.js"></script>
}