﻿@using Ares.Web.Models.Media;
@model FilesModel

@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Files.EditFilesDetails").Text;
}
@using (Html.BeginForm("Edit", "Files", FormMethod.Post, new { @id = "fileupload", @enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Files.EditFilesDetails") - @Model.App_code
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List", Model.Entity_name)
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}


 
 @section jQueryOnReadyScripts {
 
 
       setTimeout(function(){
        $('a[href="#tab_Files_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{
    <script type="text/javascript" src="~/Scripts/ares/ares-fileupload.js"></script>

    <script type="text/javascript" src="~/Scripts/pages/Files-input-mask.js"></script>
}


