﻿

@using Ares.Web.Models.Media;

@model FilesModel
@{
    //Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;

    string Entity_name = TempData["Entity_name"].ToString();
    string Entity_property = TempData["Entity_property"].ToString();
    string Entity_id =  TempData["Entity_id"].ToString();

}
<style>
    .portlet > .portlet-title > .actions {
        float:left;
        display:inline ;
       
    margin-right: 100px;
    }

   

</style>

<div class="portlet box yellow-casablanca">
    <div class="portlet-title" style="overflow: hidden;">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("Files.list.header")
        </div>

        <div class="actions">
            <a href="@Url.Action("Create", "Files")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("Files.list.add")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableForm', window.dataTableFormOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        
  
            <div class="tools" style="display:inline ;float:right; right: 0; margin-right:0px">

                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>


            </div>

        
        
        
        
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTable">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("Files.list.column.Id") </th>
                                                                                                                @*
        <th> @T("Files.list.column.App_code") </th>
                        <th> @T("Files.list.column.Title") </th>
        <th> @T("Files.list.column.Status") </th>
                        <th> @T("Files.list.column.Entity_name") </th>
                        <th> @T("Files.list.column.Entity_property") </th>
                        <th> @T("Files.list.column.Entity_id") </th>


                        <th> @T("Files.list.column.File_guid") </th>
                        <th> @T("Files.list.column.File_extension") </th>
                    <th> @T("Files.list.column.Thumbnail") </th>
                    <th> @T("Files.list.column.Op_message") </th>
                    <th> @T("Files.list.column.Notes") </th>
                    <th> @T("Files.list.column.Insert_user_id") </th>
                    <th> @T("Files.list.column.Update_user_id") </th>
                    <th> @T("Files.list.column.Insert_datetime") </th>
                    <th> @T("Files.list.column.Update_datetime") </th>
                                                                            <th> @T("Files.list.column.File_type_id") </th>
                                                                                                <th> @T("Files.list.column.Display_order") </th>
                                                                                                                *@
                    
                    <th> @T("Files.list.column.Description") </th>
                    <th> @T("Files.list.column.File_reference") </th>
                    <th> @T("Files.list.column.Content_type") </th>
                    <th> @T("Files.list.column.Size") </th>
                    
                    <th> @T("Files.list.column.Is_active") </th>

            
                    
                    <th> @T("Files.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

@using (Html.BeginScripts())
{

    
    @(Url.Datatables().CreateDatatable("#dataTable", "ListFilesDatatable", "Files", null, true, new { Entity_name = Entity_name, Entity_id = Entity_id }).AddColumn("Id")
    @*
    .AddColumn("App_code")
    .AddColumn("EnumStatus_Text")
    .AddColumn("Title")
    .AddColumn("Entity_name")
    .AddColumn("Entity_property")
    .AddColumn("Entity_id")
    .AddColumn("EnumFile_type_id_Text")
         .AddColumn("File_guid")
        .AddColumn("File_extension")
        .AddColumn("CustomProperties.FileType_Text")
        .AddColumn("Display_order")
    *@
                                        
                                        .AddColumn("Description")
                                        .AddColumn("Original_filename")
                                        .AddColumn("Content_type")
                                        .AddColumn("Size")
                                        
                                        .AddCustomJavascriptColumn("", " return full.Is_active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        @*
    .AddColumn("Thumbnail")
    .AddColumn("Op_message")
    .AddColumn("Notes")
    .AddColumn("Insert_user_id")
    .AddColumn("Update_user_id")
    .AddColumn("Insert_datetime")
    .AddColumn("Update_datetime")
                                        *@
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "Files") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    //.AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    //.AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize())

}




@{

    TempData["Entity_name"] = Entity_name;
    TempData["Entity_property"] = Entity_property;
    TempData["Entity_id"] = Entity_id;
}