﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Setting;
@model SettingModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_Setting_1" data-toggle="tab"> @T("Admin.Setting.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_Setting_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("Setting.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Category) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Category, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faCategory"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Category) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Category))"></i>
                                        @Html.TextBoxFor(x => x.Category, new { @class = "form-control", @placeholder = T("SettingModel.Category.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Category, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SettingModel.Category.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Setting_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Setting_name, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faSetting_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Setting_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Setting_name))"></i>
                                        @Html.TextAreaFor(x => x.Setting_name, new { @class = "form-control", @placeholder = T("SettingModel.Setting_name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Setting_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SettingModel.Setting_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Setting_value) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Setting_value, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faSetting_value"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Setting_value) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Setting_value))"></i>
                                        @Html.TextAreaFor(x => x.Setting_value, new { @class = "form-control", @placeholder = T("SettingModel.Setting_value.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Setting_value, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SettingModel.Setting_value.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("SettingModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SettingModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





