﻿

@using Ares.Web.Models.Setting;

@model SettingModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("Setting.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "Setting")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("Setting.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableSetting', window.dataTableSettingOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Category, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Category, new { @class = "form-control", @placeholder = T("SettingModel.Category.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Setting_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Setting_name, new { @class = "form-control", @placeholder = T("SettingModel.Setting_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Setting_value, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Setting_value, new { @class = "form-control", @placeholder = T("SettingModel.Setting_value.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("SettingModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterSetting" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetSetting" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableSetting" style="width:100%">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("Setting.list.column.Id") </th>
            
                    <th> @T("Setting.list.column.Category") </th>
                    <th> @T("Setting.list.column.Setting_name") </th>
                    <th> @T("Setting.list.column.Setting_value") </th>
                    <th> @T("Setting.list.column.Description") </th>
            
                    
                    <th> @T("Setting.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTableSetting", "ListSettingDatatable", "Setting", null, true, null, "dataTableSetting").AddColumn("Id")
                                        .AddColumn("Category")
                                        .AddColumn("Setting_name")
                                        .AddColumn("Setting_value")
                                        .AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "Setting") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableSettingOptions = dataTableSettingOptions;

                 $('#btnFilterSetting').click(function () {
                        dataTableSetting.column('Category:name').search($('#Category').val().trim());
                        dataTableSetting.column('Setting_name:name').search($('#Setting_name').val().trim());
                        dataTableSetting.column('Setting_value:name').search($('#Setting_value').val().trim());
                        dataTableSetting.column('Description:name').search($('#Description').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSetting.draw();
            });
            
            
                $('#btnResetSetting').click(function () {

                    resetDatatableSearch('dataTableSetting');

                });
}


