﻿@using AssetHealth.Models.Form_question_option;
@model FormQuestionOptionModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.FormQuestionOption.EditFormQuestionOptionDetails").Text;
}
@using (Html.BeginForm("Edit", "FormQuestionOption", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.FormQuestionOption.EditFormQuestionOptionDetails") - @Model.Code
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestionOption", "ListFormQuestionOptionDatatable", "FormQuestionOption", null, true, new { FormQuestionOptionModelId = Model.Id }, "dataTableFormQuestionOption").AddColumn("Id")
                                        .AddColumn("Form_question_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        .AddColumn("Display_order")
                                        .AddColumn("Period")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestionOption", "FormQuestionOption") + "/' + full.Id , full.Id, true,  true, 'FormQuestionOption') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionOptionOptions = dataTableFormQuestionOptionOptions; 
    
    $('#btnFilterFormQuestionOption').click(function () {
                        dataTableFormQuestionOption.column('Form_question_id:name').search($('#Filter_FormQuestionOptionModel_Form_question_id').val().trim());
                        dataTableFormQuestionOption.column('Code:name').search($('#Filter_FormQuestionOptionModel_Code').val().trim());
                        dataTableFormQuestionOption.column('Title:name').search($('#Filter_FormQuestionOptionModel_Title').val().trim());
                        dataTableFormQuestionOption.column('Hint:name').search($('#Filter_FormQuestionOptionModel_Hint').val().trim());
                        dataTableFormQuestionOption.column('Description:name').search($('#Filter_FormQuestionOptionModel_Description').val().trim());
                        dataTableFormQuestionOption.column('Version:name').search($('#Filter_FormQuestionOptionModel_Version').val().trim());
                        dataTableFormQuestionOption.column('Image_path:name').search($('#Filter_FormQuestionOptionModel_Image_path').val().trim());
                        dataTableFormQuestionOption.column('Device_image_path:name').search($('#Filter_FormQuestionOptionModel_Device_image_path').val().trim());
                        dataTableFormQuestionOption.column('Estimated_time:name').search($('#Filter_FormQuestionOptionModel_Estimated_time').val().trim());
                        dataTableFormQuestionOption.column('Video_path:name').search($('#Filter_FormQuestionOptionModel_Video_path').val().trim());
                        dataTableFormQuestionOption.column('Device_video_path:name').search($('#Filter_FormQuestionOptionModel_Device_video_path').val().trim());
                        dataTableFormQuestionOption.column('Method:name').search($('#Filter_FormQuestionOptionModel_Method').val().trim());
                        dataTableFormQuestionOption.column('Display_order:name').search($('#Filter_FormQuestionOptionModel_Display_order').val().trim());
                        dataTableFormQuestionOption.column('Period:name').search($('#Filter_FormQuestionOptionModel_Period').val().trim());
                        dataTableFormQuestionOption.column('Active:name').search($('#Filter_FormQuestionOptionModel_Active').prop('checked'));
                        dataTableFormQuestionOption.column('Deleted:name').search($('#Filter_FormQuestionOptionModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestionOption.draw();
            });
            
            
                $('#btnResetFormQuestionOption').click(function () {

                    resetDatatableSearch('dataTableFormQuestionOption');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_FormQuestionOption_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/FormQuestionOption-input-mask.js"></script>
}


