﻿

@using AssetHealth.Models.Form_question_option;

@model FormQuestionOptionModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("FormQuestionOption.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "FormQuestionOption")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("FormQuestionOption.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormQuestionOption', window.dataTableFormQuestionOptionOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Form_question_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Form_question_id, Model.Form_question_id_FormQuestion_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Form_question_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Derived_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Derived_id, Model.Derived_id_FormQuestionOption_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Derived_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Code, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Code.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Title, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Title.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Hint, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Hint, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Hint.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Version, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Version.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Image_path, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Image_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Image_path.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Device_image_path, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Device_image_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Device_image_path.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Estimated_time, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Estimated_time.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Video_path, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Video_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Video_path.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Device_video_path, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Device_video_path, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Device_video_path.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Method, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Method, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Method.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Display_order, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Display_order.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Period, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Period, new { @class = "form-control", @placeholder = T("FormQuestionOptionModel.Period.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Deleted, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormQuestionOption" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormQuestionOption" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableFormQuestionOption" style="width:100%">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("FormQuestionOption.list.column.Id") </th>
            
                    <th> @T("FormQuestionOption.list.column.Form_question_id") </th>
                    <th> @T("FormQuestionOption.list.column.Derived_id") </th>
                    <th> @T("FormQuestionOption.list.column.Code") </th>
                    <th> @T("FormQuestionOption.list.column.Title") </th>
                    <th> @T("FormQuestionOption.list.column.Hint") </th>
                    <th> @T("FormQuestionOption.list.column.Description") </th>
                    <th> @T("FormQuestionOption.list.column.Version") </th>
                    <th> @T("FormQuestionOption.list.column.Image_path") </th>
                    <th> @T("FormQuestionOption.list.column.Device_image_path") </th>
                    <th> @T("FormQuestionOption.list.column.Estimated_time") </th>
                    <th> @T("FormQuestionOption.list.column.Video_path") </th>
                    <th> @T("FormQuestionOption.list.column.Device_video_path") </th>
                    <th> @T("FormQuestionOption.list.column.Method") </th>
                    <th> @T("FormQuestionOption.list.column.Display_order") </th>
                    <th> @T("FormQuestionOption.list.column.Period") </th>
                    <th> @T("FormQuestionOption.list.column.Active") </th>
                    <th> @T("FormQuestionOption.list.column.Deleted") </th>
            
                    
                    <th> @T("FormQuestionOption.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestionOption", "ListFormQuestionOptionDatatable", "FormQuestionOption", null, true, null, "dataTableFormQuestionOption").AddColumn("Id")
                                        .AddColumn("Form_question_id_Text")
                                        .AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        .AddColumn("Display_order")
                                        .AddColumn("Period")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "FormQuestionOption") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionOptionOptions = dataTableFormQuestionOptionOptions;

                 $('#btnFilterFormQuestionOption').click(function () {
                        dataTableFormQuestionOption.column('Form_question_id:name').search($('#Form_question_id').val().trim());
                        dataTableFormQuestionOption.column('Derived_id:name').search($('#Derived_id').val().trim());
                        dataTableFormQuestionOption.column('Code:name').search($('#Code').val().trim());
                        dataTableFormQuestionOption.column('Title:name').search($('#Title').val().trim());
                        dataTableFormQuestionOption.column('Hint:name').search($('#Hint').val().trim());
                        dataTableFormQuestionOption.column('Description:name').search($('#Description').val().trim());
                        dataTableFormQuestionOption.column('Version:name').search($('#Version').val().trim());
                        dataTableFormQuestionOption.column('Image_path:name').search($('#Image_path').val().trim());
                        dataTableFormQuestionOption.column('Device_image_path:name').search($('#Device_image_path').val().trim());
                        dataTableFormQuestionOption.column('Estimated_time:name').search($('#Estimated_time').val().trim());
                        dataTableFormQuestionOption.column('Video_path:name').search($('#Video_path').val().trim());
                        dataTableFormQuestionOption.column('Device_video_path:name').search($('#Device_video_path').val().trim());
                        dataTableFormQuestionOption.column('Method:name').search($('#Method').val().trim());
                        dataTableFormQuestionOption.column('Display_order:name').search($('#Display_order').val().trim());
                        dataTableFormQuestionOption.column('Period:name').search($('#Period').val().trim());
                        dataTableFormQuestionOption.column('Active:name').search($('#Active').prop('checked'));
                        dataTableFormQuestionOption.column('Deleted:name').search($('#Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestionOption.draw();
            });
            
            
                $('#btnResetFormQuestionOption').click(function () {

                    resetDatatableSearch('dataTableFormQuestionOption');

                });
}


