﻿@using AssetHealth.Common.Models.Form_answer_round;
@model FormAnswerRoundModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.FormAnswerRound.EditFormAnswerRoundDetails").Text;
}
@using (Html.BeginForm("Edit", "FormAnswerRound", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.FormAnswerRound.EditFormAnswerRoundDetails") - @Model.Object_id
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswer", "ListFormAnswerDatatable", "FormAnswerRound", null, true, new { FormAnswerRoundModelId = Model.Id }, "dataTableFormAnswer").AddColumn("Id")
                                        .AddColumn("Object_id")
                                        .AddColumn("Form_question_id_Text")
                                        .AddColumn("Device_id_Text")
                                        .AddColumn("Previous_answer_Text")
                                        .AddColumn("Username")
                                        .AddColumn("Read_no")
                                        .AddColumn("EnumWarning_type_Text")
                                        .AddColumn("Answer")
                                        .AddColumn("Converted_answer")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Required_read_datetime)")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Actual_read_datetime)")
                                        .AddColumn("Description")
                                        .AddColumn("Udid")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormAnswer", "FormAnswerRound") + "/' + full.Id , full.Id, true,  true, 'FormAnswer') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .AddAttribute("'scrollX' : true ")
    .Initialize());
    
    window.dataTableFormAnswerOptions = dataTableFormAnswerOptions; 
    
    $('#btnFilterFormAnswer').click(function () {
                        dataTableFormAnswer.column('Object_id:name').search($('#Filter_FormAnswerModel_Object_id').val().trim());
                        dataTableFormAnswer.column('Form_question_id:name').search($('#Filter_FormAnswerModel_Form_question_id').val().trim());
                        dataTableFormAnswer.column('Device_id:name').search($('#Filter_FormAnswerModel_Device_id').val().trim());
                        dataTableFormAnswer.column('Previous_answer:name').search($('#Filter_FormAnswerModel_Previous_answer').val().trim());
                        dataTableFormAnswer.column('Username:name').search($('#Filter_FormAnswerModel_Username').val().trim());
                        dataTableFormAnswer.column('Read_no:name').search($('#Filter_FormAnswerModel_Read_no').val().trim());
                        
                        dataTableFormAnswer.column('Answer:name').search($('#Filter_FormAnswerModel_Answer').val().trim());
                        dataTableFormAnswer.column('Converted_answer:name').search($('#Filter_FormAnswerModel_Converted_answer').val().trim());


                        dataTableFormAnswer.column('Description:name').search($('#Filter_FormAnswerModel_Description').val().trim());
                        dataTableFormAnswer.column('Udid:name').search($('#Filter_FormAnswerModel_Udid').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswer.draw();
            });
            
            
                $('#btnResetFormAnswer').click(function () {

                    resetDatatableSearch('dataTableFormAnswer');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_FormAnswerRound_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/FormAnswerRound-input-mask.js"></script>
}


