﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Schedule_task;
@model ScheduleTaskModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_ScheduleTask_1" data-toggle="tab"> @T("Admin.ScheduleTask.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_ScheduleTask_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("ScheduleTask.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Name, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faName"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Name))"></i>
                                        @Html.TextAreaFor(x => x.Name, new { @class = "form-control", @placeholder = T("ScheduleTaskModel.Name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("ScheduleTaskModel.Name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Seconds) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Seconds, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSeconds"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Seconds) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Seconds))"></i>
                                        @Html.TextBoxFor(x => x.Seconds, new { @class = "form-control", @placeholder = T("ScheduleTaskModel.Seconds.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Seconds, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("ScheduleTaskModel.Seconds.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Type, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faType"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Type))"></i>
                                        @Html.TextAreaFor(x => x.Type, new { @class = "form-control", @placeholder = T("ScheduleTaskModel.Type.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("ScheduleTaskModel.Type.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Enabled) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Enabled, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faEnabled"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Enabled) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Enabled))"></i>
                                        @Html.CheckBoxFor(x => x.Enabled, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Enabled, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("ScheduleTaskModel.Enabled.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Stop_on_error) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Stop_on_error, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faStop_on_error"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Stop_on_error) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Stop_on_error))"></i>
                                        @Html.CheckBoxFor(x => x.Stop_on_error, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Stop_on_error, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("ScheduleTaskModel.Stop_on_error.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_start_utc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_start_utc, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_start_utc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_start_utc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_start_utc))"></i>
                                        @Html.EditorFor(x => x.Last_start_utc, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_start_utc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("ScheduleTaskModel.Last_start_utc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_end_utc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_end_utc, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_end_utc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_end_utc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_end_utc))"></i>
                                        @Html.EditorFor(x => x.Last_end_utc, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_end_utc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("ScheduleTaskModel.Last_end_utc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_success_utc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_success_utc, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_success_utc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_success_utc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_success_utc))"></i>
                                        @Html.EditorFor(x => x.Last_success_utc, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_success_utc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("ScheduleTaskModel.Last_success_utc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





