﻿<script type="text/javascript">
    $(document).ready(function () {
        var allInputs = $(":input");
        allInputs.removeAttr('disabled');

        BindSpinner();
    });

    var activeFormId;

    function BindSpinner() {
        /*
        ajaxSend etc events are global and only bindable to document itself not inner components
        */
        $(document).bind("ajaxSend", function (event, jqxhr, settings) {
            /*
            console.log(event.currentTarget.activeElement.form.id);
            console.log(jqxhr);
            console.log(settings);
            */
            var frmId = event.currentTarget.activeElement.form.id;
            activeFormId = frmId;
            console.log(frmId);
            
            //$("#div_loading").prependTo($("#" + event.currentTarget.forms[0].id).parent().parent());
            $("#div_loading").wrapAll($("#" + frmId));

            $("#div_loading").show();
            $("#" + frmId + " :input").attr("disabled", "disabled");
        }).bind("ajaxComplete", function (event, jqxhr, settings) {
            $("#div_loading").hide();


            if (event.currentTarget.activeElement.form !== undefined) {
                var frmId = event.currentTarget.activeElement.form.id;
                $("#" + frmId + " :input").removeAttr('disabled');
            }
            else if (activeFormId !== undefined) {
                $("#" + activeFormId + " :input").removeAttr('disabled');
            }

        })/*.bind("ajaxStop", function (event, jqxhr, settings) {
            $("#div_loading").hide();

            if (event.currentTarget.activeElement.form !== undefined) {
                var frmId = event.currentTarget.activeElement.form.id;
                $("#" + frmId + " :input").removeAttr('disabled');
            }
            else if(activeForm !== null)
                $("#" + activeForm.Id + " :input").removeAttr('disabled');

        }).bind("ajaxError", function (event, jqxhr, settings) {
            $("#div_loading").hide();

            var frmId = event.currentTarget.activeElement.form.id;
            $("#" + frmId + " :input").removeAttr('disabled');
        })*/;

        /*
        $(document).ajaxStart(function (event, xhr, options) {
            $("#div_loading").prependTo($("#" + event.currentTarget.forms[0].id).parent().parent());

            $("#div_loading").show();
        });

        $(document).ajaxComplete(function (event, xhr, options) {
            $("#div_loading").hide();
            //$("#divLogin").show();
            $("#" + event.currentTarget.forms[0].id + " :input").removeAttr('disabled');
        });
        */
    }


</script>

<div id="div_loading" style="display:none; position:relative; top: 0;left: 0; width:100%; height:100%; text-align: center;z-index:9999;background-color: transparent">
       <img src="@Url.Content("~/Content/loading/spinner.gif")" width="40" alt="" /><br>Lütfen bekleyiniz
</div>

<div id="div_loading_tmp" style="display:none;">
</div>

