﻿<script type="text/javascript" src="@Url.Content("~/Content/loading/spin.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/loading/loading.css")">
<script type="text/javascript">
    $(function () {
        //$("#btnFilter").click(function () {
        /*
        $(":submit").click(function (e) {
            //e.preventDefault();
            $("#loading").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
        */
        $("form").submit(function (event) {
            
            if ($(this).valid()) {
                
                if (!sessionStorage.getItem('multipleFiles') && sessionStorage.getItem('number_of_files') > 0)
                {
                    event.preventDefault();
                    refreshDangerContent(null, " *  Dosya yüklenmedi");
                }
                else
                    showLoading();
            }
            else {
                //refreshDangerContent(formValidate($(this)), "");
                refreshDangerContent($(this), "");
            }
            
            
        });

        $("button").click(function (event) {
            //showLoading();
            //file upload'da loading kalıyor

        });

        $(document)
            .ajaxStart(function () {
                if (LOADING_ENABLED_ON_AJAX)
                {
                    showLoading();
                }
            })
            .ajaxStop(function () {
                $("#loading").hide();
                
                LOADING_ENABLED_ON_AJAX = true;
            });

        /*
        $('a').click(function (e) {
            var target = $(e.target);
            //e.preventDefault();
            showLoading();
        });
        */
    });


    function showLoading()
    {
        $("#loading").fadeIn();
        var opts = {
            lines: 12, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);
        //event.preventDefault();
    }


</script>

<div id="loading" >
    <div id="loadingcontent">
        <p id="loadingspinner">
            @T("Admin.Common.Please.Wait")
        </p>
    </div>
</div>