﻿<!-- Modal -->
<div class="modal fade" id="@TempData["ModalName"]" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnCancel" onclick="$('#@TempData["ModalName"]').modal('hide')">&times;</button>
                <h4 class="modal-title" id="modalTitle"></h4>

            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
                
            </div>
            <div class="modal-footer">
                
                <button type="button" id="btnCancel" class="btn default" onclick="$('#@TempData["ModalName"]').modal('hide')"><i class="fa fa-times"></i>&nbsp;&nbsp;@T("admin.common.cancel")</button>

                <div id="lnk" style="visibility:hidden"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $('.modal-dialog').width('50%');
    //$('.modal-body').height(500);



    var @TempData["ModalName"]originalContent = $("#@TempData["ModalName"] .modal-body").html();

    jQuery(document).ready(function ($) {
        //triggered when modal is about to be shown
        $('#@TempData["ModalName"]').on('show.bs.modal', function (e) {

            if(e.currentTarget.id == e.target.id)
            {
                $('#@TempData["ModalName"] .modal-body').load($('#@TempData["ModalName"] #lnk').text(), function () {
                //alert($('#divModal .modal-body').height() + ' ' + $('#divAssignTask').height() );
                //$('.modal-body').height(500);
                    afterModalLoaded();
                });
            }

        });

        $('#@TempData["ModalName"]').on('hidden.bs.modal', function (e) {
            //$("#divModal .modal-body").html("<div class='progress progress-striped active'><div class='bar' style='width: 100%;'></div></div><div id='lnk' style='visibility:hidden'></div>");

            if(e.currentTarget.id == e.target.id)
            {
                $("#@TempData["ModalName"] .modal-body").html(@TempData["ModalName"]originalContent);
            }
            //$(this).removeData('modal');

            //$("#divNotifications").load($("#BaseUrl").data("baseurl") + '/Common/_Notifications');
        });

        

        
    });


</script>

