﻿@{
    bool isExamine = Request.QueryString["examine"] == "1";

}

@RenderBody()

    @RenderSection("beforeFooter", false)

            <script type="text/javascript">
                var editor;
                $('.modal-dialog').width('80%');

                jQuery(document).ready(function ($) {
                    

                    @RenderSection("jQueryOnReadyScripts", false)

                    @if (isExamine)
                    {
                        <text>

                        makeFormReadOnly();
                        $("table[id^='dataTable']").on('processing.dt', function (e, settings, processing) {
                            if (!processing) {  // when it gets data and renders
                                $(this).find("tbody").find("tr td>a").hide();
                                makeFormReadOnly();
                            } else {

                            }
                        });
                        </text>
                    }

                    
                });






            </script>


