﻿@{

    //success messages
    var successMessages = new List<string>();
    if (TempData[string.Format("ares.notifications.{0}", EnumNotifyType.Success)] != null)
    {
        successMessages.AddRange(TempData[string.Format("ares.notifications.{0}", EnumNotifyType.Success)] as IList<string>);
    }
    if (ViewData[string.Format("ares.notifications.{0}", EnumNotifyType.Success)] != null)
    {
        successMessages.AddRange(ViewData[string.Format("ares.notifications.{0}", EnumNotifyType.Success)] as IList<string>);

    }

    //error messages
    var errorMessages = new List<string>();
    if (TempData[string.Format("ares.notifications.{0}", EnumNotifyType.Error)] != null)
    {
        errorMessages.AddRange(TempData[string.Format("ares.notifications.{0}", EnumNotifyType.Error)] as IList<string>);
    }
    if (ViewData[string.Format("ares.notifications.{0}", EnumNotifyType.Error)] != null)
    {
        errorMessages.AddRange(ViewData[string.Format("ares.notifications.{0}", EnumNotifyType.Error)] as IList<string>);
    }

}





    @if (successMessages.Count > 0 || errorMessages.Count > 0)
    {
        <script type="text/javascript">
            toastr.options = {
                closeButton: true,
                positionClass: 'toast-top-right',
                onclick: null
            };
        </script>
    }





    @foreach (var message in successMessages)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                //alert('Deneme');
                var $toast = toastr["success"]('@message', '@T("notification.title.success")');
            });
        </script>

    }

    @foreach (var message in errorMessages)
    {
        <script type="text/javascript">
            $(document).ready(function () {

                var $toast = toastr["error"]('@message', '@T("notification.title.error")');
            });
        </script>
    }


    @Html.Widget("notifications")