﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@*Html.Partial("_Notifications")
    @Html.Action("AdminHeaderLinks", "Common") *@

@Html.Partial("Header")

<!-- BEGIN CONTAINER -->
<div class="page-container">
    @Html.Action("Sidebar", "Common")

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            
            @Html.Widget("content_before")


            @RenderBody()
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

    @*Html.Action("QuickSidebar", "Common") *@
</div>

@Html.Action("Footer", "Common")


@Html.Widget("content_after")


@Html.Widget("body_end_html_tag_before")


@helper ForwardSection(string section)
{
if (IsSectionDefined(section))
{
    DefineSection(section, () => Write(RenderSection(section)));
}
}

@ForwardSection("headjs")
@ForwardSection("jQueryOnReadyScripts")
@ForwardSection("beforeFooter")
