﻿@using Ares.UMS.DTO.Users;

@{
    var displayMiniProfiler = Ares.Core.Framework.FrameworkCtx.Current.Resolve<Ares.UMS.DTO.Sites.SiteInformationSettings>().DisplayMiniProfilerInPublicSite && WorkContext.CurrentUser.IsAdmin();
    List<string> scriptFiles = new List<string>();


    //resources
    /* [BEGIN] GLOBAL MANDATORY STYLES */
    Html.AddCssFileParts("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css");
    /* [END] GLOBAL MANDATORY STYLES */

    /* [BEGIN] PAGE LEVEL PLUGINS */
    Html.AddCssFileParts("~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/morris/morris.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/fullcalendar/v3.9.0/fullcalendar.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/jqvmap/jqvmap/jqvmap.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/datatables/plugins/dataTables.checkboxes.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/datatables/plugins/Select-1.2.5/css/select.jqueryui.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/lightgallery/css/lightgallery.css");
    //Html.AddCssFileParts("~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/jquery-ui/jquery-ui-1.11.3/jquery-ui.min.css");
    Html.AddCssFileParts("~/Content/qtip/jquery.qtip.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/amcharts/amcharts/plugins/export/export.css");




    /* [END] PAGE LEVEL PLUGINS */

    /* [BEGIN] THEME GLOBAL STYLES */
    Html.AddCssFileParts("~/Content/assets/global/css/components.css");
    Html.AddCssFileParts("~/Content/assets/global/css/plugins.css");
    /* [END] THEME GLOBAL STYLES */

    /* [BEGIN] THEME LAYOUT STYLES */
    Html.AddCssFileParts("~/Content/assets/layouts/layout4/css/layout.css");
    //Html.AddCssFileParts("~/Content/assets/layouts/layout/css/themes/darkblue.min.css");
    Html.AddCssFileParts("~/Content/assets/layouts/layout4/css/custom.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/datatables/datatables.min.css");
    //Html.AddCssFileParts("~/Content/assets/global/plugins/datatables/plugins/Responsive-2.2.1/css/responsive.dataTables.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/datatables/plugins/buttons.dataTables.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/select2/css/select2.css");
    Html.AddCssFileParts("~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css");

    Html.AddCssFileParts("~/Content/Ares.css");


    Html.AddCssFileParts("~/Content/kendo/kendo.common-material.min.css");
    Html.AddCssFileParts("~/Content/kendo/kendo.rtl.min.css");
    Html.AddCssFileParts("~/Content/kendo/kendo.material.min.css");
    Html.AddCssFileParts("~/Content/kendo/kendo.material.mobile.min.css");
    Html.AddCssFileParts("~/Content/kendo/kendo.ares.css");
    //Html.AddCssFileParts("~/Content/kendo/kendo.common.min.css");
    //Html.AddCssFileParts("~/Content/kendo/kendo.uniform.min.css");
    //Html.AddCssFileParts("~/Content/kendo/kendo.default.min.css");

    /* [END] THEME LAYOUT STYLES */



    /* [BEGIN] Core Plugins */

    Html.AppendScriptParts(ResourceLocation.Head, "~/Scripts/ares/kendo/kendo.timezones.min.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Scripts/ares/kendo/kendo.aspnetmvc.min.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Scripts/ares/kendo/kendo.all.min.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Content/assets/global/plugins/jquery.blockui.min.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Content/assets/global/plugins/jquery.min.js");

    //Html.AppendScriptParts(ResourceLocation.Head, "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js");

    //scriptFiles.Add("~/Content/assets/global/plugins/jquery.min.js");

    scriptFiles.Add("~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/js.cookie.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js");
    //scriptFiles.Add("~/Content/assets/global/plugins/jquery.blockui.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js");

    /* [END] Core Plugins */

    /* [BEGIN] Page Level Plugins */


    scriptFiles.Add("~/Content/assets/global/plugins/morris/morris.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/morris/raphael-min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/counterup/jquery.counterup.min.js");
    scriptFiles.Add("~/Content/assets/global/scripts/datatable.js");
    scriptFiles.Add("~/Content/assets/global/plugins/datatables/datatables.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/datatables/plugins/dataTables.checkboxes.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/datatables/plugins/Responsive-2.2.1/js/dataTables.responsive.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/datatables/plugins/Select-1.2.5/js/dataTables.select.min.js");
    //scriptFiles.Add("~/Content/assets/global/plugins/datatables/plugins/dataTables.keyTable.min.js");
    //scriptFiles.Add("~/Content/assets/global/plugins/datatables/plugins/dataTables.editor.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js");
    scriptFiles.Add("~/Scripts/jquery.validate.min.js");

    scriptFiles.Add("~/Scripts/ares/l10n.js");
    scriptFiles.Add("~/Scripts/ares/localizations-tr.js");
    scriptFiles.Add("~/Scripts/ares/exif.js");
    scriptFiles.Add("~/Scripts/ares/Ares.js");


    scriptFiles.Add("~/Content/assets/global/plugins/moment/moment.min.js");
    if (WorkContext.WorkingLanguage.Id == 1)
    {
        scriptFiles.Add("~/Content/assets/global/plugins/moment/locale/tr.js");
    }


    scriptFiles.Add("~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js");


    scriptFiles.Add("~/Scripts/jquery.validate.unobtrusive.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js");

    //scriptFiles.Add("https://cdn.jsdelivr.net/picturefill/3.0.2/picturefill.min.js");
    //scriptFiles.Add("https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/lightgallery/js/picturefill.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/lightgallery/js/lightgallery-all.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/lightgallery/js/jquery.mousewheel.min.js");


    /*

    scriptFiles.Add("~/Content/assets/global/plugins/jquery-file-upload/JavaScript-Load-Image/js/load-image.all.min.js");
    scriptFiles.Add("");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/datatables/plugins/dataTables.checkboxes.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-inputmask/Inputmask-4.x/dist/jquery.inputmask.bundle.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-inputmask/inputmask/jquery.inputmask.js");
     Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-inputmask/inputmask/inputmask.min.js");
     Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-inputmask/inputmask/inputmask.extensions.min.js");

     Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-inputmask/inputmask/inputmask.numeric.extensions.min.js");

    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-inputmask/inputmask/inputmask.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-inputmask/inputmask/inputmask.extensions.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.min.js");
    */

    /* [END] Page Level Plugins */

    /* [BEGIN] THEME GLOBAL SCRIPTS */
    scriptFiles.Add("~/Content/assets/global/scripts/app.js");
    /* [END] THEME GLOBAL SCRIPTS */

    /* [BEGIN] Page Level Scripts */
    //scriptFiles.Add("~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/jquery-ui/jquery-ui-1.11.3/jquery-ui.min.js");
    scriptFiles.Add("~/Content/assets/pages/scripts/ui-modals.min.js");
    scriptFiles.Add("~/Content/assets/pages/scripts/ui-toastr.min.js");
    //scriptFiles.Add("~/Content/assets/pages/scripts/table-datatables-editable.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js");

    //scriptFiles.Add("~/Content/assets/global/plugins/jquery-ui/jquery-ui-1.11.3/i18n/datepicker-tr.js");

    scriptFiles.Add("~/Content/assets/pages/scripts/components-date-time-pickers.min.js");
    scriptFiles.Add("~/Content/qtip/jquery.qtip.min.js");
    //scriptFiles.Add("~/Content/assets/global/plugins/select2/js/select2.min.js");
    scriptFiles.Add("~/Content/assets/global/plugins/select2/js/select2.full.min.js");
    //scriptFiles.Add("~/Content/assets/global/plugins/datatables/plugins/colvis/buttons.colVis.min.js");
    //scriptFiles.Add("~/Content/assets/pages/scripts/form-validation.min.js");

    /* [END] Page Level Scripts */

    /* [BEGIN]  THEME LAYOUT SCRIPTS */
    scriptFiles.Add("~/Content/assets/layouts/layout/scripts/layout.js");
    scriptFiles.Add("~/Content/assets/layouts/layout/scripts/demo.js");
    scriptFiles.Add("~/Content/assets/layouts/global/scripts/quick-sidebar.js");
    /* [END]  THEME LAYOUT SCRIPTS */


    // Akış şu şekilde => Home/Index.cshtml'in içindeki script listesini önce ekler ardından Root.Head'e gelir ve
    // Script listesinin sırası önemlidir Root.Head'in içindeki listeyi sayfada en başa eklemek için önce reverse ardından append yaparak ekliyoruz.
    scriptFiles.Reverse();
    scriptFiles.ForEach(f => Html.AppendScriptParts(ResourceLocation.Foot, f));
}



<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes") > 
<head>
    <title>@Html.AresTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    

    <meta name="description" content="@(Html.AresMetaDescription())" />
    <meta name="keywords" content="@(Html.AresMetaKeywords())" />
    <meta name="generator" content="Smart Employee Tracking" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.AresCssFiles(this.Url, ResourceLocation.Head)
    @Html.AresScripts(this.Url, ResourceLocation.Head)
    @Html.AresCanonicalUrls()

    <link href="~/Content/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />

    @*Html.Action("RssHeaderLink", "News") *@
    @*Html.Action("RssHeaderLink", "Blog") *@
    @*Favicon - upload favicon.ico file to the root directory*@
    @*Html.Action("Favicon", "Common") <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> *@


    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes();
    }
            
    <script type="text/javascript">

        @RenderSection("headjs", required: false)
    </script>
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">

    @* Html.Partial("_LoadingAjax") *@

    <div id="BaseUrl" data-baseurl="@Context.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")"></div>

    @Html.Action("ModalDeleteConfirm", "Common")


    <div class="page-wrapper">
         @RenderBody()
    </div>





            @Html.AresCssFiles(this.Url, ResourceLocation.Foot)
            @Html.AresScripts(this.Url, ResourceLocation.Foot)

    @RenderSection("beforeFooter", false)

            <script type="text/javascript">
                var editor;
                String.locale = @(Html.Raw(WorkContext.WorkingLanguage.Id == 1 ? "'tr'" : "'en'"));

                jQuery(document).ready(function ($) {

                    //App.blockUI({ target: '#menuDiv',  animate: true });

                    @RenderSection("jQueryOnReadyScripts", false)
                    @Html.PageScripts()

                });
    </script>

    <div id="divNotifications">
        @Html.Partial("_Notifications")
    </div>
        @Html.Partial("_Loading")

    @Html.Action("GlobalModal", "Common")

</body>
</html>
