﻿@using Ares.Web.Models.Parameter_group;
@model ParameterGroupModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.ParameterGroup.EditParameterGroupDetails").Text;
}
@using (Html.BeginForm("Edit", "ParameterGroup", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.ParameterGroup.EditParameterGroupDetails") - @Model.Name
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableParameterItem", "ListParameterItemDatatable", "ParameterGroup", null, true, new { ParameterGroupModelId = Model.Id }, "dataTableParameterItem").AddColumn("Id")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Description")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditParameterItem", "ParameterGroup") + "/' + full.Id , full.Id, true,  true, 'ParameterItem') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableParameterItemOptions = dataTableParameterItemOptions; 
    
    $('#btnFilterParameterItem').click(function () {
                        dataTableParameterItem.column('Code:name').search($('#Filter_ParameterItemModel_Code').val().trim());
                        dataTableParameterItem.column('Title:name').search($('#Filter_ParameterItemModel_Title').val().trim());
                        dataTableParameterItem.column('Description:name').search($('#Filter_ParameterItemModel_Description').val().trim());
                        dataTableParameterItem.column('Active:name').search($('#Filter_ParameterItemModel_Active').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableParameterItem.draw();
            });
            
            
                $('#btnResetParameterItem').click(function () {

                    resetDatatableSearch('dataTableParameterItem');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_ParameterGroup_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/ParameterGroup-input-mask.js"></script>
}


