﻿@using AssetHealth.Models.Form_question;
@model FormQuestionModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.FormQuestion.EditFormQuestionDetails").Text;
}
@using (Html.BeginForm("EditFormQuestion", "ParameterGroup", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.FormQuestion.EditFormQuestionDetails") - @Model.Code
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditForm/" + Request.QueryString["FormModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteFormQuestion", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateFormQuestion", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswer", "ListFormAnswerDatatable", "Form", null, true, new { FormQuestionModelId = Model.Id }, "dataTableFormAnswer").AddColumn("Id")
                                        .AddColumn("Device_id")
                                        .AddColumn("Udid")
                                        .AddColumn("Username")
                                        .AddColumn("Answer")
    
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormAnswer", "ParameterGroup") + "/' + full.Id , full.Id, true,  true, 'FormAnswer') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormAnswerOptions = dataTableFormAnswerOptions; 
    
    $('#btnFilterFormAnswer').click(function () {
                        dataTableFormAnswer.column('Device_id:name').search($('#Filter_FormAnswerModel_Device_id').val().trim());
                        dataTableFormAnswer.column('Udid:name').search($('#Filter_FormAnswerModel_Udid').val().trim());
                        dataTableFormAnswer.column('Username:name').search($('#Filter_FormAnswerModel_Username').val().trim());
                        dataTableFormAnswer.column('Answer:name').search($('#Filter_FormAnswerModel_Answer').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswer.draw();
            });
            
            
                $('#btnResetFormAnswer').click(function () {

                    resetDatatableSearch('dataTableFormAnswer');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestion", "ListFormQuestionDatatable", "Form", null, true, new { FormQuestionModelId = Model.Id }, "dataTableFormQuestion").AddColumn("Id")
                                        .AddColumn("Category_id_Text")
                                        .AddColumn("Type_id_Text")
                                        .AddColumn("Form_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        .AddColumn("Display_order")
                                        .AddColumn("Step")
                                        .AddColumn("Period")
                                        .AddCustomJavascriptColumn("V_required", " return full.V_required ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("V_email")
                                        .AddColumn("V_min_length")
                                        .AddColumn("V_max_length")
                                        .AddColumn("V_regex")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestion", "ParameterGroup") + "/' + full.Id , full.Id, true,  true, 'FormQuestion') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionOptions = dataTableFormQuestionOptions; 
    
    $('#btnFilterFormQuestion').click(function () {
                        dataTableFormQuestion.column('Category_id:name').search($('#Filter_FormQuestionModel_Category_id').val().trim());
                        dataTableFormQuestion.column('Type_id:name').search($('#Filter_FormQuestionModel_Type_id').val().trim());
                        dataTableFormQuestion.column('Form_id:name').search($('#Filter_FormQuestionModel_Form_id').val().trim());
                        dataTableFormQuestion.column('Code:name').search($('#Filter_FormQuestionModel_Code').val().trim());
                        dataTableFormQuestion.column('Title:name').search($('#Filter_FormQuestionModel_Title').val().trim());
                        dataTableFormQuestion.column('Hint:name').search($('#Filter_FormQuestionModel_Hint').val().trim());
                        dataTableFormQuestion.column('Description:name').search($('#Filter_FormQuestionModel_Description').val().trim());
                        dataTableFormQuestion.column('Version:name').search($('#Filter_FormQuestionModel_Version').val().trim());
                        dataTableFormQuestion.column('Image_path:name').search($('#Filter_FormQuestionModel_Image_path').val().trim());
                        dataTableFormQuestion.column('Device_image_path:name').search($('#Filter_FormQuestionModel_Device_image_path').val().trim());
                        dataTableFormQuestion.column('Estimated_time:name').search($('#Filter_FormQuestionModel_Estimated_time').val().trim());
                        dataTableFormQuestion.column('Video_path:name').search($('#Filter_FormQuestionModel_Video_path').val().trim());
                        dataTableFormQuestion.column('Device_video_path:name').search($('#Filter_FormQuestionModel_Device_video_path').val().trim());
                        dataTableFormQuestion.column('Method:name').search($('#Filter_FormQuestionModel_Method').val().trim());
                        dataTableFormQuestion.column('Display_order:name').search($('#Filter_FormQuestionModel_Display_order').val().trim());
                        dataTableFormQuestion.column('Step:name').search($('#Filter_FormQuestionModel_Step').val().trim());
                        dataTableFormQuestion.column('Period:name').search($('#Filter_FormQuestionModel_Period').val().trim());
                        dataTableFormQuestion.column('V_required:name').search($('#Filter_FormQuestionModel_V_required').prop('checked'));
                        dataTableFormQuestion.column('V_email:name').search($('#Filter_FormQuestionModel_V_email').val().trim());
                        dataTableFormQuestion.column('V_min_length:name').search($('#Filter_FormQuestionModel_V_min_length').val().trim());
                        dataTableFormQuestion.column('V_max_length:name').search($('#Filter_FormQuestionModel_V_max_length').val().trim());
                        dataTableFormQuestion.column('V_regex:name').search($('#Filter_FormQuestionModel_V_regex').val().trim());
                        dataTableFormQuestion.column('Active:name').search($('#Filter_FormQuestionModel_Active').prop('checked'));
                        dataTableFormQuestion.column('Deleted:name').search($('#Filter_FormQuestionModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestion.draw();
            });
            
            
                $('#btnResetFormQuestion').click(function () {

                    resetDatatableSearch('dataTableFormQuestion');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestionMedia", "ListFormQuestionMediaDatatable", "Form", null, true, new { FormQuestionModelId = Model.Id }, "dataTableFormQuestionMedia").AddColumn("Id")
                                        .AddColumn("Category_id_Text")
                                        .AddColumn("Type_id_Text")
                                        .AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Media_path")
                                        .AddColumn("Device_media_path")
                                        .AddColumn("Thumbnail_path")
                                        .AddColumn("Device_thumbnail_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Mime_type")
                                        .AddColumn("Method")
                                        .AddColumn("Size")
                                        .AddColumn("Extension")
                                        .AddColumn("Display_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestionMedia", "ParameterGroup") + "/' + full.Id , full.Id, true,  true, 'FormQuestionMedia') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionMediaOptions = dataTableFormQuestionMediaOptions; 
    
    $('#btnFilterFormQuestionMedia').click(function () {
                        dataTableFormQuestionMedia.column('Category_id:name').search($('#Filter_FormQuestionMediaModel_Category_id').val().trim());
                        dataTableFormQuestionMedia.column('Type_id:name').search($('#Filter_FormQuestionMediaModel_Type_id').val().trim());
                        dataTableFormQuestionMedia.column('Derived_id:name').search($('#Filter_FormQuestionMediaModel_Derived_id').val().trim());
                        dataTableFormQuestionMedia.column('Code:name').search($('#Filter_FormQuestionMediaModel_Code').val().trim());
                        dataTableFormQuestionMedia.column('Title:name').search($('#Filter_FormQuestionMediaModel_Title').val().trim());
                        dataTableFormQuestionMedia.column('Hint:name').search($('#Filter_FormQuestionMediaModel_Hint').val().trim());
                        dataTableFormQuestionMedia.column('Description:name').search($('#Filter_FormQuestionMediaModel_Description').val().trim());
                        dataTableFormQuestionMedia.column('Version:name').search($('#Filter_FormQuestionMediaModel_Version').val().trim());
                        dataTableFormQuestionMedia.column('Media_path:name').search($('#Filter_FormQuestionMediaModel_Media_path').val().trim());
                        dataTableFormQuestionMedia.column('Device_media_path:name').search($('#Filter_FormQuestionMediaModel_Device_media_path').val().trim());
                        dataTableFormQuestionMedia.column('Thumbnail_path:name').search($('#Filter_FormQuestionMediaModel_Thumbnail_path').val().trim());
                        dataTableFormQuestionMedia.column('Device_thumbnail_path:name').search($('#Filter_FormQuestionMediaModel_Device_thumbnail_path').val().trim());
                        dataTableFormQuestionMedia.column('Estimated_time:name').search($('#Filter_FormQuestionMediaModel_Estimated_time').val().trim());
                        dataTableFormQuestionMedia.column('Mime_type:name').search($('#Filter_FormQuestionMediaModel_Mime_type').val().trim());
                        dataTableFormQuestionMedia.column('Method:name').search($('#Filter_FormQuestionMediaModel_Method').val().trim());
                        dataTableFormQuestionMedia.column('Size:name').search($('#Filter_FormQuestionMediaModel_Size').val().trim());
                        dataTableFormQuestionMedia.column('Extension:name').search($('#Filter_FormQuestionMediaModel_Extension').val().trim());
                        dataTableFormQuestionMedia.column('Display_order:name').search($('#Filter_FormQuestionMediaModel_Display_order').val().trim());
                        dataTableFormQuestionMedia.column('Active:name').search($('#Filter_FormQuestionMediaModel_Active').prop('checked'));
                        dataTableFormQuestionMedia.column('Deleted:name').search($('#Filter_FormQuestionMediaModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestionMedia.draw();
            });
            
            
                $('#btnResetFormQuestionMedia').click(function () {

                    resetDatatableSearch('dataTableFormQuestionMedia');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestionOption", "ListFormQuestionOptionDatatable", "Form", null, true, new { FormQuestionModelId = Model.Id }, "dataTableFormQuestionOption").AddColumn("Id")
                                        .AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        .AddColumn("Display_order")
                                        .AddColumn("Period")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestionOption", "ParameterGroup") + "/' + full.Id , full.Id, true,  true, 'FormQuestionOption') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionOptionOptions = dataTableFormQuestionOptionOptions; 
    
    $('#btnFilterFormQuestionOption').click(function () {
                        dataTableFormQuestionOption.column('Derived_id:name').search($('#Filter_FormQuestionOptionModel_Derived_id').val().trim());
                        dataTableFormQuestionOption.column('Code:name').search($('#Filter_FormQuestionOptionModel_Code').val().trim());
                        dataTableFormQuestionOption.column('Title:name').search($('#Filter_FormQuestionOptionModel_Title').val().trim());
                        dataTableFormQuestionOption.column('Hint:name').search($('#Filter_FormQuestionOptionModel_Hint').val().trim());
                        dataTableFormQuestionOption.column('Description:name').search($('#Filter_FormQuestionOptionModel_Description').val().trim());
                        dataTableFormQuestionOption.column('Version:name').search($('#Filter_FormQuestionOptionModel_Version').val().trim());
                        dataTableFormQuestionOption.column('Image_path:name').search($('#Filter_FormQuestionOptionModel_Image_path').val().trim());
                        dataTableFormQuestionOption.column('Device_image_path:name').search($('#Filter_FormQuestionOptionModel_Device_image_path').val().trim());
                        dataTableFormQuestionOption.column('Estimated_time:name').search($('#Filter_FormQuestionOptionModel_Estimated_time').val().trim());
                        dataTableFormQuestionOption.column('Video_path:name').search($('#Filter_FormQuestionOptionModel_Video_path').val().trim());
                        dataTableFormQuestionOption.column('Device_video_path:name').search($('#Filter_FormQuestionOptionModel_Device_video_path').val().trim());
                        dataTableFormQuestionOption.column('Method:name').search($('#Filter_FormQuestionOptionModel_Method').val().trim());
                        dataTableFormQuestionOption.column('Display_order:name').search($('#Filter_FormQuestionOptionModel_Display_order').val().trim());
                        dataTableFormQuestionOption.column('Period:name').search($('#Filter_FormQuestionOptionModel_Period').val().trim());
                        dataTableFormQuestionOption.column('Active:name').search($('#Filter_FormQuestionOptionModel_Active').prop('checked'));
                        dataTableFormQuestionOption.column('Deleted:name').search($('#Filter_FormQuestionOptionModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestionOption.draw();
            });
            
            
                $('#btnResetFormQuestionOption').click(function () {

                    resetDatatableSearch('dataTableFormQuestionOption');

                });
    
    
 
       setTimeout(function(){
        $('a[href="#tab_FormQuestion_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/FormQuestion-input-mask.js"></script>
}


