﻿@using AssetHealth.Models.Form_answer;
@model FormAnswerModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.FormAnswer.EditFormAnswerDetails").Text;
}
@using (Html.BeginForm("EditFormAnswer", "ParameterGroup", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.FormAnswer.EditFormAnswerDetails") - @Model.Device_id
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditFormQuestion/" + Request.QueryString["FormQuestionModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteFormAnswer", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateFormAnswer", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswerMedia", "ListFormAnswerMediaDatatable", "FormQuestion", null, true, new { FormAnswerModelId = Model.Id }, "dataTableFormAnswerMedia").AddColumn("Id")
                                        .AddColumn("Category_id_Text")
                                        .AddColumn("Type_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Description")
                                        .AddColumn("Media_path")
                                        .AddColumn("Device_media_path")
                                        .AddColumn("Thumbnail_path")
                                        .AddColumn("Device_thumbnail_path")
                                        .AddColumn("Mime_type")
                                        .AddColumn("Method")
                                        .AddColumn("Size")
                                        .AddColumn("Extension")
                                        .AddColumn("Display_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormAnswerMedia", "ParameterGroup") + "/' + full.Id , full.Id, true,  true, 'FormAnswerMedia') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormAnswerMediaOptions = dataTableFormAnswerMediaOptions; 
    
    $('#btnFilterFormAnswerMedia').click(function () {
                        dataTableFormAnswerMedia.column('Category_id:name').search($('#Filter_FormAnswerMediaModel_Category_id').val().trim());
                        dataTableFormAnswerMedia.column('Type_id:name').search($('#Filter_FormAnswerMediaModel_Type_id').val().trim());
                        dataTableFormAnswerMedia.column('Code:name').search($('#Filter_FormAnswerMediaModel_Code').val().trim());
                        dataTableFormAnswerMedia.column('Title:name').search($('#Filter_FormAnswerMediaModel_Title').val().trim());
                        dataTableFormAnswerMedia.column('Description:name').search($('#Filter_FormAnswerMediaModel_Description').val().trim());
                        dataTableFormAnswerMedia.column('Media_path:name').search($('#Filter_FormAnswerMediaModel_Media_path').val().trim());
                        dataTableFormAnswerMedia.column('Device_media_path:name').search($('#Filter_FormAnswerMediaModel_Device_media_path').val().trim());
                        dataTableFormAnswerMedia.column('Thumbnail_path:name').search($('#Filter_FormAnswerMediaModel_Thumbnail_path').val().trim());
                        dataTableFormAnswerMedia.column('Device_thumbnail_path:name').search($('#Filter_FormAnswerMediaModel_Device_thumbnail_path').val().trim());
                        dataTableFormAnswerMedia.column('Mime_type:name').search($('#Filter_FormAnswerMediaModel_Mime_type').val().trim());
                        dataTableFormAnswerMedia.column('Method:name').search($('#Filter_FormAnswerMediaModel_Method').val().trim());
                        dataTableFormAnswerMedia.column('Size:name').search($('#Filter_FormAnswerMediaModel_Size').val().trim());
                        dataTableFormAnswerMedia.column('Extension:name').search($('#Filter_FormAnswerMediaModel_Extension').val().trim());
                        dataTableFormAnswerMedia.column('Display_order:name').search($('#Filter_FormAnswerMediaModel_Display_order').val().trim());
                        dataTableFormAnswerMedia.column('Active:name').search($('#Filter_FormAnswerMediaModel_Active').prop('checked'));
                        dataTableFormAnswerMedia.column('Deleted:name').search($('#Filter_FormAnswerMediaModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswerMedia.draw();
            });
            
            
                $('#btnResetFormAnswerMedia').click(function () {

                    resetDatatableSearch('dataTableFormAnswerMedia');

                });
    
    
 
       setTimeout(function(){
        $('a[href="#tab_FormAnswer_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/FormAnswer-input-mask.js"></script>
}


