﻿

@using AssetHealth.Models.Form_answer;

@model FormAnswerModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}


<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("FormAnswer.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "FormAnswer")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("FormAnswer.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormAnswer', window.dataTableFormAnswerOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_EqLocation_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Filter_EqLocation_Text, Model.Filter_EqLocation_SelectList, T("Select").Text, new { @class = "form-control ", @placeholder = T("FormAnswerModel.Form_question_id.Placeholder"), data_val = false })
                            </div>

                        </div>
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Form_question_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                    @Html.DropDownListFor(x => x.Form_question_id, Model.Form_question_id_FormQuestion_SelectList, T("Select").Text, new { @class = "form-control ", @placeholder = T("FormAnswerModel.Form_question_id.Placeholder"), data_val = false })
                                </div>

                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Device_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Device_id, Model.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormAnswerModel.Device_id.Placeholder"), data_val = false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Previous_answer, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.DropDownListFor(x => x.Previous_answer, Model.Previous_answer_FormAnswer_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormAnswerModel.Previous_answer.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Username, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = T("FormAnswerModel.Username.Placeholder"), data_val = false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_StartDate, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_StartDate, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_StartDate.Placeholder"), data_val = false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Warning_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Warning_type, Model.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", data_val = false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Answer, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Answer.Placeholder"), data_val = false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_OnlyWithMedias, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_OnlyWithMedias, Model.YesNo_SelectList, new { @class = "form-control", @placeholder = T("FormAnswerModel.Filter_OnlyWithMedias.Placeholder"), data_val = false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Converted_answer, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Converted_answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Converted_answer.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Required_read_datetime, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.EditorFor(x => x.Required_read_datetime, new { @class = "form-control" , data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Actual_read_datetime, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.EditorFor(x => x.Actual_read_datetime, new { @class = "form-control" , data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormAnswerModel.Description.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                    </div>
                @*
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">


                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Notes, new { @class = "control-label " })
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Notes, new { @class = "form-control", @placeholder = T("FormAnswerModel.Notes.Placeholder"), data_val=false })
                                </div>
                            </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Udid, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Udid, new { @class = "form-control", @placeholder = T("FormAnswerModel.Udid.Placeholder"), data_val=false })
        </div>
    </div>

                    </div>
                    *@



                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormAnswer" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormAnswer" class="btn default">
                                        <i class="fa fa-times"></i>
                                        @T("Admin.Common.Reset")
                                </button>

                            </div>
                        </div>

                </div>

            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>


        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableFormAnswer" style="width:100%">
            <thead>
                <tr>
                                                                                                    @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>

                                                                <th> @T("FormAnswer.list.column.Answer") </th>
                        <th> @T("FormAnswer.list.column.Previous_answer") </th>

                    <th> @T("FormAnswer.list.column.Required_read_datetime") </th>
                    <th> @T("FormAnswer.list.column.Actual_read_datetime") </th>
                    
                    <th> @T("FormAnswer.list.column.Notes") </th>
                    <th> @T("FormAnswer.list.column.Udid") </th>
                    <th> @T("FormAnswer.list.column.Udid") </th>
                    <th> @T("FormAnswer.list.column.Long_answer") </th>
                    
*@
                    <th> @T("FormAnswer.list.column.Id") </th>
                    <th> @T("FormAnswer.list.column.Filter_EqLocation_Text") </th>
                    <th> @T("FormAnswer.list.column.Device_id") </th>
                    <th> @T("FormAnswer.list.column.Form_question_id") </th>
                    
                    <th> @T("FormAnswer.list.column.Converted_answer") </th>
                    <th> @T("FormAnswer.list.column.Username") </th>
                    <th> @T("FormAnswer.list.column.Read_no") </th>
                    <th> @T("FormAnswer.list.column.Actual_read_datetime") </th>
                    <th> @T("FormAnswer.list.column.Description") </th>
                    <th> @T("FormAnswer.list.column.Filter_OnlyWithMedias") </th>
                    <th> @T("FormAnswer.list.column.Warning_type") </th>
                    
                    
            
                    
                    <th> @T("FormAnswer.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {



/*
    .AddColumn("Previous_answer_Text")
    .AddColumn("Answer")

                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Required_read_datetime)")
                                        
                                        
                                        
                                        .AddColumn("Description")
                                        .AddColumn("Udid")
    .AddColumn("Long_answer")
*/
    
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswer", "ListFormAnswerDatatable", "FormAnswer", null, true, null, "dataTableFormAnswer").AddColumn("Id")
    .AddJSONContentColumn("'data': 'Filter_EqLocation_Text', 'name': 'Filter_EqLocation_Text' , 'visible' : false ")
    //.AddColumn("Filter_EqLocation_Text")
        .AddColumn("Device_id_Text")
        .AddColumn("Form_question_id_Text")


                                            .AddCustomJavascriptColumn("", "return getDatatableValueWithTooltip(full.Converted_answer, full.Description)")
                                            .AddColumn("Username")
                                            .AddColumn("Read_no")
                                            .AddCustomJavascriptColumn("Actual_read_datetime", "return formatJSONDateTime(full.Actual_read_datetime)")
                                            //.AddCustomJavascriptColumn("", "return getDatatableImageGalleryString(formatJSONDateTime(full.Actual_read_datetime), full.ImageGallery)")
                                            //.AddColumn("Converted_answer")


                                            //.AddColumn("Warning_type_Text")
                                            //.AddColumn("Description")
                                            .AddCustomJavascriptColumn("", "return getDatatableImageGalleryString(full.Description, full.ImageGallery)")
                                            .AddJSONContentColumn("'data': 'Filter_OnlyWithMedias', 'name': 'Filter_OnlyWithMedias' , 'visible' : false ")
                                            .AddJSONContentColumn("'data': 'Warning_type_Text', 'name': 'Warning_type_Text' , 'visible' : false ")
        .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "FormAnswer") + "/' + full.Id , full.Id, true,  true, '') ;")
        .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
        .SetLenghtMenu("5,10,50,100")
        .AddAttribute("'deferLoading' : 0")
        .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
        .AddAttribute("'scrollX' : true ")
        .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
        .Initialize());
    
    //dataTableFormAnswerOptions.columns[8].visible = false;
    window.dataTableFormAnswerOptions = dataTableFormAnswerOptions;

                 $('#btnFilterFormAnswer').click(function () {
    
                        dataTableFormAnswer.column('Filter_EqLocation_Text:name').search($('#Filter_EqLocation_Text').val().trim());
                        dataTableFormAnswer.column('Form_question_id_Text:name').search($('#Form_question_id').val().trim());
                        dataTableFormAnswer.column('Device_id_Text:name').search($('#Device_id').val().trim());
                        //dataTableFormAnswer.column('Previous_answer:name').search($('#Previous_answer').val().trim());
                        dataTableFormAnswer.column('Username:name').search($('#Username').val().trim());
                        //dataTableFormAnswer.column('Read_no:name').search($('#Read_no').val().trim());
                        dataTableFormAnswer.column('Read_no:name').search($('#Filter_StartDate').val().trim());
                        dataTableFormAnswer.column('Filter_OnlyWithMedias:name').search($('#Filter_OnlyWithMedias').val().trim());
    
    
                        
                        dataTableFormAnswer.column('Answer:name').search($('#Answer').val().trim());
                        //dataTableFormAnswer.column('Converted_answer:name').search($('#Converted_answer').val().trim());
                        dataTableFormAnswer.column('Warning_type_Text:name').search($('#Warning_type').val().trim());


                        //dataTableFormAnswer.column('Description:name').search($('#Description').val().trim());
                       // dataTableFormAnswer.column('Udid:name').search($('#Udid').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswer.draw();
            });


            
            
                $('#btnResetFormAnswer').click(function () {

                    resetDatatableSearch('dataTableFormAnswer');

                });

    $('#dataTableFormAnswer').on( 'draw.dt', function () {
    console.log('on draw')

    
    });

    $("#Form_question_id").select2({ width: '100%' });


        var dataTableFormAnswer = $('#dataTableFormAnswer').DataTable();

        // Get the column API object
        var column = dataTableFormAnswer.column(8);

        //column.visible( false );

    $("body").on("click", "#dataTableFormAnswer tbody tr", function(e) {

      if($(e.target).hasClass('lnkDelete') || $(e.target).hasClass('lnkEdit') || $(e.target).hasClass('fa') ) return;
        e.preventDefault();

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            //$('#divDetail').hide();
        }
        else {
            dataTableFormAnswer.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }

        showLoading();
        setTimeout(function() {
            // do something 1000ms later here.
            $("#loading").hide();
        }, 500);

        var rowData = $('#dataTableFormAnswer').DataTable().row(this).data();
        
        showJqueryUIPopup('/Home/GraphPopup/' + rowData["Id"]);

        


    });
}


@{

    Html.AddScriptParts(ResourceLocation.Foot, "~/Scripts/pages/dashboard.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/plugins/export/export.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/serial.js");
    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/amcharts/amcharts/pie.js");

}

