﻿@using AssetHealth.Models.Form;
@model FormModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Form.AddNew").Text;
}

@using (Html.BeginForm("CreateForm", "ParameterItem", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Form.AddFormDetails") -
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "Edit/" + Request.QueryString["ParameterItemModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateForm", Model)
}

 @section jQueryOnReadyScripts {
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/Form-input-mask.js"></script>
}