﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Form_answer;
@model FormAnswerModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_FormAnswer_1" data-toggle="tab"> @T("Admin.FormAnswer.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_FormAnswer_2" data-toggle="tab"> @T("Admin.FormAnswerMedia.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_FormAnswer_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("FormAnswer.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
@Html.HiddenFor(m => m.Form_question_id)
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDevice_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_id))"></i>
                                        @Html.TextBoxFor(x => x.Device_id, new { @class = "form-control", @placeholder = T("FormAnswerModel.Device_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Device_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Device_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Udid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Udid, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUdid"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Udid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Udid))"></i>
                                        @Html.TextAreaFor(x => x.Udid, new { @class = "form-control", @placeholder = T("FormAnswerModel.Udid.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Udid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Udid.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Username) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Username, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUsername"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Username) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Username))"></i>
                                        @Html.TextAreaFor(x => x.Username, new { @class = "form-control", @placeholder = T("FormAnswerModel.Username.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Username.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Answer) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Answer, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faAnswer"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Answer) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Answer))"></i>
                                        @Html.TextAreaFor(x => x.Answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Answer.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Answer, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Answer.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Long_answer) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Long_answer, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faLong_answer"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Long_answer) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Long_answer))"></i>
                                        @Html.TextAreaFor(x => x.Long_answer, new { @class = "form-control", @placeholder = T("FormAnswerModel.Long_answer.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Long_answer, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormAnswerModel.Long_answer.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_FormAnswer_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("FormAnswerMedia.list.header")
                    </div>
                    <div class="actions" style="float:left">
                    
                        <a href="@Url.Action("CreateFormAnswerMedia", "FormQuestion")?FormAnswerModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("FormAnswerMedia.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormAnswerMedia', window.dataTableFormAnswerMediaOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                     
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Category_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_FormAnswerMediaModel.Category_id, Model.Filter_FormAnswerMediaModel.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Category_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Type_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_FormAnswerMediaModel.Type_id, Model.Filter_FormAnswerMediaModel.Type_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Type_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Code, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Code, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Code.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Title, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Title, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Title.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Description, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Media_path, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Media_path, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Media_path.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Device_media_path, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Device_media_path, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Device_media_path.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Thumbnail_path, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Thumbnail_path, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Thumbnail_path.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Device_thumbnail_path, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Device_thumbnail_path, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Device_thumbnail_path.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Mime_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Mime_type, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Mime_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Method, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Method, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Method.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Size, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Size, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Size.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Extension, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Extension, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Extension.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Display_order, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_FormAnswerMediaModel.Display_order, new { @class = "form-control", @placeholder = T("FormAnswerMediaModel.Filter_FormAnswerMediaModel.Display_order.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Filter_FormAnswerMediaModel.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_FormAnswerMediaModel.Deleted, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Filter_FormAnswerMediaModel.Deleted, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormAnswerMedia" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormAnswerMedia" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableFormAnswerMedia">
                        <thead>
                            <tr>
                                   
                                
                                <th> @T("FormAnswerMedia.list.column.Id") </th>
                        
                                <th> @T("FormAnswerMedia.list.column.Category_id_Text") </th>
                                <th> @T("FormAnswerMedia.list.column.Type_id_Text") </th>
                                <th> @T("FormAnswerMedia.list.column.Code") </th>
                                <th> @T("FormAnswerMedia.list.column.Title") </th>
                                <th> @T("FormAnswerMedia.list.column.Description") </th>
                                <th> @T("FormAnswerMedia.list.column.Media_path") </th>
                                <th> @T("FormAnswerMedia.list.column.Device_media_path") </th>
                                <th> @T("FormAnswerMedia.list.column.Thumbnail_path") </th>
                                <th> @T("FormAnswerMedia.list.column.Device_thumbnail_path") </th>
                                <th> @T("FormAnswerMedia.list.column.Mime_type") </th>
                                <th> @T("FormAnswerMedia.list.column.Method") </th>
                                <th> @T("FormAnswerMedia.list.column.Size") </th>
                                <th> @T("FormAnswerMedia.list.column.Extension") </th>
                                <th> @T("FormAnswerMedia.list.column.Display_order") </th>
                                <th> @T("FormAnswerMedia.list.column.Active") </th>
                                <th> @T("FormAnswerMedia.list.column.Deleted") </th>
                        
                                
                                <th> @T("FormAnswerMedia.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>






