﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Form_question_media;
@model FormQuestionMediaModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_FormQuestionMedia_1" data-toggle="tab"> @T("Admin.FormQuestionMedia.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_FormQuestionMedia_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("FormQuestionMedia.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Category_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Category_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faCategory_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Category_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Category_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Category_id, Model.Category_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Category_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Category_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Category_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Type_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Type_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faType_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Type_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Type_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Type_id, Model.Type_id_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Type_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Type_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Type_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 @Html.HiddenFor(m => m.Form_question_id)


                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Code) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Code, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCode"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Code) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Code))"></i>
                                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Code.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Code, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Code.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Title) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Title, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faTitle"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Title) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Title))"></i>
                                        @Html.TextAreaFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Title.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Title.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Hint) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Hint, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faHint"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Hint) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Hint))"></i>
                                        @Html.TextAreaFor(x => x.Hint, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Hint.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Hint, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Hint.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Version) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Version, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faVersion"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Version) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Version))"></i>
                                        @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Version.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Version, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Version.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Media_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Media_path, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faMedia_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Media_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Media_path))"></i>
                                        @Html.TextAreaFor(x => x.Media_path, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Media_path.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Media_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Media_path.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_media_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_media_path, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDevice_media_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_media_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_media_path))"></i>
                                        @Html.TextAreaFor(x => x.Device_media_path, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Device_media_path.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Device_media_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Device_media_path.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Thumbnail_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Thumbnail_path, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faThumbnail_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Thumbnail_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Thumbnail_path))"></i>
                                        @Html.TextAreaFor(x => x.Thumbnail_path, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Thumbnail_path.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Thumbnail_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Thumbnail_path.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_thumbnail_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_thumbnail_path, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDevice_thumbnail_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_thumbnail_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_thumbnail_path))"></i>
                                        @Html.TextAreaFor(x => x.Device_thumbnail_path, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Device_thumbnail_path.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Device_thumbnail_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Device_thumbnail_path.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Estimated_time) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Estimated_time, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faEstimated_time"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Estimated_time) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Estimated_time))"></i>
                                        @Html.TextBoxFor(x => x.Estimated_time, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Estimated_time.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Estimated_time, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Estimated_time.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Mime_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Mime_type, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faMime_type"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Mime_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Mime_type))"></i>
                                        @Html.TextAreaFor(x => x.Mime_type, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Mime_type.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Mime_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Mime_type.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Method) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Method, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faMethod"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Method) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Method))"></i>
                                        @Html.TextBoxFor(x => x.Method, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Method.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Method, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Method.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Size) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Size, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSize"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Size) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Size))"></i>
                                        @Html.TextBoxFor(x => x.Size, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Size.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Size, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Size.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Extension) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Extension, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faExtension"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Extension) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Extension))"></i>
                                        @Html.TextAreaFor(x => x.Extension, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Extension.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Extension, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Extension.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_order"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionMediaModel.Display_order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Display_order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Deleted) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Deleted, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDeleted"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Deleted) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Deleted))"></i>
                                        @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Deleted, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormQuestionMediaModel.Deleted.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>






