﻿@using AssetHealth.Models.Form_answer_media;
@model FormAnswerMediaModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.FormAnswerMedia.EditFormAnswerMediaDetails").Text;
}
@using (Html.BeginForm("EditFormAnswerMedia", "ParameterItem", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.FormAnswerMedia.EditFormAnswerMediaDetails") - @Model.Code
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditFormAnswer/" + Request.QueryString["FormAnswerModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteFormAnswerMedia", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateFormAnswerMedia", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
 
       setTimeout(function(){
        $('a[href="#tab_FormAnswerMedia_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/FormAnswerMedia-input-mask.js"></script>
}


