﻿@using AssetHealth.Models.Form_question_media;
@model FormQuestionMediaModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.FormQuestionMedia.EditFormQuestionMediaDetails").Text;
}
@using (Html.BeginForm("EditFormQuestionMedia", "ParameterItem", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.FormQuestionMedia.EditFormQuestionMediaDetails") - @Model.Code
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditFormQuestion/" + Request.QueryString["FormQuestionModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteFormQuestionMedia", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateFormQuestionMedia", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestionMedia", "ListFormQuestionMediaDatatable", "FormQuestion", null, true, new { FormQuestionMediaModelId = Model.Id }, "dataTableFormQuestionMedia").AddColumn("Id")
                                        .AddColumn("Category_id_Text")
                                        .AddColumn("Type_id_Text")
                                        .AddColumn("Form_question_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Media_path")
                                        .AddColumn("Device_media_path")
                                        .AddColumn("Thumbnail_path")
                                        .AddColumn("Device_thumbnail_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Mime_type")
                                        .AddColumn("Method")
                                        .AddColumn("Size")
                                        .AddColumn("Extension")
                                        .AddColumn("Display_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestionMedia", "ParameterItem") + "/' + full.Id , full.Id, true,  true, 'FormQuestionMedia') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionMediaOptions = dataTableFormQuestionMediaOptions; 
    
    $('#btnFilterFormQuestionMedia').click(function () {
                        dataTableFormQuestionMedia.column('Category_id:name').search($('#Filter_FormQuestionMediaModel_Category_id').val().trim());
                        dataTableFormQuestionMedia.column('Type_id:name').search($('#Filter_FormQuestionMediaModel_Type_id').val().trim());
                        dataTableFormQuestionMedia.column('Form_question_id:name').search($('#Filter_FormQuestionMediaModel_Form_question_id').val().trim());
                        dataTableFormQuestionMedia.column('Code:name').search($('#Filter_FormQuestionMediaModel_Code').val().trim());
                        dataTableFormQuestionMedia.column('Title:name').search($('#Filter_FormQuestionMediaModel_Title').val().trim());
                        dataTableFormQuestionMedia.column('Hint:name').search($('#Filter_FormQuestionMediaModel_Hint').val().trim());
                        dataTableFormQuestionMedia.column('Description:name').search($('#Filter_FormQuestionMediaModel_Description').val().trim());
                        dataTableFormQuestionMedia.column('Version:name').search($('#Filter_FormQuestionMediaModel_Version').val().trim());
                        dataTableFormQuestionMedia.column('Media_path:name').search($('#Filter_FormQuestionMediaModel_Media_path').val().trim());
                        dataTableFormQuestionMedia.column('Device_media_path:name').search($('#Filter_FormQuestionMediaModel_Device_media_path').val().trim());
                        dataTableFormQuestionMedia.column('Thumbnail_path:name').search($('#Filter_FormQuestionMediaModel_Thumbnail_path').val().trim());
                        dataTableFormQuestionMedia.column('Device_thumbnail_path:name').search($('#Filter_FormQuestionMediaModel_Device_thumbnail_path').val().trim());
                        dataTableFormQuestionMedia.column('Estimated_time:name').search($('#Filter_FormQuestionMediaModel_Estimated_time').val().trim());
                        dataTableFormQuestionMedia.column('Mime_type:name').search($('#Filter_FormQuestionMediaModel_Mime_type').val().trim());
                        dataTableFormQuestionMedia.column('Method:name').search($('#Filter_FormQuestionMediaModel_Method').val().trim());
                        dataTableFormQuestionMedia.column('Size:name').search($('#Filter_FormQuestionMediaModel_Size').val().trim());
                        dataTableFormQuestionMedia.column('Extension:name').search($('#Filter_FormQuestionMediaModel_Extension').val().trim());
                        dataTableFormQuestionMedia.column('Display_order:name').search($('#Filter_FormQuestionMediaModel_Display_order').val().trim());
                        dataTableFormQuestionMedia.column('Active:name').search($('#Filter_FormQuestionMediaModel_Active').prop('checked'));
                        dataTableFormQuestionMedia.column('Deleted:name').search($('#Filter_FormQuestionMediaModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestionMedia.draw();
            });
            
            
                $('#btnResetFormQuestionMedia').click(function () {

                    resetDatatableSearch('dataTableFormQuestionMedia');

                });
    
    
 
       setTimeout(function(){
        $('a[href="#tab_FormQuestionMedia_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/FormQuestionMedia-input-mask.js"></script>
}


