﻿@using AssetHealth.Models.Parameter_item;
@model ParameterItemModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.ParameterItem.EditParameterItemDetails").Text;
}
@using (Html.BeginForm("Edit", "ParameterItem", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.ParameterItem.EditParameterItemDetails") - @Model.Code
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableForm", "ListFormDatatable", "ParameterItem", null, true, new { ParameterItemModelId = Model.Id }, "dataTableForm").AddColumn("Id")
                                        .AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Display_order")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditForm", "ParameterItem") + "/' + full.Id , full.Id, true,  true, 'Form') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormOptions = dataTableFormOptions; 
    
    $('#btnFilterForm').click(function () {
                        dataTableForm.column('Derived_id:name').search($('#Filter_FormModel_Derived_id').val().trim());
                        dataTableForm.column('Code:name').search($('#Filter_FormModel_Code').val().trim());
                        dataTableForm.column('Title:name').search($('#Filter_FormModel_Title').val().trim());
                        dataTableForm.column('Description:name').search($('#Filter_FormModel_Description').val().trim());
                        dataTableForm.column('Version:name').search($('#Filter_FormModel_Version').val().trim());
                        dataTableForm.column('Image_path:name').search($('#Filter_FormModel_Image_path').val().trim());
                        dataTableForm.column('Active:name').search($('#Filter_FormModel_Active').prop('checked'));
                        dataTableForm.column('Deleted:name').search($('#Filter_FormModel_Deleted').prop('checked'));
                        dataTableForm.column('Display_order:name').search($('#Filter_FormModel_Display_order').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableForm.draw();
            });
            
            
                $('#btnResetForm').click(function () {

                    resetDatatableSearch('dataTableForm');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswerMedia", "ListFormAnswerMediaDatatable", "ParameterItem", null, true, new { ParameterItemModelId = Model.Id }, "dataTableFormAnswerMedia").AddColumn("Id")
                                        .AddColumn("Form_answer_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Description")
                                        .AddColumn("Media_path")
                                        .AddColumn("Device_media_path")
                                        .AddColumn("Thumbnail_path")
                                        .AddColumn("Device_thumbnail_path")
                                        .AddColumn("Mime_type")
                                        .AddColumn("Method")
                                        .AddColumn("Size")
                                        .AddColumn("Extension")
                                        .AddColumn("Display_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormAnswerMedia", "ParameterItem") + "/' + full.Id , full.Id, true,  true, 'FormAnswerMedia') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormAnswerMediaOptions = dataTableFormAnswerMediaOptions; 
    
    $('#btnFilterFormAnswerMedia').click(function () {
                        dataTableFormAnswerMedia.column('Form_answer_id:name').search($('#Filter_FormAnswerMediaModel_Form_answer_id').val().trim());
                        dataTableFormAnswerMedia.column('Code:name').search($('#Filter_FormAnswerMediaModel_Code').val().trim());
                        dataTableFormAnswerMedia.column('Title:name').search($('#Filter_FormAnswerMediaModel_Title').val().trim());
                        dataTableFormAnswerMedia.column('Description:name').search($('#Filter_FormAnswerMediaModel_Description').val().trim());
                        dataTableFormAnswerMedia.column('Media_path:name').search($('#Filter_FormAnswerMediaModel_Media_path').val().trim());
                        dataTableFormAnswerMedia.column('Device_media_path:name').search($('#Filter_FormAnswerMediaModel_Device_media_path').val().trim());
                        dataTableFormAnswerMedia.column('Thumbnail_path:name').search($('#Filter_FormAnswerMediaModel_Thumbnail_path').val().trim());
                        dataTableFormAnswerMedia.column('Device_thumbnail_path:name').search($('#Filter_FormAnswerMediaModel_Device_thumbnail_path').val().trim());
                        dataTableFormAnswerMedia.column('Mime_type:name').search($('#Filter_FormAnswerMediaModel_Mime_type').val().trim());
                        dataTableFormAnswerMedia.column('Method:name').search($('#Filter_FormAnswerMediaModel_Method').val().trim());
                        dataTableFormAnswerMedia.column('Size:name').search($('#Filter_FormAnswerMediaModel_Size').val().trim());
                        dataTableFormAnswerMedia.column('Extension:name').search($('#Filter_FormAnswerMediaModel_Extension').val().trim());
                        dataTableFormAnswerMedia.column('Display_order:name').search($('#Filter_FormAnswerMediaModel_Display_order').val().trim());
                        dataTableFormAnswerMedia.column('Active:name').search($('#Filter_FormAnswerMediaModel_Active').prop('checked'));
                        dataTableFormAnswerMedia.column('Deleted:name').search($('#Filter_FormAnswerMediaModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswerMedia.draw();
            });
            
            
                $('#btnResetFormAnswerMedia').click(function () {

                    resetDatatableSearch('dataTableFormAnswerMedia');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormAnswerMedia", "ListFormAnswerMediaDatatable", "ParameterItem", null, true, new { ParameterItemModelId = Model.Id }, "dataTableFormAnswerMedia").AddColumn("Id")
                                        .AddColumn("Form_answer_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Description")
                                        .AddColumn("Media_path")
                                        .AddColumn("Device_media_path")
                                        .AddColumn("Thumbnail_path")
                                        .AddColumn("Device_thumbnail_path")
                                        .AddColumn("Mime_type")
                                        .AddColumn("Method")
                                        .AddColumn("Size")
                                        .AddColumn("Extension")
                                        .AddColumn("Display_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormAnswerMedia", "ParameterItem") + "/' + full.Id , full.Id, true,  true, 'FormAnswerMedia') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormAnswerMediaOptions = dataTableFormAnswerMediaOptions; 
    
    $('#btnFilterFormAnswerMedia').click(function () {
                        dataTableFormAnswerMedia.column('Form_answer_id:name').search($('#Filter_FormAnswerMediaModel_Form_answer_id').val().trim());
                        dataTableFormAnswerMedia.column('Code:name').search($('#Filter_FormAnswerMediaModel_Code').val().trim());
                        dataTableFormAnswerMedia.column('Title:name').search($('#Filter_FormAnswerMediaModel_Title').val().trim());
                        dataTableFormAnswerMedia.column('Description:name').search($('#Filter_FormAnswerMediaModel_Description').val().trim());
                        dataTableFormAnswerMedia.column('Media_path:name').search($('#Filter_FormAnswerMediaModel_Media_path').val().trim());
                        dataTableFormAnswerMedia.column('Device_media_path:name').search($('#Filter_FormAnswerMediaModel_Device_media_path').val().trim());
                        dataTableFormAnswerMedia.column('Thumbnail_path:name').search($('#Filter_FormAnswerMediaModel_Thumbnail_path').val().trim());
                        dataTableFormAnswerMedia.column('Device_thumbnail_path:name').search($('#Filter_FormAnswerMediaModel_Device_thumbnail_path').val().trim());
                        dataTableFormAnswerMedia.column('Mime_type:name').search($('#Filter_FormAnswerMediaModel_Mime_type').val().trim());
                        dataTableFormAnswerMedia.column('Method:name').search($('#Filter_FormAnswerMediaModel_Method').val().trim());
                        dataTableFormAnswerMedia.column('Size:name').search($('#Filter_FormAnswerMediaModel_Size').val().trim());
                        dataTableFormAnswerMedia.column('Extension:name').search($('#Filter_FormAnswerMediaModel_Extension').val().trim());
                        dataTableFormAnswerMedia.column('Display_order:name').search($('#Filter_FormAnswerMediaModel_Display_order').val().trim());
                        dataTableFormAnswerMedia.column('Active:name').search($('#Filter_FormAnswerMediaModel_Active').prop('checked'));
                        dataTableFormAnswerMedia.column('Deleted:name').search($('#Filter_FormAnswerMediaModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormAnswerMedia.draw();
            });
            
            
                $('#btnResetFormAnswerMedia').click(function () {

                    resetDatatableSearch('dataTableFormAnswerMedia');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestion", "ListFormQuestionDatatable", "ParameterItem", null, true, new { ParameterItemModelId = Model.Id }, "dataTableFormQuestion").AddColumn("Id")
                                        .AddColumn("Form_id_Text")
                                        .AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        .AddColumn("Display_order")
                                        .AddColumn("Step")
                                        .AddColumn("Period")
                                        .AddCustomJavascriptColumn("V_required", " return full.V_required ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("V_email")
                                        .AddColumn("V_min_length")
                                        .AddColumn("V_max_length")
                                        .AddColumn("V_regex")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestion", "ParameterItem") + "/' + full.Id , full.Id, true,  true, 'FormQuestion') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionOptions = dataTableFormQuestionOptions; 
    
    $('#btnFilterFormQuestion').click(function () {
                        dataTableFormQuestion.column('Form_id:name').search($('#Filter_FormQuestionModel_Form_id').val().trim());
                        dataTableFormQuestion.column('Derived_id:name').search($('#Filter_FormQuestionModel_Derived_id').val().trim());
                        dataTableFormQuestion.column('Code:name').search($('#Filter_FormQuestionModel_Code').val().trim());
                        dataTableFormQuestion.column('Title:name').search($('#Filter_FormQuestionModel_Title').val().trim());
                        dataTableFormQuestion.column('Hint:name').search($('#Filter_FormQuestionModel_Hint').val().trim());
                        dataTableFormQuestion.column('Description:name').search($('#Filter_FormQuestionModel_Description').val().trim());
                        dataTableFormQuestion.column('Version:name').search($('#Filter_FormQuestionModel_Version').val().trim());
                        dataTableFormQuestion.column('Image_path:name').search($('#Filter_FormQuestionModel_Image_path').val().trim());
                        dataTableFormQuestion.column('Device_image_path:name').search($('#Filter_FormQuestionModel_Device_image_path').val().trim());
                        dataTableFormQuestion.column('Estimated_time:name').search($('#Filter_FormQuestionModel_Estimated_time').val().trim());
                        dataTableFormQuestion.column('Video_path:name').search($('#Filter_FormQuestionModel_Video_path').val().trim());
                        dataTableFormQuestion.column('Device_video_path:name').search($('#Filter_FormQuestionModel_Device_video_path').val().trim());
                        dataTableFormQuestion.column('Method:name').search($('#Filter_FormQuestionModel_Method').val().trim());
                        dataTableFormQuestion.column('Display_order:name').search($('#Filter_FormQuestionModel_Display_order').val().trim());
                        dataTableFormQuestion.column('Step:name').search($('#Filter_FormQuestionModel_Step').val().trim());
                        dataTableFormQuestion.column('Period:name').search($('#Filter_FormQuestionModel_Period').val().trim());
                        dataTableFormQuestion.column('V_required:name').search($('#Filter_FormQuestionModel_V_required').prop('checked'));
                        dataTableFormQuestion.column('V_email:name').search($('#Filter_FormQuestionModel_V_email').val().trim());
                        dataTableFormQuestion.column('V_min_length:name').search($('#Filter_FormQuestionModel_V_min_length').val().trim());
                        dataTableFormQuestion.column('V_max_length:name').search($('#Filter_FormQuestionModel_V_max_length').val().trim());
                        dataTableFormQuestion.column('V_regex:name').search($('#Filter_FormQuestionModel_V_regex').val().trim());
                        dataTableFormQuestion.column('Active:name').search($('#Filter_FormQuestionModel_Active').prop('checked'));
                        dataTableFormQuestion.column('Deleted:name').search($('#Filter_FormQuestionModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestion.draw();
            });
            
            
                $('#btnResetFormQuestion').click(function () {

                    resetDatatableSearch('dataTableFormQuestion');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestion", "ListFormQuestionDatatable", "ParameterItem", null, true, new { ParameterItemModelId = Model.Id }, "dataTableFormQuestion").AddColumn("Id")
                                        .AddColumn("Form_id_Text")
                                        .AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Image_path")
                                        .AddColumn("Device_image_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Video_path")
                                        .AddColumn("Device_video_path")
                                        .AddColumn("Method")
                                        .AddColumn("Display_order")
                                        .AddColumn("Step")
                                        .AddColumn("Period")
                                        .AddCustomJavascriptColumn("V_required", " return full.V_required ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("V_email")
                                        .AddColumn("V_min_length")
                                        .AddColumn("V_max_length")
                                        .AddColumn("V_regex")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestion", "ParameterItem") + "/' + full.Id , full.Id, true,  true, 'FormQuestion') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionOptions = dataTableFormQuestionOptions; 
    
    $('#btnFilterFormQuestion').click(function () {
                        dataTableFormQuestion.column('Form_id:name').search($('#Filter_FormQuestionModel_Form_id').val().trim());
                        dataTableFormQuestion.column('Derived_id:name').search($('#Filter_FormQuestionModel_Derived_id').val().trim());
                        dataTableFormQuestion.column('Code:name').search($('#Filter_FormQuestionModel_Code').val().trim());
                        dataTableFormQuestion.column('Title:name').search($('#Filter_FormQuestionModel_Title').val().trim());
                        dataTableFormQuestion.column('Hint:name').search($('#Filter_FormQuestionModel_Hint').val().trim());
                        dataTableFormQuestion.column('Description:name').search($('#Filter_FormQuestionModel_Description').val().trim());
                        dataTableFormQuestion.column('Version:name').search($('#Filter_FormQuestionModel_Version').val().trim());
                        dataTableFormQuestion.column('Image_path:name').search($('#Filter_FormQuestionModel_Image_path').val().trim());
                        dataTableFormQuestion.column('Device_image_path:name').search($('#Filter_FormQuestionModel_Device_image_path').val().trim());
                        dataTableFormQuestion.column('Estimated_time:name').search($('#Filter_FormQuestionModel_Estimated_time').val().trim());
                        dataTableFormQuestion.column('Video_path:name').search($('#Filter_FormQuestionModel_Video_path').val().trim());
                        dataTableFormQuestion.column('Device_video_path:name').search($('#Filter_FormQuestionModel_Device_video_path').val().trim());
                        dataTableFormQuestion.column('Method:name').search($('#Filter_FormQuestionModel_Method').val().trim());
                        dataTableFormQuestion.column('Display_order:name').search($('#Filter_FormQuestionModel_Display_order').val().trim());
                        dataTableFormQuestion.column('Step:name').search($('#Filter_FormQuestionModel_Step').val().trim());
                        dataTableFormQuestion.column('Period:name').search($('#Filter_FormQuestionModel_Period').val().trim());
                        dataTableFormQuestion.column('V_required:name').search($('#Filter_FormQuestionModel_V_required').prop('checked'));
                        dataTableFormQuestion.column('V_email:name').search($('#Filter_FormQuestionModel_V_email').val().trim());
                        dataTableFormQuestion.column('V_min_length:name').search($('#Filter_FormQuestionModel_V_min_length').val().trim());
                        dataTableFormQuestion.column('V_max_length:name').search($('#Filter_FormQuestionModel_V_max_length').val().trim());
                        dataTableFormQuestion.column('V_regex:name').search($('#Filter_FormQuestionModel_V_regex').val().trim());
                        dataTableFormQuestion.column('Active:name').search($('#Filter_FormQuestionModel_Active').prop('checked'));
                        dataTableFormQuestion.column('Deleted:name').search($('#Filter_FormQuestionModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestion.draw();
            });
            
            
                $('#btnResetFormQuestion').click(function () {

                    resetDatatableSearch('dataTableFormQuestion');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestionMedia", "ListFormQuestionMediaDatatable", "ParameterItem", null, true, new { ParameterItemModelId = Model.Id }, "dataTableFormQuestionMedia").AddColumn("Id")
                                        .AddColumn("Form_question_id_Text")
                                        .AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Media_path")
                                        .AddColumn("Device_media_path")
                                        .AddColumn("Thumbnail_path")
                                        .AddColumn("Device_thumbnail_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Mime_type")
                                        .AddColumn("Method")
                                        .AddColumn("Size")
                                        .AddColumn("Extension")
                                        .AddColumn("Display_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestionMedia", "ParameterItem") + "/' + full.Id , full.Id, true,  true, 'FormQuestionMedia') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionMediaOptions = dataTableFormQuestionMediaOptions; 
    
    $('#btnFilterFormQuestionMedia').click(function () {
                        dataTableFormQuestionMedia.column('Form_question_id:name').search($('#Filter_FormQuestionMediaModel_Form_question_id').val().trim());
                        dataTableFormQuestionMedia.column('Derived_id:name').search($('#Filter_FormQuestionMediaModel_Derived_id').val().trim());
                        dataTableFormQuestionMedia.column('Code:name').search($('#Filter_FormQuestionMediaModel_Code').val().trim());
                        dataTableFormQuestionMedia.column('Title:name').search($('#Filter_FormQuestionMediaModel_Title').val().trim());
                        dataTableFormQuestionMedia.column('Hint:name').search($('#Filter_FormQuestionMediaModel_Hint').val().trim());
                        dataTableFormQuestionMedia.column('Description:name').search($('#Filter_FormQuestionMediaModel_Description').val().trim());
                        dataTableFormQuestionMedia.column('Version:name').search($('#Filter_FormQuestionMediaModel_Version').val().trim());
                        dataTableFormQuestionMedia.column('Media_path:name').search($('#Filter_FormQuestionMediaModel_Media_path').val().trim());
                        dataTableFormQuestionMedia.column('Device_media_path:name').search($('#Filter_FormQuestionMediaModel_Device_media_path').val().trim());
                        dataTableFormQuestionMedia.column('Thumbnail_path:name').search($('#Filter_FormQuestionMediaModel_Thumbnail_path').val().trim());
                        dataTableFormQuestionMedia.column('Device_thumbnail_path:name').search($('#Filter_FormQuestionMediaModel_Device_thumbnail_path').val().trim());
                        dataTableFormQuestionMedia.column('Estimated_time:name').search($('#Filter_FormQuestionMediaModel_Estimated_time').val().trim());
                        dataTableFormQuestionMedia.column('Mime_type:name').search($('#Filter_FormQuestionMediaModel_Mime_type').val().trim());
                        dataTableFormQuestionMedia.column('Method:name').search($('#Filter_FormQuestionMediaModel_Method').val().trim());
                        dataTableFormQuestionMedia.column('Size:name').search($('#Filter_FormQuestionMediaModel_Size').val().trim());
                        dataTableFormQuestionMedia.column('Extension:name').search($('#Filter_FormQuestionMediaModel_Extension').val().trim());
                        dataTableFormQuestionMedia.column('Display_order:name').search($('#Filter_FormQuestionMediaModel_Display_order').val().trim());
                        dataTableFormQuestionMedia.column('Active:name').search($('#Filter_FormQuestionMediaModel_Active').prop('checked'));
                        dataTableFormQuestionMedia.column('Deleted:name').search($('#Filter_FormQuestionMediaModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestionMedia.draw();
            });
            
            
                $('#btnResetFormQuestionMedia').click(function () {

                    resetDatatableSearch('dataTableFormQuestionMedia');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableFormQuestionMedia", "ListFormQuestionMediaDatatable", "ParameterItem", null, true, new { ParameterItemModelId = Model.Id }, "dataTableFormQuestionMedia").AddColumn("Id")
                                        .AddColumn("Form_question_id_Text")
                                        .AddColumn("Derived_id_Text")
                                        .AddColumn("Code")
                                        .AddColumn("Title")
                                        .AddColumn("Hint")
                                        .AddColumn("Description")
                                        .AddColumn("Version")
                                        .AddColumn("Media_path")
                                        .AddColumn("Device_media_path")
                                        .AddColumn("Thumbnail_path")
                                        .AddColumn("Device_thumbnail_path")
                                        .AddColumn("Estimated_time")
                                        .AddColumn("Mime_type")
                                        .AddColumn("Method")
                                        .AddColumn("Size")
                                        .AddColumn("Extension")
                                        .AddColumn("Display_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditFormQuestionMedia", "ParameterItem") + "/' + full.Id , full.Id, true,  true, 'FormQuestionMedia') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormQuestionMediaOptions = dataTableFormQuestionMediaOptions; 
    
    $('#btnFilterFormQuestionMedia').click(function () {
                        dataTableFormQuestionMedia.column('Form_question_id:name').search($('#Filter_FormQuestionMediaModel_Form_question_id').val().trim());
                        dataTableFormQuestionMedia.column('Derived_id:name').search($('#Filter_FormQuestionMediaModel_Derived_id').val().trim());
                        dataTableFormQuestionMedia.column('Code:name').search($('#Filter_FormQuestionMediaModel_Code').val().trim());
                        dataTableFormQuestionMedia.column('Title:name').search($('#Filter_FormQuestionMediaModel_Title').val().trim());
                        dataTableFormQuestionMedia.column('Hint:name').search($('#Filter_FormQuestionMediaModel_Hint').val().trim());
                        dataTableFormQuestionMedia.column('Description:name').search($('#Filter_FormQuestionMediaModel_Description').val().trim());
                        dataTableFormQuestionMedia.column('Version:name').search($('#Filter_FormQuestionMediaModel_Version').val().trim());
                        dataTableFormQuestionMedia.column('Media_path:name').search($('#Filter_FormQuestionMediaModel_Media_path').val().trim());
                        dataTableFormQuestionMedia.column('Device_media_path:name').search($('#Filter_FormQuestionMediaModel_Device_media_path').val().trim());
                        dataTableFormQuestionMedia.column('Thumbnail_path:name').search($('#Filter_FormQuestionMediaModel_Thumbnail_path').val().trim());
                        dataTableFormQuestionMedia.column('Device_thumbnail_path:name').search($('#Filter_FormQuestionMediaModel_Device_thumbnail_path').val().trim());
                        dataTableFormQuestionMedia.column('Estimated_time:name').search($('#Filter_FormQuestionMediaModel_Estimated_time').val().trim());
                        dataTableFormQuestionMedia.column('Mime_type:name').search($('#Filter_FormQuestionMediaModel_Mime_type').val().trim());
                        dataTableFormQuestionMedia.column('Method:name').search($('#Filter_FormQuestionMediaModel_Method').val().trim());
                        dataTableFormQuestionMedia.column('Size:name').search($('#Filter_FormQuestionMediaModel_Size').val().trim());
                        dataTableFormQuestionMedia.column('Extension:name').search($('#Filter_FormQuestionMediaModel_Extension').val().trim());
                        dataTableFormQuestionMedia.column('Display_order:name').search($('#Filter_FormQuestionMediaModel_Display_order').val().trim());
                        dataTableFormQuestionMedia.column('Active:name').search($('#Filter_FormQuestionMediaModel_Active').prop('checked'));
                        dataTableFormQuestionMedia.column('Deleted:name').search($('#Filter_FormQuestionMediaModel_Deleted').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormQuestionMedia.draw();
            });
            
            
                $('#btnResetFormQuestionMedia').click(function () {

                    resetDatatableSearch('dataTableFormQuestionMedia');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_ParameterItem_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/ParameterItem-input-mask.js"></script>
}


