﻿
@using MvcCheckBoxList.Model
@using AKOS.Common.Models.Sampas;
@model SampasModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_Sampas_1" data-toggle="tab"> @T("Admin.Sampas.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_Sampas_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("Sampas.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject font-dark sbold uppercase">Muhasebe İşlem Bilgisi Ödeme Fişi</span>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                                <input type="radio" name="options" class="toggle" id="option1">Actions
                                            </label>
                                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                                <input type="radio" name="options" class="toggle" id="option2">Settings
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Sirket_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Sirket_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Sirket_kodu, new { @class = "form-control", @style = "width:40%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Sirket_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Yili) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Yili, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Yili, new { @class = "form-control", @style = "width:40%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Yili) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Yevmiye_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Yevmiye_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Yevmiye_no, new { @class = "form-control", @style = "width:40%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Yevmiye_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Yevmiye_alt_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Yevmiye_alt_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Yevmiye_alt_no, new { @class = "form-control", @style = "width:40%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Yevmiye_alt_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Odeme_belge_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Odeme_belge_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Odeme_belge_no, new { @class = "form-control", @style = "width:40%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Odeme_belge_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Odeme_belge_alt_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Odeme_belge_alt_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Odeme_belge_alt_no, new { @class = "form-control", @style = "width:40%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Odeme_belge_alt_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Satinalma_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Satinalma_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Satinalma_kodu, new { @class = "form-control", @style = "width:40%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Satinalma_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Yevmiye_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Yevmiye_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Yevmiye_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Yevmiye_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Islem_turu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Islem_turu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(x => x.Islem_turu, ListExtensions.ToSelectList(Model.Islem_turu, "", EnumType.Integer), T("Select").Text, new { @class = "form-control", @style = "width:45%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Islem_turu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Kurumsal_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Kurumsal_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Kurumsal_kodu, new { @class = "form-control", @style = "width:40%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Kurumsal_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Devir_mahsubu_mu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Devir_mahsubu_mu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Devir_mahsubu_mu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Devir_mahsubu_mu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Tahsis_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Tahsis_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Tahsis_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Tahsis_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Aciklama) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Aciklama, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Aciklama) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Odeme_turu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Odeme_turu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(x => x.Odeme_turu, ListExtensions.ToSelectList(Model.Odeme_turu, "", EnumType.Integer), T("Select").Text, new { @class = "form-control", @style = "width:45%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Odeme_turu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Odeme_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Odeme_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Odeme_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Odeme_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Odeme_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Odeme_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Odeme_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Odeme_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Sicil_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Sicil_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Sicil_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Sicil_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Avans_verildigi_tarih) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Avans_verildigi_tarih, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Avans_verildigi_tarih, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Avans_verildigi_tarih) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Avans_yevmiye_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Avans_yevmiye_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Avans_yevmiye_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Avans_yevmiye_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Avans_yevmiye_alt_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Avans_yevmiye_alt_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Avans_yevmiye_alt_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Avans_yevmiye_alt_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Emanete_alindi_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Emanete_alindi_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Emanete_alindi_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Emanete_alindi_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Emanet_kimin_adina) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Emanet_kimin_adina, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Emanet_kimin_adina, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Emanet_kimin_adina) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Ilk_alacak_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Ilk_alacak_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Ilk_alacak_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Ilk_alacak_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Son_alacak_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Son_alacak_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Son_alacak_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Son_alacak_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Ilk_alacak_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Ilk_alacak_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Ilk_alacak_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Ilk_alacak_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Son_alacak_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Son_alacak_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Son_alacak_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Son_alacak_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Taahhut_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Taahhut_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Taahhut_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Taahhut_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Duzenleyen_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Duzenleyen_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Duzenleyen_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Duzenleyen_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Duzenleme_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Duzenleme_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Duzenleme_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Duzenleme_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Mali_kontrol_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Mali_kontrol_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Mali_kontrol_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Mali_kontrol_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Mali_kontrol_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Mali_kontrol_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Mali_kontrol_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Mali_kontrol_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Harcama_yetkilisi_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Harcama_yetkilisi_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Harcama_yetkilisi_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Harcama_yetkilisi_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Harcama_yetkilisi_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Harcama_yetkilisi_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Harcama_yetkilisi_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Harcama_yetkilisi_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Muhasebe_yetkilisi_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Muhasebe_yetkilisi_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Muhasebe_yetkilisi_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Muhasebe_yetkilisi_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Muhasebe_yetkilisi_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Muhasebe_yetkilisi_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Muhasebe_yetkilisi_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Muhasebe_yetkilisi_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Vezne_yetkili_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Vezne_yetkili_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Vezne_yetkili_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Vezne_yetkili_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Evrak_turu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Evrak_turu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(x => x.Evrak_turu, ListExtensions.ToSelectList(Model.Evrak_turu, "", EnumType.Integer), T("Select").Text, new { @class = "form-control", @style = "width:45%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Evrak_turu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Evrak_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Evrak_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Evrak_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Evrak_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Evrak_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Evrak_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Evrak_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Evrak_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Evrak_tutari) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Evrak_tutari, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Evrak_tutari, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Evrak_tutari) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Musteri_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Musteri_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Musteri_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Musteri_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Yetkili_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Yetkili_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Yetkili_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Yetkili_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Vezne_yetkili_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Vezne_yetkili_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Vezne_yetkili_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Vezne_yetkili_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Onaylayan_memur) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Onaylayan_memur, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Onaylayan_memur, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Onaylayan_memur) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Onaylayan_sef) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Onaylayan_sef, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Onaylayan_sef, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Onaylayan_sef) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Onaylayan_yetkili) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Onaylayan_yetkili, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Onaylayan_yetkili, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Onaylayan_yetkili) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Kaydeden) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Kaydeden, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Kaydeden, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Kaydeden) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Kayit_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Kayit_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.Kayit_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Kayit_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Kdv_tutari) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Kdv_tutari, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Kdv_tutari, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Kdv_tutari) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Eski_sicil_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Eski_sicil_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Eski_sicil_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Eski_sicil_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Evrak_id) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Evrak_id, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Evrak_id, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Evrak_id) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Iban_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Iban_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Iban_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Iban_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Alindi_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Alindi_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Alindi_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Alindi_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Alt_surec_id) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Alt_surec_id, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Alt_surec_id, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Alt_surec_id) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Borc_id) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Borc_id, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Borc_id, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Borc_id) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Yevmiye_kontrol) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Yevmiye_kontrol, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Yevmiye_kontrol, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Yevmiye_kontrol) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.G_evrak_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.G_evrak_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.G_evrak_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.G_evrak_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.G_evrak_tarihi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.G_evrak_tarihi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.EditorFor(x => x.G_evrak_tarihi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.G_evrak_tarihi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Ysa_yili) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Ysa_yili, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Ysa_yili, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Ysa_yili) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Ysa_dosya_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Ysa_dosya_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Ysa_dosya_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Ysa_dosya_no) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Eski_musteri_kodu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Eski_musteri_kodu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Eski_musteri_kodu, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Eski_musteri_kodu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Otomatik_islem_turu) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Otomatik_islem_turu, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(x => x.Otomatik_islem_turu, ListExtensions.ToSelectList(Model.Otomatik_islem_turu, "", EnumType.Integer), T("Select").Text, new { @class = "form-control", @style = "width:45%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Otomatik_islem_turu) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Arsiv_id) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Arsiv_id, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Arsiv_id, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Arsiv_id) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Kurumsal_adi) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Kurumsal_adi, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Kurumsal_adi, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Kurumsal_adi) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Borc_toplam) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Borc_toplam, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Borc_toplam, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Borc_toplam) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Alacak_toplam) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Alacak_toplam, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Alacak_toplam, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Alacak_toplam) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Muh_detay) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Muh_detay, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Muh_detay, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Muh_detay) &nbsp; </span>
                                        </div>
                                    </div>
                                    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Kurum_sicil_no) ? "has-error" : "")">
                                        @Html.AresLabelFor(m => m.Kurum_sicil_no, new { @class = "col-md-3 control-label " })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Kurum_sicil_no, new { @class = "form-control", @style = "width:100%;" })



                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Kurum_sicil_no) &nbsp; </span>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="portlet box purple ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i> Müşteri Bilgileri
                                </div>
                                <div class="tools">
                                    <a href="" class="collapse"> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    <a href="" class="reload"> </a>
                                    <a href="" class="remove"> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Adi_soyadi) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Adi_soyadi, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Adi_soyadi, new { @class = "form-control", @style = "width:100%;" })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Adi_soyadi) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Adresi) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Adresi, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Adresi, new { @class = "form-control", @style = "width:100%;" })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Adresi) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Yetkili_adi_soyadi) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Yetkili_adi_soyadi, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Yetkili_adi_soyadi, new { @class = "form-control", @style = "width:100%;" })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Yetkili_adi_soyadi) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Tc_kimlik_no) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Tc_kimlik_no, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Tc_kimlik_no, new { @class = "form-control", @style = "width:40%;" })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Tc_kimlik_no) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Vergi_no) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Vergi_no, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Vergi_no, new { @class = "form-control", @style = "width:100%;" })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Vergi_no) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Vergi_dairesi) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Vergi_dairesi, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Vergi_dairesi, new { @class = "form-control", @style = "width:100%;" })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Vergi_dairesi) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Banka_subesi) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Banka_subesi, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Banka_subesi, new { @class = "form-control", @style = "width:100%;" })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Banka_subesi) &nbsp; </span>
                                    </div>
                                </div>
                                <div class="form-group @(Html.CheckValidationErrorFor(m => m.Banka_hesap_no) ? "has-error" : "")">
                                    @Html.AresLabelFor(m => m.Banka_hesap_no, new { @class = "col-md-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Banka_hesap_no, new { @class = "form-control", @style = "width:100%;" })



                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Banka_hesap_no) &nbsp; </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
                    </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>






 