﻿@using AKOS.Common.Models.Sampas;
@model SampasModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Sampas.AddNew").Text;
}

@using (Html.BeginForm("Create", "Sampas", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Sampas.AddSampasDetails") -
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 @section jQueryOnReadyScripts {
}

@section beforeFooter{

}