﻿

@using AKOS.Common.Models.Sampas;

@model SampasModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("Sampas.list.header")
        </div>
        <div class="actions">
            <a href="@Url.Action("Create", "Sampas")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("Sampas.list.add")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm">
                <i class="fa fa-print"></i> Print
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTable" style="width:100%">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("Sampas.list.column.Id") </th>
                    <th> @T("Sampas.list.column.Yili") </th>
                    <th> @T("Sampas.list.column.Islem_turu") </th>
                    <th> @T("Sampas.list.column.Yevmiye_tarihi") </th>
                    <th> @T("Sampas.list.column.Yevmiye_no") </th>
                    <th> @T("Sampas.list.column.Kurumsal_kodu") </th>
                    <th> @T("Sampas.list.column.Kurumsal_adi") </th>
                    <th> @T("Sampas.list.column.Adi_soyadi") </th>
            @*


    <th> @T("Sampas.list.column.Sirket_kodu") </th>


    <th> @T("Sampas.list.column.Yevmiye_alt_no") </th>
    <th> @T("Sampas.list.column.Odeme_belge_no") </th>
    <th> @T("Sampas.list.column.Odeme_belge_alt_no") </th>
    <th> @T("Sampas.list.column.Satinalma_kodu") </th>



    <th> @T("Sampas.list.column.Devir_mahsubu_mu") </th>
    <th> @T("Sampas.list.column.Tahsis_kodu") </th>

    <th> @T("Sampas.list.column.Adresi") </th>
    <th> @T("Sampas.list.column.Yetkili_adi_soyadi") </th>
    <th> @T("Sampas.list.column.Tc_kimlik_no") </th>
    <th> @T("Sampas.list.column.Vergi_no") </th>
    <th> @T("Sampas.list.column.Vergi_dairesi") </th>
    <th> @T("Sampas.list.column.Banka_subesi") </th>
    <th> @T("Sampas.list.column.Banka_hesap_no") </th>
    <th> @T("Sampas.list.column.Aciklama") </th>
    <th> @T("Sampas.list.column.Odeme_turu") </th>
    <th> @T("Sampas.list.column.Odeme_no") </th>
    <th> @T("Sampas.list.column.Odeme_kodu") </th>
    <th> @T("Sampas.list.column.Sicil_kodu") </th>
    <th> @T("Sampas.list.column.Avans_verildigi_tarih") </th>
    <th> @T("Sampas.list.column.Avans_yevmiye_no") </th>
    <th> @T("Sampas.list.column.Avans_yevmiye_alt_no") </th>
    <th> @T("Sampas.list.column.Emanete_alindi_tarihi") </th>
    <th> @T("Sampas.list.column.Emanet_kimin_adina") </th>
    <th> @T("Sampas.list.column.Ilk_alacak_tarihi") </th>
    <th> @T("Sampas.list.column.Son_alacak_tarihi") </th>
    <th> @T("Sampas.list.column.Ilk_alacak_no") </th>
    <th> @T("Sampas.list.column.Son_alacak_no") </th>
    <th> @T("Sampas.list.column.Taahhut_no") </th>
    <th> @T("Sampas.list.column.Duzenleyen_kodu") </th>
    <th> @T("Sampas.list.column.Duzenleme_tarihi") </th>
    <th> @T("Sampas.list.column.Mali_kontrol_kodu") </th>
    <th> @T("Sampas.list.column.Mali_kontrol_tarihi") </th>
    <th> @T("Sampas.list.column.Harcama_yetkilisi_kodu") </th>
    <th> @T("Sampas.list.column.Harcama_yetkilisi_tarihi") </th>
    <th> @T("Sampas.list.column.Muhasebe_yetkilisi_kodu") </th>
    <th> @T("Sampas.list.column.Muhasebe_yetkilisi_tarihi") </th>
    <th> @T("Sampas.list.column.Vezne_yetkili_kodu") </th>
    <th> @T("Sampas.list.column.Evrak_turu") </th>
    <th> @T("Sampas.list.column.Evrak_tarihi") </th>
    <th> @T("Sampas.list.column.Evrak_no") </th>
    <th> @T("Sampas.list.column.Evrak_tutari") </th>
    <th> @T("Sampas.list.column.Musteri_kodu") </th>
    <th> @T("Sampas.list.column.Yetkili_kodu") </th>
    <th> @T("Sampas.list.column.Vezne_yetkili_tarihi") </th>
    <th> @T("Sampas.list.column.Onaylayan_memur") </th>
    <th> @T("Sampas.list.column.Onaylayan_sef") </th>
    <th> @T("Sampas.list.column.Onaylayan_yetkili") </th>
    <th> @T("Sampas.list.column.Kaydeden") </th>
    <th> @T("Sampas.list.column.Kayit_tarihi") </th>
    <th> @T("Sampas.list.column.Kdv_tutari") </th>
    <th> @T("Sampas.list.column.Eski_sicil_kodu") </th>
    <th> @T("Sampas.list.column.Evrak_id") </th>
    <th> @T("Sampas.list.column.Iban_no") </th>
    <th> @T("Sampas.list.column.Alindi_no") </th>
    <th> @T("Sampas.list.column.Alt_surec_id") </th>
    <th> @T("Sampas.list.column.Borc_id") </th>
    <th> @T("Sampas.list.column.Yevmiye_kontrol") </th>
    <th> @T("Sampas.list.column.G_evrak_no") </th>
    <th> @T("Sampas.list.column.G_evrak_tarihi") </th>
    <th> @T("Sampas.list.column.Ysa_yili") </th>
    <th> @T("Sampas.list.column.Ysa_dosya_no") </th>
    <th> @T("Sampas.list.column.Eski_musteri_kodu") </th>
    <th> @T("Sampas.list.column.Otomatik_islem_turu") </th>
    <th> @T("Sampas.list.column.Arsiv_id") </th>

    <th> @T("Sampas.list.column.Borc_toplam") </th>
    <th> @T("Sampas.list.column.Alacak_toplam") </th>
    <th> @T("Sampas.list.column.Muh_detay") </th>
    <th> @T("Sampas.list.column.Kurum_sicil_no") </th>
            *@
                    
                    <th> @T("Sampas.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTable", "ListSampasDatatable", "Sampas", null, true).AddColumn("Id")
    .AddColumn("Yili")
    .AddColumn("EnumIslem_turu_Text")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Yevmiye_tarihi)")
    .AddColumn("Yevmiye_no")
    .AddColumn("Kurumsal_kodu")
    .AddColumn("Kurumsal_adi")
    .AddColumn("Adi_soyadi")
    @*




    .AddColumn("Devir_mahsubu_mu")
    .AddColumn("Tahsis_kodu")

    .AddColumn("Adresi")
    .AddColumn("Yetkili_adi_soyadi")
    .AddColumn("Vergi_no")
    .AddColumn("Vergi_dairesi")
    .AddColumn("Banka_subesi")
    .AddColumn("Banka_hesap_no")
    .AddColumn("Aciklama")
    .AddColumn("EnumOdeme_turu_Text")
    .AddColumn("Odeme_no")
    .AddColumn("Odeme_kodu")
    .AddColumn("Sicil_kodu")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Avans_verildigi_tarih)")
    .AddColumn("Avans_yevmiye_no")
    .AddColumn("Avans_yevmiye_alt_no")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Emanete_alindi_tarihi)")
    .AddColumn("Emanet_kimin_adina")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Ilk_alacak_tarihi)")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Son_alacak_tarihi)")
    .AddColumn("Ilk_alacak_no")
    .AddColumn("Son_alacak_no")
    .AddColumn("Taahhut_no")
    .AddColumn("Duzenleyen_kodu")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Duzenleme_tarihi)")
    .AddColumn("Mali_kontrol_kodu")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Mali_kontrol_tarihi)")
    .AddColumn("Harcama_yetkilisi_kodu")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Harcama_yetkilisi_tarihi)")
    .AddColumn("Muhasebe_yetkilisi_kodu")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Muhasebe_yetkilisi_tarihi)")
    .AddColumn("Vezne_yetkili_kodu")
    .AddColumn("EnumEvrak_turu_Text")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Evrak_tarihi)")
    .AddColumn("Evrak_no")
    .AddColumn("Evrak_tutari")
    .AddColumn("Musteri_kodu")
    .AddColumn("Yetkili_kodu")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Vezne_yetkili_tarihi)")
    .AddColumn("Onaylayan_memur")
    .AddColumn("Onaylayan_sef")
    .AddColumn("Onaylayan_yetkili")
    .AddColumn("Kaydeden")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.Kayit_tarihi)")
    .AddColumn("Kdv_tutari")
    .AddColumn("Eski_sicil_kodu")
    .AddColumn("Evrak_id")
    .AddColumn("Iban_no")
    .AddColumn("Alindi_no")
    .AddColumn("Alt_surec_id")
    .AddColumn("Borc_id")
    .AddColumn("Yevmiye_kontrol")
    .AddColumn("G_evrak_no")
    .AddCustomJavascriptColumn("", "return formatJSONDate(full.G_evrak_tarihi)")
    .AddColumn("Ysa_yili")
    .AddColumn("Ysa_dosya_no")
    .AddColumn("Eski_musteri_kodu")
    .AddColumn("EnumOtomatik_islem_turu_Text")
    .AddColumn("Arsiv_id")

    .AddColumn("Borc_toplam")
    .AddColumn("Alacak_toplam")
    .AddColumn("Muh_detay")
    .AddColumn("Kurum_sicil_no")
    *@
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "Sampas") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .Initialize())

}
