﻿@model HRDMIS.Models.Verificationeligibilityitemdef.VerificationeligibilityitemdefViewModel


&nbsp;&nbsp;&nbsp;&nbsp;<strong>@Model.Verificationeligibilityitemdef.Itemdefinition </strong>

<tr>
    <td>@T("VerificationeligibilityitemdefViewModel.Letternotesen") : @Html.TextAreaFor(x => x.ApplicationVerificationeligibility.Letternotesen, new { @class = "form-control", @style = "width:500px" })</td>
    <td style="margin-left:20px;padding:20px">@T("VerificationeligibilityitemdefViewModel.Letternotes") :  @Html.TextAreaFor(x => x.ApplicationVerificationeligibility.Letternotes, new { @class = "form-control", @style = "width:500px"})</td>
</tr>