﻿@model HRDMIS.DTO.Verificationeligibilityitemdef

@*
    <div class="col-md-12" style="vertical-align:top">
        <div class="col-md-12">
            <strong>@Model.Itemdefinition </strong>
        </div>

        <div class="col-md-6">
            @Html.TextAreaFor(x => x.Itemdefinition, new { @class = "form-control", @style = "width:100%;", @placeholder = "Missiondetail" })
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(x => x.Itemdefinition, new { @class = "form-control", @style = "width:100%;", @placeholder = "Missiondetail" })
        </div>

    </div>

*@
&nbsp;&nbsp;&nbsp;&nbsp;<strong>@Model.Itemdefinition </strong>

<tr>
    <td><b>Letter Notes (EN) : </b>@Html.TextAreaFor(x => x.Itemdefinition, new { @class = "form-control", @style = "width:500px", @placeholder = "Missiondetail" })</td>
    <td style="margin-left:20px;padding:20px"><b>Letter Notes (TR) :</b>  @Html.TextAreaFor(x => x.Itemdefinition, new { @class = "form-control", @style = "width:500px", @placeholder = "Missiondetail" })</td>
</tr>""