﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.User;
@model UserModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_User_1" data-toggle="tab"> @T("Admin.User.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_User_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("User.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.User_guid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.User_guid, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUser_guid"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.User_guid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.User_guid))"></i>
                                        @Html.TextBoxFor(x => x.User_guid, new { @class = "form-control", @placeholder = T("UserModel.User_guid.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.User_guid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.User_guid.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Username) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Username, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faUsername"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Username) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Username))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Username.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Password) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Password, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faPassword"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Password) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Password))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Password.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Password_format_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Password_format_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPassword_format_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Password_format_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Password_format_id))"></i>
                                        @Html.TextBoxFor(x => x.Password_format_id, new { @class = "form-control", @placeholder = T("UserModel.Password_format_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Password_format_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Password_format_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Password_salt) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Password_salt, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faPassword_salt"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Password_salt) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Password_salt))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Password_salt, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Password_salt.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Email) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Email, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faEmail"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Email) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Email))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Email.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Identity_number) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Identity_number, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faIdentity_number"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Identity_number) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Identity_number))"></i>
                                        @Html.TextAreaFor(x => x.Identity_number, new { @class = "form-control", @placeholder = T("UserModel.Identity_number.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Identity_number, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Identity_number.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.System_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.System_name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faSystem_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.System_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.System_name))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.System_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.System_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.First_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.First_name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faFirst_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.First_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.First_name))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.First_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.First_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faLast_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_name))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Last_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Birth_date) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Birth_date, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faBirth_date"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Birth_date) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Birth_date))"></i>
                                        @Html.EditorFor(x => x.Birth_date, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Birth_date, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Birth_date.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Hire_date) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Hire_date, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faHire_date"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Hire_date) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Hire_date))"></i>
                                        @Html.EditorFor(x => x.Hire_date, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Hire_date, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Hire_date.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Extension) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Extension, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faExtension"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Extension) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Extension))"></i>
                                        @Html.TextBoxFor(x => x.Extension, new { @class = "form-control", @placeholder = T("UserModel.Extension.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Extension, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Extension.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Mobile_phone) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Mobile_phone, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faMobile_phone"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Mobile_phone) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Mobile_phone))"></i>
                                        @Html.TextBoxFor(x => x.Mobile_phone, new { @class = "form-control", @placeholder = T("UserModel.Mobile_phone.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Mobile_phone, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Mobile_phone.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Notes) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Notes, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faNotes"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Notes) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Notes))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Notes, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Notes.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Deleted) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Deleted, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDeleted"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Deleted) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Deleted))"></i>
                                        @Html.CheckBoxFor(x => x.Deleted, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Deleted, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Deleted.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Is_system_account) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Is_system_account, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faIs_system_account"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Is_system_account) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Is_system_account))"></i>
                                        @Html.CheckBoxFor(x => x.Is_system_account, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Is_system_account, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Is_system_account.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_ip_address) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_ip_address, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faLast_ip_address"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_ip_address) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_ip_address))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_ip_address, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Last_ip_address.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_login_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_login_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_login_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_login_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_login_datetime))"></i>
                                        @Html.EditorFor(x => x.Last_login_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_login_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Last_login_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_pwd_changed_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_pwd_changed_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_pwd_changed_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_pwd_changed_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_pwd_changed_datetime))"></i>
                                        @Html.EditorFor(x => x.Last_pwd_changed_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_pwd_changed_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Last_pwd_changed_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_activity_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_activity_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_activity_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_activity_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_activity_datetime))"></i>
                                        @Html.EditorFor(x => x.Last_activity_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_activity_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Last_activity_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Failed_password_attempt_count) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Failed_password_attempt_count, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faFailed_password_attempt_count"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Failed_password_attempt_count) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Failed_password_attempt_count))"></i>
                                        @Html.TextBoxFor(x => x.Failed_password_attempt_count, new { @class = "form-control", @placeholder = T("UserModel.Failed_password_attempt_count.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Failed_password_attempt_count, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Failed_password_attempt_count.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Orgunit_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Orgunit_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faOrgunit_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Orgunit_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Orgunit_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Orgunit_id, Model.Orgunit_id_OrgUnit_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Orgunit_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Orgunit_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Orgunit_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Jobtitle_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Jobtitle_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faJobtitle_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Jobtitle_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Jobtitle_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Jobtitle_id, Model.Jobtitle_id_JobTitle_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Jobtitle_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Jobtitle_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("UserModel.Jobtitle_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 @Html.HiddenFor(m => m.Language_id)


                        
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>






