@using Ext.Net;
@using AssetHealth.Models.Language;

@model LocaleResourceModel





@using (Html.BeginForm("EditLocaleResource", "Language", FormMethod.Post, new { name = "frm", id = "frm" }))
{

                <div class="form-body">
                    <div class="form-group">
                        @Html.AresLabelFor(m => m.ResourceName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.ResourceName, new { @class = "form-control", @style = "width:100%;", @placeholder = "ResourceName" })

                            <span class="help-block"> A block of help text. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.AresLabelFor(m => m.ResourceValue, new { @class = "col-md-3 control-label" })

                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.ResourceValue, new { @class = "form-control", @style = "width:100%;", @placeholder = "ResourceValue" })
                            <span class="help-block"> A block of help text. </span>
                        </div>
                    </div>
                    


                </div>
                @Html.HiddenFor(m => m.Id)

                
}

<script>
    
    $("#btnSave").click(function () {
        $("#frm").submit();
    });
</script>