﻿@using AssetHealth.Models.User;
@model UserModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.User.EditUserDetails").Text;
}
@using (Html.BeginForm("EditUser", "Language", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.User.EditUserDetails") - @Model.User_guid
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "Edit/" + Request.QueryString["LanguageModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteUser", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateUser", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableUser", "ListUserDatatable", "Language", null, true, new { UserModelId = Model.Id }, "dataTableUser").AddColumn("Id")
                                        .AddColumn("User_guid")
                                        .AddColumn("Username")
                                        .AddColumn("Password")
                                        .AddColumn("Password_format_id")
                                        .AddColumn("Password_salt")
                                        .AddColumn("Email")
                                        .AddColumn("Identity_number")
                                        .AddColumn("System_name")
                                        .AddColumn("First_name")
                                        .AddColumn("Last_name")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Birth_date)")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Hire_date)")
                                        .AddColumn("Extension")
                                        .AddColumn("Mobile_phone")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Deleted", " return full.Deleted ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Is_system_account", " return full.Is_system_account ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Last_ip_address")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Last_login_datetime)")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Last_pwd_changed_datetime)")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Last_activity_datetime)")
                                        .AddColumn("Failed_password_attempt_count")
                                        .AddColumn("Orgunit_id_Text")
                                        .AddColumn("Jobtitle_id_Text")
                                        .AddColumn("Language_id_Text")
    
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditUser", "Language") + "/' + full.Id , full.Id, true,  true, 'User') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableUserOptions = dataTableUserOptions; 
    
    $('#btnFilterUser').click(function () {
                        dataTableUser.column('User_guid:name').search($('#Filter_UserModel_User_guid').val().trim());
                        dataTableUser.column('Username:name').search($('#Filter_UserModel_Username').val().trim());
                        dataTableUser.column('Password:name').search($('#Filter_UserModel_Password').val().trim());
                        dataTableUser.column('Password_format_id:name').search($('#Filter_UserModel_Password_format_id').val().trim());
                        dataTableUser.column('Password_salt:name').search($('#Filter_UserModel_Password_salt').val().trim());
                        dataTableUser.column('Email:name').search($('#Filter_UserModel_Email').val().trim());
                        dataTableUser.column('Identity_number:name').search($('#Filter_UserModel_Identity_number').val().trim());
                        dataTableUser.column('System_name:name').search($('#Filter_UserModel_System_name').val().trim());
                        dataTableUser.column('First_name:name').search($('#Filter_UserModel_First_name').val().trim());
                        dataTableUser.column('Last_name:name').search($('#Filter_UserModel_Last_name').val().trim());


                        dataTableUser.column('Extension:name').search($('#Filter_UserModel_Extension').val().trim());
                        dataTableUser.column('Mobile_phone:name').search($('#Filter_UserModel_Mobile_phone').val().trim());
                        dataTableUser.column('Active:name').search($('#Filter_UserModel_Active').prop('checked'));
                        dataTableUser.column('Deleted:name').search($('#Filter_UserModel_Deleted').prop('checked'));
                        dataTableUser.column('Is_system_account:name').search($('#Filter_UserModel_Is_system_account').prop('checked'));
                        dataTableUser.column('Last_ip_address:name').search($('#Filter_UserModel_Last_ip_address').val().trim());



                        dataTableUser.column('Failed_password_attempt_count:name').search($('#Filter_UserModel_Failed_password_attempt_count').val().trim());
                        dataTableUser.column('Orgunit_id:name').search($('#Filter_UserModel_Orgunit_id').val().trim());
                        dataTableUser.column('Jobtitle_id:name').search($('#Filter_UserModel_Jobtitle_id').val().trim());
                        dataTableUser.column('Language_id:name').search($('#Filter_UserModel_Language_id').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableUser.draw();
            });
            
            
                $('#btnResetUser').click(function () {

                    resetDatatableSearch('dataTableUser');

                });
    
    
 
       setTimeout(function(){
        $('a[href="#tab_User_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/User-input-mask.js"></script>
}


