@using Ext.Net;
@using AssetHealth.Models.Language;

@model LocaleResourceModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

@*
    @if (System.Environment.MachineName == "HRDMISTEST" && WorkContext.CurrentUser.UserRoles.Any(r => r.Id == (int)AssetHealth.Common.DTO.Enums.EnumRole.Administrator))
    {
        <div class="row">
            <div class="title">

            </div>
            <div class="pull-right" style="margin-right:25px;">
                <button type="button" name="migrate" id="migrate" class="btn green" onclick="location.href='@Url.Action("Migrate_Ref_Data", "Common")'" >
                    <i class="fa fa-arrow-right"></i>
                    @T("Admin.Common.MigrateData")
                </button>
                <br /><br />
                <button type="button" name="restore" id="restore" class="btn green" onclick="location.href='@Url.Action("RestoreDemoDB", "Common")'">
                    <i class="fa fa-arrow-right"></i>
                    @T("Admin.Common.RestoreDemoDB")
                </button>


            </div>
        </div>
        <br />
    }
*@

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("LocaleResource.list.header")
        </div>
        <div class="actions">
            <button id="btnCreateLocaleResource" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> @T("LocaleResource.list.add")</button>


        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTable">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("LocaleResource.list.column.id") </th>
                    <th> @T("LocaleResource.list.column.ResourceName") </th>
                    <th> @T("LocaleResource.list.column.ResourceValue") </th>
                    <th> @T("LocaleResource.list.column.actions") </th>
                    
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    



    
    @(Url.Datatables().CreateDatatable("#dataTable", "LocaleResourceDatatable", "Language", null, true)
    .AddColumn("Id")
    .AddColumn("ResourceName")
    .AddColumn("ResourceValue")
    //.AddCustomJavascriptColumn("", "return \"<a href='#'><i class='ui-tooltip fa fa-pencil' style='font-size: 22px;' data-original-title='Edit'></i></a>&nbsp;&nbsp;<a data-toggle='modal' data-id='\" + full.Id + \"' href='#basic'><i id='lnkDelete' class='ui-tooltip fa fa-trash-o' style='font-size: 22px;' data-original-title='Delete'></i></a>\" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + "#" + "' , full.Id, true,  true, 'LocaleResource') ;")
    .SetLanguageUrl("~/Content/assets/global/plugins/datatables/turkish.json")
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .AddAttribute("'deferLoading' : 0")
    .Initialize())

    // Activate an inline edit on click of a table cell
    $("body").on("click", "#dataTable tbody tr:not('.lnkDelete')", function (e) {
    
    //if(e.target.id =='lnkDelete') return;
    if($(e.target).hasClass('lnkDelete')) return;
        e.preventDefault();

                var nTds = $('td', this);
                //example to show any cell data can be gathered, I used to get my ID from the first coumn in my final code
                var sBrowser = $(nTds[1]).text();
                var sGrade = $(nTds[2]).text();
                var dialogText="The info cell I need was in (col2) as:"+sBrowser+" and in (col5) as:"+sGrade+"" ;
                var targetUrl = $(this).attr("href");
        
    /*
                $('#table-dialog').dialog({
                  buttons: {
                    "Delete": function() {
                        window.location.href = targetUrl;
                    },
                    "Cancel": function() {
                      $(this).dialog("close");
                    }
                  }
                });
                //simple dialog example here
                $('#table-dialog').text(dialogText ).dialog("open");
    */
            $('#table-dialog #lnk').text('CreateOrUpdateLocaleResource/' + $(nTds[0]).text());
            $('#table-dialog').modal('show'); 
    } );
    
     $("#btnCreateLocaleResource").on("click", function (e) { 
            e.preventDefault();
            $('#table-dialog #lnk').text('CreateOrUpdateLocaleResource/0');
            $('#table-dialog').modal('show'); 
     });
 

    $('#table-dialog').on('show.bs.modal', function(e) {
        $('#table-dialog .modal-body').load($('#table-dialog #lnk').text());
    });


}

 

<!-- Modal -->
<div class="modal fade" id="table-dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@T("LocaleResource.Modal.Title") </h4>

            </div>
            <div id="lnk" style="visibility:hidden"></div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@T("Admin.Common.Close")</button>
                <button type="submit" id="btnSave" class="btn btn-primary">@T("Admin.Common.Save")</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->





