﻿@using AssetHealth.Models.Home;
@using AssetHealth.Models.Synchronization;

@model BatchQuestionOperationModel

@{
    Layout = null;
    //Location loc = this.WorkContext.CurrentUser.Location();
    
}



<style type="text/css">
        .TFtable {
            width: 90%;
            border-collapse: collapse;
        }

            .TFtable th, thead {
                background: #ddd;
                color: #000;
                border: #4e95f4 1px solid;
                padding: 7px;
            }

            .TFtable td {
                padding: 5px;
                border: #4e95f4 1px solid;
            }
            /* provide some minimal visual accomodation for IE8 and below */
            .TFtable tr {
                background: #b8d1f3;
                font-size: 10pt;
            }
                /*  Define the background color for all the ODD background rows  */
                .TFtable tr:nth-child(odd) {
                    background: #b8d1f3;
                }
                /*  Define the background color for all the EVEN background rows  */
                .TFtable tr:nth-child(even) {
                    background: #dae5f4;
                }


        /*
    table { border-collapse: collapse; font-family: Futura, Arial, sans-serif; border: 1px solid #777; }

    caption { font-size: larger; margin: 1em auto; }

    th, td { padding: .65em; }

    th, thead { background: #000; color: #fff; border: 1px solid #000; }

    tr:nth-child(odd) { background: #ccc; }

    tr:hover { background: #aaa; }

    td { border-right: 1px solid #777; }
    */

        div {
            font-family: Futura, Arial, sans-serif;
        }
</style>

<h4> @T("BatchQuestionUpdate.Header") </h4>
<br />

@using (Html.BeginForm("BatchQuestionUpdate", "FormQuestion", FormMethod.Post, new { id = "myform" }))
{
    @Html.HiddenFor(m => m.Id)

<div class="row">
    @*
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.FormList) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.FormList, new { @class = "col-md-3 control-label " })
        <div class="row">
            <div class="col-md-6">
                <div class="input-icon right ">
                    <i id="faFormList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.FormList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.FormList))"></i>
                    @Html.ListBoxFor(x => x.FormList, Model.Form_id_Form_SelectList, new { @class = "form-control", multiple = "multiple" })


                </div>
                @Html.ValidationMessageFor(m => m.FormList, null, new { @class = "help-block", @style = "color:red" })
                <span class="help-inline"> @T("PrepareSynchronizationModel.FormList.Hint")</span>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkSelectAllForms" name="chkSelectAllForms">@T("PrepareSynchronization.SelectAllForms")
            </div>
        </div>
    </div>
    *@
    <div class="form-group @(Html.CheckValidationErrorFor(m => m.FormQuestionList) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.FormQuestionList, new { @class = "col-md-3 control-label " })
        <div class="row">
            <div class="col-md-6">
                <div class="input-icon right ">
                    <i id="faFormQuestionList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.FormQuestionList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.FormQuestionList))"></i>
                    @Html.ListBoxFor(x => x.FormQuestionList, Model.FormQuestion_id_FormQuestion_SelectList, new { @class = "form-control", multiple = "multiple" })

                    
                </div>
                @Html.ValidationMessageFor(m => m.FormQuestionList, null, new { @class = "help-block", @style = "color:red" })
                <span class="help-inline"> @T("PrepareSynchronizationModel.FormQuestionQuestionList.Hint")</span>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkSelectAllFormQuestions" name="chkSelectAllFormQuestions">@T("PrepareSynchronization.SelectAllFormQuestions")  <span class="question_number" />
            </div>
        </div>
    </div>

    @T("BatchQuestionUpdate.Operations")

    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Period) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Period, new { @class = "col-md-3 control-label " })
        <div class="row">
            <div class="col-md-6">
                <div class="input-icon right ">
                    <i id="faPeriod" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Period) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Period))"></i>
                    @Html.DropDownListFor(x => x.Period, Model.Period_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormQuestionModel.Period.Placeholder"), data_val = false })


                </div>
                @Html.ValidationMessageFor(m => m.Period, null, new { @class = "help-block", @style = "color:red" })
                <span class="help-inline"> @T("PrepareSynchronizationModel.Period.Hint")</span>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>


    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label " })
        <div class="row">
            <div class="col-md-6">
                <div class="input-icon right ">
                    <i id="faDisplay_order" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                    @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("FormQuestionModel.Display_order.Placeholder"), data_val = false })


                </div>
                @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                <span class="help-inline"> @T("PrepareSynchronizationModel.Display_order.Hint")</span>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

    <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
        @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label " })
        <div class="row">
            <div class="col-md-6">
                <div class="input-icon right ">
                    <i id="faActive" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                    @Html.DropDownListFor(x => x.Active, Model.YesNo_SelectList, new { @class = "form-control", @placeholder = T("FormQuestionModel.Active.Placeholder"), data_val = false })


                </div>
                @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                <span class="help-inline"> @T("PrepareSynchronizationModel.Active.Hint")</span>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>







    

</div>


<p><input type="submit" id="batchUpdate" name="batchUpdate" value="@T("Admin.Sync.BatchUpdate")"> </p>
}

    <br />
    <p><a href="javascript:void(0);" class="close">@T("Admin.Common.Popup.CloseWindow")</a></p>

    <script>

        var SyncPopup = function () {

            return {



                load: function () {
                    $('#divDetail').hide();

                    $(".close").bind("click", function (e) {

                        e.preventDefault();
                        $(this).closest(".dialog").dialog("close");
                    });

                    $("#FormList").select2({ multiple: true });
                    $("#FormQuestionList").select2({ multiple: true });

                    $("#myform").submit(function (e) {
                        showLoading();
                    });

                    

                    $('#hdnSelectedQuestions').val('1001,1002');
                    var selectedItems = "";
                    $('#dataTableFormQuestion').DataTable().rows().every(function (rowIdx, tableLoop, rowLoop) {
                        var data = this.node();
                        if ($(data).find('input').prop('checked'))
                        {
                            selectedItems += this.data()["Id"] + ",";
                        }
                    });

                    selectedItems = selectedItems.substr(0, selectedItems.lastIndexOf(","));
                    console.log(selectedItems);

                    var values = $('#hdnSelectedQuestions').val();
                    $.each(selectedItems.split(","), function (i, e) {
                        $("#FormQuestionList option[value='" + e + "']").prop("selected", true);
                    });

                    $("#FormQuestionList").trigger("change");


                    $("#chkSelectAllFormQuestions").click(function () {
                        if ($("#chkSelectAllFormQuestions").is(':checked')) {
                            $("#FormQuestionList > option").prop("selected", "selected");
                            $("#FormQuestionList").trigger("change");
                        } else {
                            $("#FormQuestionList > option").removeAttr("selected");
                            $("#FormQuestionList").trigger("change");
                        }
                    });


                    $("#FormQuestionList").change(function () {
                        $(".question_number").text(($("#FormQuestionList").val() === null ? "0" :  $("#FormQuestionList").val().length) + " / " + $("#FormQuestionList option").length + " items")
                    });

                    
                    $("#FormList").change(function () {
                        var itemId = $('#FormList').val();
                        //console.log(itemId);

                        $("#FormList").prop("disabled", true);

                        $("#FormList").after("<div id='ajaxInputLoading'>&nbsp;&nbsp;&nbsp;<img src='@Url.Content("~/Content/loading/spinner.gif")' width='22' height='22' /></div>")
                        $.ajax({
                            url: '@Url.Action("FillQuestions", "Form")',
                            type: "GET",
                            dataType: "JSON",
                            cache: false,
                            traditional: true,           // https://stackoverflow.com/questions/25086481/passing-chosen-multi-select-values-to-controller-action
                            data: { itemIds: itemId },
                            //data : itemId,
                            success: function (items) {
                                $("#FormQuestionList").html(""); // clear before appending new list
                                $.each(items, function (i, item) {
                                    $("#FormQuestionList").append(
                                        $('<option></option>').val(item.Id).html(item.Title));
                                });
                                

                                $("#FormList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                $("#FormList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            }
                        });

                    });

                    @*
                    $('#createSynchronization').bind("click", function (e) {
                        e.preventDefault();

                        $.ajax({
                            type: "GET",
                            url: '/Synchronization/PrepareServerChangeChangeSet/@id' ,
                            dataType: 'html',
                            success: function (data) {
                                //$('#dialog').html(data);
                            }
                        });





                        var $dialog3 = $("<div><img src='@("")' width='595'></div>")
                            .addClass("dialog")
                            .attr("id", $(this)
                            .attr("data-dialog-id"))
                            .appendTo("body")
                            .dialog({
                                //title: $(this).attr("data-dialog-title"),
                                title: "Mahal No : " + "@(Html.Raw(""))",
                                //open: function (event, ui) { setTimeout(function () { $(this).dialog("close"); }, 1000) },
                                close: function () { $(this).remove(); },
                                modal: true,
                                height: 700,
                                width: 650,
                                left: 0

                            });

                        $.ajax({
                            type: "GET",
                            url: '/Sensor/MapPopup?locationName=' + $(this).attr('alt'),
                            dataType: 'html',
                            success: function (data) {
                                $('#dialog').html(data);
                            }
                        });

                    });

*@

                },

                initTable2: function () {

                    if (!jQuery().dataTable) {
                        return;
                    }

                    var table = $('#question_datatable1');
                    table.DataTable().destroy();

                    table.DataTable({





                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ records",
                            "infoEmpty": "No records found",
                            "infoFiltered": "(filtered1 from _MAX_ total records)",
                            "lengthMenu": "Show _MENU_",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "previous": "Prev",
                                "next": "Next",
                                "last": "Last",
                                "first": "First"
                            }
                        },

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
                        "pagingType": "bootstrap_extended",

                        "lengthMenu": [
                            [5, 15, 20, -1],
                            [5, 15, 20, "All"] // change per page values here
                        ],
                        "orderClasses": false,  // !!! important , on select row completely selects row
                        // set the initial value
                        "pageLength": 5,
                        "columnDefs": [{  // set default column settings
                            'orderable': false,
                            'targets': [0],
                            "width": "40%"
                        }, {
                            "searchable": false,
                            "targets": [0]
                        }],
                        "order": [
                            [1, "asc"]
                        ], // set first column as a default sort by asc

                        select: true
                    });


                    var question_datatable1 = $('#question_datatable1').DataTable();

                    //$('#question_datatable1 tbody').on('click', 'tr', function () {
                    $("body").on("click", "#question_datatable1 tbody tr", function (e) {
                        if ($(this).hasClass('selected')) {
                            $(this).removeClass('selected');
                            //$('#divDetail').hide();
                        }
                        else {
                            question_datatable1.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                        }

                        showLoading();
                        setTimeout(function () {
                            // do something 1000ms later here.
                            $("#loading").hide();
                        }, 500);

                        var rowData = $('#question_datatable1').DataTable().row(this).data();

                        //console.log(rowData);
                        //$.formUtil.bind('#frm2', rowData);
                        Dashboard.initTable3();
                    });


                    /*
                    var tableWrapper = jQuery('#question_datatable_wrapper');

                    table.find('.group-checkable').change(function () {
                        var set = jQuery(this).attr("data-set");
                        var checked = jQuery(this).is(":checked");
                        jQuery(set).each(function () {
                            if (checked) {
                                $(this).prop("checked", true);
                            } else {
                                $(this).prop("checked", false);
                            }
                        });
                    });
                    */
                },



                init: function () {
                    this.load();
                    //this.initTable2();

                }
            };

        }();

        if (App.isAngularJsApp() === false) {
            jQuery(document).ready(function () {

                SyncPopup.init(); // init metronic core componets


            });
        }






    </script>
