﻿@using Ares.Sync.Models.Synchronization_log;
@model SynchronizationLogModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.SynchronizationLog.AddNew").Text;
}

@using (Html.BeginForm("CreateSynchronizationLog", "Synchronization", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.SynchronizationLog.AddSynchronizationLogDetails") -
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditSynchronizationDetail/" + Request.QueryString["SynchronizationDetailModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateSynchronizationLog", Model)
}

 @section jQueryOnReadyScripts {
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/SynchronizationLog-input-mask.js"></script>
}