﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Synchronization_detail;
@model SynchronizationDetailModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_SynchronizationDetail_1" data-toggle="tab"> @T("Admin.SynchronizationDetail.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_SynchronizationDetail_2" data-toggle="tab"> @T("Admin.SynchronizationLog.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_SynchronizationDetail_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("SynchronizationDetail.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
@Html.HiddenFor(m => m.Synchronization_id)
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Status) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Status, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faStatus" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Status) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Status))"></i>
                                        @Html.DropDownListFor(x => x.Status, ListExtensions.ToSelectList(Model.Status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control" })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Status, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Status.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Table_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Table_name, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faTable_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Table_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Table_name))"></i>
                                        @Html.TextBoxFor(x => x.Table_name, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Table_name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Table_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Table_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Server_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Server_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faServer_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Server_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Server_id))"></i>
                                        @Html.TextBoxFor(x => x.Server_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Server_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Server_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Server_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Client_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Client_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faClient_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Client_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Client_id))"></i>
                                        @Html.TextBoxFor(x => x.Client_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Client_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Client_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Client_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Transaction_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Transaction_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faTransaction_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Transaction_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Transaction_id))"></i>
                                        @Html.TextBoxFor(x => x.Transaction_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Transaction_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Transaction_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Transaction_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Operation_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Operation_type, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faOperation_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Operation_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Operation_type))"></i>
                                        @Html.DropDownListFor(x => x.Operation_type, ListExtensions.ToSelectList(Model.Operation_type, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control" })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Operation_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Operation_type.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Result) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Result, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faResult"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Result) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Result))"></i>
                                        @Html.TextBoxFor(x => x.Result, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Result.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Result, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Result.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Message) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Message, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faMessage"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Message) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Message))"></i>
                                        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Message.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Message, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Message.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Item) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Item, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faItem"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Item) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Item))"></i>
                                        @Html.TextAreaFor(x => x.Item, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Item.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Item, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Item.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Size) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Size, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSize"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Size) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Size))"></i>
                                        @Html.TextBoxFor(x => x.Size, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Size.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Size, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Size.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Order, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faOrder"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Order))"></i>
                                        @Html.TextBoxFor(x => x.Order, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Start_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faStart_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Start_datetime))"></i>
                                        @Html.EditorFor(x => x.Start_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Start_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Start_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.End_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.End_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faEnd_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.End_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.End_datetime))"></i>
                                        @Html.EditorFor(x => x.End_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.End_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.End_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_exec_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_exec_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_exec_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_exec_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_exec_datetime))"></i>
                                        @Html.EditorFor(x => x.Last_exec_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_exec_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Last_exec_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Retry_count) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Retry_count, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faRetry_count"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Retry_count) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Retry_count))"></i>
                                        @Html.TextBoxFor(x => x.Retry_count, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Retry_count.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Retry_count, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Retry_count.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Page_index) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Page_index, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPage_index"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Page_index) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Page_index))"></i>
                                        @Html.TextBoxFor(x => x.Page_index, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Page_index.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Page_index, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Page_index.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Page_size) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Page_size, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPage_size"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Page_size) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Page_size))"></i>
                                        @Html.TextBoxFor(x => x.Page_size, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Page_size.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Page_size, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Page_size.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Page_count) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Page_count, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPage_count"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Page_count) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Page_count))"></i>
                                        @Html.TextBoxFor(x => x.Page_count, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Page_count.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Page_count, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Page_count.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Total_item_count) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Total_item_count, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faTotal_item_count"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Total_item_count) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Total_item_count))"></i>
                                        @Html.TextBoxFor(x => x.Total_item_count, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Total_item_count.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Total_item_count, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Total_item_count.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Size_limit) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Size_limit, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSize_limit"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Size_limit) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Size_limit))"></i>
                                        @Html.TextBoxFor(x => x.Size_limit, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Size_limit.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Size_limit, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Size_limit.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Sync_detail_server_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Sync_detail_server_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSync_detail_server_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Sync_detail_server_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Sync_detail_server_id))"></i>
                                        @Html.TextBoxFor(x => x.Sync_detail_server_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Sync_detail_server_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Sync_detail_server_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Sync_detail_server_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Notes) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Notes, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faNotes"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Notes) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Notes))"></i>
                                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Notes.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Notes, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Notes.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDetailModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_SynchronizationDetail_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("SynchronizationLog.list.header")
                    </div>
                    <div class="actions" style="float:left">
                    
                        <a href="@Url.Action("CreateSynchronizationLog", "Synchronization")?SynchronizationDetailModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("SynchronizationLog.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableSynchronizationLog', window.dataTableSynchronizationLogOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                     
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                      
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Status, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_SynchronizationLogModel.Status, ListExtensions.ToSelectList(Model.Filter_SynchronizationLogModel.Status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Device_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Device_id, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Device_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Client_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Client_id, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Client_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        

                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Size, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Size, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Size.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Message, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Message, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Message.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Page_index, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Page_index, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Page_index.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Page_size, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Page_size, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Page_size.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Size_limit, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Size_limit, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Size_limit.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Retry_count, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Retry_count, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Retry_count.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Version, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Version, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Version.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Start_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_SynchronizationLogModel.Start_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.End_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_SynchronizationLogModel.End_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationLogModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationLogModel.Description, new { @class = "form-control", @placeholder = T("SynchronizationLogModel.Filter_SynchronizationLogModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterSynchronizationLog" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetSynchronizationLog" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableSynchronizationLog">
                        <thead>
                            <tr>
                                   
                                
                                <th> @T("SynchronizationLog.list.column.Id") </th>
                        
                                <th> @T("SynchronizationLog.list.column.Tenant_id") </th>
                                <th> @T("SynchronizationLog.list.column.Status") </th>
                                <th> @T("SynchronizationLog.list.column.Device_id_Text") </th>
                                <th> @T("SynchronizationLog.list.column.Client_id") </th>
                                <th> @T("SynchronizationLog.list.column.Item") </th>
                                <th> @T("SynchronizationLog.list.column.Size") </th>
                                <th> @T("SynchronizationLog.list.column.Message") </th>
                                <th> @T("SynchronizationLog.list.column.Page_index") </th>
                                <th> @T("SynchronizationLog.list.column.Page_size") </th>
                                <th> @T("SynchronizationLog.list.column.Size_limit") </th>
                                <th> @T("SynchronizationLog.list.column.Retry_count") </th>
                                <th> @T("SynchronizationLog.list.column.Version") </th>
                                <th> @T("SynchronizationLog.list.column.Start_datetime") </th>
                                <th> @T("SynchronizationLog.list.column.End_datetime") </th>
                                <th> @T("SynchronizationLog.list.column.Description") </th>
                        
                                
                                <th> @T("SynchronizationLog.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>





