﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Synchronization_device;
@model SynchronizationDeviceModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_SynchronizationDevice_1" data-toggle="tab"> @T("Admin.SynchronizationDevice.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_SynchronizationDevice_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("SynchronizationDevice.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
@Html.HiddenFor(m => m.Synchronization_id)

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_id, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faDevice_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Device_id, Model.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Device_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Device_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDeviceModel.Device_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Udid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Udid, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUdid"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Udid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Udid))"></i>
                                        @Html.TextAreaFor(x => x.Udid, new { @class = "form-control", @placeholder = T("SynchronizationDeviceModel.Udid.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Udid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDeviceModel.Udid.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Status) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Status, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faStatus" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Status) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Status))"></i>
                                        @Html.DropDownListFor(x => x.Status, ListExtensions.ToSelectList(Model.Status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control" })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Status, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDeviceModel.Status.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Start_datetime, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faStart_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Start_datetime))"></i>
                                        @Html.EditorFor(x => x.Start_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Start_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDeviceModel.Start_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Finish_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Finish_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faFinish_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Finish_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Finish_datetime))"></i>
                                        @Html.EditorFor(x => x.Finish_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Finish_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDeviceModel.Finish_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("SynchronizationDeviceModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationDeviceModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>





