﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Synchronization;
@model SynchronizationModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_Synchronization_1" data-toggle="tab"> @T("Admin.Synchronization.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_Synchronization_2" data-toggle="tab"> @T("Admin.SynchronizationDetail.TabTitle") </a>
        </li>
        <li>
            <a href="#tab_Synchronization_3" data-toggle="tab"> @T("Admin.SynchronizationDevice.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_Synchronization_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("Synchronization.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_id, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faDevice_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Device_id, Model.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Device_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Device_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Device_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Udid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Udid, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUdid"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Udid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Udid))"></i>
                                        @Html.TextBoxFor(x => x.Udid, new { @class = "form-control", @placeholder = T("SynchronizationModel.Udid.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Udid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Udid.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Username) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Username, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUsername"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Username) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Username))"></i>
                                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = T("SynchronizationModel.Username.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Username.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Sync_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Sync_type, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faSync_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Sync_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Sync_type))"></i>
                                        @Html.DropDownListFor(x => x.Sync_type, ListExtensions.ToSelectList(Model.Sync_type, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control" })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Sync_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Sync_type.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Status) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Status, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faStatus" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Status) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Status))"></i>
                                        @Html.DropDownListFor(x => x.Status, ListExtensions.ToSelectList(Model.Status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control" })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Status, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Status.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Start_datetime, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faStart_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Start_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Start_datetime))"></i>
                                        @Html.EditorFor(x => x.Start_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Start_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Start_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Finish_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Finish_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faFinish_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Finish_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Finish_datetime))"></i>
                                        @Html.EditorFor(x => x.Finish_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Finish_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Finish_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Server_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Server_id, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faServer_id"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Server_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Server_id))"></i>
                                        @Html.TextBoxFor(x => x.Server_id, new { @class = "form-control", @placeholder = T("SynchronizationModel.Server_id.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Server_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Server_id.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Ip_address) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Ip_address, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faIp_address"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Ip_address) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Ip_address))"></i>
                                        @Html.TextBoxFor(x => x.Ip_address, new { @class = "form-control", @placeholder = T("SynchronizationModel.Ip_address.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Ip_address, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Ip_address.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Client_version) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Client_version, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faClient_version"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Client_version) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Client_version))"></i>
                                        @Html.TextBoxFor(x => x.Client_version, new { @class = "form-control", @placeholder = T("SynchronizationModel.Client_version.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Client_version, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Client_version.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Server_version) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Server_version, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faServer_version"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Server_version) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Server_version))"></i>
                                        @Html.TextBoxFor(x => x.Server_version, new { @class = "form-control", @placeholder = T("SynchronizationModel.Server_version.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Server_version, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Server_version.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("SynchronizationModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("SynchronizationModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_Synchronization_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("SynchronizationDetail.list.header")
                    </div>
                    <div class="actions" style="float:left">
                        <a href="@Url.Action("CreateSynchronizationDetail", "Synchronization")?SynchronizationModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("SynchronizationDetail.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableSynchronizationDetail', window.dataTableSynchronizationDetailOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Operation_type, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Filter_SynchronizationDetailModel.Operation_type, ListExtensions.ToSelectList(Model.Filter_SynchronizationDetailModel.Operation_type, "", EnumType.Integer), T("Select").Text, new { @class = "form-control", data_val = false })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Status, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Filter_SynchronizationDetailModel.Status, ListExtensions.ToSelectList(Model.Filter_SynchronizationDetailModel.Status, "", EnumType.Integer), T("Select").Text, new { @class = "form-control", data_val = false })
                            </div>
                        </div>
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Table_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Table_name, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Table_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        

                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Transaction_id, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Transaction_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Transaction_id.Placeholder"), data_val=false })
        </div>
    </div>
                        *@  
                        

                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Server_id, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Server_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Server_id.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Client_id, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Client_id, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Client_id.Placeholder"), data_val = false })
                            </div>
                        </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Result, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Result, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Result.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        

                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Order, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Order, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Order.Placeholder"), data_val=false })
        </div>
    </div>
                        *@  
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Message, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Message, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Message.Placeholder"), data_val = false })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Item, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Item, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Item.Placeholder"), data_val = false })
                            </div>
                        </div>
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Start_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_SynchronizationDetailModel.Start_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        @*
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationDetailModel.Description, new { @class = "form-control", @placeholder = T("SynchronizationDetailModel.Filter_SynchronizationDetailModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
    <div class="form-group">
        @Html.AresLabelFor(m => m.Filter_SynchronizationDetailModel.Active, new { @class = "control-label " })
        <div class="input-group">
                @Html.CheckBoxFor(x => x.Filter_SynchronizationDetailModel.Active, new { @class = "mt-checkbox" , data_val=false })
        </div>
    </div>
                        *@  
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterSynchronizationDetail" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetSynchronizationDetail" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableSynchronizationDetail">
                        <thead>
                            <tr>
                                                                                                                                                                                                                                                                @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>

        <th> @T("SynchronizationDetail.list.column.Transaction_id") </th>
        <th> @T("SynchronizationDetail.list.column.Order") </th>
        <th> @T("SynchronizationDetail.list.column.Description") </th>
        <th> @T("SynchronizationDetail.list.column.Is_synched") </th>
        <th> @T("SynchronizationDetail.list.column.Item") </th>

                <th> @T("SynchronizationDetail.list.column.Item") </th>
                <th> @T("SynchronizationDetail.list.column.Size") </th>
                <th> @T("SynchronizationDetail.list.column.Order") </th>

                <th> @T("SynchronizationDetail.list.column.Last_exec_datetime") </th>
                <th> @T("SynchronizationDetail.list.column.Retry_count") </th>
                <th> @T("SynchronizationDetail.list.column.Page_index") </th>
                <th> @T("SynchronizationDetail.list.column.Page_size") </th>
                <th> @T("SynchronizationDetail.list.column.Page_count") </th>
                <th> @T("SynchronizationDetail.list.column.Total_item_count") </th>
                <th> @T("SynchronizationDetail.list.column.Size_limit") </th>
                <th> @T("SynchronizationDetail.list.column.Description") </th>
                <th> @T("SynchronizationDetail.list.column.Sync_detail_server_id") </th>
                <th> @T("SynchronizationDetail.list.column.Notes") </th>
                <th> @T("SynchronizationDetail.list.column.Active") </th>
 *@
                                <th> @T("SynchronizationDetail.list.column.Id") </th>
                                <th> @T("SynchronizationDetail.list.column.Table_name") </th>
                                <th> @T("SynchronizationDetail.list.column.Status") </th>
                                <th> @T("SynchronizationDetail.list.column.Server_id") </th>
                                <th> @T("SynchronizationDetail.list.column.Client_id") </th>
                                
                                <th> @T("SynchronizationDetail.list.column.Operation_type") </th>
                                
                                <th> @T("SynchronizationDetail.list.column.Result") </th>
                                <th> @T("SynchronizationDetail.list.column.Message") </th>
                                <th> @T("SynchronizationDetail.list.column.Start_datetime") </th>
                                <th> @T("SynchronizationDetail.list.column.End_datetime") </th>

                               
                        
                                
                                <th> @T("SynchronizationDetail.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="tab_Synchronization_3">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("SynchronizationDevice.list.header")
                    </div>
                    <div class="actions" style="float:left">
                        <a href="@Url.Action("CreateSynchronizationDevice", "Synchronization")?SynchronizationModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("SynchronizationDevice.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableSynchronizationDevice', window.dataTableSynchronizationDeviceOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDeviceModel.Device_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_SynchronizationDeviceModel.Device_id, Model.Filter_SynchronizationDeviceModel.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("SynchronizationDeviceModel.Filter_SynchronizationDeviceModel.Device_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDeviceModel.Udid, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationDeviceModel.Udid, new { @class = "form-control", @placeholder = T("SynchronizationDeviceModel.Filter_SynchronizationDeviceModel.Udid.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDeviceModel.Status, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_SynchronizationDeviceModel.Status, ListExtensions.ToSelectList(Model.Filter_SynchronizationDeviceModel.Status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDeviceModel.Start_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_SynchronizationDeviceModel.Start_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDeviceModel.Finish_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_SynchronizationDeviceModel.Finish_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_SynchronizationDeviceModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_SynchronizationDeviceModel.Description, new { @class = "form-control", @placeholder = T("SynchronizationDeviceModel.Filter_SynchronizationDeviceModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterSynchronizationDevice" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetSynchronizationDevice" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableSynchronizationDevice">
                        <thead>
                            <tr>
                                                                                                @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>

        <th> @T("SynchronizationDevice.list.column.Udid") </th>
        <th> @T("SynchronizationDevice.list.column.Description") </th>
                                                                                                *@
                                <th> @T("SynchronizationDevice.list.column.Id") </th>
                        
                                <th> @T("SynchronizationDevice.list.column.Device_id_Text") </th>
                               
                                <th> @T("SynchronizationDevice.list.column.Status") </th>
                                <th> @T("SynchronizationDevice.list.column.Start_datetime") </th>
                                <th> @T("SynchronizationDevice.list.column.Finish_datetime") </th>
                                
                        
                                
                                <th> @T("SynchronizationDevice.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>






