﻿@using AssetHealth.Models.Synchronization;
@model SynchronizationModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Synchronization.EditSynchronizationDetails").Text;
}
@using (Html.BeginForm("Edit", "Synchronization", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Synchronization.EditSynchronizationDetails") - @Model.Udid
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableSynchronizationDetail", "ListSynchronizationDetailDatatable", "Synchronization", null, true, new { SynchronizationModelId = Model.Id }, "dataTableSynchronizationDetail").AddColumn("Id")
                                        .AddColumn("Table_name")
                                        .AddColumn("EnumStatus_Text")
                                        .AddColumn("Server_id")
                                        .AddColumn("Client_id")
                                        //.AddColumn("Transaction_id")
                                        .AddColumn("EnumOperation_type_Text")
                                        //.AddCustomJavascriptColumn("Is_synched", " return full.Is_synched ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Result")
                                        .AddColumn("Message")
                                        //.AddColumn("Order")
                                        .AddCustomJavascriptColumn("", "return formatJSONDateTime(full.Start_datetime)")
                                        .AddCustomJavascriptColumn("", "return formatJSONDateTime(full.End_datetime)")
    //.AddColumn("Description")
    //.AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditSynchronizationDetail", "Synchronization") + "/' + full.Id , full.Id, true,  true, 'SynchronizationDetail') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .AddAttribute("'scrollX' : true ")
    .Initialize());
    
    window.dataTableSynchronizationDetailOptions = dataTableSynchronizationDetailOptions; 
    
    $('#btnFilterSynchronizationDetail').click(function () {
                        dataTableSynchronizationDetail.column('Table_name:name').search($('#Filter_SynchronizationDetailModel_Table_name').val().trim());
                        dataTableSynchronizationDetail.column('EnumStatus_Text:name').search($('#Filter_SynchronizationDetailModel_Status').val().trim());
                        dataTableSynchronizationDetail.column('Server_id:name').search($('#Filter_SynchronizationDetailModel_Server_id').val().trim());
                        dataTableSynchronizationDetail.column('Client_id:name').search($('#Filter_SynchronizationDetailModel_Client_id').val().trim());
                        //dataTableSynchronizationDetail.column('Transaction_id:name').search($('#Filter_SynchronizationDetailModel_Transaction_id').val().trim());
                        
                        
                        dataTableSynchronizationDetail.column('Result:name').search($('#Filter_SynchronizationDetailModel_Result').val().trim());
                        dataTableSynchronizationDetail.column('Message:name').search($('#Filter_SynchronizationDetailModel_Message').val().trim());
                        //dataTableSynchronizationDetail.column('Order:name').search($('#Filter_SynchronizationDetailModel_Order').val().trim());

                        //dataTableSynchronizationDetail.column('Description:name').search($('#Filter_SynchronizationDetailModel_Description').val().trim());
                        //dataTableSynchronizationDetail.column('Active:name').search($('#Filter_SynchronizationDetailModel_Active').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronizationDetail.draw();
            });
            
            
                $('#btnResetSynchronizationDetail').click(function () {

                    resetDatatableSearch('dataTableSynchronizationDetail');

                });
    
    
    @(Url.Datatables().CreateDatatable("#dataTableSynchronizationDevice", "ListSynchronizationDeviceDatatable", "Synchronization", null, true, new { SynchronizationModelId = Model.Id }, "dataTableSynchronizationDevice").AddColumn("Id")
                                        .AddColumn("Device_id_Text")
                                        //.AddColumn("Udid")
                                        .AddColumn("EnumStatus_Text")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Start_datetime)")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Finish_datetime)")
                                        //.AddColumn("Description")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditSynchronizationDevice", "Synchronization") + "/' + full.Id , full.Id, true,  true, 'SynchronizationDevice') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .AddAttribute("'scrollX' : true ")
    .Initialize());
    
    window.dataTableSynchronizationDeviceOptions = dataTableSynchronizationDeviceOptions; 
    
    $('#btnFilterSynchronizationDevice').click(function () {
                        dataTableSynchronizationDevice.column('Device_id:name').search($('#Filter_SynchronizationDeviceModel_Device_id').val().trim());
                        dataTableSynchronizationDevice.column('Udid:name').search($('#Filter_SynchronizationDeviceModel_Udid').val().trim());
                        


                        dataTableSynchronizationDevice.column('Description:name').search($('#Filter_SynchronizationDeviceModel_Description').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronizationDevice.draw();
            });
            
            
                $('#btnResetSynchronizationDevice').click(function () {

                    resetDatatableSearch('dataTableSynchronizationDevice');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_Synchronization_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/Synchronization-input-mask.js"></script>
}


