﻿@using AssetHealth.Models.Synchronization_device;
@model SynchronizationDeviceModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.SynchronizationDevice.EditSynchronizationDeviceDetails").Text;
}
@using (Html.BeginForm("EditSynchronizationDevice", "Synchronization", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.SynchronizationDevice.EditSynchronizationDeviceDetails") - @Model.Udid
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "Edit/" + Request.QueryString["SynchronizationModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteSynchronizationDevice", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateSynchronizationDevice", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
 
       setTimeout(function(){
        $('a[href="#tab_SynchronizationDevice_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/SynchronizationDevice-input-mask.js"></script>
}


