﻿

@using AssetHealth.Models.Synchronization;

@model SynchronizationModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("Synchronization.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "Synchronization")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("Synchronization.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableSynchronization', window.dataTableSynchronizationOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Device_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Device_id, Model.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("SynchronizationModel.Device_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Udid, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Udid, new { @class = "form-control", @placeholder = T("SynchronizationModel.Udid.Placeholder"), data_val=false })
        </div>
    </div>
                        *@
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Username, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = T("SynchronizationModel.Username.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Sync_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Sync_type, ListExtensions.ToSelectList(Model.Sync_type, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Status, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Status, ListExtensions.ToSelectList(Model.Status, "", EnumType.Integer ) , T("Select").Text, new { @class = "form-control", data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Start_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Start_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Finish_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Finish_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Client_version, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>
                        *@
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    @*

    <div class="form-group">
        @Html.AresLabelFor(m => m.Server_version, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("SynchronizationModel.Description.Placeholder"), data_val=false })
        </div>
    </div>
                    *@
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterSynchronization" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetSynchronization" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableSynchronization" style="width:100%">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("Synchronization.list.column.Id") </th>
            
                    <th> @T("Synchronization.list.column.Device_id") </th>
                    <th> @T("Synchronization.list.column.Udid") </th>
                    <th> @T("Synchronization.list.column.Username") </th>
                    <th> @T("Synchronization.list.column.Sync_type") </th>
                    <th> @T("Synchronization.list.column.Status") </th>
                    <th> @T("Synchronization.list.column.Start_datetime") </th>
                    <th> @T("Synchronization.list.column.Finish_datetime") </th>
                    @*
    <th> @T("Synchronization.list.column.Client_version") </th>
    <th> @T("Synchronization.list.column.Server_version") </th>
    <th> @T("Synchronization.list.column.Description") </th>
                    *@
                    
                    <th> @T("Synchronization.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTableSynchronization", "ListSynchronizationDatatable", "Synchronization", null, true, null, "dataTableSynchronization").AddColumn("Id")
                                        .AddColumn("Device_id_Text")
                                        .AddColumn("Udid")
                                        .AddColumn("Username")
                                        .AddColumn("EnumSync_type_Text")
                                        .AddColumn("EnumStatus_Text")
                                        .AddCustomJavascriptColumn("", "return formatJSONDateTime(full.Start_datetime)")

                                        .AddCustomJavascriptColumn("", "return formatJSONDateTime(full.Finish_datetime)")

    /*
    .AddColumn("Client_version")
    .AddColumn("Server_version")
    .AddColumn("Description")
    */
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "Synchronization") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableSynchronizationOptions = dataTableSynchronizationOptions;

                 $('#btnFilterSynchronization').click(function () {
                        dataTableSynchronization.column('Device_id_Text:name').search($('#Device_id').val().trim());
                        //dataTableSynchronization.column('Udid:name').search($('#Udid').val().trim());
                        dataTableSynchronization.column('Username:name').search($('#Username').val().trim());
                        dataTableSynchronization.column('EnumStatus_Text:name').search($('#Status').val().trim());
                        dataTableSynchronization.column('EnumSync_type_Text:name').search($('#Sync_type').val().trim());
                        


                        //dataTableSynchronization.column('Client_version:name').search($('#Client_version').val().trim());
                        //dataTableSynchronization.column('Server_version:name').search($('#Server_version').val().trim());
                        //dataTableSynchronization.column('Description:name').search($('#Description').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableSynchronization.draw();
            });
            
            
                $('#btnResetSynchronization').click(function () {

                    resetDatatableSearch('dataTableSynchronization');

                });
}


