﻿@using AssetHealth.Models.Home;
@using AssetHealth.Models.Synchronization;

@model PrepareSynchronizationModel

@{
    Layout = null;
    //Location loc = this.WorkContext.CurrentUser.Location();
    int id = (int)Model.CustomProperties["id"];
}



<style type="text/css">
        .TFtable {
            width: 90%;
            border-collapse: collapse;
        }

            .TFtable th, thead {
                background: #ddd;
                color: #000;
                border: #4e95f4 1px solid;
                padding: 7px;
            }

            .TFtable td {
                padding: 5px;
                border: #4e95f4 1px solid;
            }
            /* provide some minimal visual accomodation for IE8 and below */
            .TFtable tr {
                background: #b8d1f3;
                font-size: 10pt;
            }
                /*  Define the background color for all the ODD background rows  */
                .TFtable tr:nth-child(odd) {
                    background: #b8d1f3;
                }
                /*  Define the background color for all the EVEN background rows  */
                .TFtable tr:nth-child(even) {
                    background: #dae5f4;
                }


        /*
    table { border-collapse: collapse; font-family: Futura, Arial, sans-serif; border: 1px solid #777; }

    caption { font-size: larger; margin: 1em auto; }

    th, td { padding: .65em; }

    th, thead { background: #000; color: #fff; border: 1px solid #000; }

    tr:nth-child(odd) { background: #ccc; }

    tr:hover { background: #aaa; }

    td { border-right: 1px solid #777; }
    */

        div {
            font-family: Futura, Arial, sans-serif;
        }
</style>

<h4> @T("PrepareSynchronization.Header") </h4>
<br />
<div class="row" style="width:98%;text-align:center">
    @using (Html.BeginForm("PrepareServerChangeChangeSetYeni", "Synchronization", FormMethod.Post, new { id = "myform" }))
    {
        @Html.HiddenFor(m => m.Id)

        <div class="row">

            <div class="form-group @(Html.CheckValidationErrorFor(m => m.LocationList) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.LocationList, new { @class = "col-md-3 control-label " })
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-icon right ">
                            <i id="faLocationList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.LocationList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.LocationList))"></i>
                            @Html.ListBoxFor(x => x.LocationList, Model.Location_id_Location_SelectList, new { @class = "form-control", multiple = "multiple" })


                        </div>
                        @Html.ValidationMessageFor(m => m.LocationList, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("PrepareSynchronizationModel.LocationList.Hint")</span>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" id="chkSelectAllLocations" name="chkSelectAllLocations">@T("PrepareSynchronization.SelectAllForms")
                    </div>
                </div>
            </div>

            <div class="form-group @(Html.CheckValidationErrorFor(m => m.RoleList) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.RoleList, new { @class = "col-md-3 control-label " })
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-icon right ">
                            <i id="faRoleList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.RoleList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.RoleList))"></i>
                            @Html.ListBoxFor(x => x.RoleList, Model.Role_id_Role_SelectList, new { @class = "form-control", multiple = "multiple" })


                        </div>
                        @Html.ValidationMessageFor(m => m.RoleList, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("PrepareSynchronizationModel.RoleList.Hint")</span>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" id="chkSelectAllRoles" name="chkSelectAllRoles">@T("PrepareSynchronization.SelectAllForms")
                    </div>
                </div>
            </div>

            <div class="form-group @(Html.CheckValidationErrorFor(m => m.FormList) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.FormList, new { @class = "col-md-3 control-label " })
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-icon right ">
                            <i id="faFormList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.FormList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.FormList))"></i>
                            @Html.ListBoxFor(x => x.FormList, Model.Form_id_Form_SelectList, new { @class = "form-control", multiple = "multiple" })


                        </div>
                        @Html.ValidationMessageFor(m => m.FormList, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("PrepareSynchronizationModel.FormList.Hint")</span>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" id="chkSelectAllForms" name="chkSelectAllForms">@T("PrepareSynchronization.SelectAllForms")
                    </div>
                </div>
            </div>
            <div class="form-group @(Html.CheckValidationErrorFor(m => m.FormQuestion_VersionList) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.FormQuestion_VersionList, new { @class = "col-md-3 control-label " })
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-icon right ">
                            <i id="faFormQuestion_VersionList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.FormQuestion_VersionList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.FormQuestion_VersionList))"></i>
                            @Html.ListBoxFor(x => x.FormQuestion_VersionList, Model.FormQuestion_Version_SelectList, new { @class = "form-control", multiple = "multiple" })

                        </div>
                        @Html.ValidationMessageFor(m => m.FormQuestion_VersionList, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("PrepareSynchronizationModel.FormQuestion_VersionList.Hint")</span>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" id="chkSelectAllFormQuestion_VersionList" name="chkSelectAllFormQuestion_VersionList">@T("PrepareSynchronization.SelectAllFormQuestion_Version")
                    </div>
                </div>
            </div>

            <div class="form-group @(Html.CheckValidationErrorFor(m => m.FormQuestionList) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.FormQuestionList, new { @class = "col-md-3 control-label " })
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-icon right ">
                            <i id="faFormQuestionList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.FormQuestionList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.FormQuestionList))"></i>
                            @Html.ListBoxFor(x => x.FormQuestionList, Model.FormQuestion_id_FormQuestion_SelectList, new { @class = "form-control", multiple = "multiple" })


                        </div>
                        @Html.ValidationMessageFor(m => m.FormQuestionList, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("PrepareSynchronizationModel.FormQuestionQuestionList.Hint")</span>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" id="chkSelectAllFormQuestions" name="chkSelectAllFormQuestions">@T("PrepareSynchronization.SelectAllFormQuestions")  <span class="question_number" />
                    </div>
                </div>
            </div>


            <div class="form-group @(Html.CheckValidationErrorFor(m => m.FileList) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.FileList, new { @class = "col-md-3 control-label " })
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-icon right ">
                            <i id="faFileList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.FileList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.FileList))"></i>
                            @Html.ListBoxFor(x => x.FileList, Model.Files_SelectList, new { @class = "form-control", multiple = "multiple" })


                        </div>
                        @Html.ValidationMessageFor(m => m.FileList, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> eg. com.improvative.assethealth_row_count_preferences.json @T("PrepareSynchronizationModel.FileList.Hint")</span>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>

            <div class="form-group @(Html.CheckValidationErrorFor(m => m.DeviceList) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.DeviceList, new { @class = "col-md-3 control-label " })
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-icon right ">
                            <i id="faDeviceList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.DeviceList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.DeviceList))"></i>
                            @Html.ListBoxFor(x => x.DeviceList, Model.Device_id_Device_SelectList, new { @class = "form-control", multiple = "multiple" })


                        </div>
                        @Html.ValidationMessageFor(m => m.DeviceList, null, new { @class = "help-block", @style = "color:red" })
                        <span class="help-inline"> @T("PrepareSynchronizationModel.DeviceList.Hint")</span>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" id="chkSelectAllDevices" name="chkSelectAllDevices">@T("PrepareSynchronization.SelectAllDevices")
                    </div>

                </div>
            </div>





        </div>


        <p><input type="submit" id="createSynchronization" name="createSynchronization" value="@T("Admin.Sync.PrepareSynchronization")"> </p>
    }

    <br />
    <p><a href="javascript:void(0);" class="close">@T("Admin.Common.Popup.CloseWindow")</a></p>
</div>
    <script>

        var SyncPopup = function () {

            return {

                selectAllItemsInListBox: function (listBoxId, checkBoxId) {

                    $("#" + checkBoxId).click(function () {

                        if ($("#" + checkBoxId).is(':checked')) {
                            $("#" + listBoxId + " > option").prop("selected", "selected");
                            $("#" + listBoxId).trigger("change");
                        } else {
                            $("#" + listBoxId + " > option").removeAttr("selected");
                            $("#" + listBoxId).trigger("change");
                        }
                    });

                },

                load: function () {
                    $('#divDetail').hide();

                    $(".close").bind("click", function (e) {

                        e.preventDefault();
                        $(this).closest(".dialog").dialog("close");
                    });

                    $("#LocationList").select2({ multiple: true });
                    $("#RoleList").select2({ multiple: true });
                    $("#DeviceList").select2({ multiple: true });
                    $("#FormList").select2({ multiple: true });
                    $("#FormQuestion_VersionList").select2({ multiple: true });
                    $("#FormQuestionList").select2({ multiple: true });
                    $("#FileList").select2({ multiple: true });

                    $("#myform").submit(function (e) {
                        showLoading();
                    });


                    this.selectAllItemsInListBox("LocationList", "chkSelectAllLocations");
                    this.selectAllItemsInListBox("RoleList", "chkSelectAllRoles");
                    this.selectAllItemsInListBox("FormList", "chkSelectAllForms");
                    this.selectAllItemsInListBox("FormQuestion_VersionList", "chkSelectAllFormQuestion_VersionList");
                    this.selectAllItemsInListBox("FormQuestionList", "chkSelectAllFormQuestions");
                    this.selectAllItemsInListBox("DeviceList", "chkSelectAllDevices");

                    $("#FormQuestionList").change(function () {
                        $(".question_number").text(($("#FormQuestionList").val() === null ? "0" : $("#FormQuestionList").val().length) + " / " + $("#FormQuestionList option").length + " items")
                    });


                    $("#LocationList").change(function () {
                        var itemId = $('#LocationList').val();
                        var itemIdRole = $('#RoleList').val();
                        //console.log(itemId);

                        $("#LocationList").prop("disabled", true);

                        $("#LocationList").after("<div id='ajaxInputLoading'>&nbsp;&nbsp;&nbsp;<img src='@Url.Content("~/Content/loading/spinner.gif")' width='22' height='22' /></div>")
                        $.ajax({
                            url: '@Url.Action("FillForms", "Form")',
                            type: "GET",
                            dataType: "JSON",
                            cache: false,
                            traditional: true,           // https://stackoverflow.com/questions/25086481/passing-chosen-multi-select-values-to-controller-action
                            data: { locIds: itemId, roleIds: itemIdRole },
                            //data : itemId,
                            success: function (items) {
                                $("#FormList").html(""); // clear before appending new list
                                $.each(items, function (i, item) {
                                    $("#FormList").append(
                                        $('<option></option>').val(item.Id).html(item.Title));
                                });


                                $("#LocationList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                $("#LocationList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            }
                        });

                    });

                    $("#RoleList").change(function () {
                        var itemId = $('#LocationList').val();
                        var itemIdRole = $('#RoleList').val();
                        //console.log(itemId);

                        $("#RoleList").prop("disabled", true);

                        $("#RoleList").after("<div id='ajaxInputLoading'>&nbsp;&nbsp;&nbsp;<img src='@Url.Content("~/Content/loading/spinner.gif")' width='22' height='22' /></div>")
                        $.ajax({
                            url: '@Url.Action("FillForms", "Form")',
                            type: "GET",
                            dataType: "JSON",
                            cache: false,
                            traditional: true,           // https://stackoverflow.com/questions/25086481/passing-chosen-multi-select-values-to-controller-action
                            data: { locIds: itemId, roleIds: itemIdRole },
                            //data : itemId,
                            success: function (items) {
                                $("#FormList").html(""); // clear before appending new list
                                $.each(items, function (i, item) {
                                    $("#FormList").append(
                                        $('<option></option>').val(item.Id).html(item.Title));
                                });


                                $("#RoleList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                $("#RoleList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            }
                        });

                    });


                    $("#FormList").change(function () {
                        var itemId = $('#FormList').val();
                        var ParamVersionIds = $('#FormQuestion_VersionList').val();
                        //console.log(itemId);

                        $("#FormList").prop("disabled", true);

                        $("#FormList").after("<div id='ajaxInputLoading'>&nbsp;&nbsp;&nbsp;<img src='@Url.Content("~/Content/loading/spinner.gif")' width='22' height='22' /></div>")
                        $.ajax({
                            url: '@Url.Action("FillQuestions", "Form")',
                            type: "GET",
                            dataType: "JSON",
                            cache: false,
                            traditional: true,           // https://stackoverflow.com/questions/25086481/passing-chosen-multi-select-values-to-controller-action
                            data: { formIds: itemId, versions: ParamVersionIds },
                            //data : itemId,
                            success: function (items) {
                                $("#FormQuestionList").html(""); // clear before appending new list
                                $.each(items.questions, function (i, item) {
                                    $("#FormQuestionList").append(
                                        $('<option></option>').val(item.Id).html(item.Title));
                                });

                                $("#FormQuestion_VersionList").html(""); // clear before appending new list
                                $.each(items.versions, function (i, item) {
                                    $("#FormQuestion_VersionList").append(
                                        $('<option></option>').val(item.Id).html(item.Title));
                                });

                                $("#FormQuestionList").trigger("change");


                                $("#FormList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                $("#FormList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            }
                        });

                    });


                    $("#FormQuestion_VersionList").change(function () {
                        var itemId = $('#FormList').val();
                        var ParamVersionIds = $('#FormQuestion_VersionList').val();
                        //console.log(itemId);

                        $("#FormQuestion_VersionList").prop("disabled", true);

                        $("#FormQuestion_VersionList").after("<div id='ajaxInputLoading'>&nbsp;&nbsp;&nbsp;<img src='@Url.Content("~/Content/loading/spinner.gif")' width='22' height='22' /></div>")
                        $.ajax({
                            url: '@Url.Action("FillQuestions", "Form")',
                            type: "GET",
                            dataType: "JSON",
                            cache: false,
                            traditional: true,           // https://stackoverflow.com/questions/25086481/passing-chosen-multi-select-values-to-controller-action
                            data: { formIds: itemId, versions: ParamVersionIds },
                            //data : itemId,
                            success: function (items) {
                                $("#FormQuestionList").html(""); // clear before appending new list
                                $.each(items.questions, function (i, item) {
                                    $("#FormQuestionList").append(
                                        $('<option></option>').val(item.Id).html(item.Title));
                                });

                                //$("#FormQuestionList").trigger("change");

                                $("#FormQuestion_VersionList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                $("#FormQuestion_VersionList").prop("disabled", false);
                                $("#ajaxInputLoading").html('');
                                $("#ajaxInputLoading").remove();
                            }
                        });

                    });

                    @*
                    $('#createSynchronization').bind("click", function (e) {
                        e.preventDefault();

                        $.ajax({
                            type: "GET",
                            url: '/Synchronization/PrepareServerChangeChangeSet/@id' ,
                            dataType: 'html',
                            success: function (data) {
                                //$('#dialog').html(data);
                            }
                        });





                        var $dialog3 = $("<div><img src='@("")' width='595'></div>")
                            .addClass("dialog")
                            .attr("id", $(this)
                            .attr("data-dialog-id"))
                            .appendTo("body")
                            .dialog({
                                //title: $(this).attr("data-dialog-title"),
                                title: "Mahal No : " + "@(Html.Raw(""))",
                                //open: function (event, ui) { setTimeout(function () { $(this).dialog("close"); }, 1000) },
                                close: function () { $(this).remove(); },
                                modal: true,
                                height: 700,
                                width: 650,
                                left: 0

                            });

                        $.ajax({
                            type: "GET",
                            url: '/Sensor/MapPopup?locationName=' + $(this).attr('alt'),
                            dataType: 'html',
                            success: function (data) {
                                $('#dialog').html(data);
                            }
                        });

                    });

*@

                },

                initTable2: function () {

                    if (!jQuery().dataTable) {
                        return;
                    }

                    var table = $('#question_datatable1');
                    table.DataTable().destroy();

                    table.DataTable({





                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ records",
                            "infoEmpty": "No records found",
                            "infoFiltered": "(filtered1 from _MAX_ total records)",
                            "lengthMenu": "Show _MENU_",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "previous": "Prev",
                                "next": "Next",
                                "last": "Last",
                                "first": "First"
                            }
                        },

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
                        "pagingType": "bootstrap_extended",

                        "lengthMenu": [
                            [5, 15, 20, -1],
                            [5, 15, 20, "All"] // change per page values here
                        ],
                        "orderClasses": false,  // !!! important , on select row completely selects row
                        // set the initial value
                        "pageLength": 5,
                        "columnDefs": [{  // set default column settings
                            'orderable': false,
                            'targets': [0],
                            "width": "40%"
                        }, {
                            "searchable": false,
                            "targets": [0]
                        }],
                        "order": [
                            [1, "asc"]
                        ], // set first column as a default sort by asc

                        select: true
                    });


                    var question_datatable1 = $('#question_datatable1').DataTable();

                    //$('#question_datatable1 tbody').on('click', 'tr', function () {
                    $("body").on("click", "#question_datatable1 tbody tr", function (e) {
                        if ($(this).hasClass('selected')) {
                            $(this).removeClass('selected');
                            //$('#divDetail').hide();
                        }
                        else {
                            question_datatable1.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                        }

                        showLoading();
                        setTimeout(function () {
                            // do something 1000ms later here.
                            $("#loading").hide();
                        }, 500);

                        var rowData = $('#question_datatable1').DataTable().row(this).data();

                        //console.log(rowData);
                        //$.formUtil.bind('#frm2', rowData);
                        Dashboard.initTable3();
                    });


                    /*
                    var tableWrapper = jQuery('#question_datatable_wrapper');

                    table.find('.group-checkable').change(function () {
                        var set = jQuery(this).attr("data-set");
                        var checked = jQuery(this).is(":checked");
                        jQuery(set).each(function () {
                            if (checked) {
                                $(this).prop("checked", true);
                            } else {
                                $(this).prop("checked", false);
                            }
                        });
                    });
                    */
                },



                init: function () {
                    this.load();
                    //this.initTable2();

                }
            };

        }();

        if (App.isAngularJsApp() === false) {
            jQuery(document).ready(function () {

                SyncPopup.init(); // init metronic core componets


            });
        }






    </script>
