﻿@{
    ViewBag.Title = "Amazon S3 File Manager";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    

    <style type="text/css">
       /* Data Loader Animation */
.circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0);
  border-top-color: #347fc3;
}

.circle1-1, .circle1-2, .circle1-3, .circle1-4, .circle1-5, .circle1-6 {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.circle2-1, .circle2-2, .circle2-3, .circle2-4, .circle2-5, .circle2-6 {
  height: 70px;
  width: 70px;
  margin-top: 5px;
}

.circle3-1, .circle3-2, .circle3-3, .circle3-4, .circle3-5, .circle3-6 {
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.circle1 {
  -webkit-animation: load1 4s infinite;
}

@@-webkit-keyframes load1 {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
    </style>
    <style ></style>

</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="pull-right">
                        
                    </div>
                }
                


                

                <div class="alert alert-success">
                    Amazon Files 
                </div>

                <div data-bind="text: viewModel.lookupCollection().length + ' records'"> </div> <br />

                <div class="row-fluid">
                    <div class="span12 form-search">
                        
                        <table class="table">
                            <tr>
                                <th>Title</th>
                                <th>Size</th>
                                <th>Updated</th>
                                <th>IsInDb</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td colspan="5"><div data-bind="loading-animation: viewModel.IsLoading"></div></td>
                            </tr>
                            <tbody data-bind="foreach: viewModel.lookupCollection">
                                
                                <tr>
                                    <td><a data-bind="attr: { href: Files.File_reference }, text: Files.Title" target="_new"></a></td>
                                    <td data-bind="text: SizeHumanReadable"></td>
                                    <td data-bind="text: Files.Update_datetime"></td>
                                    <td><i style='font-size: 18pt;' data-bind="style: { color: IsInDb() ? 'green' : 'red' }, css: IsInDb() ? 'fa fa-check' : 'fa fa-times'" /> 
                                        <!--
        <i class='fa fa-times' style='font-size: 18pt;color:red' data-bind="style: { display: IsInDb ? 'none' : 'inline' }, text: console.log(IsInDb ? 'none' : 'inline')" />
            -->

                                        </td>
                                    <td>
                                        
                                        <!-- <button class="btn btn-success">Edit</button> -->
                                        <button class="btn btn-danger" data-bind="click : $root.deleteItem, attr : {'disabled' : IsInDb() }">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>

    
    

    <script>

        var displayValue = function(element, valueAccessor){
            var value = ko.utils.unwrapObservable(valueAccessor());
            var isCurrentlyVisible = !(element.style.display == "none");
            if(value && !isCurrentlyVisible)
                element.style.display = "";
            else if((!value) && isCurrentlyVisible)
                element.style.display = "none";
        };

        ko.bindingHandlers['loading-animation'] = {

            'init' : function(element, valueAccessor){
                $(element)
                      .append(
                            '<div class="circle circle1 circle1-1"><div class="circle circle1 circle2-1"><div class="circle circle1 circle3-1"></div></div></div>');

                displayValue(element, valueAccessor);
            },
            'update' : function(element, valueAccessor){
                displayValue(element, valueAccessor);
            }
        };

        function AmazonViewModel() {
            var self = this;

            self.IsLoading = ko.observable(true);
        
            self.lookupCollection = ko.observableArray();

            self.Provider = ko.observable();
            self.Files = ko.observable();
            self.IsInDb = ko.observable();

            
            self.Files.Title = ko.observable("");

            var Provider =
            {
                Title: self.Files.Title,
                IsInDb: self.IsInDb
            };

            self.deleteItem = function (Provider) {
                    if (confirm('Are you sure you want to delete this row?')) {
                        var title = Provider.Files.Title();

                        self.IsLoading(true);
                        $.ajax({
                            url: "/RemoteAdmin/DeleteAmazonS3File",
                            cache: false,
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            data: ko.toJSON({ fileName: title }),
                            success: function (data) {
                                self.lookupCollection.remove(Provider);
                                //   alert("Record Deleted Successfully");

                                self.IsLoading(false);
                            }
                        }).fail(
                             function (xhr, textStatus, err) {
                                 alert(err);
                             });
                    }
                };  //Delete Provider

        
        }

        var viewModel = new AmazonViewModel();
        


        $(document).ready(function () {
            ko.applyBindings(viewModel);
            viewModel.IsLoading (true);

            $.ajax({
                type: "GET",
                url: "/RemoteAdmin/ListAmazonS3FilesContent",
            }).done(function (data) {
                $(data).each(function (index, element) {
                    //viewModel.lookupCollection.push(element);
                    viewModel.lookupCollection(ko.mapping.fromJS(data)());
                });
                viewModel.IsLoading (false);
                
            }).error(function (ex) {
                alert("Error");
                viewModel.IsLoading (false);
            });
        });
    </script>


    


</body>
</html>