﻿@{
    ViewBag.Title = "Chat, Chat, Chat...";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    

    <style type="text/css">
        ul {
            margin: 0;
        }

            ul li {
                padding: 0;
                list-style-type: none;
            }

        #messages {
            margin-top: 10px;
        }

            #messages li {
                background-color: #EEE;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                min-height: 40px;
                line-height: 40px;
                padding-left: 7px;
                padding-right: 7px;
                margin-bottom: 1px;
            }

        #users li {
            border: 1px solid #EEE;
            padding: 4px;
            border-radius: 3px;
            margin-bottom: 1px;
            cursor: pointer;
        }

        .privateChatUser {
            background-color: #3A87AD;
        }
    </style>

</head>
<body>



    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="pull-right">
                        
                    </div>
                }
                


                

                <div class="alert alert-success">
                    Hello @User.Identity.Name! Start chating...
                </div>

                <div data-bind="visible: isInPrivateChat" class="alert alert-info">
                    You are in a private chat with @@<span data-bind="text: privateChatUser"></span>! <a href="#" data-bind="click: exitFromPrivateChat">Exit from private chat?</a>
                </div>



                <div>
                    <ul class="nav nav-tabs" role="tablist" id="myTabs">
                        <li role="presentation" class="active settingshead">
                            <a data-toggle="tab" href="#first">Send Commands</a>
                        </li>
                        <li role="presentation" class="settingshead">
                            <a data-toggle="tab" href="#second">Log</a>
                        </li>
                        <li role="presentation" class="settingshead">
                            <a data-toggle="tab" href="#third">3</a>
                        </li>

                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="first">
                        <div class="row-fluid">
                            <div class="span12 form-search">
                                <input type="text" id="txtMsg" class="input-xxlarge" disabled="disabled" style="width:200em;max-width: 50%;" />
                                <button type="button" id="btnSend" class="btn btn-info" disabled="disabled">Send</button> <br /><br />
                                Commands : <button type="button" id="btnDownloadApk" class="btn btn-info" style="background-color:white;color:black">Download APK</button>
                                <button type="button" id="btnInstallApk" class="btn btn-info" style="background-color:white;color:black">Install Apk</button>
                                <button type="button" id="btnUnInstallApk" class="btn btn-info" style="background-color:white;color:black">UnInstall Apk</button>
                                <button type="button" id="btnInstallFromMarket" class="btn btn-info" style="background-color:white;color:black">Install Team Viewer</button>
                                <button type="button" id="btnCloseApplication" class="btn btn-info" style="background-color:white;color:black">Close Application</button>
                                <button type="button" id="btnRestartAssetHealth" class="btn btn-info" style="background-color:white;color:black">Restart AssetHealth</button>
                                <button type="button" id="btnTakeScreenshot" class="btn btn-info" style="background-color:white;color:black">Take Screenshot</button>
                                <button type="button" id="btnUploadDB" class="btn btn-info" style="background-color:white;color:black">Upload DB From Device</button>
                                <button type="button" id="btnUploadLogAndDatabase" class="btn btn-info" style="background-color:white;color:black">Upload Log and Database</button>
                                <button type="button" id="btnDownloadDB" class="btn btn-info" style="background-color:white;color:black">Download DB To Device</button>
                                <button type="button" id="btnSendLinuxCommand" class="btn btn-info" style="background-color:white;color:black">Send Linux Command</button>
                                <button type="button" id="btnDeleteFile" class="btn btn-info" style="background-color:white;color:black">Delete File</button>
                                <button type="button" id="btnDeleteFilesLogs" class="btn btn-info" style="background-color:white;color:black">Delete Files (LOGs)</button>
                                <button type="button" id="btnDeleteFilesApks" class="btn btn-info" style="background-color:white;color:black">Delete APKs (With Incomplete Parts)</button>
                                <button type="button" id="btnCopyFile" class="btn btn-info" style="background-color:white;color:black">Copy File</button>
                                <button type="button" id="btnCopyDBFromNoxShare" class="btn btn-info" style="background-color:white;color:black">Copy DB From Nox Share</button>
                                <button type="button" id="btnZipFiles" class="btn btn-info" style="background-color:white;color:black">Zip Files</button>
                                <br />
                                Information : <button type="button" id="btnGetAppPath" class="btn btn-info" style="background-color:white;color:black">Get Application Path</button>
                                <button type="button" id="btnGetUDID" class="btn btn-info" style="background-color:white;color:black">Get Device ID</button>
                                <button type="button" id="btnGetLogCat" class="btn btn-info" style="background-color:white;color:black">Get LogCat</button>
                                <button type="button" id="btnListFiles" class="btn btn-info" style="background-color:white;color:black">List All Files</button>
                                <button type="button" id="btnListFilesFilter" class="btn btn-info" style="background-color:white;color:black">List Files (Filter)</button>

                                <br />
                                <button type="button" id="btnClearMessages" class="btn btn-info" style="background-color:white;color:black">Clear</button>
                            </div>
                            <div class="span8 form-search">
                                <ul id="messages" data-bind="foreach: messages" style="height:450px;overflow: scroll; overflow-x: hidden;">
                                    <li>
                                        <span class="label label-important" data-bind="visible: isPrivate" style="color:blue">Private</span>
                                        <strong><span data-bind="text: from"></span></strong> - <span data-bind="text: datetime"></span>:
                                        <span data-bind="text: message"></span>
                                    </li>
                                </ul>
                            </div>
                            <div id="users" class="span2">
                                <ul data-bind="foreach: users">
                                    <li data-bind="click: setAsPrivateChat, css: { privateChatUser: isPrivateChatUser }">
                                        <span data-bind="text: name"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="second">
                        
                        <div class="span10 form-search">
                            <ul id="logs" data-bind="foreach: logs" style="height:450px;overflow: scroll; overflow-x: hidden;font-size:7pt">
                                <li>
                                    <span class="label label-important" data-bind="visible: isPrivate" style="color:blue">Private</span>
                                    <strong><span data-bind="text: from"></span></strong> - <span data-bind="text: datetime"></span>:
                                    <span data-bind="text: message"></span>
                                </li>
                            </ul>
                        </div>
                        <div id="cmds" class="span2">
                            <button type="button" id="btnStartLogCat" class="btn btn-info" style="background-color:white;color:black">Start LogCat</button>
                            <button type="button" id="btnStopLogCat" class="btn btn-info" style="background-color:white;color:black">Stop LogCat</button>
                            <br />
                            <button type="button" id="btnClearLogs" class="btn btn-info" style="background-color:white;color:black">Clear</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="third">
                        <div class="namedesig">
                            <h4>Dr. John</h4>
                            <p>PhD in Applied Biology</p>
                        </div>
                    </div>

                </div>
                






            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>

    
    

    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Ares/chat.js"></script>

    


</body>
</html>