﻿@using AssetHealth.Models.Eq_channel;
@model EqChannelModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.EqChannel.EditEqChannelDetails").Text;
}
@using (Html.BeginForm("EditEqChannel", "Equipment", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.EqChannel.EditEqChannelDetails") - @Model.Object_id
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "Edit/" + Request.QueryString["EquipmentModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteEqChannel", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateEqChannel", Model)
}

 
 @section jQueryOnReadyScripts {
 



    
    @(Url.Datatables().CreateDatatable("#dataTableEqThreshold", "ListEqThresholdDatatable", "EqChannel", null, true, new { EqChannelModelId = Model.Id }, "dataTableEqThreshold").AddColumn("Id")
                                        .AddColumn("Name")
                                        .AddColumn("Description")
                                        .AddColumn("Lower_limit")
                                        .AddColumn("Upper_limit")
                                        .AddColumn("Warning_type_Text")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditEqThreshold", "Equipment") + "/' + full.Id , full.Id, true,  true, 'EqThreshold') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEqThresholdOptions = dataTableEqThresholdOptions;

                 $('#btnFilterEqThreshold').click(function () {
                        dataTableEqThreshold.column('Name:name').search($('#Name').val().trim());
                        dataTableEqThreshold.column('Warning_type:name').search($('#Warning_type').val().trim());
                        dataTableEqThreshold.column('Active:name').search($('#Active').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEqThreshold.draw();
            });
            
            
                $('#btnResetEqThreshold').click(function () {

                    resetDatatableSearch('dataTableEqThreshold');

                });


        
             



    
    @(Url.Datatables().CreateDatatable("#dataTableEqWarning", "ListEqWarningDatatable", "EqChannel", null, true, new { EqChannelModelId = Model.Id }, "dataTableEqWarning").AddColumn("Id")
                                        .AddColumn("Read_no")
                                        .AddColumn("Equipment_id_Text")
                                        .AddColumn("Io_real_value")
                                        .AddColumn("Io_input_value")
                                        .AddColumn("Lower_limit")
                                        .AddColumn("Upper_limit")
                                        .AddColumn("Warning_type_Text")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddColumn("Description")
                                        .AddColumn("Last_stop_datetime")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditEqWarning", "Equipment") + "/' + full.Id , full.Id, true,  true, 'EqWarning') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEqWarningOptions = dataTableEqWarningOptions;

                 $('#btnFilterEqWarning').click(function () {
                        dataTableEqWarning.column('Read_no:name').search($('#Read_no').val().trim());
                        dataTableEqWarning.column('Equipment_id:name').search($('#Equipment_id').val().trim());
                        dataTableEqWarning.column('Warning_type:name').search($('#Warning_type').val().trim());
                        dataTableEqWarning.column('Active:name').search($('#Active').prop('checked'));
                        dataTableEqWarning.column('Last_stop_datetime:name').search($('#Last_stop_datetime').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEqWarning.draw();
            });
            
            
                $('#btnResetEqWarning').click(function () {

                    resetDatatableSearch('dataTableEqWarning');

                });


        
             
        
 
       setTimeout(function(){
        $('a[href="#tab_EqChannel_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/EqChannel-input-mask.js"></script>
}


