﻿


@using AssetHealth.Models.Equipment;

@model EquipmentModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("Equipment.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "Equipment")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("Equipment.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableEquipment', window.dataTableEquipmentOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Eq_location_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Eq_location_id, Model.Eq_location_id_EqLocation_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EquipmentModel.Eq_location_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Equipment_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Equipment_type, Model.Equipment_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EquipmentModel.Equipment_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Ip_address, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Ip_address, new { @class = "form-control", @placeholder = T("EquipmentModel.Ip_address.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = T("EquipmentModel.Name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Number_of_channels, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Number_of_channels, new { @class = "form-control", @placeholder = T("EquipmentModel.Number_of_channels.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Cid, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Cid, new { @class = "form-control", @placeholder = T("EquipmentModel.Cid.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("EquipmentModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Read_order, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Read_order, new { @class = "form-control", @placeholder = T("EquipmentModel.Read_order.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterEquipment" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetEquipment" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableEquipment" style="width:100%">
            <thead>
                <tr>
                                        @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>
        <th> @T("Equipment.list.column.Description") </th>
                                        *@
                    <th> @T("Equipment.list.column.Id") </th>
            
                    <th> @T("Equipment.list.column.Eq_location_id") </th>
                    <th> @T("Equipment.list.column.Equipment_type") </th>
                    <th> @T("Equipment.list.column.Ip_address") </th>
                    <th> @T("Equipment.list.column.Name") </th>
                    <th> @T("Equipment.list.column.Number_of_channels") </th>
                    <th> @T("Equipment.list.column.Cid") </th>
                    
                    <th> @T("Equipment.list.column.Read_order") </th>
                    <th> @T("Equipment.list.column.Active") </th>
            
                    
                    <th> @T("Equipment.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

@section jQueryOnReadyScripts {



    
    @(Url.Datatables().CreateDatatable("#dataTableEquipment", "ListEquipmentDatatable", "Equipment", null, true, null, "dataTableEquipment").AddColumn("Id")
                                        .AddColumn("Eq_location_id_Text")
                                        .AddColumn("Equipment_type_Text")
                                        .AddColumn("Ip_address")
                                        .AddColumn("Name")
                                        .AddColumn("Number_of_channels")
                                        .AddColumn("Cid")
                                        //.AddColumn("Description")
                                        .AddColumn("Read_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "Equipment") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEquipmentOptions = dataTableEquipmentOptions;

                 $('#btnFilterEquipment').click(function () {
                        dataTableEquipment.column('Eq_location_id_Text:name').search($('#Eq_location_id').val().trim());
                        dataTableEquipment.column('Equipment_type_Text:name').search($('#Equipment_type').val().trim());
                        dataTableEquipment.column('Ip_address:name').search($('#Ip_address').val().trim());
                        dataTableEquipment.column('Name:name').search($('#Name').val().trim());
                        dataTableEquipment.column('Number_of_channels:name').search($('#Number_of_channels').val().trim());
                        dataTableEquipment.column('Cid:name').search($('#Cid').val().trim());
                        dataTableEquipment.column('Read_order:name').search($('#Read_order').val().trim());
                        dataTableEquipment.column('Active:name').search($('#Active').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEquipment.draw();
            });
            
            
                $('#btnResetEquipment').click(function () {

                    resetDatatableSearch('dataTableEquipment');

                });


        
 }

