﻿@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    
}




            <!-- BEGIN EXAMPLE TABLE PORTLET-->

            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Table
                    </div>
                    
                </div>
                <div class="portlet-body">
                    Hoşgeldiniz
                </div>
            </div>





