﻿@model AssetHealth.Models.Common.InstitutionLayoutBoxModel
                             
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-microphone font-dark hide"></i>
                                        <span class="caption-subject bold font-dark uppercase">@T("Dashboard.Plant.LayoutPlan")</span>
                                        <span class="caption-helper">@T("Dashboard.Plant.LayoutPlan.Subtitle")</span>
                                    </div>
                                    @*
    <div class="actions">
        <div class="btn-group btn-group-devided" data-toggle="buttons">
            <label class="btn red btn-outline btn-circle btn-sm active">
                <input type="radio" name="options" class="toggle" id="option1">Settings</label>
            <label class="btn  red btn-outline btn-circle btn-sm">
                <input type="radio" name="options" class="toggle" id="option2">Tools</label>
        </div>
    </div>
                                    *@
                                    <div class="tools" style="float:right">
                                        <a href="" class="collapse"> </a>
                                        @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                                        *@
                                        <a href="" class="fullscreen"> </a>
                                        <a href="" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <style>
                                                .wrapper {
                                                    float: left;
                                                    clear: left;
                                                    display: table;
                                                    table-layout: fixed;
                                                }

                                                img.img-responsive {
                                                    display: table-cell;
                                                    max-width: 100%;
                                                }
                                            </style>
                                            <div class="wrapper col-md-12">
                                                <img class="img-responsive map" src="~/Content/images/toros.jpg" usemap="#map" />


                                                <map name="map">
                                                    <!-- #$-:Image map file created by GIMP Image Map plug-in -->
                                                    <!-- #$-:GIMP Image Map plug-in by Maurits Rijk -->
                                                    <!-- #$-:Please do not edit lines starting with "#$" -->
                                                    <!-- #$VERSION:2.3 -->
                                                    <!-- #$AUTHOR:02482378 -->

                                                    <!-- Baloncuğun Okunu left center'a yerleştir, baloncupun kendisini kutunun right top'ına yerleştir -->
                                                    <area shape="poly" coords="406,85,435,82,440,103,433,159,423,155,374,157,390,86" alt="SDAP#center left#right top" href="dap.htm" />
                                                    <area shape="poly" coords="124,261,153,262,157,276,169,280,186,302,294,299,311,323,302,367,254,364,253,390,148,405,132,373,119,352,124,319" alt="SNPK#center left#right top" href="NPK.htm" />
                                                    <area shape="poly" coords="30,0,14,42,0,44,1,71,44,69,64,10,89,8,89,1,89,0,30,0" alt="STOR" href="trb.htm" />
                                                    <area shape="poly" coords="397,52,443,52,446,35,436,34,438,1,403,1,395,52" alt="STOR2" href="trb2.htm" />
                                                    <area shape="poly" coords="162,495,123,685,344,680,349,578,401,577,387,537,267,541,271,495,162,496" alt="SSA#top center#bottom center" href="sa.htm" />
                                                    <area shape="poly" coords="51,488,127,488,104,576,24,575,51,488" alt="SSTG#center right#right middle" href="stg.htm" />
                                                    <area shape="poly" coords="1073,252,1201,251,1207,241,1229,240,1231,261,1364,265,1364,288,1303,291,1298,288,1225,294,1212,278,1199,279,1194,268,1070,265,1072,253" alt="SISK" href="iskele.htm" />
                                                    <area shape="poly" coords="682,260,1046,264,1070,281,1075,293,1160,289,1282,357,1360,557,1272,564,1254,635,1240,757,1113,759,1083,618,973,621,929,508,927,493,679,483,681,259" alt="SYT1#center left#right top" href="yrd1.htm" />
                                                    <area shape="poly" coords="697,73,956,66,974,246,689,250,697,72" alt="SPAP#center right#left top" href="pap.htm" />
                                                    <area shape="poly" coords="471,333,672,338,671,477,452,478,469,334" alt="SYT2#bottom center#top center" href="yrd2_1.htm" />
                                                    <area shape="poly" coords="287,487,337,486,326,540,277,540,284,488" alt="SYT2#center right#right middle" href="yrd2_2.htm" />
                                                    <area shape="poly" coords="118,399,205,403,216,450,99,462,114,400" alt="SYT3#center right#left top" href="yrd3_1.htm" />
                                                    <area shape="poly" coords="307,401,433,409,429,475,301,469,306,401" alt="SYT3" href="yrd3_2.htm" />
                                                    <area shape="poly" coords="353,587,420,588,407,683,347,680,354,588" alt="SYT3" href="yrd3_3.htm" />
                                                    
                                                </map>
                                                @*

    <span id="overlay_text3" style="position: absolute; z-index: 5; top:30px;left:1300px ;border:dashed ;border-color: #ff0000 #0000ff;padding:8px;width:300px">
        <span class='panel-left'>
            <center><h3><b>Simülatör</b></h3></center>
           @Html.DropDownListFor(model => model.FilterLocationId, Model.FilterLocations, T("Select").Text, new { @id = "cboLocation" })

            <input type="button" id="btnAlarmSimulationLocation" value="Alarm Oluştur">

            <input type="button" id="btnLostSignalSimulationLocation" value="Lost Signal Oluştur">

            <br /><br />
            <input type="button" id="btnAlarmSimulation" value="Tüm Mahaller için Alarm Oluştur">
            <input type="button" id="btnAlarmSimulationStop" value="Normale Dön">
        </span>
    </span>
                                                *@
                                            </div>
                                           
                                            <script>

                                                
                                            </script>
                                            @*
    <div class="mt-widget-2">
        <div class="mt-head" style="background-image: url(/Content/images/cement_plant_layout.jpg);height:501px">
            <div class="mt-head-label">
                <button type="button" class="btn btn-success">Manhattan</button>
            </div>
            <div class="mt-head-user">
                <div class="mt-head-user-img">
                    <img src="../assets/pages/img/avatars/team7.jpg"> </div>
                <div class="mt-head-user-info">
                    <span class="mt-user-name">Chris Jagers</span>
                    <span class="mt-user-time">
                        <i class="icon-emoticon-smile"></i> 3 mins ago </span>
                </div>
            </div>
        </div>
        <div class="mt-body">
            <h3 class="mt-body-title"> Thomas Clark </h3>
            <p class="mt-body-description"> It is a long established fact that a reader will be distracted </p>
            <ul class="mt-body-stats">
                <li class="font-green">
                    <i class="icon-emoticon-smile"></i> 3,7k</li>
                <li class="font-yellow">
                    <i class=" icon-social-twitter"></i> 3,7k</li>
                <li class="font-red">
                    <i class="  icon-bubbles"></i> 3,7k</li>
            </ul>
            <div class="mt-body-actions">
                <div class="btn-group btn-group btn-group-justified">
                    <a href="javascript:;" class="btn">
                        <i class="icon-bubbles"></i> Bookmark </a>
                    <a href="javascript:;" class="btn ">
                        <i class="icon-social-twitter"></i> Share </a>
                </div>
            </div>
        </div>

    </div>
                                            *@
                                        </div>
                         
                                    </div>
                                </div>
                            </div>