@using Ext.Net;
@using Ext.Net.MVC;
@using MvcCheckBoxList.Model

@model AssetHealth.Models.User.UserModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_5_1" data-toggle="tab"> @T("user.form.tab.user.title") </a>
        </li>
        <li>
            <a href="#tab_5_2" data-toggle="tab"> @T("user.form.tab.role.title") </a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_5_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("user.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">

                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>

                        @Html.HiddenFor(m => m.User_guid)

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Username) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faUsername" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Username) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Username))"></i>

                                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = T("UserModel.Username.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.Username.Hint")  </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Nationality_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Nationality_id, new { @class = "col-md-3 control-label" })
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faNationality_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Nationality_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Nationality_id))"></i>
                                        @Html.DropDownListFor(x => x.Nationality_id, Model.Nationality_id_Nationality_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("UserModel.Nationality_id.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Nationality_id, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("UserModel.Nationality_id.Hint")</span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.IdentityNumber) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.IdentityNumber, new { @class = "col-md-3 control-label" })
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faIdentityNumber" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.IdentityNumber) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.IdentityNumber))"></i>

                                        @Html.TextBoxFor(x => x.IdentityNumber, new { @class = "form-control", @placeholder = T("UserModel.IdentityNumber.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.IdentityNumber, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.IdentityNumber.Hint")  </span>
                                </div>
                            </div>
                        </div>
                        @*
            <div class="form-group @(Html.CheckValidationErrorFor(m => m.IsADUser) ? "has-error" : "")">
                @Html.AresLabelFor(m => m.IsADUser, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">
                    @Html.CheckBoxFor(x => x.IsADUser, new { @class = "mt-checkbox", @style = "width:5%;" })



                    <span class="help-block"> @Html.ValidationMessageFor(m => m.IsADUser) &nbsp; </span>
                </div>
            </div>
                        *@
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.UserPasswordChangeModel.CurrentPassword) ? "has-error" : "") ">
                            @Html.AresLabelFor(m => m.UserPasswordChangeModel.CurrentPassword, new { @class = "col-md-3 control-label " })
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faUserPasswordChangeModel_CurrentPassword" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.UserPasswordChangeModel.CurrentPassword) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.UserPasswordChangeModel.CurrentPassword))"></i>

                                        @Html.PasswordFor(x => x.UserPasswordChangeModel.CurrentPassword, new { @class = "form-control", @placeholder = T("UserPasswordChangeModel.CurrentPassword.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.UserPasswordChangeModel.CurrentPassword, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.UserPasswordChangeModel.CurrentPassword.Hint")  </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.UserPasswordChangeModel.NewPassword) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.UserPasswordChangeModel.NewPassword, new { @class = "col-md-3 control-label " })
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faUserPasswordChangeModel_NewPassword" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.UserPasswordChangeModel.NewPassword) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.UserPasswordChangeModel.NewPassword))"></i>

                                        @Html.PasswordFor(x => x.UserPasswordChangeModel.NewPassword, new { @class = "form-control", @placeholder = T("UserPasswordChangeModel.NewPassword.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.UserPasswordChangeModel.NewPassword, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.UserPasswordChangeModel.NewPassword.Hint")  </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.UserPasswordChangeModel.NewPasswordAgain) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.UserPasswordChangeModel.NewPasswordAgain, new { @class = "col-md-3 control-label " })
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faUserPasswordChangeModel_NewPasswordAgain" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.UserPasswordChangeModel.NewPasswordAgain) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.UserPasswordChangeModel.NewPasswordAgain))"></i>

                                        @Html.PasswordFor(x => x.UserPasswordChangeModel.NewPasswordAgain, new { @class = "form-control", @placeholder = T("UserPasswordChangeModel.NewPasswordAgain.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.UserPasswordChangeModel.NewPasswordAgain, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.UserPasswordChangeModel.NewPasswordAgain.Hint")  </span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Email) ? "has-error" : "") ">
                            @Html.AresLabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faEmail" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Email) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Email))"></i>
                                        <div class="input-group">

                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>

                                            @Html.TextBoxFor(x => x.Email, new
                                       {
                                           @class = "form-control",
                                           @placeholder = T("UserModel.Email.Placeholder") @*, data_validationMessage = Html.Encode(Html.ValidationMessageFor(m => m.Email)) *@ })

                                            
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("UserModel.Email.Hint")  </span>

                                </div>
                            </div>
                        </div>


                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.First_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.First_name, new { @class = "col-md-3 control-label" })

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faFirst_name" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.First_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.First_name))"></i>


                                        @Html.TextBoxFor(x => x.First_name, new { @class = "form-control", @placeholder = T("UserModel.First_name.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.First_name, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("UserModel.First_name.Hint")  </span>

                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_name, new { @class = "col-md-3 control-label" })

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faLast_name" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_name))"></i>

                                        @Html.TextBoxFor(x => x.Last_name, new { @class = "form-control", @placeholder = T("UserModel.Last_name.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Last_name, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.Last_name.Hint")  </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Birth_date) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Birth_date, new { @class = "col-md-3 control-label " })
                            <div class="row">

                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faBirth_date" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Birth_date) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Birth_date))"></i>

                                        @Html.EditorFor(x => x.Birth_date, new { @class = "form-control" })
                                        

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Birth_date, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.Birth_date.Hint")  </span>
                                </div>


                            </div>
                            
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.WorkingLanguage_Id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.WorkingLanguage_Id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faWorkingLanguage_Id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Language_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.WorkingLanguage_Id))"></i>

                                        @Html.DropDownListFor(x => x.WorkingLanguage_Id, Model.Language_id_Language_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "WorkingLanguage_Id" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.WorkingLanguage_Id, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("UserModel.WorkingLanguage_Id.Hint")</span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.OrgUnit_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.OrgUnit_id, new { @class = "col-md-3 control-label " })
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faOrgUnit_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.OrgUnit_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.OrgUnit_id))"></i>

                                        @Html.DropDownListFor(x => x.OrgUnit_id, Model.Orgunit_id_OrgUnit_SelectList, T("Select").Text, new { @class = "form-control" })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.OrgUnit_id, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.OrgUnit_id.Hint")  </span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Jobtitle_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Jobtitle_id, new { @class = "col-md-3 control-label " })
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faJobtitle_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Jobtitle_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Jobtitle_id))"></i>

                                        @Html.DropDownListFor(x => x.Jobtitle_id, Model.Jobtitle_id_JobTitle_SelectList, T("Select").Text, new { @class = "form-control" })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Jobtitle_id, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.Jobtitle_id.Hint")  </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label " })
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faActive" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>

                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.Active.Hint")  </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Notes) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Notes, new { @class = "col-md-3 control-label " })
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faNotes" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Notes) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Notes))"></i>

                                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @placeholder = T("UserModel.Notes.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Notes, null, new { @class = "help-block", @style = "color:red" })

                                    <span class="help-inline">@T("UserModel.Notes.Hint")  </span>
                                </div>
                            </div>
                        </div>
                        @*
            <style>
                .labelRadio {
                    font-weight: bold;
                    margin: 15px;
                }
            </style>
            <div class="form-group col-md-12" style="border:dotted;padding:5px">

                <div style="width:100%">
                    <label class="labelRadio">@Html.RadioButtonFor(m => m.UserdetailModel.UserDetailType, "Staff") Staff</label>
                    <label class="labelRadio">@Html.RadioButtonFor(m => m.UserdetailModel.UserDetailType, "Beneficiary") Beneficiary</label>
                    <label class="labelRadio">@Html.RadioButtonFor(m => m.UserdetailModel.UserDetailType, "Contractor") Contractor</label>
                    <label class="labelRadio">@Html.RadioButtonFor(m => m.UserdetailModel.UserDetailType, "GrantBeneficiary") Potential Grant Beneficiary</label>
                    <label class="labelRadio">@Html.RadioButtonFor(m => m.UserdetailModel.UserDetailType, "Assessor") Assessor</label>
                </div>

            </div>

            <div id="divStaff_id" class="form-group @Html.Raw(!ViewData.ModelState.IsValid && ViewData.ModelState["UserdetailModel.Staff_id"].Errors.Count > 0 ? "has-error" : "")">

                @Html.AresLabelFor(m => m.UserdetailModel.Staff_id, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.UserdetailModel.Staff_id, Model.UserdetailModel.Staff_id_Staff_SelectList, T("Select").Text, new { @class = "form-control userDetail", @style = "width:35%;", @placeholder = "Staff_id" })

                    <span class="help-block"> @Html.ValidationMessageFor(m => m.UserdetailModel.Staff_id) &nbsp;  </span>
                </div>
            </div>



            <div id="divBeneficiary_id" class="form-group @Html.Raw(!ViewData.ModelState.IsValid && ViewData.ModelState["UserdetailModel.Beneficiary_id"].Errors.Count > 0 ? "has-error" : "")">
                @Html.AresLabelFor(m => m.UserdetailModel.Beneficiary_id, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.UserdetailModel.Beneficiary_id, Model.UserdetailModel.Beneficiary_id_Beneficiary_SelectList, T("Select").Text, new { @class = "form-control userDetail", @style = "width:35%;", @placeholder = "Beneficiary_id" })

                    <span class="help-block"> @Html.ValidationMessageFor(m => m.UserdetailModel.Beneficiary_id) &nbsp;  </span>
                </div>
            </div>



            <div id="divContractor_id" class="form-group @Html.Raw(!ViewData.ModelState.IsValid && ViewData.ModelState["UserdetailModel.Contractor_id"].Errors.Count > 0 ? "has-error" : "")">
                @Html.AresLabelFor(m => m.UserdetailModel.Contractor_id, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.UserdetailModel.Contractor_id, Model.UserdetailModel.Contractor_id_Contractor_SelectList, T("Select").Text, new { @class = "form-control userDetail", @style = "width:35%;", @placeholder = "Contractor_id" })

                    <span class="help-block"> @Html.ValidationMessageFor(m => m.UserdetailModel.Contractor_id) &nbsp;  </span>
                </div>
            </div>


            <div id="divGrantbeneficiary_id" class="form-group @Html.Raw(!ViewData.ModelState.IsValid && ViewData.ModelState["UserdetailModel.Grantbeneficiary_id"].Errors.Count > 0 ? "has-error" : "")">
                @Html.AresLabelFor(m => m.UserdetailModel.Grantbeneficiary_id, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">

                    @Html.DropDownListFor(x => x.UserdetailModel.Grantbeneficiary_id, Model.UserdetailModel.Grantbeneficiary_id_Potgrantbeneficiary_SelectList, T("Select").Text, new { @class = "form-control userDetail", @style = "width:35%;", @placeholder = "Grantbeneficiary_id" })


                    <span class="help-block"> @Html.ValidationMessageFor(m => m.UserdetailModel.Grantbeneficiary_id) &nbsp; </span>
                </div>
            </div>

            <div id="divAssessor_id" class="form-group @Html.Raw(!ViewData.ModelState.IsValid && ViewData.ModelState["UserdetailModel.Assessor_id"].Errors.Count > 0 ? "has-error" : "")">
                @Html.AresLabelFor(m => m.UserdetailModel.Assessor_id, new { @class = "col-md-3 control-label " })
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.UserdetailModel.Assessor_id, Model.UserdetailModel.Assessor_id_Assessor_SelectList, T("Select").Text, new { @class = "form-control userDetail", @style = "width:35%;", @placeholder = "Assessor_id" })

                    <span class="help-block"> @Html.ValidationMessageFor(m => m.UserdetailModel.Assessor_id) &nbsp;  </span>
                </div>
            </div>


            @*
                <div class="form-group">
                    <label class="col-md-3 control-label">Block Help</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Enter text">
                        <span class="help-block"> A block of help text. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Inline Help</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-inline input-medium" placeholder="Enter text">
                        <span class="help-inline"> Inline help. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Input Group</label>
                    <div class="col-md-9">
                        <div class="input-inline input-medium">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <span class="help-inline"> Inline help. </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Password">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Left Icon</label>
                    <div class="col-md-9">
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <input type="text" class="form-control" placeholder="Left icon">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Right Icon</label>
                    <div class="col-md-9">
                        <div class="input-icon right">
                            <i class="fa fa-microphone"></i>
                            <input type="text" class="form-control" placeholder="Right icon">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Icon Input in Group Input</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <div class="input-icon">
                                <i class="fa fa-lock fa-fw"></i>
                                <input id="newpassword" class="form-control" type="text" name="password" placeholder="password" />
                            </div>
                            <span class="input-group-btn">
                                <button id="genpassword" class="btn btn-success" type="button">
                                    <i class="fa fa-arrow-left fa-fw" /></i> Random
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Input With Spinner</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control spinner" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Static Control</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> email@example.com </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Disabled</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" placeholder="Disabled" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Readonly</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" placeholder="Readonly" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Dropdown</label>
                    <div class="col-md-9">
                        <select class="form-control">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Multiple Select</label>
                    <div class="col-md-9">
                        <select multiple class="form-control">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Textarea</label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile" class="col-md-3 control-label">File input</label>
                    <div class="col-md-9">
                        <input type="file" id="exampleInputFile">
                        <p class="help-block"> some help text here. </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Checkboxes</label>
                    <div class="col-md-9">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox">
                                <input type="checkbox"> Checkbox 1
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox"> Checkbox 1
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" disabled> Disabled
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Outline Checkboxes</label>
                    <div class="col-md-9">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox"> Checkbox 1
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox"> Checkbox 1
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" disabled> Disabled
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Inline Checkboxes</label>
                    <div class="col-md-9">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                <input type="checkbox" id="inlineCheckbox21" value="option1"> Checkbox 1
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="inlineCheckbox22" value="option2"> Checkbox 2
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="inlineCheckbox23" value="option3" disabled> Disabled
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Radios</label>
                    <div class="col-md-9">
                        <div class="mt-radio-list">
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios22" value="option1" checked> Option 1
                                <span></span>
                            </label>
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios23" value="option2" checked> Option 2
                                <span></span>
                            </label>
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios24" value="option2" disabled> Disabled
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Outline Radios</label>
                    <div class="col-md-9">
                        <div class="mt-radio-list">
                            <label class="mt-radio mt-radio-line">
                                <input type="radio" name="optionsRadios" id="optionsRadios22" value="option1" checked> Option 1
                                <span></span>
                            </label>
                            <label class="mt-radio mt-radio-line">
                                <input type="radio" name="optionsRadios" id="optionsRadios23" value="option2" checked> Option 2
                                <span></span>
                            </label>
                            <label class="mt-radio mt-radio-line">
                                <input type="radio" name="optionsRadios" id="optionsRadios24" value="option2" disabled> Disabled
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Inline Radio</label>
                    <div class="col-md-9">
                        <div class="mt-radio-inline">
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked> Option 1
                                <span></span>
                            </label>
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios26" value="option2" checked> Option 2
                                <span></span>
                            </label>
                            <label class="mt-radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios27" value="option3" disabled> Disabled
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                        *@
                    </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" id="save" name="save" class="btn green">
                                            <i class="fa fa-floppy-o"></i>
                                            @T("Admin.Common.Save")
                                        </button>
                                        <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                            <i class="fa fa-times"></i>
                                            @T("Admin.Common.Cancel")
                                        </button>

                                    </div>
                                </div>
                            </div>

                        </div>















            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>

        <style type="text/css">
            label {
                display: inline-block !important;
                padding: 5px !important;
            }
        </style>

        <div class="tab-pane" id="tab_5_2">
            @{
                var htmlListInfo = new HtmlListInfo(HtmlTag.table, 3, null, TextLayout.Default, TemplateIsUsed.No);
                @Html.CheckBoxListFor(model => model.RoleViewModel.PostedItems.ItemIds,
           model => model.RoleViewModel.AvailableItems,
           role => role.Id,
           role => role.Rolename,
           model => model.RoleViewModel.SelectedItems,
           //MvcCheckBoxList.Model.Position.Horizontal
           htmlListInfo

           )

            }

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        
        

        @*
        $("#UserdetailModel_Staff_id").select2();
        $("#UserdetailModel_Beneficiary_id").select2();
        $("#UserdetailModel_Contractor_id").select2();
        $("#UserdetailModel_Grantbeneficiary_id").select2();
        $("#UserdetailModel_Assessor_id").select2();
            *@
        $("#Nationality_id").select2();

        $('#save').click(function (e) {

                $("#UserPasswordChangeModel_CurrentPassword").removeAttr("disabled");
                $("#UserPasswordChangeModel_NewPassword").removeAttr("disabled");
                $("#UserPasswordChangeModel_NewPasswordAgain").removeAttr("disabled");


        });

        @*
        $('#IsADUser').change(function () {
            if ($(this).is(":checked")) {
                $("#UserPasswordChangeModel_CurrentPassword").attr("disabled", "disabled");
                $("#UserPasswordChangeModel_NewPassword").attr("disabled", "disabled");
                $("#UserPasswordChangeModel_NewPasswordAgain").attr("disabled", "disabled");

                $("#UserPasswordChangeModel_CurrentPassword").val("");
                $("#UserPasswordChangeModel_NewPassword").val("");
                $("#UserPasswordChangeModel_NewPasswordAgain").val("");
            }
            else {
                $("#UserPasswordChangeModel_CurrentPassword").removeAttr("disabled");
                $("#UserPasswordChangeModel_NewPassword").removeAttr("disabled");
                $("#UserPasswordChangeModel_NewPasswordAgain").removeAttr("disabled");
            }

        });


        if ($("#IsADUser").is(':checked'))
        {
            $("#UserPasswordChangeModel_CurrentPassword").attr("disabled", "disabled");
            $("#UserPasswordChangeModel_NewPassword").attr("disabled", "disabled");
            $("#UserPasswordChangeModel_NewPasswordAgain").attr("disabled", "disabled");

            $("#UserPasswordChangeModel_CurrentPassword").val("");
            $("#UserPasswordChangeModel_NewPassword").val("");
            $("#UserPasswordChangeModel_NewPasswordAgain").val("");
        }

        $("input:radio").click(function () {
            var selected = $(this).val();

            arrangeRadio(selected);

        });
        //$("input[name=UserdetailModel_UserDetailType][value=" + @Model.UserdetailModel.UserDetailType + "]").prop('checked', true);
        arrangeRadio('@Model.UserdetailModel.UserDetailType');


        function arrangeRadio(selected)
        {

            $(".userDetail").attr('disabled', 'disabled');

            if (selected == "Staff") {
                $("#UserdetailModel_Staff_id").removeAttr('disabled');
                $("#UserdetailModel_Beneficiary_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Contractor_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Grantbeneficiary_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Assessor_id").prop('selectedIndex', 0);
            } else if (selected == "Beneficiary") {
                $("#UserdetailModel_Beneficiary_id").removeAttr('disabled');
                $("#UserdetailModel_Staff_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Contractor_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Grantbeneficiary_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Assessor_id").prop('selectedIndex', 0);
            }
            else if (selected == "Contractor") {
                $("#UserdetailModel_Contractor_id").removeAttr('disabled');
                $("#UserdetailModel_Staff_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Beneficiary_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Grantbeneficiary_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Assessor_id").prop('selectedIndex', 0);
            }
            else if (selected == "GrantBeneficiary") {
                $("#UserdetailModel_Grantbeneficiary_id").removeAttr('disabled');
                $("#UserdetailModel_Staff_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Beneficiary_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Contractor_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Assessor_id").prop('selectedIndex', 0);
            }
            else if (selected == "Assessor") {
                $("#UserdetailModel_Assessor_id").removeAttr('disabled');
                $("#UserdetailModel_Staff_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Beneficiary_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Contractor_id").prop('selectedIndex', 0);
                $("#UserdetailModel_Grantbeneficiary_id").prop('selectedIndex', 0);
            }
        }

            *@

    });

</script>


