﻿@model AssetHealth.Models.User.UserModel

@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.User.EditUserDetails").Text;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.User.EditUserDetails") - @Model.Last_name @Model.First_name
            @Html.ActionLink("(" + T("Admin.Customers.Customers.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" href="#basic">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}


@section beforeFooter{


}

@{


}