
@model AssetHealth.Models.User.UserListModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("user.list.header")
        </div>
        <div class="actions">
            <a href="~/User/Create" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("user.list.add")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatablePrintClick(this)">
                <i class="fa fa-print"></i> @T("Admin.Common.Print")
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTable">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("user.list.colum.id") </th>
                    <th> @T("user.list.colum.username") </th>
                    <th> @T("user.list.colum.email") </th>
                    <th> @T("user.list.colum.active") </th>
                    <th> @T("user.list.colum.actions") </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    @(Url.Datatables().CreateDatatable("#dataTable", "ListUsers2", "User", null, true)
    .AddColumn("Id")
    .AddColumn("Username")
    .AddColumn("Email")
    .AddCustomJavascriptColumn("", "return  full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    //.AddCustomJavascriptColumn("", "return \"<a href='Edit/\" + full.Id + \"' ><i class='ui-tooltip fa fa-pencil' style='font-size: 22px;' data-original-title='Edit'></i></a>&nbsp;&nbsp;<a data-toggle='modal' data-id='\" + full.Id + \"' href='#basic' ><i class='ui-tooltip fa fa-trash-o' style='font-size: 22px;' data-original-title='Delete'></i></a>\" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "User") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.CurrentUser.WorkingLanguage_Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .AddAttribute("'deferLoading' : 0")
    .Initialize())


}



