﻿@using AssetHealth.Models.User;
@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}


<div >
    <div >
        <h1>@T("PasswordRecovery.FormTitle")</h1>
    </div>
    <div >
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div style="color:#fdc600" >
                @Html.Raw(Model.Result)
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            using (Html.BeginForm())
            {

                @Html.HiddenFor(m => m.Email)
                @Html.HiddenFor(m => m.Token)
            <div >
                <div >
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword)
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control placeholder-no-fix" })
                       
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmNewPassword)
                        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control placeholder-no-fix" })
                       
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" name="set-password" class="btn green uppercase pull-right mt-ladda-btn ladda-button" value="@T("User.PasswordRecovery.ChangePasswordButton")" />
            </div>
            }
        }
    </div>
</div>
