﻿
@using AssetHealth.Models.User;

@model PasswordRecoveryModel

<!-- BEGIN REGISTRATION FORM -->
@using (Html.BeginForm("PasswordRecovery", "User", FormMethod.Post, new { @id = "passwordrecovery-form_id", @class = "forget-form" }))
{


    <h3 class="font-green">@T("PasswordRecovery.FormTitle")</h3>
    <p class="hint">@T("PasswordRecovery.FormHint")</p>
    <div id="passwordrecoverymessage" style="color:#fdc600" > </div>
    if (!String.IsNullOrEmpty(Model.Result))
    {
        <div id="passwordrecoverymessage" style="color:#fdc600">
            @Model.Result
        </div>
    }


            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control placeholder-no-fix" })

                @Html.ValidationMessageFor(model => model.Email)
            </div>
            

            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">@T("Admin.Common.Back")</button>
                <button type="button" id="passwordrecovery-submit-btn" class="btn btn-success uppercase pull-right mt-ladda-btn ladda-button" data-style="slide-left" data-spinner-color="#333">
                    <span class="ladda-label">@T("User.PasswordRecovery.RecoverButton")</span>
                </button>

            </div>

}
<!-- END REGISTRATION FORM -->

<script type='text/javascript'>



    $(document).ready(function () {


        Ladda.bind('button[id="passwordrecovery-submit-btn"]');
        //Ladda.bind('button');


        $('#passwordrecovery-submit-btn').click(function (e) {
            e.preventDefault();
            //alert('Deneme');
            $("#passwordrecoverymessage").html("Please Wait");


            /*
            var data = {
                "UserModel.Username": $("#UserModel_Username").val(),
                "UserModel.Email": $("#UserModel_Email").val()
            };
            */
            var form = $('#passwordrecovery-form_id');
            var data = form.serializeArray().reduce(function (m, o) { m[o.name] = o.value; return m; }, {});

            //console.log(JSON.stringify(data));
            $.ajax({
                url: '@Url.Action("PasswordRecovery", "User")',
                type: "POST",
                data: JSON.stringify(data),
                //data: data,
                dataType: "json",
                contentType: "application/json",
                success: /*function (response) {
                    console.log(response);
                    $("#registermessage").html(response.responseText);

                }*/
                function (data, textStatus, jqXHR) {
                    $("#passwordrecoverymessage").html(JSON.parse(jqXHR.responseText).responseText);

                    //window.location.href = '@Url.Action("Login", "User")'
                    Ladda.stopAll();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    $("#passwordrecoverymessage").html(JSON.parse(jqXHR.responseText).responseText);

                    Ladda.stopAll();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
            });

        });
    });

</script>

