﻿@using HRDMIS.Models.User;

@model RegisterModel

 <!-- BEGIN REGISTRATION FORM -->
@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @id = "register-form_id", @class = "register-form" }))
{
    <h3 class="font-green">@T("Signup.Header")</h3>
    <div id="registermessage" style="color:#fdc600"></div>

            <p class="hint">@T("Signup.hint") </p>

            @Html.HiddenFor(m => m.LoginType)

            <div class="form-group">
                <div class="input-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    @Html.AresLabelFor(m => m.UserModel.Email, new { @class = "control-label visible-ie8 visible-ie9" })
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    @Html.TextBoxFor(x => x.UserModel.Email, new { @class = "form-control placeholder-no-fix", @style = "width:100%;", @placeholder = Html.DisplayNameFor(m => m.UserModel.Email) })
                </div>
            </div>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.Nationality_id, new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.DropDownListFor(x => x.UserModel.Nationality_id, Model.UserModel.Nationality_id_Nationality_SelectList, T("Select").Text, new { @class = "form-control", @style = "width:100%;", @placeholder = "Nationality_Id" })
            </div>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.IdentityNumber, new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.TextBoxFor(x => x.UserModel.IdentityNumber, new { @class = "form-control placeholder-no-fix", @style = "width:100%;", @placeholder = Html.DisplayNameFor(m => m.UserModel.IdentityNumber) })
            </div>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.First_name, new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.TextBoxFor(x => x.UserModel.First_name, new { @class = "form-control placeholder-no-fix", @style = "width:100%;", @placeholder = Html.DisplayNameFor(m => m.UserModel.First_name) })
            </div>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.Last_name, new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.TextBoxFor(x => x.UserModel.Last_name, new { @class = "form-control placeholder-no-fix", @style = "width:100%;", @placeholder = Html.DisplayNameFor(m => m.UserModel.Last_name) })
            </div>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.Mobile_phone, new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.TextBoxFor(x => x.UserModel.Mobile_phone, new { @class = "form-control placeholder-no-fix", @style = "width:100%;", @placeholder = Html.DisplayNameFor(m => m.UserModel.Mobile_phone) })
            </div>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.Notes, new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.TextAreaFor(x => x.UserModel.Notes, new { @class = "form-control placeholder-no-fix", @style = "width:100%;height:150px", @placeholder = Html.DisplayNameFor(m => m.UserModel.Notes) })
            </div>

            <p class="hint">@T("Signup.Accountdetails.hint")  </p>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.Username, new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.TextBoxFor(x => x.UserModel.Username, new { @class = "form-control placeholder-no-fix", @style = "width:100%;", @autocomplete = "off", @placeholder = Html.DisplayNameFor(m => m.UserModel.Username) })
            </div>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.UserPasswordChangeModel.NewPassword, new { @class = "col-md-3 control-label visible-ie8 visible-ie9" })
                @Html.PasswordFor(x => x.UserModel.UserPasswordChangeModel.NewPassword, new { @class = "form-control placeholder-no-fix", @autocomplete = "off", @style = "width:100%;", @placeholder = Html.DisplayNameFor(m => m.UserModel.UserPasswordChangeModel.NewPassword) })

            </div>
            <div class="form-group">
                @Html.AresLabelFor(m => m.UserModel.UserPasswordChangeModel.NewPasswordAgain, new { @class = "col-md-3 control-label visible-ie8 visible-ie9" })
                @Html.PasswordFor(x => x.UserModel.UserPasswordChangeModel.NewPasswordAgain, new { @class = "form-control placeholder-no-fix", @autocomplete = "off", @style = "width:100%;", @placeholder = Html.DisplayNameFor(m => m.UserModel.UserPasswordChangeModel.NewPasswordAgain) })
            </div>
            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="tnc" /> I agree to the
                    <a href="javascript:;">Terms of Service </a> &
                    <a href="javascript:;">Privacy Policy </a>
                    <span></span>
                </label>
                <div id="register_tnc_error"> </div>
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn green btn-outline">@T("Admin.Common.Back")</button>
                <button type="button" id="register-submit-btn" class="btn btn-success uppercase pull-right mt-ladda-btn ladda-button" data-style="slide-left" data-spinner-color="#333">
                    <span class="ladda-label">@T("User.Register.Link")</span>
                </button>

            </div>

}
<!-- END REGISTRATION FORM -->

<script type='text/javascript'>



    $(document).ready(function () {

        $('#UserModel_Nationality_id').change(function () {
            var itemId = $('#UserModel_Nationality_id').val();

            if (itemId == 270)
            {
                $('#UserModel_IdentityNumber').attr("placeholder", "@(WorkContext.WorkingLanguage.Id == 1 ? "TC Kimlik Numarası" : "TC Identity Number" )");
            }
            else
            {
                $('#UserModel_IdentityNumber').attr("placeholder", "@(WorkContext.WorkingLanguage.Id == 1 ? "Pasaport Numarası" : "Passport Number" )");
            }
        });

        Ladda.bind('button[id="register-submit-btn"]');
        


        $('#register-submit-btn').click(function (e) {
            e.preventDefault();
            //alert('Deneme');
            $("#registermessage").html("Registering");


            /*
            var data = {
                "UserModel.Username": $("#UserModel_Username").val(),
                "UserModel.Email": $("#UserModel_Email").val()
            };
            */
            var form = $('#register-form_id');
            var data = form.serializeArray().reduce(function (m, o) { m[o.name] = o.value; return m; }, {});

            //console.log(JSON.stringify(data));
            $.ajax({
                url: '@Url.Action("Register", "User")',
                type: "POST",
                data: JSON.stringify(data),
                //data: data,
                dataType: "json",
                contentType: "application/json",
                success: /*function (response) {
                    console.log(response);
                    $("#registermessage").html(response.responseText);

                }*/
                function (data, textStatus, jqXHR) {
                    $("#registermessage").html(JSON.parse(jqXHR.responseText).responseText);

                    window.location.href = '@Url.Action("Login", "User")'
                    Ladda.stopAll();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    $("#registermessage").html(JSON.parse(jqXHR.responseText).responseText);

                    Ladda.stopAll();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
            });
            
        });
    });

</script>