﻿@model AssetHealth.Models.Home.DashboardModel

                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption">
                                        <i class="icon-globe font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">@T("Dashboard.Event.Log")</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_1_1" class="active" data-toggle="tab"> System </a>
                                        </li>
                                        @*
    <li>
        <a href="#tab_1_2" data-toggle="tab"> Activities </a>
    </li>
                                        *@
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <!--BEGIN TABS-->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1_1">
                                            <div class="scroller" style="height: 339px;" data-always-visible="1" data-rail-visible="0">
                                                <ul class="feeds" data-bind="foreach: Dashboard.viewModel.lookupCollection">
                                                    
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col1">
                                                                            <div class="label label-sm" data-bind="css: @Html.Raw((int) AssetHealth.Common.DTO.Enums.EnumParameterItem.PARAM_ITEM_NOTIFICATION_CRITIC) ==  Type_id ? 'label-danger' :
                                                                                                   @Html.Raw((int) AssetHealth.Common.DTO.Enums.EnumParameterItem.PARAM_ITEM_NOTIFICATION_WARNING) ==  Type_id  ? 'label-warning' : 'label-success'" >
                                                                                <i class="fa "  data-bind="css: @Html.Raw((int) AssetHealth.Common.DTO.Enums.EnumParameterItem.PARAM_ITEM_NOTIFICATION_CRITIC) ==  Type_id ? 'fa-bolt' :
                                                                                                   @Html.Raw((int) AssetHealth.Common.DTO.Enums.EnumParameterItem.PARAM_ITEM_NOTIFICATION_WARNING) ==  Type_id  ? 'fa-bullhorn' : 'fa-bullhorn'"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="cont-col2">
                                                                            <div class="desc" style="font-size:10pt" data-bind="text: Title">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col2">
                                                                    <div class="date" style="font-size:8pt" data-bind="text: Notes"> </div>
                                                                </div>
                                                            </li>
                                                       

                                                    @*
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Brian bakım kontrolü için tura başladı


                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> Just now </div>
        </div>
    </li>
    <li>
        <a href="javascript:;">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc"> New version v1.4 just lunched! </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date"> 20 mins </div>
            </div>
        </a>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-danger">
                        <i class="fa fa-bolt"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 14 için alarm durumu iletildi.Lütfen gerekli müdahelede bulununuz
                        <span class="label label-sm label-info">
                            Take action
                            <i class="fa fa-share"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 24 mins </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Tabletlerden yeni senkronizasyon kayıtları geldi inceleyebilirsiniz </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 30 mins </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Tabletlerden yeni senkronizasyon kayıtları geldi inceleyebilirsiniz </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 40 mins </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-warning">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> New user registered. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 1.5 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Web server hardware needs to be upgraded.
                        <span class="label label-sm label-default "> Overdue </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 2 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 14 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 3 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-warning">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 12 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 5 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 14 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 18 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 11 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 21 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 10 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 22 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 10 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 21 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 12 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 22 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 11 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 21 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 10 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 22 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 11 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 21 hours </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Makine 15 için uyarı durumu iletildi.Lütfen inceleyiniz. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 22 hours </div>
        </div>
    </li>
                                                    *@
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_1_2">
                                            <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible1="1">
                                                <ul class="feeds">
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New user registered </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> Just now </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New order received </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> 10 mins </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="col1">
                                                            <div class="cont">
                                                                <div class="cont-col1">
                                                                    <div class="label label-sm label-danger">
                                                                        <i class="fa fa-bolt"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="cont-col2">
                                                                    <div class="desc"> Order #24DOP4 has been rejected.
                                                                        <span class="label label-sm label-danger "> Take action
                                                                            <i class="fa fa-share"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col2">
                                                            <div class="date"> 24 mins </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New user registered </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> Just now </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New user registered </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> Just now </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New user registered </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> Just now </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New user registered </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> Just now </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New user registered </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> Just now </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New user registered </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> Just now </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            <i class="fa fa-bell-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> New user registered </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date"> Just now </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--END TABS-->
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>