﻿<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner" style="font-weight:bold;color:white;text-align:center;width:100%">
        
        
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->