﻿@model AssetHealth.Models.Home.DashboardModel

@{ 

    /*
    Eski razor hali
    */
}

                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-cursor font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">@T("Dashboard.General.Statistics")</span>
                                    </div>
                                    <div class="actions">
                                        <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload">
                                            <i class="fa fa-repeat"></i> Reload
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body" style="height:100%;min-height: 100%;">
                                    <div class="row" style="height:100%;min-height: 100%;">
                                    @for (int i = 0; i < Model.GeneralStatModel.Count; i++)
                                    {
                                        <div class="col-md-4">
                                            <div class="easy-pie-chart">
                                                <div class="number transactions" data-percent="55">
                                                    <span>@Model.GeneralStatModel[i].Value</span>%
                                                </div>
                                                <a class="title" href="javascript:;">
                                                    @Model.GeneralStatModel[i].TITLE
                                                    <i class="icon-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="margin-bottom-10 visible-sm"> </div>
                                    }
                                        @*
    <div class="col-md-4">
        <div class="easy-pie-chart">
            <div class="number transactions" data-percent="55">
                <span>+55</span>%
            </div>
            <a class="title" href="javascript:;">
                Otonom Bakım
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="margin-bottom-10 visible-sm"> </div>
    <div class="col-md-4">
        <div class="easy-pie-chart">
            <div class="number visits" data-percent="85">
                <span>+85</span>%
            </div>
            <a class="title" href="javascript:;">
                Kestirimci Bakım
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="margin-bottom-10 visible-sm"> </div>
    <div class="col-md-4">
        <div class="easy-pie-chart">
            <div class="number bounce" data-percent="46">
                <span>-46</span>%
            </div>
            <a class="title" href="javascript:;">
                Planlı Bakım (Diğer tüm kategoriler)
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
                                        *@

                                    </div>
                                </div>
                            </div>
                        </div>