﻿
<div class="modal fade" id="globalModal" tabindex="-1" role="globalModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="modalTitle">@T("admin.common.modal.delete.title")</h4>
            </div>
            <div class="modal-body" id="modalBody"> @T("admin.common.modal.delete.body") </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@T("admin.common.close")</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


    <script>


        jQuery(document).ready(function () {

            @Html.Raw(TempData["javascript"]);

            @*
            //triggered when modal is about to be shown
            $('#globalModal').on('show.bs.modal', function (e) {

                var deleteLink = $(e.relatedTarget).data('deleteurl');

                //populate the textbox
                //$(e.currentTarget).find('#lnkDelete').attr("href", "@ViewData["deleteURL"]/" + id)

                $(e.currentTarget).find('#lnkDelete').click(function (evt) {

                    evt.preventDefault();
                    showLoading();
                    window.location.href = deleteLink;

                    return false;


                });  // [End] lnkDelete.click


            }); // [End] modalDeleteConfirm.show.bs.modal
                *@

        }); // [End] jQuery.ready




    </script>
