﻿@model int

<div class="col-md-6 col-sm-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light portlet-fit portlet-datatable bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green sbold uppercase">@T("Dashboard.Grid.FormQuestion").Text</span>
            </div>
            
            <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered  table-checkable order-column" id='question_datatable@(Html.Raw(Model > 0 ? "" + Model : ""))'>
                <thead>
                    <tr>
                        <th> @T("Dashboard.Grid.FormQuestion.Location") </th>
                        <th> @T("Dashboard.Grid.FormQuestion.Equipment") </th>
                        <th> @T("Dashboard.Grid.FormQuestion.Question") </th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>

@using (Html.BeginScripts())
{
    <text>
    

    $("body").on("click", "#question_datatable tbody tr", function(e) {
        var question_datatable0 = $('#question_datatable@(Html.Raw(Model > 0 ? "" + Model : ""))').DataTable();
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            //$('#divDetail').hide();
        }
        else {
            question_datatable0.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }

        showLoading();
        setTimeout(function() {
            // do something 1000ms later here.
            $("#loading").hide();
        }, 500);

        
        var rowData = question_datatable0.row(this).data();
        //console.log(rowData["Id"] + " - " + rowData["OPTION_GROUP_ID"]);

        Dashboard.initQuestionAnswerChart("chartdiv", rowData["Id"], rowData["OPTION_GROUP_ID"], "dashboard-report-range", momentDateFormat );


    });
    </text>

}
