﻿@model AssetHealth.Models.Home.DashboardModel

<div class="col-md-6 col-sm-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light portlet-fit portlet-datatable bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green sbold uppercase">@T("Dashboard.Grid.FormQuestion.Graph").Text</span>
            </div>

            <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="chartdiv" style="width	: 100%;height: 500px;">@T("Dashboard.Grid.FormQuestion.Graph.Placeholder")</div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>