﻿

<div class="col-md-6 col-sm-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light portlet-fit portlet-datatable bordered" id="divDetail">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green sbold uppercase">Kontrol Detay Verileri</span>
            </div>
            
            <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id='questiondetail_datatable'>
                <thead>
                    <tr>
                        
                        <th> Kişi </th>
                        <th> Tarih </th>
                        <th> Değer </th>
                        <th> Medya </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>24.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>23.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>22.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>21.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>20.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>19.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>18.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>17.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>16.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>15.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>14.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                    <tr class="odd gradeX">
                        
                        <td> Brian </td>
                        <td>13.05.2018 13:32</td>
                        <td>EVET</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
