﻿@model int



    <div class="portlet-body">
        <div class="col-md-12 col-sm-12">


            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">@T("Dashboard.Grid.UnhealthySituations").Text</span>
                    </div>

                    <div class="tools" style="float:right;margin-left:15px">


                        <a href="" class="collapse"> </a>
                        @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                        *@


                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>

                        <div class="actions">
                            <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload" onclick="datatableActionClick(this, 1);">
                                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                            </a>
                            <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload" onclick="datatableActionClick(this, 3);">
                                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                            </a>
                        </div>
                    </div>
                    
                    
                <div class="portlet-body">
                    <table class="table table-striped table-bordered  table-checkable order-column" id='warning_datatable@(Html.Raw(Model > 0 ? "" + Model : ""))'>
                        <thead>
                            <tr>
                                <th> @T("Dashboard.Grid.UnhealthySituations.Id") </th>
                                <th> @T("Dashboard.Grid.UnhealthySituations.Equipment") </th>
                                <th> @T("Dashboard.Grid.UnhealthySituations.Question") </th>
                                <th> @T("Dashboard.Grid.UnhealthySituations.Period") </th>
                                <th> @T("Dashboard.Grid.UnhealthySituations.Measurement")</th>
                                <th> @T("Dashboard.Grid.UnhealthySituations.WarningType") </th>
                                <th> @T("Dashboard.Grid.UnhealthySituations.Username") </th>
                                <th> @T("Dashboard.Grid.UnhealthySituations.Date") </th>
                                <th> @T("Dashboard.Grid.UnhealthySituations.Actions") </th>
                            </tr>
                        </thead>
                        @*
                            <tbody>
                                <tr class="gradeX">

                                    <td> Kurutma tamburu </td>
                                    <td>
                                         Bandaj pabuçlarında aşınma var mı?
                                    </td>
                                    <td>
                                        Var
                                    </td>
                                    <td>
                                        Uyarı
                                    </td>
                                    <td>
                                        23.07.2018
                                    </td>
                                </tr>
                              
                                
                            </tbody>
                        *@
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

<script>

    $("body").on("click", "#warning_datatable@(Html.Raw(Model > 0 ? "" + Model : "")) tbody tr", function (e) {

        if ($(e.target).hasClass('lnkDelete') || $(e.target).hasClass('lnkEdit') || $(e.target).hasClass('fa-camera') || $(e.target).hasClass('fa-video-camera')) return;
        e.preventDefault();

        var dt = $('#warning_datatable@(Html.Raw(Model > 0 ? "" + Model : ""))').DataTable();

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            //$('#divDetail').hide();
        }
        else {
            dt.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }

        showLoading();
        setTimeout(function () {
            // do something 1000ms later here.
            $("#loading").hide();
        }, 500);

        var rowData = $('#warning_datatable@(Html.Raw(Model > 0 ? "" + Model : ""))').DataTable().row(this).data();

        showJqueryUIPopup('/Home/GraphPopupFromWarning/' + rowData[0]);




    });

</script>