﻿@using AssetHealth.Models;

@model List<BootstrapDropdownItemModel>

<!-- BEGIN PAGE ACTIONS -->
<!-- DOC: Remove "hide" class to enable the page header actions -->
<div class="page-actions">
    <div class="btn-group">
        <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="hidden-sm hidden-xs">Actions&nbsp;</span>
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu" style="width:250px">
            @foreach (BootstrapDropdownItemModel item in Model)
            {
                <li >
                    <a href="@item.link">
                        <i class="@item.icon"></i> @item.text
                        @if (item.selected)
                        {
                            <span class="badge badge-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                            
                        }
                    </a>
                </li>
            }
            
            <li class="divider"> </li>

            <li>
                <a href="javascript:;">
                    <i class="icon-docs"></i> New Post
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-tag"></i> New Comment
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-share"></i> Share
                </a>
            </li>
            <li class="divider"> </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-flag"></i> Comments
                    <span class="badge badge-success">4</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-users"></i> Feedbacks
                    <span class="badge badge-danger">2</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END PAGE ACTIONS -->