﻿@using Ext.Net;
@using Ext.Net.MVC;

@*
    @model SmartET.Models.Common.ImageUploadModel

    @{
        Layout = null;

        //var displayMiniProfiler = FrameworkCtx.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

        //resources
        Html.AppendCssFileParts("~/Scripts/dropzone/basic.css");
        Html.AppendCssFileParts("~/Scripts/dropzone/dropzone.css");


        Html.AppendCssFileParts("~/Content/londinium/icons.css");
        Html.AppendCssFileParts("~/Content/londinium/styles.css");
        Html.AppendCssFileParts("~/Content/londinium/londinium-theme.css");
        Html.AppendCssFileParts("~/Content/londinium/bootstrap.min.css");




        Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/dropzone/dropzone.js");
        Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/jquery-ui-1.11.4.min.js");
        Html.AppendScriptParts(ResourceLocation.Foot, "~/Scripts/jquery-1.10.2.min.js");

    }

    <!DOCTYPE html>

    <html>
    <head>
        <title>Upload</title>
        @Html.AresCssFiles(this.Url, ResourceLocation.Head)

        <style type="text/css">
            .dropzone{
            background: white;
            border: black dashed 3px;
            width: 175px;

            text-align: center;
            color: black;
        }
        </style>


    </head>
    <body>

        @(Html.X().ResourceManager())

            <form action="~/Common/ImageUpload" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
                <div class="dz-message" data-dz-message><span>@T("ImageUpload.DragDrop.Text")</span></div>
            </form>




                <input type="hidden" id="EntityId" name="EntityId" value="@Model.EntityId" />
                <input type="hidden" id="MimeType" name="MimeType" value="@Model.MimeType" />
                <input type="hidden" id="UploadFilename" name="UploadFilename" value="@Model.UploadFilename" />
                <input type="hidden" id="ImageUrl" name="ImageUrl" value="" />
        <br /><br />
                <input type="submit" id="btnConfirm" value="@T("ImageUpload.ConfirmButton.Text")"  />



        @Html.AresScripts(this.Url, ResourceLocation.Foot)

        <script>

                //File Upload response from the server
            Dropzone.options.dropzoneForm = {
                maxFiles: 1,
                /*
                maxfilesexceeded: function (file) {
                    console.log("maxfilesexceeded");
                    this.removeAllFiles();
                    this.addFile(file);
                },*/
                init: function () {

                        this.on("complete", function (data) {
                            //var res = eval('(' + data.xhr.responseText + ')');
                            var res = JSON.parse(data.xhr.responseText);
                            $("input:hidden[name=ImageUrl]").val(res.ImageUrl);
                            $("input:hidden[name=UploadFilename]").val(res.UploadFilename);
                            $("input:hidden[name=MimeType]").val(res.MimeType);

                        });

                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                        //this.hiddenFileInput.removeAttribute('multiple');
                    }
            };

            //dropzoneForm.on("maxfilesexceeded", function (file) { this.removeFile(file); });

            $(function () {
                $('#btnConfirm').bind("click", function () {

                    $.ajax({
                        url: "/Common/ImageUploadConfirm",
                        type: "post",
                        data: { EntityId: $('input:hidden[name=EntityId]').val(), MimeType: $('input:hidden[name=MimeType]').val(), ImageUrl: $('input:hidden[name=ImageUrl]').val(), UploadFilename: $('input:hidden[name=UploadFilename]').val() },
                        dataType: "json",
                        success: function (data) {

                            var win = parent.Ext.getCmp('winCreate');
                            win.clearContent();
                            win.load('/User/CreateOrUpdate?itemId=' + $('input:hidden[name=EntityId]').val() + "&imageUrl=" + $('input:hidden[name=ImageUrl]').val() + "&mimeType=" + $('input:hidden[name=MimeType]').val() + "&uploadFilename=" + $("input:hidden[name=UploadFilename]").val() );
                            win.show();

                            parentAutoLoadControl.close();
                        },
                        error: function (msg) {

                        },
                        timeout: 10000
                    })


                });
            });

        </script>
    </body>
    </html>

*@