﻿@model AssetHealth.Models.Common.InstitutionLayoutBoxModel
                             
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-microphone font-dark hide"></i>
                                        <span class="caption-subject bold font-dark uppercase">@T("Dashboard.Plant.LayoutPlan")</span>
                                        <span class="caption-helper">@T("Dashboard.Plant.LayoutPlan.Subtitle")</span>
                                    </div>
                                    @*
    <div class="actions">
        <div class="btn-group btn-group-devided" data-toggle="buttons">
            <label class="btn red btn-outline btn-circle btn-sm active">
                <input type="radio" name="options" class="toggle" id="option1">Settings</label>
            <label class="btn  red btn-outline btn-circle btn-sm">
                <input type="radio" name="options" class="toggle" id="option2">Tools</label>
        </div>
    </div>
                                    *@
                                    <div class="tools" style="float:right">
                                        <a href="" class="collapse"> </a>
                                        @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                                        *@
                                        <a href="" class="fullscreen"> </a>
                                        <a href="" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <style>
                                                .wrapper {
                                                    float: left;
                                                    clear: left;
                                                    display: table;
                                                    table-layout: fixed;
                                                }

                                                img.img-responsive {
                                                    display: table-cell;
                                                    max-width: 100%;
                                                }
                                            </style>
                                            <div class="wrapper col-md-12">
                                                <img class="img-responsive map" src="~/Content/images/cement_plant_layout.jpg" usemap="#map" />


                                                <map name="map">
                                                    <!-- #$-:Image map file created by GIMP Image Map plug-in -->
                                                    <!-- #$-:GIMP Image Map plug-in by Maurits Rijk -->
                                                    <!-- #$-:Please do not edit lines starting with "#$" -->
                                                    <!-- #$VERSION:2.3 -->
                                                    <!-- #$AUTHOR:02482378 -->

                                                    <!-- Baloncuğun Okunu left center'a yerleştir, baloncupun kendisini kutunun right top'ına yerleştir -->
                                                    <area shape="poly" coords="523,261,581,227,599,228,611,244,610,268,551,302,523,286" alt="PC1#center left#right top" href="03.html" />
                                                    <area shape="poly" coords="465,177,472,174,472,162,489,154,504,169,478,193,465,189" alt="02" href="02.html" />
                                                    <area shape="poly" coords="563,74,572,47,613,32,678,37,704,64,698,91,664,111,615,113,576,99" alt="01" href="01.html" />
                                                    <area shape="poly" coords="343,272,392,299,432,275,430,247,408,234,364,209,341,224" alt="04" href="04.html" />
                                                    <area shape="poly" coords="252,235,253,132,256,121,270,117,285,121,289,128,288,134,288,139,272,148,274,255" alt="05" href="05.html" />
                                                    <area shape="poly" coords="274,150,295,135,321,152,325,273,303,287,275,269" alt="06" href="06.html" />
                                                    <area shape="poly" coords="331,163,343,148,358,162,359,211,343,210,339,248,331,247" alt="PC2#center left#right top" href="07.html" />
                                                    <area shape="poly" coords="243,279,261,278,260,304,243,300" alt="08" href="08.html" />
                                                    <area shape="poly" coords="125,343,167,320,168,311,194,294,194,287,205,278,234,299,234,331,150,376,127,364" alt="09" href="09.html" />
                                                    <area shape="poly" coords="218,355,260,351,259,364,212,370" alt="10" href="10.html" />
                                                    <area shape="poly" coords="213,392,226,372,284,358,317,365,336,384,337,406,314,425,267,436,230,427,213,407" alt="11" href="11.html" />
                                                    <area shape="poly" coords="396,371,394,353,440,328,452,329,463,343,461,359,419,384" alt="12" href="12.html" />
                                                    <area shape="poly" coords="86,328,147,296,153,291,149,278,159,270,159,239,193,219,216,234,218,276,164,313,151,328,105,357,85,352" alt="13" href="13.html" />
                                                    <area shape="poly" coords="552,335,553,310,587,283,630,309,633,316,587,339,585,354" alt="14" href="14.html" />
                                                    <area shape="poly" coords="586,342,666,293,684,303,683,349,658,336,632,350,632,383,611,393,588,393,586,390" alt="15" href="15.html" />
                                                    <area shape="poly" coords="632,351,657,335,682,352,693,350,706,361,705,371,659,396,633,381" alt="16" href="16.html" />
                                                    <area shape="poly" coords="284,317,282,300,298,290,337,313,337,326,345,331,330,343" alt="17" href="17.html" />
                                                </map>


                                                <span id="overlay_text3" style="position: absolute; z-index: 5; top:30px;left:900px ;border:dashed ;border-color: #ff0000 #0000ff;padding:8px">
                                                    <span class='panel-left'>
                                                        <center><h3><b>Simülatör</b></h3></center>
                                                       @Html.DropDownListFor(model => model.FilterLocationId, Model.FilterLocations, T("Select").Text, new { @id = "cboLocation" })

                                                        <input type="button" id="btnAlarmSimulationLocation" value="Alarm Oluştur">
                                                        @* @if (loc.Id != 83)
            {
                                                            <input type="button" id="btnWarningSimulationLocation" value="Uyarı Oluştur"><br />
                                                            <input type="button" id="btnFreezeSimulationLocation" value="Freeze Oluştur">
                                                        }
                                                        *@
                                                        <input type="button" id="btnLostSignalSimulationLocation" value="Lost Signal Oluştur">

                                                        <br /><br />
                                                        <input type="button" id="btnAlarmSimulation" value="Tüm Mahaller için Alarm Oluştur">
                                                        <input type="button" id="btnAlarmSimulationStop" value="Normale Dön">
                                                    </span>
                                                </span>

                                            </div>
                                           
                                            <script>

                                                
                                            </script>
                                            @*
    <div class="mt-widget-2">
        <div class="mt-head" style="background-image: url(/Content/images/cement_plant_layout.jpg);height:501px">
            <div class="mt-head-label">
                <button type="button" class="btn btn-success">Manhattan</button>
            </div>
            <div class="mt-head-user">
                <div class="mt-head-user-img">
                    <img src="../assets/pages/img/avatars/team7.jpg"> </div>
                <div class="mt-head-user-info">
                    <span class="mt-user-name">Chris Jagers</span>
                    <span class="mt-user-time">
                        <i class="icon-emoticon-smile"></i> 3 mins ago </span>
                </div>
            </div>
        </div>
        <div class="mt-body">
            <h3 class="mt-body-title"> Thomas Clark </h3>
            <p class="mt-body-description"> It is a long established fact that a reader will be distracted </p>
            <ul class="mt-body-stats">
                <li class="font-green">
                    <i class="icon-emoticon-smile"></i> 3,7k</li>
                <li class="font-yellow">
                    <i class=" icon-social-twitter"></i> 3,7k</li>
                <li class="font-red">
                    <i class="  icon-bubbles"></i> 3,7k</li>
            </ul>
            <div class="mt-body-actions">
                <div class="btn-group btn-group btn-group-justified">
                    <a href="javascript:;" class="btn">
                        <i class="icon-bubbles"></i> Bookmark </a>
                    <a href="javascript:;" class="btn ">
                        <i class="icon-social-twitter"></i> Share </a>
                </div>
            </div>
        </div>

    </div>
                                            *@
                                        </div>
                         
                                    </div>
                                </div>
                            </div>