﻿@model AssetHealth.Models.Common.LanguageSelectorModel

@using Ares.Core.Framework;
@using Ares.Web.Helpers;

@if (Model.AvailableLanguages.Count > 1)
{
    var webHelper = FrameworkCtx.Current.Resolve<IWebHelper>();


    <li class="dropdown dropdown-language">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" src="@Url.Content(Model.CurrentLanguage.FlagImageFileName)">
            <span class="langname"> @Model.CurrentLanguage.Name  </span>
            <i class="fa fa-angle-down"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-default" role="menu">
            @foreach (var lang in Model.AvailableLanguages)
            {
                <li>
                    <a href="@webHelper.ModifyQueryString(Url.RouteUrl("ChangeLanguage", new { langid = lang.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)">
                        <img alt="@lang.Name" src="@Url.Content(lang.FlagImageFileName)"> @lang.Name

                    </a>
                </li>
                    @*
                        <li><a href="#"><img src="/Content/londinium/images/flags/spanish.png" alt=""> Spanish</a></li>
                        <li><a href="#"><img src="/Content/londinium/images/flags/german.png" alt=""> German</a></li>
                        <li><a href="#"><img src="/Content/londinium/images/flags/hungarian.png" alt=""> Hungarian</a></li>
                    *@
            }
            @*
                <li>
                    <a href="#">
                        <i class="icon-bell"></i> Action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i> Another action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i> Something else here
                    </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i> Separated link
                    </a>
                </li>
            *@
        </ul>
    </li>


}

