﻿
<div class="modal fade" id="modalDeleteConfirm" tabindex="-1" role="modalDeleteConfirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@T("admin.common.modal.delete.title")</h4>
            </div>
            <div class="modal-body"> 
                @T("admin.common.modal.delete.body")  
                <div id="deleteAdditionalInfo">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@T("admin.common.close")</button>
                @*<a href="#" id="lnkDelete" class="btn red"><i class="fa fa-trash-o"></i>&nbsp;@T("admin.common.delete")</a> *@
                <button id="lnkDelete" class="btn red"><i class="fa fa-trash-o"></i>&nbsp;@T("admin.common.delete")</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>


    jQuery(document).ready(function () {

        //triggered when modal is about to be shown
        $('#modalDeleteConfirm').on('show.bs.modal', function (e) {

            var deleteLink = $(e.relatedTarget).data('deleteurl');

            //populate the textbox
            //$(e.currentTarget).find('#lnkDelete').attr("href", "@ViewData["deleteURL"]/" + id)

            $(e.currentTarget).find('#lnkDelete').click(function (evt) {

                evt.preventDefault();
                showLoading();
                window.location.href = deleteLink;

                return false;


            });  // [End] lnkDelete.click


        }); // [End] modalDeleteConfirm.show.bs.modal

    }); // [End] jQuery.ready




</script>
