﻿@using AssetHealth.Models.Configuration
@model List<MenuModel>

@{ 

}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse" id="menuDiv">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            @*
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    <li class="sidebar-search-wrapper">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
        <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
        <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
            <a href="javascript:;" class="remove">
                <i class="icon-close"></i>
            </a>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
            *@
            @{ List<int> addedMenus = new List<int>();}

            @helper BuildMenu(IEnumerable<MenuModel> data,  List<int> addedMenus, int? parentId = 1)
            {
                //var items = data.Where(d => (d.Parent != null && d.Parent.Id == parentId));
                var items = data.ToList();

                if (items.Any())
                {

                    if (parentId != 1)
                    {
                        @:<ul class="sub-menu">
                    }
                    foreach (var item in items)
                    {

                        if (item.Menuname.ToLowerInvariant().Contains("heading"))
                        {
                                                @:<li class="heading">
                                                   @:<h3 class="uppercase">@T(item.Title)</h3>
                                                @:</li>
                        }
                        else
                        {
                            if (addedMenus.Contains(item.Id) || (parentId == 1 && item.Parent_Id != 1)) { continue; } else { addedMenus.Add(item.Id); }
                                            <li class="nav-item start open">
                                                @*nav-item start active open*@
                                                <a href="@(!string.IsNullOrEmpty(item.Actionname) ? Url.Action(item.Actionname, item.Controller) : "#")" class="nav-link nav-toggle">
                                                    @Html.Raw(item.Imageurl)
                                                    <span class="title" style="color:black">@T(item.Title)</span>
                                                    <span class="selected"></span>
                                                    @if (items.Any(i => i.Parent_Id == item.Id))
                                                    {
                                                        <span class="arrow open"></span>
                                                    }
                                                </a>
                                                @*BuildMenu(data, item.Id)*@
                                                @BuildMenu(items.Where(i => i.Parent_Id == item.Id), addedMenus, item.Id)
                                            </li>
                        }
                    }
                    if (parentId != 1)
                    {
                                @:</ul>
                    }
                } // end foreach

            }
            

            @BuildMenu(Model, addedMenus) 

            @*
    @foreach (MenuModel item in Model)
    {
        <li class="nav-item start active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">@item.Title</span>
                <span class="selected"></span>
                <span class="arrow open"></span>
            </a>
            @foreach (MenuModel subMenu in item.SubMenus ?? new List<MenuModel>() )
            {
            <ul class="sub-menu">
                <li class="nav-item start active open">
                    <a href="index.html" class="nav-link ">
                        <i class="icon-bar-chart"></i>
                        <span class="title">@subMenu.Title</span>
                        <span class="selected"></span>
                    </a>
                </li>

            </ul>
            }
        </li>
    }

            *@
 
  



       
            <li class="heading">
                <h3 class="uppercase">Pages</h3>
            </li>
            @*
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-folder"></i>
            <span class="title">Multi Level Menu</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-settings"></i> Item 1
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="javascript:;" target="_blank" class="nav-link">
                            <i class="icon-user"></i> Arrow Toggle
                            <span class="arrow nav-toggle"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon-power"></i> Sample Link 1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon-paper-plane"></i> Sample Link 1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon-star"></i> Sample Link 1
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-camera"></i> Sample Link 1
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-link"></i> Sample Link 2
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-pointer"></i> Sample Link 3
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" target="_blank" class="nav-link">
                    <i class="icon-globe"></i> Arrow Toggle
                    <span class="arrow nav-toggle"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-tag"></i> Sample Link 1
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-pencil"></i> Sample Link 1
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-graph"></i> Sample Link 1
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="icon-bar-chart"></i> Item 3
                </a>
            </li>
        </ul>
    </li>
            *@

        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
