﻿@using System.Drawing;
@model AssetHealth.Models.Common.StatBoxModel
@{ 

}

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 bordered">
        <div class="display">
            <div class="number">
                <h3 class="font-@Model.CssColorName">
                    <span data-counter="counterup" data-value="@Model.StatValue">0</span>
                    <small class="font-@Model.CssColorName">@Model.StatSmallTitle</small>
                </h3>
                <small>@Model.StatTitle</small>
            </div>
            <div class="icon">
                <i class="@Model.CssIcon"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: @Model.Percentage%;" class="progress-bar progress-bar-success @Model.CssColorName">
                    <span class="sr-only">@Model.Percentage % @Model.ProgressTitle</span>
                </span>
            </div>
            <div class="status">
                
                <div class="status-title"> @Model.ProgressTitle </div>
                <div class="status-number"> @Model.Percentage % </div>
            </div>
        </div>
    </div>
</div>