﻿@using AssetHealth.Models.Common;
@model UploadExcelModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    ViewBag.Title = "Index";
}

<div class="portlet light bordered" id="form_wizard_1">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-red"></i>
            <span class="caption-subject font-red bold uppercase">
                Import Questions - Step
                <span class="step-title"> 1 / 3 </span>
            </span>
        </div>
        @*
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-cloud-upload"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-wrench"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-trash"></i>
                </a>
            </div>
        *@
    </div>
    <div class="portlet-body form">
        <div class="form-wizard">
            <div class="form-body">
                <ul class="nav nav-pills nav-justified steps">
                    <li>
                        <a href="#tab_1" data-toggle="tab" class="step">
                            <span class="number"> 1 </span>
                            <span class="desc">
                                <i class="fa fa-check"></i> Upload Excel
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_2" data-toggle="tab" class="step">
                            <span class="number"> 2 </span>
                            <span class="desc">
                                <i class="fa fa-check"></i> Validation
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_3" data-toggle="tab" class="step">
                            <span class="number"> 3 </span>
                            <span class="desc">
                                <i class="fa fa-check"></i> Apply Changes
                            </span>
                        </a>
                    </li>
                </ul>
                <div id="bar" class="progress progress-striped" role="progressbar">
                    <div class="progress-bar progress-bar-success"> </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <h4>Add Questions via Excel</h4>
                        <hr />
                        @using (Html.BeginForm("UploadExcel", "Common", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
                        {
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">Download Format:</div>
                                    <div class="col-md-10">
                                        <a href="/User/DownloadExcel/"><img src="~/excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
                                    </div>
                                </div>


                                <div class="form-group">

                                    <div class="control-label col-md-2">Excel:</div>
                                    <div class="col-md-10">
                                        <input type="text" id="txtSheetName" name="txtSheetName" value="@Model.SheetName" class="" />
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="control-label col-md-2">Excel:</div>
                                    <div class="col-md-10">
                                        <input type="file" id="FileUpload" name="FileUpload" class="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="tab-pane active" id="tab_2">
                    </div>
                    <div class="tab-pane active" id="tab_3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section jQueryOnReadyScripts {





    setTimeout(function(){
    //$('a[href="#tab_Grantappform_@Model.SelectedTab"]').tab('show');
    $('a[href="#tab_@Model.SelectedTab"]').trigger('click');
    @if (!ViewData.ModelState.Any(x => x.Value.Errors.Any()) /*&& Model.GrantappformModel.Id > 0*/)
    {
        <text>$('#form_wizard_1').bootstrapWizard('next');console.log('geldim');</text>
    }

    }, 500);

}

@{

    Html.AddScriptParts(ResourceLocation.Foot, "~/Content/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js");
    
    

}