﻿@using AssetHealth.Models.Home;

@model DashboardModel

<div class="portlet-body">
    <div class="col-md-12 col-sm-12">


        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">@T("Dashboard.User.Activities").Text</span>
                    <span class="caption-helper">@T("Dashboard.User.Activities.Subtitle")...</span>
                </div>

                <div class="tools" style="float:right;margin-left:15px">


                    <a href="" class="collapse"> </a>
                    @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                    *@


                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>

                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload" onclick="datatableActionClick(this, 1);">
                        <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                    </a>
                    <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload" onclick="datatableActionClick(this, 3);">
                        <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                    </a>
                </div>
            </div>


            <div class="portlet-body">
                <table class="table table-striped table-bordered order-column" id='userstats_datatable'>
                    <thead>
                        <tr>
                            
                            <th width="30%"> @T("AssetHealthPerformanceModel.ROLENAME_TITLE") </th>
                            <th width="20%"> @T("AssetHealthPerformanceModel.PERIOD_TITLE") </th>
                            <th> @T("AssetHealthPerformanceModel.NUMBER_OF_QUESTIONS") </th>
                            <th> @T("AssetHealthPerformanceModel.REQUIRED_ANSWER")</th>
                            <th> @T("AssetHealthPerformanceModel.TOTAL_ANSWERED") </th>
                            <th> @T("AssetHealthPerformanceModel.FILES_COUNT") </th>
                            <th> @T("AssetHealthPerformanceModel.PERFORMANCE") </th>

                        </tr>
                    </thead>
                    @*
                        <tbody>
                            <tr class="gradeX">

                                <td> Kurutma tamburu </td>
                                <td>
                                     Bandaj pabuçlarında aşınma var mı?
                                </td>
                                <td>
                                    Var
                                </td>
                                <td>
                                    Uyarı
                                </td>
                                <td>
                                    23.07.2018
                                </td>
                            </tr>


                        </tbody>
                    *@
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>                        

<style>
    /*
    .odd {
        text-align : left;
    }
    .even {
        text-align : left;
    }
        */
</style>



<script>

    jQuery(document).ready(function () {

        var table = $('#userstats_datatable');
        table.DataTable().destroy();

        var dtOptions = {

            "autoWidth": false,
            data: @Html.Raw(Model.Activities),
            "initComplete": function (settings, json) {
                //$.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
                //this.columns.adjust();
                //$(window).trigger('resize');

            },
            "buttons": DataTablePrintButtonAttribute,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
            "pagingType": "bootstrap_extended",

            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,
            "ScrollX": "100%",
                        
            /*
            "columnDefs": [{  // set default column settings
                'orderable': false,
                'targets': [0],
                "width": "40%"
            }, {
                "searchable": false,
                "targets": [0]
            }],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
            */
        };

        table.DataTable(dtOptions);

        var nodes = table.DataTable().columns().every( function (idx) {
            var data = this.data();
            // ... do something with data(), or this.nodes(), etc
            if(idx < 2)
                $(this.nodes()).css('text-align','left');
            else
                $(this.nodes()).css('text-align','right');
        } );
        

        //$('#userstats_datatable').resize();

        //reCreateDataTable('#userstats_datatable', dtOptions);




    });



</script>