﻿@model AssetHealth.Models.Home.DashboardModel
@{
    /*
    Eski razor hali
    */
}
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">@T("Dashboard.User.Activities")</span>
                                        <span class="caption-helper">@T("Dashboard.User.Activities.Subtitle")...</span>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <label class="btn btn-transparent blue-oleo btn-no-border btn-outline btn-circle btn-sm active">
                                                <input type="radio" name="options" class="toggle" id="option1">Today
                                            </label>
                                            <label class="btn btn-transparent blue-oleo btn-no-border btn-outline btn-circle btn-sm">
                                                <input type="radio" name="options" class="toggle" id="option2">Week
                                            </label>
                                            <label class="btn btn-transparent blue-oleo btn-no-border btn-outline btn-circle btn-sm">
                                                <input type="radio" name="options" class="toggle" id="option2">Month
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row number-stats margin-bottom-30">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="stat-left">
                                                <div class="stat-chart">
                                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                                    <div id="sparkline_bar"></div>
                                                </div>
                                                <div class="stat-number">
                                                    <div class="title"> Çözümlenmemiş Anormallik </div>
                                                    <div class="number"> 2460 </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="stat-right">
                                                <div class="stat-chart">
                                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                                    <div id="sparkline_bar2"></div>
                                                </div>
                                                <div class="stat-number">
                                                    <div class="title"> Gerçekleştirilen Kontrol Adedi </div>
                                                    <div class="number"> 719 </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th colspan="2"> PERSONEL </th>
                                                    <th> GÖREV ADETİ </th>
                                                    <th> GERÇEKLEŞTİRİLEN </th>
                                                    <th> ORAN </th>
                                                </tr>
                                            </thead>
                                            @for (int i = 0; i < Model.UserActivityModel.Count; i++)
                                            {
                                                <tr>
                                                    <td class="fit">
                                                        <img class="user-pic rounded" src="~/Content/assets/pages/media/users/avatar4.jpg">
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" class="primary-link lnkUserStatsDetail">@Model.UserActivityModel[i].ROLENAME_TITLE</a>
                                                    </td>
                                                    <td>  @Model.UserActivityModel[i].REQUIRED_ANSWER </td>
                                                    <td> @Model.UserActivityModel[i].TOTAL_ANSWERED </td>
                                                    <td>
                                                        <span class="bold theme-font">@Model.UserActivityModel[i].PERFORMANCE %</span>
                                                    </td>
                                                </tr>
                                            }

                                            @*
    <tr>
        <td class="fit">
            <img class="user-pic rounded" src="~/Content/assets/pages/media/users/avatar4.jpg">
        </td>
        <td>
            <a href="javascript:;" class="primary-link">Brain</a>
        </td>
        <td> 345 </td>
        <td> 45 </td>
        <td> 124 </td>
        <td>
            <span class="bold theme-font">80%</span>
        </td>
    </tr>
    <tr>
        <td class="fit">
            <img class="user-pic rounded" src="~/Content/assets/pages/media/users/avatar5.jpg">
        </td>
        <td>
            <a href="javascript:;" class="primary-link">Nick</a>
        </td>
        <td> 560 </td>
        <td> 12 </td>
        <td> 24 </td>
        <td>
            <span class="bold theme-font">67%</span>
        </td>
    </tr>
    <tr>
        <td class="fit">
            <img class="user-pic rounded" src="~/Content/assets/pages/media/users/avatar6.jpg">
        </td>
        <td>
            <a href="javascript:;" class="primary-link">Tim</a>
        </td>
        <td> 1345 </td>
        <td> 450 </td>
        <td> 46 </td>
        <td>
            <span class="bold theme-font">98%</span>
        </td>
    </tr>
    <tr>
        <td class="fit">
            <img class="user-pic rounded" src="~/Content/assets/pages/media/users/avatar7.jpg">
        </td>
        <td>
            <a href="javascript:;" class="primary-link">Tom</a>
        </td>
        <td> 645 </td>
        <td> 50 </td>
        <td> 89 </td>
        <td>
            <span class="bold theme-font">58%</span>
        </td>
    </tr>
                                            *@
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

@using (Html.BeginScripts())
{
    <text>

                $('.lnkUserStatsDetail').click(function () {

                    var startDate = $("#dashboard-report-range").data('daterangepicker').startDate.format(momentDateFormat);
                    var endDate = $("#dashboard-report-range").data('daterangepicker').endDate.format(momentDateFormat);
                    var locId = $("#Filter_Location_Id").val();

                    showJqueryUIPopup('/Home/UserStatisticsPopup/?StartDate=' + startDate + '&EndDate=' + endDate + '&Filter_Location_Id=' + locId);

                });



/*


    $.ajax({
        url: '/Home/UserStatisticsPopup',
        type: "GET",
        dataType: "JSON",
        data: {
            StartDate: startDate,
            EndDate: endDate
        },

        success: function (result) {


            $.each(result, function (i, data) {

                chartData.push(
               {

                   date: data.Date,
                   value: data.Value,
                   label: data.Label
                   // start: moment(data.start).format('YYYY-MM-DD'),
               });

            });


        }
    });
*/
    
    </text>
}