﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Form_notes;
@model FormNoteModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_FormNote_1" data-toggle="tab"> @T("Admin.FormNote.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_FormNote_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("FormNote.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Device_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Device_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faDevice_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Device_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Device_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Device_id, Model.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Device_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Device_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Device_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Form_answer_round_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Form_answer_round_id, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faForm_answer_round_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Form_answer_round_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Form_answer_round_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Form_answer_round_id, Model.Form_answer_round_id_FormAnswerRound_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Form_answer_round_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Form_answer_round_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Form_answer_round_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Username) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Username, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faUsername"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Username) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Username))"></i>
                                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = T("FormNoteModel.Username.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Username.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Read_no) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Read_no, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faRead_no"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Read_no) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Read_no))"></i>
                                        @Html.TextBoxFor(x => x.Read_no, new { @class = "form-control", @placeholder = T("FormNoteModel.Read_no.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Read_no, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Read_no.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Warning_type, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faWarning_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Warning_type))"></i>
                                        
                                @Html.DropDownListFor(x => x.Warning_type, Model.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Warning_type" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Warning_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Warning_type.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Title) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Title, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faTitle"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Title) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Title))"></i>
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormNoteModel.Title.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Title.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormNoteModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Notes) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Notes, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faNotes"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Notes) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Notes))"></i>
                                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @placeholder = T("FormNoteModel.Notes.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Notes, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Notes.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Actual_read_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Actual_read_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faActual_read_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Actual_read_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Actual_read_datetime))"></i>
                                        @Html.EditorFor(x => x.Actual_read_datetime, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Actual_read_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("FormNoteModel.Actual_read_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





