﻿


@using AssetHealth.Models.Form_notes;

@model FormNoteModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("FormNote.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "FormNote")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("FormNote.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableFormNote', window.dataTableFormNoteOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Device_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Device_id, Model.Device_id_Device_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormNoteModel.Device_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Form_answer_round_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Form_answer_round_id, Model.Form_answer_round_id_FormAnswerRound_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormNoteModel.Form_answer_round_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Username, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = T("FormNoteModel.Username.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Read_no, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Read_no, new { @class = "form-control", @placeholder = T("FormNoteModel.Read_no.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Warning_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Warning_type, Model.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("FormNoteModel.Warning_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Title, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = T("FormNoteModel.Title.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("FormNoteModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Notes, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Notes, new { @class = "form-control", @placeholder = T("FormNoteModel.Notes.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Actual_read_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Actual_read_datetime, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterFormNote" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetFormNote" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableFormNote" style="width:100%">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("FormNote.list.column.Id") </th>
            
                    <th> @T("FormNote.list.column.Device_id") </th>
                    <th> @T("FormNote.list.column.Form_answer_round_id") </th>
                    <th> @T("FormNote.list.column.Username") </th>
                    <th> @T("FormNote.list.column.Read_no") </th>
                    <th> @T("FormNote.list.column.Warning_type") </th>
                    <th> @T("FormNote.list.column.Title") </th>
                    <th> @T("FormNote.list.column.Description") </th>
                    <th> @T("FormNote.list.column.Notes") </th>
                    <th> @T("FormNote.list.column.Actual_read_datetime") </th>
            
                    
                    <th> @T("FormNote.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

@section jQueryOnReadyScripts {



    
    @(Url.Datatables().CreateDatatable("#dataTableFormNote", "ListFormNoteDatatable", "FormNote", null, true, null, "dataTableFormNote").AddColumn("Id")
                                        .AddColumn("Device_id_Text")
                                        .AddColumn("Form_answer_round_id_Text")
                                        .AddColumn("Username")
                                        .AddColumn("Read_no")
                                        .AddColumn("Warning_type_Text")
                                        .AddColumn("Title")
                                        .AddColumn("Description")
                                        .AddColumn("Notes")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Actual_read_datetime)")
                                        
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "FormNote") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableFormNoteOptions = dataTableFormNoteOptions;

                 $('#btnFilterFormNote').click(function () {
                        dataTableFormNote.column('Device_id_Text:name').search($('#Device_id').val().trim());
                        dataTableFormNote.column('Form_answer_round_id_Text:name').search($('#Form_answer_round_id').val().trim());
                        dataTableFormNote.column('Username:name').search($('#Username').val().trim());
                        dataTableFormNote.column('Read_no:name').search($('#Read_no').val().trim());
                        dataTableFormNote.column('Warning_type_Text:name').search($('#Warning_type').val().trim());
                        dataTableFormNote.column('Title:name').search($('#Title').val().trim());
                        dataTableFormNote.column('Description:name').search($('#Description').val().trim());

                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableFormNote.draw();
            });
            
            
                $('#btnResetFormNote').click(function () {

                    resetDatatableSearch('dataTableFormNote');

                });


        
 }

