﻿@model int

<div class="col-md-6 col-sm-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light portlet-fit portlet-datatable bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green sbold uppercase">Güncel Anormallikler</span>
            </div>
            
            <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered  table-checkable order-column" id='question_datatable@(Html.Raw(Model > 0 ? "" + Model : ""))'>
                <thead>
                    <tr>
                        
                        <th> Ekipman </th>
                        <th> Soru </th>
                        <th> Durum / Ölçüm </th>
                        <th> Anormallik Tipi </th>
                        <th> Tarih </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                             Bandaj pabuçlarında aşınma var mı?
                        </td>
                        <td>
                            Var
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Bandaj pabuçlarında kaynak çatlağı var mı?

                        </td>
                        <td>
                            Var
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Bandaj ringinde çatlama kırılma var mı?

                        </td>
                        <td>
                            Var
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Ringde yüzey deformasyonu var mı?

                        </td>
                        <td>
                            Var
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Destek tekeri grafit yağlayıcı yağlıyor mu?

                        </td>
                        <td>
                           Hayır
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Redüktör kasnağı kasnak mastarı ile kontrol edildi mi?

                        </td>
                        <td>
                           Hayır
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Kayışlarda çatlama,aşınma, kopma  ve uzama var mı?

                        </td>
                        <td>
                           Var
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Kayış muhafazasında korozyon ve deforme var mı?

                        </td>
                        <td>
                            3-Aylık
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Klavuz teker dönüyor mu?

                        </td>
                        <td>
                            3-Aylık
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class="gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Savurucu raflarda aşınma /korozyon var mı?

                        </td>
                        <td>
                            3-Aylık
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class=" gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Çıkış -Döner  ızgara Korozyon / Aşınma var mı?

                        </td>
                        <td>
                            3-Aylık
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                    <tr class=" gradeX">
                        
                        <td> Kurutma tamburu </td>
                        <td>
                            Giriş salyangozu aşınma /korozyon var mı?

                        </td>
                        <td>
                            6-Aylık
                        </td>
                        <td>
                            Uyarı
                        </td>
                        <td>
                            23.07.2018
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
