﻿@using System.Drawing;
@using AssetHealth.Models.Common;

@model List<StatBoxModel>
@{ 

}

<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    @foreach (StatBoxModel model in Model)
    {
        @Html.Action("StatBox", "Common", model)
    }
</div>
<!-- BEGIN EXAMPLE TABLE PORTLET-->