﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Eq_location;
@model EqLocationModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_EqLocation_1" data-toggle="tab"> @T("Admin.EqLocation.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_EqLocation_2" data-toggle="tab"> @T("Admin.Equipment.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_EqLocation_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("EqLocation.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Location_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Location_name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faLocation_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Location_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Location_name))"></i>
                                        @Html.TextAreaFor(x => x.Location_name, new { @class = "form-control", @placeholder = T("EqLocationModel.Location_name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Location_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqLocationModel.Location_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.UserList) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.UserList, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faUserList" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.UserList) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.UserList))"></i>
                                        @Html.ListBoxFor(x => x.UserList, Model.Users_SelectList, new { @class = "form-control", multiple = "multiple" })


                                    </div>
                                    @Html.ValidationMessageFor(m => m.UserList, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("EqLocationModel.UserList.Hint")</span>
                                </div>

                            </div>
                        </div>


                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Cid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Cid, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faCid"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Cid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Cid))"></i>
                                        @Html.TextBoxFor(x => x.Cid, new { @class = "form-control", @placeholder = T("EqLocationModel.Cid.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Cid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqLocationModel.Cid.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("EqLocationModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqLocationModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_order"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("EqLocationModel.Display_order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqLocationModel.Display_order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Schema_path) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Schema_path, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faSchema_path"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Schema_path) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Schema_path))"></i>
                                        @Html.TextAreaFor(x => x.Schema_path, new { @class = "form-control", @placeholder = T("EqLocationModel.Schema_path.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Schema_path, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqLocationModel.Schema_path.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Latitude) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Latitude, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLatitude"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Latitude) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Latitude))"></i>
                                        @Html.TextBoxFor(x => x.Latitude, new { @class = "form-control", @placeholder = T("EqLocationModel.Latitude.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Latitude, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqLocationModel.Latitude.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Longitude) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Longitude, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLongitude"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Longitude) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Longitude))"></i>
                                        @Html.TextBoxFor(x => x.Longitude, new { @class = "form-control", @placeholder = T("EqLocationModel.Longitude.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Longitude, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqLocationModel.Longitude.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Parent_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Parent_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faParent_id" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Parent_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Parent_id))"></i>
                                        @Html.DropDownListFor(x => x.Parent_id, Model.Parent_id_EqLocation_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EquipmentModel.Parent_id.Placeholder"), data_val = false })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Parent_id, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline"> @T("EqLocationModel.Parent_id.Hint")</span>
                                </div>

                            </div>
                        </div>

           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_EqLocation_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("Equipment.list.header")
                    </div>
                    <div class="actions" style="float:left">
                        <a href="@Url.Action("CreateEquipment", "EqLocation")?EqLocationModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("Equipment.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableEquipment', window.dataTableEquipmentOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EquipmentModel.Equipment_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_EquipmentModel.Equipment_type, Model.Filter_EquipmentModel.Equipment_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EquipmentModel.Filter_EquipmentModel.Equipment_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EquipmentModel.Ip_address, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EquipmentModel.Ip_address, new { @class = "form-control", @placeholder = T("EquipmentModel.Filter_EquipmentModel.Ip_address.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EquipmentModel.Name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EquipmentModel.Name, new { @class = "form-control", @placeholder = T("EquipmentModel.Filter_EquipmentModel.Name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EquipmentModel.Number_of_channels, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EquipmentModel.Number_of_channels, new { @class = "form-control", @placeholder = T("EquipmentModel.Filter_EquipmentModel.Number_of_channels.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EquipmentModel.Cid, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EquipmentModel.Cid, new { @class = "form-control", @placeholder = T("EquipmentModel.Filter_EquipmentModel.Cid.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EquipmentModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EquipmentModel.Description, new { @class = "form-control", @placeholder = T("EquipmentModel.Filter_EquipmentModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EquipmentModel.Read_order, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EquipmentModel.Read_order, new { @class = "form-control", @placeholder = T("EquipmentModel.Filter_EquipmentModel.Read_order.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EquipmentModel.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Filter_EquipmentModel.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>

                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterEquipment" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetEquipment" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableEquipment">
                        <thead>
                            <tr>
                                                                @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>
        <th> @T("Equipment.list.column.Description") </th>
                                                                *@
                                <th> @T("Equipment.list.column.Id") </th>
                        
                                <th> @T("Equipment.list.column.Equipment_type_Text") </th>
                                <th> @T("Equipment.list.column.Ip_address") </th>
                                <th> @T("Equipment.list.column.Name") </th>
                                <th> @T("Equipment.list.column.Number_of_channels") </th>
                                <th> @T("Equipment.list.column.Cid") </th>
                                
                                <th> @T("Equipment.list.column.Read_order") </th>
                                <th> @T("Equipment.list.column.Active") </th>
                        
                                
                                <th> @T("Equipment.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>






