﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Eq_channel;
@model EqChannelModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_EqChannel_1" data-toggle="tab"> @T("Admin.EqChannel.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_EqChannel_2" data-toggle="tab"> @T("Admin.EqThreshold.TabTitle") </a>
        </li>
        <li>
            <a href="#tab_EqChannel_3" data-toggle="tab"> @T("Admin.EqWarning.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_EqChannel_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("EqChannel.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
@Html.HiddenFor(m => m.Equipment_id)

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Sensor_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Sensor_type, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faSensor_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Sensor_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Sensor_type))"></i>
                                        
                                @Html.DropDownListFor(x => x.Sensor_type, Model.Sensor_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Sensor_type" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Sensor_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqChannelModel.Sensor_type.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faName"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Name))"></i>
                                        @Html.TextAreaFor(x => x.Name, new { @class = "form-control", @placeholder = T("EqChannelModel.Name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqChannelModel.Name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Channel_number) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Channel_number, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faChannel_number"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Channel_number) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Channel_number))"></i>
                                        @Html.TextBoxFor(x => x.Channel_number, new { @class = "form-control", @placeholder = T("EqChannelModel.Channel_number.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Channel_number, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqChannelModel.Channel_number.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqChannelModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Cid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Cid, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faCid"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Cid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Cid))"></i>
                                        @Html.TextAreaFor(x => x.Cid, new { @class = "form-control", @placeholder = T("EqChannelModel.Cid.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Cid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqChannelModel.Cid.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("EqChannelModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqChannelModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_EqChannel_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("EqThreshold.list.header")
                    </div>
                    <div class="actions" style="float:left">
                    
                        <a href="@Url.Action("CreateEqThreshold", "Equipment")?EqChannelModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("EqThreshold.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableEqThreshold', window.dataTableEqThresholdOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                     
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqThresholdModel.Name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EqThresholdModel.Name, new { @class = "form-control", @placeholder = T("EqThresholdModel.Filter_EqThresholdModel.Name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqThresholdModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EqThresholdModel.Description, new { @class = "form-control", @placeholder = T("EqThresholdModel.Filter_EqThresholdModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqThresholdModel.Lower_limit, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqThresholdModel.Upper_limit, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqThresholdModel.Warning_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_EqThresholdModel.Warning_type, Model.Filter_EqThresholdModel.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqThresholdModel.Filter_EqThresholdModel.Warning_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqThresholdModel.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Filter_EqThresholdModel.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterEqThreshold" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetEqThreshold" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableEqThreshold">
                        <thead>
                            <tr>
                                   
                                
                                <th> @T("EqThreshold.list.column.Id") </th>
                        
                                <th> @T("EqThreshold.list.column.Name") </th>
                                <th> @T("EqThreshold.list.column.Description") </th>
                                <th> @T("EqThreshold.list.column.Lower_limit") </th>
                                <th> @T("EqThreshold.list.column.Upper_limit") </th>
                                <th> @T("EqThreshold.list.column.Warning_type_Text") </th>
                                <th> @T("EqThreshold.list.column.Active") </th>
                        
                                
                                <th> @T("EqThreshold.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="tab_EqChannel_3">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("EqWarning.list.header")
                    </div>
                    <div class="actions" style="float:left">
                    
                        <a href="@Url.Action("CreateEqWarning", "Equipment")?EqChannelModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("EqWarning.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableEqWarning', window.dataTableEqWarningOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                     
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Read_no, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EqWarningModel.Read_no, new { @class = "form-control", @placeholder = T("EqWarningModel.Filter_EqWarningModel.Read_no.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Equipment_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_EqWarningModel.Equipment_id, Model.Filter_EqWarningModel.Equipment_id_Equipment_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqWarningModel.Filter_EqWarningModel.Equipment_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Io_real_value, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Io_input_value, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Lower_limit, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Upper_limit, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Warning_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Filter_EqWarningModel.Warning_type, Model.Filter_EqWarningModel.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqWarningModel.Filter_EqWarningModel.Warning_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Filter_EqWarningModel.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EqWarningModel.Description, new { @class = "form-control", @placeholder = T("EqWarningModel.Filter_EqWarningModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_EqWarningModel.Last_stop_datetime, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_EqWarningModel.Last_stop_datetime, new { @class = "form-control", @placeholder = T("EqWarningModel.Filter_EqWarningModel.Last_stop_datetime.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterEqWarning" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetEqWarning" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableEqWarning">
                        <thead>
                            <tr>
                                   
                                
                                <th> @T("EqWarning.list.column.Id") </th>
                        
                                <th> @T("EqWarning.list.column.Read_no") </th>
                                <th> @T("EqWarning.list.column.Equipment_id_Text") </th>
                                <th> @T("EqWarning.list.column.Io_real_value") </th>
                                <th> @T("EqWarning.list.column.Io_input_value") </th>
                                <th> @T("EqWarning.list.column.Lower_limit") </th>
                                <th> @T("EqWarning.list.column.Upper_limit") </th>
                                <th> @T("EqWarning.list.column.Warning_type_Text") </th>
                                <th> @T("EqWarning.list.column.Active") </th>
                                <th> @T("EqWarning.list.column.Description") </th>
                                <th> @T("EqWarning.list.column.Last_stop_datetime") </th>
                        
                                
                                <th> @T("EqWarning.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>






