﻿@using AssetHealth.Models.Eq_threshold;
@model EqThresholdModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.EqThreshold.EditEqThresholdDetails").Text;
}
@using (Html.BeginForm("EditEqThreshold", "EqLocation", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.EqThreshold.EditEqThresholdDetails") - @Model.Object_id
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditEqChannel/" + Request.QueryString["EqChannelModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteEqThreshold", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateEqThreshold", Model)
}

 
 @section jQueryOnReadyScripts {
 
        
 
       setTimeout(function(){
        $('a[href="#tab_EqThreshold_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/EqThreshold-input-mask.js"></script>
}


