﻿@using AssetHealth.Models.Eq_location;
@model EqLocationModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.EqLocation.EditEqLocationDetails").Text;
}
@using (Html.BeginForm("Edit", "EqLocation", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.EqLocation.EditEqLocationDetails") - @Model.Location_name
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    



    @*
    @(Url.Datatables().CreateDatatable("#dataTableEqLocation", "ListEqLocationDatatable", "EqLocation", null, true, new { EqLocationModelId = Model.Id }, "dataTableEqLocation").AddColumn("Id")
                                        .AddColumn("Location_name")
                                        .AddColumn("Cid")
                                        .AddColumn("Description")
                                        .AddColumn("Display_order")
                                        .AddColumn("Schema_path")
                                        .AddColumn("Latitude")
                                        .AddColumn("Longitude")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditEqLocation", "EqLocation") + "/' + full.Id , full.Id, true,  true, 'EqLocation') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ")
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEqLocationOptions = dataTableEqLocationOptions;

                 $('#btnFilterEqLocation').click(function () {
                        dataTableEqLocation.column('Location_name:name').search($('#Location_name').val().trim());
                        dataTableEqLocation.column('Cid:name').search($('#Cid').val().trim());
                        dataTableEqLocation.column('Display_order:name').search($('#Display_order').val().trim());
                        dataTableEqLocation.column('Schema_path:name').search($('#Schema_path').val().trim());
                        dataTableEqLocation.column('Latitude:name').search($('#Latitude').val().trim());
                        dataTableEqLocation.column('Longitude:name').search($('#Longitude').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEqLocation.draw();
            });
            
            
                $('#btnResetEqLocation').click(function () {

                    resetDatatableSearch('dataTableEqLocation');

                });


       *@ 
     
    



    
    @(Url.Datatables().CreateDatatable("#dataTableEquipment", "ListEquipmentDatatable", "EqLocation", null, true, new { EqLocationModelId = Model.Id }, "dataTableEquipment").AddColumn("Id")
                                        .AddColumn("Equipment_type_Text")
                                        .AddColumn("Ip_address")
                                        .AddColumn("Name")
                                        .AddColumn("Number_of_channels")
                                        .AddColumn("Cid")
                                        //.AddColumn("Description")
                                        .AddColumn("Read_order")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditEquipment", "EqLocation") + "/' + full.Id , full.Id, true,  true, 'Equipment') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEquipmentOptions = dataTableEquipmentOptions;

                 $('#btnFilterEquipment').click(function () {
                        dataTableEquipment.column('Equipment_type:name').search($('#Equipment_type').val().trim());
                        dataTableEquipment.column('Ip_address:name').search($('#Ip_address').val().trim());
                        dataTableEquipment.column('Name:name').search($('#Name').val().trim());
                        dataTableEquipment.column('Number_of_channels:name').search($('#Number_of_channels').val().trim());
                        dataTableEquipment.column('Cid:name').search($('#Cid').val().trim());
                        dataTableEquipment.column('Read_order:name').search($('#Read_order').val().trim());
                        dataTableEquipment.column('Active:name').search($('#Active').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEquipment.draw();
            });
            
            
                $('#btnResetEquipment').click(function () {

                    resetDatatableSearch('dataTableEquipment');

                });


        
     
    
 
       setTimeout(function(){
        $('a[href="#tab_EqLocation_@Model.SelectedTab"]').tab('show');
        }, 500);


     $("#UserList").select2({multiple: true });
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/EqLocation-input-mask.js"></script>
}


