﻿


@using AssetHealth.Models.Eq_location;

@model EqLocationModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("EqLocation.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "EqLocation")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("EqLocation.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableEqLocation', window.dataTableEqLocationOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Location_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Location_name, new { @class = "form-control", @placeholder = T("EqLocationModel.Location_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Cid, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Cid, new { @class = "form-control", @placeholder = T("EqLocationModel.Cid.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("EqLocationModel.Description.Placeholder"), data_val=false })
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Display_order, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("EqLocationModel.Display_order.Placeholder"), data_val=false })
        </div>
    </div>
                        *@ 
                    </div>
                    @*
    <div class="col-md-3" role="form" style="display: table-cell;float: none;">


            <div class="form-group">
                @Html.AresLabelFor(m => m.Schema_path, new { @class = "control-label " })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBoxFor(x => x.Schema_path, new { @class = "form-control", @placeholder = T("EqLocationModel.Schema_path.Placeholder"), data_val=false })
                </div>
            </div>


            <div class="form-group">
                @Html.AresLabelFor(m => m.Latitude, new { @class = "control-label " })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBoxFor(x => x.Latitude, new { @class = "form-control", @placeholder = T("EqLocationModel.Latitude.Placeholder"), data_val=false })
                </div>
            </div>


            <div class="form-group">
                @Html.AresLabelFor(m => m.Longitude, new { @class = "control-label " })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBoxFor(x => x.Longitude, new { @class = "form-control", @placeholder = T("EqLocationModel.Longitude.Placeholder"), data_val=false })
                </div>
            </div>


            <div class="form-group">
                @Html.AresLabelFor(m => m.Parent_id, new { @class = "control-label " })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownListFor(x => x.Parent_id, Model.Parent_id_EqLocation_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqLocationModel.Parent_id.Placeholder"), data_val=false })
                </div>
            </div>

    </div>
                    *@
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterEqLocation" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetEqLocation" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableEqLocation" style="width:100%">
            <thead>
                <tr>
                                                            @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>
         <th> @T("EqLocation.list.column.Description") </th>
                                            <th> @T("EqLocation.list.column.Schema_path") </th>
                                                            *@
                    <th> @T("EqLocation.list.column.Id") </th>
            
                    <th> @T("EqLocation.list.column.Location_name") </th>
                    <th> @T("EqLocation.list.column.Cid") </th>
                   
                    <th> @T("EqLocation.list.column.Display_order") </th>
                    
                    <th> @T("EqLocation.list.column.Latitude") </th>
                    <th> @T("EqLocation.list.column.Longitude") </th>
                    <th> @T("EqLocation.list.column.Parent_id") </th>
            
                    
                    <th> @T("EqLocation.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

@section jQueryOnReadyScripts {



    
    @(Url.Datatables().CreateDatatable("#dataTableEqLocation", "ListEqLocationDatatable", "EqLocation", null, true, null, "dataTableEqLocation").AddColumn("Id")
                                        .AddColumn("Location_name")
                                        .AddColumn("Cid")
                                        //.AddColumn("Description")
                                        .AddColumn("Display_order")
                                        //.AddColumn("Schema_path")
                                        .AddColumn("Latitude")
                                        .AddColumn("Longitude")
                                        .AddColumn("Parent_id_Text")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "EqLocation") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEqLocationOptions = dataTableEqLocationOptions;

                 $('#btnFilterEqLocation').click(function () {
                        dataTableEqLocation.column('Location_name:name').search($('#Location_name').val().trim());
                       /* dataTableEqLocation.column('Cid:name').search($('#Cid').val().trim());
                        dataTableEqLocation.column('Display_order:name').search($('#Display_order').val().trim());
                        dataTableEqLocation.column('Schema_path:name').search($('#Schema_path').val().trim());
                        dataTableEqLocation.column('Latitude:name').search($('#Latitude').val().trim());
                        dataTableEqLocation.column('Longitude:name').search($('#Longitude').val().trim());
                        dataTableEqLocation.column('Parent_id:name').search($('#Parent_id').val().trim());
    */
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEqLocation.draw();
            });
            
            
                $('#btnResetEqLocation').click(function () {

                    resetDatatableSearch('dataTableEqLocation');

                });


        
 }

