﻿


@using MvcCheckBoxList.Model
@using AssetHealth.Models.Eq_warning;
@model EqWarningModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_EqWarning_1" data-toggle="tab"> @T("Admin.EqWarning.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_EqWarning_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("EqWarning.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Read_no) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Read_no, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faRead_no"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Read_no) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Read_no))"></i>
                                        @Html.TextBoxFor(x => x.Read_no, new { @class = "form-control", @placeholder = T("EqWarningModel.Read_no.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Read_no, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Read_no.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Equipment_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Equipment_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faEquipment_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Equipment_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Equipment_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Equipment_id, Model.Equipment_id_Equipment_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Equipment_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Equipment_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Equipment_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

 
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Eq_channel_id) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Eq_channel_id, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faEq_channel_id" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Eq_channel_id) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Eq_channel_id))"></i>
                                        
                                @Html.DropDownListFor(x => x.Eq_channel_id, Model.Eq_channel_id_EqChannel_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Eq_channel_id" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Eq_channel_id, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Eq_channel_id.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Io_real_value) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Io_real_value, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faIo_real_value"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Io_real_value) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Io_real_value))"></i>
                                        @Html.TextBoxFor(x => x.Io_real_value, new { @class = "form-control", @placeholder = T("EqWarningModel.Io_real_value.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Io_real_value, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Io_real_value.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Io_input_value) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Io_input_value, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faIo_input_value"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Io_input_value) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Io_input_value))"></i>
                                        @Html.TextBoxFor(x => x.Io_input_value, new { @class = "form-control", @placeholder = T("EqWarningModel.Io_input_value.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Io_input_value, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Io_input_value.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Lower_limit) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Lower_limit, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLower_limit"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Lower_limit) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Lower_limit))"></i>
                                        @Html.TextBoxFor(x => x.Lower_limit, new { @class = "form-control", @placeholder = T("EqWarningModel.Lower_limit.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Lower_limit, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Lower_limit.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Upper_limit) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Upper_limit, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faUpper_limit"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Upper_limit) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Upper_limit))"></i>
                                        @Html.TextBoxFor(x => x.Upper_limit, new { @class = "form-control", @placeholder = T("EqWarningModel.Upper_limit.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Upper_limit, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Upper_limit.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Warning_type, new { @class = "col-md-3 control-label " })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faWarning_type" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Warning_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Warning_type))"></i>
                                        
                                @Html.DropDownListFor(x => x.Warning_type, Model.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Warning_type" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Warning_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Warning_type.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                         <div class="form-group @(Html.CheckValidationErrorFor(m => m.Active) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faActive"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Active, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Active.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("EqWarningModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Last_stop_datetime) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Last_stop_datetime, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faLast_stop_datetime"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Last_stop_datetime) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Last_stop_datetime))"></i>
                                        @Html.TextBoxFor(x => x.Last_stop_datetime, new { @class = "form-control", @placeholder = T("EqWarningModel.Last_stop_datetime.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Last_stop_datetime, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EqWarningModel.Last_stop_datetime.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





