﻿


@using AssetHealth.Models.Eq_warning;

@model EqWarningModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("EqWarning.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "EqWarning")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("EqWarning.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableEqWarning', window.dataTableEqWarningOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">

                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Eq_location_id_Text, new { @class = "control-label " })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                @Html.DropDownListFor(x => x.Eq_location_id_Text, Model.Eq_location_id_EqLocation_SelectList, T("Select").Text, new { @class = "form-control ", @placeholder = T("FormAnswerModel.Form_question_id.Placeholder"), data_val = false })
                            </div>

                        </div>
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Read_no, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Read_no, new { @class = "form-control", @placeholder = T("EqWarningModel.Read_no.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Equipment_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Equipment_id, Model.Equipment_id_Equipment_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqWarningModel.Equipment_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Eq_channel_id, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Eq_channel_id, Model.Eq_channel_id_EqChannel_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqWarningModel.Eq_channel_id.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Io_real_value, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Io_input_value, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>
                        *@
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Lower_limit, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>


    <div class="form-group">
        @Html.AresLabelFor(m => m.Upper_limit, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        </div>
    </div>
                        *@   
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Warning_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Warning_type, Model.Warning_type_ParameterItem_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("EqWarningModel.Warning_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Active, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                        @*
    <div class="form-group">
        @Html.AresLabelFor(m => m.Description, new { @class = "control-label " })
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = T("EqWarningModel.Description.Placeholder"), data_val=false })
        </div>
    </div>
                        *@    
                    </div>
                    @*
    <div class="col-md-3" role="form" style="display: table-cell;float: none;">


            <div class="form-group">
                @Html.AresLabelFor(m => m.Last_stop_datetime, new { @class = "control-label " })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBoxFor(x => x.Last_stop_datetime, new { @class = "form-control", @placeholder = T("EqWarningModel.Last_stop_datetime.Placeholder"), data_val=false })
                </div>
            </div>

    </div>

                    *@
                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterEqWarning" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetEqWarning" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableEqWarning" style="width:100%">
            <thead>
                <tr>
                                        @*
        <th>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                <span></span>
            </label>
        </th>
        <th> @T("EqWarning.list.column.Description") </th>
                                        *@
                    <th> @T("EqWarning.list.column.Id") </th>
            
                    <th> @T("EqChannel.list.column.Eq_location_id_Text") </th>
                    <th> @T("EqWarning.list.column.Read_no") </th>
                    <th> @T("EqWarning.list.column.Equipment_id") </th>
                    <th> @T("EqWarning.list.column.Eq_channel_id") </th>
                    <th> @T("EqWarning.list.column.Io_real_value") </th>
                    <th> @T("EqWarning.list.column.Io_input_value") </th>
                    <th> @T("EqWarning.list.column.Lower_limit") </th>
                    <th> @T("EqWarning.list.column.Upper_limit") </th>
                    <th> @T("EqWarning.list.column.Warning_type") </th>
                    <th> @T("EqWarning.list.column.Active") </th>
                    
                    <th> @T("EqWarning.list.column.Last_stop_datetime") </th>
            
                    
                    <th> @T("EqWarning.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

@section jQueryOnReadyScripts {



    
    @(Url.Datatables().CreateDatatable("#dataTableEqWarning", "ListEqWarningDatatable", "EqWarning", null, true, null, "dataTableEqWarning").AddColumn("Id")
                                        .AddColumn("Eq_location_id_Text")
                                        .AddColumn("Read_no")
                                        .AddColumn("Equipment_id_Text")
                                        .AddColumn("Eq_channel_id_Text")
                                        .AddColumn("Io_real_value")
                                        .AddColumn("Io_input_value")
                                        .AddColumn("Lower_limit")
                                        .AddColumn("Upper_limit")
                                        .AddColumn("Warning_type_Text")
                                        .AddCustomJavascriptColumn("Active", " return full.Active ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        //.AddColumn("Description")
                                        .AddColumn("Last_stop_datetime")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "EqWarning") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'scrollX' : true ")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEqWarningOptions = dataTableEqWarningOptions;

                 $('#btnFilterEqWarning').click(function () {
                        dataTableEqWarning.column('Eq_location_id_Text:name').search($('#Eq_location_id_Text').val().trim());
                        dataTableEqWarning.column('Read_no:name').search($('#Read_no').val().trim());
                        dataTableEqWarning.column('Equipment_id_Text:name').search($('#Equipment_id').val().trim());
                        dataTableEqWarning.column('Eq_channel_id_Text:name').search($('#Eq_channel_id').val().trim());
                        dataTableEqWarning.column('Warning_type_Text:name').search($('#Warning_type').val().trim());
                        dataTableEqWarning.column('Active:name').search($('#Active').prop('checked'));
                        //dataTableEqWarning.column('Last_stop_datetime:name').search($('#Last_stop_datetime').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEqWarning.draw();
            });
            
            
                $('#btnResetEqWarning').click(function () {

                    resetDatatableSearch('dataTableEqWarning');

                });

     $("#Eq_channel_id").select2({ width: '100%' });
        
 }

