﻿@using Ares.Web.Models.Queued_email_file;
@model QueuedEmailFileModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.QueuedEmailFile.AddNew").Text;
}

@using (Html.BeginForm("CreateQueuedEmailFile", "QueuedEmail", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.QueuedEmailFile.AddQueuedEmailFileDetails") -
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "Edit/" + Request.QueryString["QueuedEmailModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateQueuedEmailFile", Model)
}

 @section jQueryOnReadyScripts {
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/QueuedEmailFile-input-mask.js"></script>
}