﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Queued_email;
@model QueuedEmailModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_QueuedEmail_1" data-toggle="tab"> @T("Admin.QueuedEmail.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_QueuedEmail_2" data-toggle="tab"> @T("Admin.QueuedEmailFile.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_QueuedEmail_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("QueuedEmail.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Priority) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Priority, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPriority"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Priority) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Priority))"></i>
                                        @Html.TextBoxFor(x => x.Priority, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Priority.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Priority, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Priority.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.From) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.From, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faFrom"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.From) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.From))"></i>
                                        @Html.TextAreaFor(x => x.From, new { @class = "form-control", @placeholder = T("QueuedEmailModel.From.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.From, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.From.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.From_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.From_name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faFrom_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.From_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.From_name))"></i>
                                        @Html.TextAreaFor(x => x.From_name, new { @class = "form-control", @placeholder = T("QueuedEmailModel.From_name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.From_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.From_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.To) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.To, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faTo"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.To) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.To))"></i>
                                        @Html.TextAreaFor(x => x.To, new { @class = "form-control", @placeholder = T("QueuedEmailModel.To.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.To, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.To.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.To_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.To_name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faTo_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.To_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.To_name))"></i>
                                        @Html.TextAreaFor(x => x.To_name, new { @class = "form-control", @placeholder = T("QueuedEmailModel.To_name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.To_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.To_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Cc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Cc, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faCc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Cc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Cc))"></i>
                                        @Html.TextAreaFor(x => x.Cc, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Cc.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Cc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Cc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Bcc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Bcc, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faBcc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Bcc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Bcc))"></i>
                                        @Html.TextAreaFor(x => x.Bcc, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Bcc.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Bcc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Bcc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Subject) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Subject, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faSubject"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Subject) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Subject))"></i>
                                        @Html.TextAreaFor(x => x.Subject, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Subject.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Subject, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Subject.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Body) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Body, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faBody"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Body) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Body))"></i>
                                        @Html.TextAreaFor(x => x.Body, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Body.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Body, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Body.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Notes) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Notes, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faNotes"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Notes) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Notes))"></i>
                                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Notes.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Notes, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Notes.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Attachment) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Attachment, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faAttachment"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Attachment) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Attachment))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Attachment, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Attachment.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Attachment_files) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Attachment_files, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faAttachment_files"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Attachment_files) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Attachment_files))"></i>
                                        @Html.TextAreaFor(x => x.Attachment_files, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Attachment_files.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Attachment_files, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Attachment_files.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Created_on_utc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Created_on_utc, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCreated_on_utc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Created_on_utc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Created_on_utc))"></i>
                                        @Html.EditorFor(x => x.Created_on_utc, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Created_on_utc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Created_on_utc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Sent_tries) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Sent_tries, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSent_tries"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Sent_tries) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Sent_tries))"></i>
                                        @Html.TextBoxFor(x => x.Sent_tries, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Sent_tries.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Sent_tries, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Sent_tries.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Sent_on_utc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Sent_on_utc, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faSent_on_utc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Sent_on_utc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Sent_on_utc))"></i>
                                        @Html.EditorFor(x => x.Sent_on_utc, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Sent_on_utc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Sent_on_utc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>

                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Emailaccountid) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Emailaccountid, new { @class = "col-md-3 control-label  required-field" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faEmailaccountid" style="margin-right: 10px;" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Emailaccountid) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Emailaccountid))"></i>
                                        
                                @Html.DropDownListFor(x => x.Emailaccountid, Model.Emailaccountid_EmailAccount_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = "Emailaccountid" })

                                
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Emailaccountid, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailModel.Emailaccountid.Hint")</span>
                                    
                                </div>
                            </div>
                        </div>
            

                        
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_QueuedEmail_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("QueuedEmailFile.list.header")
                    </div>
                    <div class="actions" style="float:left">
                        <a href="@Url.Action("CreateQueuedEmailFile", "QueuedEmail")?QueuedEmailModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("QueuedEmailFile.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableQueuedEmailFile', window.dataTableQueuedEmailFileOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailFileModel.Attachment, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailFileModel.Content_type, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailFileModel.Content_type, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Filter_QueuedEmailFileModel.Content_type.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailFileModel.Size, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailFileModel.Size, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Filter_QueuedEmailFileModel.Size.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailFileModel.Upload_filename, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailFileModel.Upload_filename, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Filter_QueuedEmailFileModel.Upload_filename.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailFileModel.Guid_filename, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailFileModel.Guid_filename, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Filter_QueuedEmailFileModel.Guid_filename.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailFileModel.Description, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailFileModel.Description, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Filter_QueuedEmailFileModel.Description.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterQueuedEmailFile" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetQueuedEmailFile" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableQueuedEmailFile">
                        <thead>
                            <tr>
                                @*
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                            <span></span>
                                        </label>
                                    </th>
                                *@
                                <th> @T("QueuedEmailFile.list.column.Id") </th>
                        
                                <th> @T("QueuedEmailFile.list.column.Attachment") </th>
                                <th> @T("QueuedEmailFile.list.column.Content_type") </th>
                                <th> @T("QueuedEmailFile.list.column.Size") </th>
                                <th> @T("QueuedEmailFile.list.column.Upload_filename") </th>
                                <th> @T("QueuedEmailFile.list.column.Guid_filename") </th>
                                <th> @T("QueuedEmailFile.list.column.Description") </th>
                        
                                
                                <th> @T("QueuedEmailFile.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>






