﻿@using Ares.Web.Models.Queued_email;
@model QueuedEmailModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.QueuedEmail.EditQueuedEmailDetails").Text;
}
@using (Html.BeginForm("Edit", "QueuedEmail", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.QueuedEmail.EditQueuedEmailDetails") - @Model.Priority
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableQueuedEmailFile", "ListQueuedEmailFileDatatable", "QueuedEmail", null, true, new { QueuedEmailModelId = Model.Id }, "dataTableQueuedEmailFile").AddColumn("Id")
                                        .AddColumn("Content_type")
                                        .AddColumn("Size")
                                        .AddColumn("Upload_filename")
                                        .AddColumn("Guid_filename")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditQueuedEmailFile", "QueuedEmail") + "/' + full.Id , full.Id, true,  true, 'QueuedEmailFile') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableQueuedEmailFileOptions = dataTableQueuedEmailFileOptions; 
    
    $('#btnFilterQueuedEmailFile').click(function () {
                        dataTableQueuedEmailFile.column('Content_type:name').search($('#Filter_QueuedEmailFileModel_Content_type').val().trim());
                        dataTableQueuedEmailFile.column('Size:name').search($('#Filter_QueuedEmailFileModel_Size').val().trim());
                        dataTableQueuedEmailFile.column('Upload_filename:name').search($('#Filter_QueuedEmailFileModel_Upload_filename').val().trim());
                        dataTableQueuedEmailFile.column('Guid_filename:name').search($('#Filter_QueuedEmailFileModel_Guid_filename').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableQueuedEmailFile.draw();
            });
            
            
                $('#btnResetQueuedEmailFile').click(function () {

                    resetDatatableSearch('dataTableQueuedEmailFile');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_QueuedEmail_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/QueuedEmail-input-mask.js"></script>
}


