﻿

@using Ares.Web.Models.Queued_email;

@model QueuedEmailModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("QueuedEmail.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "QueuedEmail")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("QueuedEmail.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableQueuedEmail', window.dataTableQueuedEmailOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Priority, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Priority, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Priority.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.From, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.From, new { @class = "form-control", @placeholder = T("QueuedEmailModel.From.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.From_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.From_name, new { @class = "form-control", @placeholder = T("QueuedEmailModel.From_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.To, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.To, new { @class = "form-control", @placeholder = T("QueuedEmailModel.To.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.To_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.To_name, new { @class = "form-control", @placeholder = T("QueuedEmailModel.To_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Cc, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Cc, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Cc.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Bcc, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Bcc, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Bcc.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Subject, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Subject.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Body, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Body, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Body.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Notes, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Notes, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Notes.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Attachment, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Attachment_files, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Attachment_files, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Attachment_files.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Created_on_utc, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Created_on_utc, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Sent_tries, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Sent_tries, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Sent_tries.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Sent_on_utc, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Sent_on_utc, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Emailaccountid, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.DropDownListFor(x => x.Emailaccountid, Model.Emailaccountid_EmailAccount_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Emailaccountid.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterQueuedEmail" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetQueuedEmail" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableQueuedEmail" style="width:100%">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("QueuedEmail.list.column.Id") </th>
            
                    <th> @T("QueuedEmail.list.column.Priority") </th>
                    <th> @T("QueuedEmail.list.column.From") </th>
                    <th> @T("QueuedEmail.list.column.From_name") </th>
                    <th> @T("QueuedEmail.list.column.To") </th>
                    <th> @T("QueuedEmail.list.column.To_name") </th>
                    <th> @T("QueuedEmail.list.column.Cc") </th>
                    <th> @T("QueuedEmail.list.column.Bcc") </th>
                    <th> @T("QueuedEmail.list.column.Subject") </th>
                    <th> @T("QueuedEmail.list.column.Body") </th>
                    <th> @T("QueuedEmail.list.column.Notes") </th>
                    <th> @T("QueuedEmail.list.column.Attachment") </th>
                    <th> @T("QueuedEmail.list.column.Attachment_files") </th>
                    <th> @T("QueuedEmail.list.column.Created_on_utc") </th>
                    <th> @T("QueuedEmail.list.column.Sent_tries") </th>
                    <th> @T("QueuedEmail.list.column.Sent_on_utc") </th>
                    <th> @T("QueuedEmail.list.column.Emailaccountid") </th>
            
                    
                    <th> @T("QueuedEmail.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTableQueuedEmail", "ListQueuedEmailDatatable", "QueuedEmail", null, true, null, "dataTableQueuedEmail").AddColumn("Id")
                                        .AddColumn("Priority")
                                        .AddColumn("From")
                                        .AddColumn("From_name")
                                        .AddColumn("To")
                                        .AddColumn("To_name")
                                        .AddColumn("Cc")
                                        .AddColumn("Bcc")
                                        .AddColumn("Subject")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Created_on_utc)")
                                        
                                        .AddColumn("Sent_tries")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Sent_on_utc)")
                                        
                                        .AddColumn("Emailaccountid_Text")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "QueuedEmail") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableQueuedEmailOptions = dataTableQueuedEmailOptions;

                 $('#btnFilterQueuedEmail').click(function () {
                        dataTableQueuedEmail.column('Priority:name').search($('#Priority').val().trim());
                        dataTableQueuedEmail.column('From:name').search($('#From').val().trim());
                        dataTableQueuedEmail.column('From_name:name').search($('#From_name').val().trim());
                        dataTableQueuedEmail.column('To:name').search($('#To').val().trim());
                        dataTableQueuedEmail.column('To_name:name').search($('#To_name').val().trim());
                        dataTableQueuedEmail.column('Cc:name').search($('#Cc').val().trim());
                        dataTableQueuedEmail.column('Bcc:name').search($('#Bcc').val().trim());
                        dataTableQueuedEmail.column('Subject:name').search($('#Subject').val().trim());

                        dataTableQueuedEmail.column('Sent_tries:name').search($('#Sent_tries').val().trim());

                        dataTableQueuedEmail.column('Emailaccountid:name').search($('#Emailaccountid').val().trim());
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableQueuedEmail.draw();
            });
            
            
                $('#btnResetQueuedEmail').click(function () {

                    resetDatatableSearch('dataTableQueuedEmail');

                });
}


