@using Ext.Net;
@using Ext.Net.MVC;
@using MvcCheckBoxList.Model

@model AssetHealth.Models.Configuration.MenuModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_5_1" data-toggle="tab"> @T("Admin.Menu.TabTitle").Text </a>
        </li>


    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_5_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("menu.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">

                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.AresLabelFor(m => m.Menuname, new { @class = "col-md-3 control-label" })
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faMenuname" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Menuname) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Menuname))"></i>

                                        @Html.TextBoxFor(x => x.Menuname, new { @class = "form-control", @placeholder = T("MenuModel.Menuname.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Menuname, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Menuname.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Areaname, new { @class = "col-md-3 control-label" })

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faAreaname" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Areaname) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Areaname))"></i>

                                        @Html.TextBoxFor(x => x.Areaname, new { @class = "form-control", @placeholder = T("MenuModel.Areaname.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Areaname, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Areaname.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Title, new { @class = "col-md-3 control-label" })

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faTitle" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Title) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Title))"></i>

                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = T("MenuModel.Title.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Title, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Title.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Resourcename, new { @class = "col-md-3 control-label" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faResourcename" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Resourcename) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Resourcename))"></i>

                                        @Html.TextBoxFor(x => x.Resourcename, new { @class = "form-control", @placeholder = T("MenuModel.Resourcename.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Resourcename, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Resourcename.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Url, new { @class = "col-md-3 control-label" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faUrl" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Url) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Url))"></i>

                                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @style = "width:100%;", @placeholder = T("MenuModel.Url.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Url, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Url.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Controller, new { @class = "col-md-3 control-label" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faController" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Controller) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Controller))"></i>

                                        @Html.TextBoxFor(x => x.Controller, new { @class = "form-control", @placeholder = T("MenuModel.Controller.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Controller, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Controller.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Actionname, new { @class = "col-md-3 control-label" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faActionname" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Actionname) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Actionname))"></i>

                                        @Html.TextBoxFor(x => x.Actionname, new { @class = "form-control", @placeholder = T("MenuModel.Actionname.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Actionname, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Actionname.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Imageurl, new { @class = "col-md-3 control-label" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faImageurl" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Imageurl) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Imageurl))"></i>

                                        @Html.TextBoxFor(x => x.Imageurl, new { @class = "form-control", @placeholder = T("MenuModel.Imageurl.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Imageurl, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Imageurl.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Displayorder, new { @class = "col-md-3 control-label" })

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-icon right ">
                                        <i id="faDisplayorder" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Displayorder) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Displayorder))"></i>

                                        @Html.TextBoxFor(x => x.Displayorder, new { @class = "form-control", @placeholder = T("MenuModel.Displayorder.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Displayorder, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Displayorder.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.Active, new { @class = "col-md-3 control-label" })

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faActive" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Active) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Active))"></i>
                                        @Html.CheckBoxFor(x => x.Active, new { @class = "mt-checkbox", @placeholder = T("MenuModel.Active.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.Active, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.Active.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.ParentMenuId, new { @class = "col-md-3 control-label" })

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faParentMenuId" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.ParentMenuId) ? "" : "hide")" style="margin-right: 10px;" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.ParentMenuId))"></i>
                                        @Html.DropDownListFor(x => x.ParentMenuId, Model.Menus_SelectList, T("Select").Text, new { @class = "form-control", @placeholder = T("MenuModel.ParentMenuId.Placeholder") })

                                    </div>
                                    @Html.ValidationMessageFor(x => x.ParentMenuId, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.ParentMenuId.Hint")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.AresLabelFor(m => m.PermissionId, new { @class = "col-md-3 control-label" })

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-icon right ">
                                        <i id="faPermissionId" class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.PermissionId) ? "" : "hide")" style="margin-right: 10px;" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.PermissionId))"></i>
                                        @Html.DropDownListFor(x => x.PermissionId, Model.Permissions, T("Select").Text, new { @class = "form-control", @placeholder = T("MenuModel.PermissionId.Placeholder") })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(x => x.PermissionId, null, new { @class = "help-block", @style = "color:red" })
                                    <span class="help-inline">@T("MenuModel.PermissionId.Hint")</span>
                                </div>
                            </div>
                        </div>

                    </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" name="save" class="btn green">
                                            <i class="fa fa-floppy-o"></i>
                                            @T("Admin.Common.Save")
                                        </button>
                                        <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                            <i class="fa fa-times"></i>
                                            @T("Admin.Common.Cancel")
                                        </button>

                                    </div>
                                </div>
                            </div>

                        </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
        

    </div>
</div>


<script>
    $(document).ready(function () {
        $("#ParentMenuId").select2();
        $("#PermissionId").select2();
        

    });

</script>