﻿@model AssetHealth.Models.Configuration.MenuModel

@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.Menu.AddNew").Text;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Menu.AddMenuDetails") - 
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/Menu-input-mask.js"></script>
}