@using Ext.Net;
@using Ext.Net.MVC;

@model AssetHealth.Models.Configuration.MenuModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("menu.list.header")
        </div>
        <div class="actions">
            <a href="~/Menu/Create" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("menu.list.add")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatablePrintClick(this)">
                <i class="fa fa-print"></i> @T("Admin.Common.Print")
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTable">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("menu.list.column.id") </th>
                    <th> @T("menu.list.column.Menuname") </th>
                    <th> @T("menu.list.column.Title") </th>
                    <th> @T("menu.list.column.Controller") </th>
                    <th> @T("menu.list.column.Actionname") </th>
                    <th> @T("menu.list.column.Displayorder") </th>
                    <th> @T("menu.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTable", "ListMenuDatatable", "Menu", null, true)
    .AddColumn("Id")
    .AddColumn("Menuname")
    .AddColumn("Title")
    .AddColumn("Controller")
    .AddColumn("Actionname")
    .AddColumn("Displayorder")
    //.AddCustomJavascriptColumn("", "return \"<a href='Edit/\" + full.Id + \"' ><i class='ui-tooltip fa fa-pencil' style='font-size: 22px;' data-original-title='Edit'></i></a>&nbsp;&nbsp;<a data-toggle='modal' data-id='\" + full.Id + \"' href='#basic' ><i class='ui-tooltip fa fa-trash-o' style='font-size: 22px;' data-original-title='Delete'></i></a>\" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "Menu") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .AddAttribute("'deferLoading' : 0")
    .Initialize())

    
}







