﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Email_account;
@model EmailAccountModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_EmailAccount_1" data-toggle="tab"> @T("Admin.EmailAccount.TabTitle").Text </a>
        </li>
        @if (Model.Id != 0)
        {
        <li>
            <a href="#tab_EmailAccount_2" data-toggle="tab"> @T("Admin.QueuedEmail.TabTitle") </a>
        </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_EmailAccount_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("EmailAccount.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Email) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Email, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faEmail"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Email) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Email))"></i>
                                        @Html.TextAreaFor(x => x.Email, new { @class = "form-control", @placeholder = T("EmailAccountModel.Email.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EmailAccountModel.Email.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_name, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_name"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_name))"></i>
                                        @Html.TextAreaFor(x => x.Display_name, new { @class = "form-control", @placeholder = T("EmailAccountModel.Display_name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EmailAccountModel.Display_name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Host) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Host, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faHost"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Host) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Host))"></i>
                                        @Html.TextAreaFor(x => x.Host, new { @class = "form-control", @placeholder = T("EmailAccountModel.Host.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Host, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EmailAccountModel.Host.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Port) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Port, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPort"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Port) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Port))"></i>
                                        @Html.TextBoxFor(x => x.Port, new { @class = "form-control", @placeholder = T("EmailAccountModel.Port.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Port, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EmailAccountModel.Port.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Username) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Username, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUsername"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Username) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Username))"></i>
                                        @Html.TextAreaFor(x => x.Username, new { @class = "form-control", @placeholder = T("EmailAccountModel.Username.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EmailAccountModel.Username.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Password) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Password, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faPassword"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Password) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Password))"></i>
                                        @Html.TextAreaFor(x => x.Password, new { @class = "form-control", @placeholder = T("EmailAccountModel.Password.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EmailAccountModel.Password.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Enable_ssl) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Enable_ssl, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faEnable_ssl"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Enable_ssl) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Enable_ssl))"></i>
                                        @Html.CheckBoxFor(x => x.Enable_ssl, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Enable_ssl, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EmailAccountModel.Enable_ssl.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Use_default_credentials) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Use_default_credentials, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faUse_default_credentials"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Use_default_credentials) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Use_default_credentials))"></i>
                                        @Html.CheckBoxFor(x => x.Use_default_credentials, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Use_default_credentials, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("EmailAccountModel.Use_default_credentials.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
        <div class="tab-pane" id="tab_EmailAccount_2">

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>@T("QueuedEmail.list.header")
                    </div>
                    <div class="actions" style="float:left">
                        <a href="@Url.Action("CreateQueuedEmail", "EmailAccount")?EmailAccountModelId=@Model.Id" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> @T("QueuedEmail.list.add")
                        </a>
                        
                        
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableQueuedEmail', window.dataTableQueuedEmailOptions);">
                            <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                            <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                            <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                            <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
                        </a>
                    </div>
                    <div class="tools" style="float:right">
                            <a href="" class="collapse"> </a>
                            @*
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="" class="reload"> </a>
                            *@
                            <a href="" class="fullscreen"> </a>
                            <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Priority, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.Priority, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.Priority.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.From, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.From, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.From.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.From_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.From_name, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.From_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.To, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.To, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.To.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.To_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.To_name, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.To_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Cc, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.Cc, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.Cc.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Bcc, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.Bcc, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.Bcc.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Subject, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.Subject, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.Subject.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Body, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.Body, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.Body.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Notes, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.Notes, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.Notes.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Attachment, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Attachment_files, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.Attachment_files, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.Attachment_files.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Created_on_utc, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_QueuedEmailModel.Created_on_utc, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Sent_tries, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Filter_QueuedEmailModel.Sent_tries, new { @class = "form-control", @placeholder = T("QueuedEmailModel.Filter_QueuedEmailModel.Sent_tries.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Filter_QueuedEmailModel.Sent_on_utc, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.EditorFor(x => x.Filter_QueuedEmailModel.Sent_on_utc, new { @class = "form-control" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterQueuedEmail" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetQueuedEmail" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
                 
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width:100%" id="dataTableQueuedEmail">
                        <thead>
                            <tr>
                                @*
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                            <span></span>
                                        </label>
                                    </th>
                                *@
                                <th> @T("QueuedEmail.list.column.Id") </th>
                        
                                <th> @T("QueuedEmail.list.column.Priority") </th>
                                <th> @T("QueuedEmail.list.column.From") </th>
                                <th> @T("QueuedEmail.list.column.From_name") </th>
                                <th> @T("QueuedEmail.list.column.To") </th>
                                <th> @T("QueuedEmail.list.column.To_name") </th>
                                <th> @T("QueuedEmail.list.column.Cc") </th>
                                <th> @T("QueuedEmail.list.column.Bcc") </th>
                                <th> @T("QueuedEmail.list.column.Subject") </th>
                                <th> @T("QueuedEmail.list.column.Body") </th>
                                <th> @T("QueuedEmail.list.column.Notes") </th>
                                <th> @T("QueuedEmail.list.column.Attachment") </th>
                                <th> @T("QueuedEmail.list.column.Attachment_files") </th>
                                <th> @T("QueuedEmail.list.column.Created_on_utc") </th>
                                <th> @T("QueuedEmail.list.column.Sent_tries") </th>
                                <th> @T("QueuedEmail.list.column.Sent_on_utc") </th>
                        
                                
                                <th> @T("QueuedEmail.list.column.actions") </th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
}
     </div>
 </div>






