﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Queued_email_file;
@model QueuedEmailFileModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_QueuedEmailFile_1" data-toggle="tab"> @T("Admin.QueuedEmailFile.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_QueuedEmailFile_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("QueuedEmailFile.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Attachment) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Attachment, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-icon right ">
                                        <i id="faAttachment"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Attachment) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Attachment))"></i>
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Attachment, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailFileModel.Attachment.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Content_type) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Content_type, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faContent_type"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Content_type) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Content_type))"></i>
                                        @Html.TextAreaFor(x => x.Content_type, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Content_type.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Content_type, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailFileModel.Content_type.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Size) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Size, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faSize"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Size) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Size))"></i>
                                        @Html.TextBoxFor(x => x.Size, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Size.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Size, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailFileModel.Size.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Upload_filename) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Upload_filename, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faUpload_filename"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Upload_filename) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Upload_filename))"></i>
                                        @Html.TextAreaFor(x => x.Upload_filename, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Upload_filename.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Upload_filename, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailFileModel.Upload_filename.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Guid_filename) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Guid_filename, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faGuid_filename"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Guid_filename) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Guid_filename))"></i>
                                        @Html.TextAreaFor(x => x.Guid_filename, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Guid_filename.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Guid_filename, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailFileModel.Guid_filename.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Description) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Description, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDescription"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Description) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Description))"></i>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = T("QueuedEmailFileModel.Description.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("QueuedEmailFileModel.Description.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
@Html.HiddenFor(m => m.Queued_email_id)
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
@if (Model.Id != 0)
{
}
     </div>
 </div>





