﻿@using Ares.Web.Models.Queued_email_file;
@model QueuedEmailFileModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.QueuedEmailFile.EditQueuedEmailFileDetails").Text;
}
@using (Html.BeginForm("EditQueuedEmailFile", "EmailAccount", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.QueuedEmailFile.EditQueuedEmailFileDetails") - @Model.Content_type
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "EditQueuedEmail/" + Request.QueryString["QueuedEmailModelId"])
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("DeleteQueuedEmailFile", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdateQueuedEmailFile", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
 
       setTimeout(function(){
        $('a[href="#tab_QueuedEmailFile_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/QueuedEmailFile-input-mask.js"></script>
}


