﻿@using Ares.Web.Models.Email_account;
@model EmailAccountModel

@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //page title
    ViewBag.Title = T("Admin.EmailAccount.EditEmailAccountDetails").Text;
}
@using (Html.BeginForm("Edit", "EmailAccount", FormMethod.Post))
{
    <div class="row">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.EmailAccount.EditEmailAccountDetails") - @Model.Email
            @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="pull-right" style="margin-right:25px;">
            <button type="submit" name="save" class="btn green">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            &nbsp;
            <a class="btn red" data-toggle="modal" data-id="@Model.Id" data-id="@Model.Id" data-deleteurl="@Url.Action("Delete", new {Id = Model.Id})" href="#modalDeleteConfirm">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </a>
            
        </div>
    </div>
    <br />
    @Html.Partial("CreateOrUpdate", Model)
}

 
 @section jQueryOnReadyScripts {
 
    
    @(Url.Datatables().CreateDatatable("#dataTableQueuedEmail", "ListQueuedEmailDatatable", "EmailAccount", null, true, new { EmailAccountModelId = Model.Id }, "dataTableQueuedEmail").AddColumn("Id")
                                        .AddColumn("Priority")
                                        .AddColumn("From")
                                        .AddColumn("From_name")
                                        .AddColumn("To")
                                        .AddColumn("To_name")
                                        .AddColumn("Cc")
                                        .AddColumn("Bcc")
                                        .AddColumn("Subject")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Created_on_utc)")
                                        .AddColumn("Sent_tries")
                                        .AddCustomJavascriptColumn("", "return formatJSONDate(full.Sent_on_utc)")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("EditQueuedEmail", "EmailAccount") + "/' + full.Id , full.Id, true,  true, 'QueuedEmail') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableQueuedEmailOptions = dataTableQueuedEmailOptions; 
    
    $('#btnFilterQueuedEmail').click(function () {
                        dataTableQueuedEmail.column('Priority:name').search($('#Filter_QueuedEmailModel_Priority').val().trim());
                        dataTableQueuedEmail.column('From:name').search($('#Filter_QueuedEmailModel_From').val().trim());
                        dataTableQueuedEmail.column('From_name:name').search($('#Filter_QueuedEmailModel_From_name').val().trim());
                        dataTableQueuedEmail.column('To:name').search($('#Filter_QueuedEmailModel_To').val().trim());
                        dataTableQueuedEmail.column('To_name:name').search($('#Filter_QueuedEmailModel_To_name').val().trim());
                        dataTableQueuedEmail.column('Cc:name').search($('#Filter_QueuedEmailModel_Cc').val().trim());
                        dataTableQueuedEmail.column('Bcc:name').search($('#Filter_QueuedEmailModel_Bcc').val().trim());
                        dataTableQueuedEmail.column('Subject:name').search($('#Filter_QueuedEmailModel_Subject').val().trim());

                        dataTableQueuedEmail.column('Sent_tries:name').search($('#Filter_QueuedEmailModel_Sent_tries').val().trim());

                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableQueuedEmail.draw();
            });
            
            
                $('#btnResetQueuedEmail').click(function () {

                    resetDatatableSearch('dataTableQueuedEmail');

                });
    
    

    
 
       setTimeout(function(){
        $('a[href="#tab_EmailAccount_@Model.SelectedTab"]').tab('show');
        }, 500);
 
}

@section beforeFooter{

    <script type="text/javascript" src="~/Scripts/pages/EmailAccount-input-mask.js"></script>
}


