﻿

@using Ares.Web.Models.Email_account;

@model EmailAccountModel
@{
    Layout = Request.IsAjaxRequest() ? "" : "~/Views/Shared/_ColumnsThree.cshtml";
    //ViewBag.BreadcrumbPage = T("breadcrumb.user.list").Text;
}

<div class="portlet box yellow-casablanca">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>@T("EmailAccount.list.header")
        </div>
        <div class="actions" style="float:left">
            <a href="@Url.Action("Create", "EmailAccount")" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> @T("EmailAccount.list.add")
            </a>

            <a href="javascript:;" class="btn btn-default btn-sm" onclick="reCreateDataTable('#dataTableEmailAccount', window.dataTableEmailAccountOptions);">
                <i class="fa fa-th-large"></i> @T("Admin.Common.Responsive")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 5);">
                <i class="fa fa-eye-slash"></i> @T("Admin.Common.ColumnVisibility")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 0);">
                <i class="fa fa-copy"></i> @T("Admin.Common.Copy")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 1);">
                <i class="fa fa-file-excel-o"></i> @T("Admin.Common.ExcelExport")
            </a>
            <a href="javascript:;" class="btn btn-default btn-sm" onclick="datatableActionClick(this, 3);">
                <i class="fa fa-file-pdf-o"></i> @T("Admin.Common.PdfExport")
            </a>
        </div>
        <div class="tools" style="float:right">
                <a href="" class="collapse"> </a>
                @*
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
                *@
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">

        <!-- Filter Starts -->
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="cursor: pointer;">
                        <i class="fa fa-filter font-grey-gallery"></i>
                        <span class="caption-subject bold font-grey-gallery uppercase" > @T("Admin.Common.Searchbox") </span>
                        <span class="caption-helper">@T("Admin.Common.Searchbox.Hint")</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand"> </a> @* opposite of collapse  (portlet-body portlet-collapsed) *@
                        @*
    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
    <a href="" class="reload"> </a>
                        *@
                        <a href="" class="fullscreen"> </a>
                        <a href="" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body portlet-collapsed">
                @* class="scroller"  data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" *@
                    <div>
            <div class="container container-fluid">
                    <div class="row" style="display: table">
                    
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Email, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = T("EmailAccountModel.Email.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Display_name, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Display_name, new { @class = "form-control", @placeholder = T("EmailAccountModel.Display_name.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Host, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Host, new { @class = "form-control", @placeholder = T("EmailAccountModel.Host.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Port, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Port, new { @class = "form-control", @placeholder = T("EmailAccountModel.Port.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Username, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = T("EmailAccountModel.Username.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Password, new { @class = "control-label " }) 
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = T("EmailAccountModel.Password.Placeholder"), data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Enable_ssl, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Enable_ssl, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                        
                            <div class="form-group">
                                @Html.AresLabelFor(m => m.Use_default_credentials, new { @class = "control-label " }) 
                                <div class="input-group">
                                        @Html.CheckBoxFor(x => x.Use_default_credentials, new { @class = "mt-checkbox" , data_val=false })
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="col-md-3" role="form" style="display: table-cell;float: none;">
                    
                    </div>
                         

                
                        
                        <div  role="form" style="display: table-cell;float: none;vertical-align:bottom">
                            <div class="btn-toolbar " >
                                <button value="Search"  type="submit" tabindex="4" form="form_search" id="btnFilterEmailAccount" class="btn green">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button value="Reset" type="submit" tabindex="3" form="form_search" id="btnResetEmailAccount" class="btn default">
                                        <i class="fa fa-times"></i> 
                                        @T("Admin.Common.Reset")
                                </button>
                                
                            </div>
                        </div>

                </div>
                    
            </div>


                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <!-- Filter End -->


        <div class='row'><div class='col-md-12'><hr></div></div>
        
            
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dataTableEmailAccount" style="width:100%">
            <thead>
                <tr>
                    @*
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                    *@
                    <th> @T("EmailAccount.list.column.Id") </th>
            
                    <th> @T("EmailAccount.list.column.Email") </th>
                    <th> @T("EmailAccount.list.column.Display_name") </th>
                    <th> @T("EmailAccount.list.column.Host") </th>
                    <th> @T("EmailAccount.list.column.Port") </th>
                    <th> @T("EmailAccount.list.column.Username") </th>
                    <th> @T("EmailAccount.list.column.Password") </th>
                    <th> @T("EmailAccount.list.column.Enable_ssl") </th>
                    <th> @T("EmailAccount.list.column.Use_default_credentials") </th>
            
                    
                    <th> @T("EmailAccount.list.column.actions") </th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>


@section jQueryOnReadyScripts {
    
    @(Url.Datatables().CreateDatatable("#dataTableEmailAccount", "ListEmailAccountDatatable", "EmailAccount", null, true, null, "dataTableEmailAccount").AddColumn("Id")
                                        .AddColumn("Email")
                                        .AddColumn("Display_name")
                                        .AddColumn("Host")
                                        .AddColumn("Port")
                                        .AddColumn("Username")
                                        .AddColumn("Password")
                                        .AddCustomJavascriptColumn("Enable_ssl", " return full.Enable_ssl ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
                                        .AddCustomJavascriptColumn("Use_default_credentials", " return full.Use_default_credentials ? \"<i class='fa fa-check' style='font-size: 18pt;color:green' />\" : \"<i class='fa fa-times' style='font-size: 18pt;color:red' /> \" ")
    .AddCustomJavascriptColumn("", "return getDatatableEditDeleteButtonString('" + @Url.Action("Edit", "EmailAccount") + "/' + full.Id , full.Id, true,  true, '') ;")
    .SetLanguageUrl(WorkContext.WorkingLanguage.Id == 1 ? "~/Content/assets/global/plugins/datatables/turkish.json" : null)
    .SetLenghtMenu("5,10,50,100")
    .AddAttribute("'deferLoading' : 0")
    .AddAttribute("'responsive' : false ") @* DataTableResponsiveAttribute *@
    .AddAttribute("'buttons' :  DataTablePrintButtonAttribute  ")
    .Initialize());
    
    window.dataTableEmailAccountOptions = dataTableEmailAccountOptions;

                 $('#btnFilterEmailAccount').click(function () {
                        dataTableEmailAccount.column('Email:name').search($('#Email').val().trim());
                        dataTableEmailAccount.column('Display_name:name').search($('#Display_name').val().trim());
                        dataTableEmailAccount.column('Host:name').search($('#Host').val().trim());
                        dataTableEmailAccount.column('Port:name').search($('#Port').val().trim());
                        dataTableEmailAccount.column('Username:name').search($('#Username').val().trim());
                        dataTableEmailAccount.column('Password:name').search($('#Password').val().trim());
                        dataTableEmailAccount.column('Enable_ssl:name').search($('#Enable_ssl').prop('checked'));
                        dataTableEmailAccount.column('Use_default_credentials:name').search($('#Use_default_credentials').prop('checked'));
                    //Apply search for Employee Name // DataTable column index 0
                   // dataTable.columns(0).search($('#txtEmployeeName').val().trim());
                    //Apply search for Country // DataTable column index 3
                    //dataTable.columns(0).search($('#ddCountry').val().trim());

                    //hit search on server
                dataTableEmailAccount.draw();
            });
            
            
                $('#btnResetEmailAccount').click(function () {

                    resetDatatableSearch('dataTableEmailAccount');

                });
}


