﻿


@using MvcCheckBoxList.Model
@using Ares.Web.Models.Currency;
@model CurrencyModel

<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_Currency_1" data-toggle="tab"> @T("Admin.Currency.TabTitle").Text </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_Currency_1">

            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">@T("Currency.form")</span>
                    </div>
                    @*
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">Actions
                                </label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Settings
                                </label>
                            </div>
                        </div>
                    *@
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="alert alert-danger @Html.Raw(ViewData.ModelState.Any(x => x.Value.Errors.Any()) ? "display": "display-hide")">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <div id="dangerContent">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Name) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Name, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faName"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Name) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Name))"></i>
                                        @Html.TextAreaFor(x => x.Name, new { @class = "form-control", @placeholder = T("CurrencyModel.Name.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Name.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Currency_code) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Currency_code, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCurrency_code"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Currency_code) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Currency_code))"></i>
                                        @Html.TextBoxFor(x => x.Currency_code, new { @class = "form-control", @placeholder = T("CurrencyModel.Currency_code.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Currency_code, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Currency_code.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Rate) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Rate, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faRate"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Rate) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Rate))"></i>
                                        @Html.TextBoxFor(x => x.Rate, new { @class = "form-control", @placeholder = T("CurrencyModel.Rate.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Rate, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Rate.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_locale) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_locale, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_locale"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_locale) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_locale))"></i>
                                        @Html.TextAreaFor(x => x.Display_locale, new { @class = "form-control", @placeholder = T("CurrencyModel.Display_locale.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_locale, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Display_locale.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Custom_formatting) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Custom_formatting, new { @class = "col-md-3 control-label " }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCustom_formatting"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Custom_formatting) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Custom_formatting))"></i>
                                        @Html.TextBoxFor(x => x.Custom_formatting, new { @class = "form-control", @placeholder = T("CurrencyModel.Custom_formatting.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Custom_formatting, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Custom_formatting.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Limited_to_stores) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Limited_to_stores, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faLimited_to_stores"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Limited_to_stores) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Limited_to_stores))"></i>
                                        @Html.CheckBoxFor(x => x.Limited_to_stores, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Limited_to_stores, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Limited_to_stores.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Published) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Published, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faPublished"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Published) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Published))"></i>
                                        @Html.CheckBoxFor(x => x.Published, new { @class = "mt-checkbox"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Published, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Published.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Display_order) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Display_order, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-icon right ">
                                        <i id="faDisplay_order"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Display_order) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Display_order))"></i>
                                        @Html.TextBoxFor(x => x.Display_order, new { @class = "form-control", @placeholder = T("CurrencyModel.Display_order.Placeholder") })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Display_order, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Display_order.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Created_on_utc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Created_on_utc, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faCreated_on_utc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Created_on_utc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Created_on_utc))"></i>
                                        @Html.EditorFor(x => x.Created_on_utc, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Created_on_utc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Created_on_utc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                        <div class="form-group @(Html.CheckValidationErrorFor(m => m.Updated_on_utc) ? "has-error" : "")">
                            @Html.AresLabelFor(m => m.Updated_on_utc, new { @class = "col-md-3 control-label  required-field" }) 
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-icon right ">
                                        <i id="faUpdated_on_utc"  class="fa fa-warning @(Html.CheckValidationErrorFor(m => m.Updated_on_utc) ? "" : "hide")" data-original-title="@Html.Encode(Html.ValidationMessageFor(m => m.Updated_on_utc))"></i>
                                        @Html.EditorFor(x => x.Updated_on_utc, new { @class = "form-control"  })
                                        
                                   </div>
                                        @Html.ValidationMessageFor(m => m.Updated_on_utc, null, new { @class = "help-block", @style = "color:red" })
                                        <span class="help-inline"> @T("CurrencyModel.Updated_on_utc.Hint")</span>
                                </div>
                                        
                             </div>   
                        </div>
                       
           
                        
                    </div>
                    <!-- ENF OF form-body -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="save-continue" class="btn green" value="@T("Admin.Common.SaveAndContinue")">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.SaveAndContinue")
                                </button>
                                <button type="submit" name="save" class="btn green">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                                <button type="button" class="btn default" onclick="javascript:window.history.back()">
                                    <i class="fa fa-times"></i>
                                    @T("Admin.Common.Cancel")
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->

        </div>
     </div>
 </div>





